<template>
  <div id="create-edit-user-internal">
    <Review
      :statusCode="status"
      @fetchPrev="fetchDetail($route.params.id)"
      @fetchNew="fetchReview($route.params.id)"
    />

    <BoxHeader :title="$t($route.meta.breadCrumb).name">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2 px-2">
          <FormGroup :name="$t('label.name')" :validator="$v.form.nama">
            <vs-input
              color="primary"
              class="w-full field-required"
              v-model.trim="form.nama"
              :disabled="isLoading || isDetail"
              :danger="$v.form.nama.error"
              :label="$t('label.name')"
              :placeholder="
                $t('placeholder.name', { attribute: $t('label.user') })
              "
            />
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup :name="$t('label.email')" :validator="$v.form.email">
            <vs-input
              color="primary"
              class="w-full field-required"
              v-model.trim="form.email"
              type="email"
              :disabled="isLoading || isDetail"
              :danger="$v.form.email.error"
              :label="$t('label.email')"
              :placeholder="
                $t('placeholder.email', { attribute: $t('label.user') })
              "
            />
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup :name="$t('label.grade')" :validator="$v.form.grade">
            <vs-select
              autocomplete
              v-model="form.grade"
              color="primary"
              class="w-full field-required"
              :disabled="isLoading || isDetail"
              :danger="$v.form.grade.error"
              :noData="$t('content.no_data_text')"
              :label="$t('label.grade')"
              :placeholder="
                $t('placeholder.grade', { attribute: $t('label.user') })
              "
            >
              <vs-select-item
                :key="index"
                :value="item.gradeId"
                :text="item.gradeName"
                v-for="(item, index) in grades"
              />
            </vs-select>
          </FormGroup>
        </div>
      </div>
    </BoxHeader>

    <div class="h-6"></div>

    <ButtonGroup
      :isLoading="isLoading"
      :isDetail="isDetail"
      :status="status"
      @save="openConfirm(form.email)"
      @edit="
        $router.push({
          name: 'UpdateAssessor',
          params: {
            id: $route.params.id
          }
        })
      "
      @reject="reject"
      @approve="approve"
    />
  </div>
</template>

<script>
import { includes } from 'lodash';
import { mapGetters } from 'vuex';
import { required, email, maxLength } from 'vuelidate/lib/validators';

// mixins
import { alphabetic } from '@/mixins/validator';
import { loadingMixin } from '@/mixins/loading';

// base
import BoxHeader from '@/components/base/BoxHeader.vue';
import ButtonGroup from '@/components/base/ButtonGroup.vue';
import FormGroup from '@/components/base/FormGroup.vue';
import Review from '@/components/base/Review.vue';

export default {
  name: 'CreateEditAssessor',

  mixins: [loadingMixin],

  components: {
    BoxHeader,
    ButtonGroup,
    FormGroup,
    Review
  },

  data: () => ({
    edit: false,
    form: {
      nama: '',
      grade: '',
      email: '',
      status: ''
    },
    isDetail: false,
    isLoading: false,
    status: ''
  }),

  computed: {
    ...mapGetters({
      grades: 'grade/items',
      roles: 'auth/currentRoles'
    })
  },

  validations: {
    form: {
      email: {
        required,
        email,
        maxLength: maxLength(100)
      },
      nama: {
        alphabetic,
        required,
        maxLength: maxLength(100)
      },
      grade: {
        requiredSelect: required
      }
    }
  },

  watch: {
    status(newVal) {
      if ([1].includes(newVal) && this.$acl.not.check('isSuperAdmin')) {
        this.fetchReview(this.$route.params.id);
      }
    }
  },

  created() {
    this.fetchGrade();

    if (this.$route.params.id) {
      this.edit = true;
      this.fetchDetail(this.$route.params.id);
    }

    if (this.$route.meta.isDetail) {
      this.isDetail = true;
    }
  },

  methods: {
    fetchGrade() {
      this.$store.dispatch('grade/fetchListApproved').catch((e) => {
        this.$store.dispatch('general/showErrorReqNotification', e);
      });
    },

    fetchDetail(id) {
      this.$store
        .dispatch('assessor/fetchDetail', { id: id })
        .then((data) => {
          this.form = data;
          this.status = data.status;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    fetchReview(id) {
      this.$store
        .dispatch('assessor/fetchReview', { id: id })
        .then((data) => {
          this.form = data.after;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    openConfirm(data) {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        if (this.edit) {
          this.$vs.dialog({
            type: 'confirm',
            color: 'primary',
            title: this.$t('label.confirm'),
            text: this.$t('content.confirm_update', { data: data }),
            acceptText: this.$t('label.yes'),
            cancelText: this.$t('label.cancel'),
            accept: this.submit
          });
        } else {
          this.submit();
        }
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });
      }
    },

    submit() {
      this.isLoading = true;
      // this.loadingButton(this.$refs.loadingBtn.$el);

      let storeAction = 'assessor/fetchSave';
      let payload = {
        data: this.form
      };

      if (includes(this.roles, 'SUPER_ADMIN')) {
        payload.data.status = true;
      }

      if (this.edit) {
        payload['id'] = this.$route.params.id;
        storeAction = 'assessor/fetchUpdate';
      }

      this.$store
        .dispatch(storeAction, payload)
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.edit
              ? this.$t('content.update_message')
              : this.$t('content.create_message')
          });
          this.$router.push({ name: 'MasterAssessor' });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
          // this.closeLoading(this.$refs.loadingBtn.$el);
        });
    },

    approve() {
      this.isLoading = true;
      // this.loadingButton(this.$refs.loadingBtn.$el);
      this.$store
        .dispatch('assessor/fetchApprove', {
          id: this.$route.params.id,
          data: { status: true }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });

          this.$router.push({ name: 'MasterAssessor' });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
          // this.closeLoading(this.$refs.loadingBtn.$el);
        });
    },

    reject() {
      this.isLoading = true;
      // this.loadingButton(this.$refs.loadingBtn2.$el);
      this.$store
        .dispatch('assessor/fetchApprove', {
          id: this.$route.params.id,
          data: { status: false }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });

          this.$router.push({ name: 'MasterAssessor' });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
          // this.closeLoading(this.$refs.loadingBtn2.$el);
        });
    }
  }
};
</script>
