<template>
  <div id="master-assessor">
    <BaseBox>
      <div class="flex flex-wrap items-end">
        <div class="w-full lg:w-1/4 px-2">
          <FormGroup :name="$t('label.grade')">
            <vs-select
              autocomplete
              v-model="form.grade"
              color="primary"
              class="w-full"
              :noData="$t('content.no_data_text')"
              :label="$t('label.grade')"
              :placeholder="
                $t('placeholder.grade', {
                  attribute: $t('label.grade')
                })
              "
            >
              <vs-select-item
                :key="index"
                :value="item.gradeName"
                :text="item.gradeName"
                v-for="(item, index) in grades"
              />
            </vs-select>
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/4 px-2">
          <FormGroup :name="$t('label.project_status')">
            <vs-select
              autocomplete
              v-model="form.projectStatus"
              color="primary"
              class="w-full"
              :noData="$t('content.no_data_text')"
              :label="$t('label.project_status')"
              :placeholder="
                $t('placeholder.project_status', {
                  attribute: $t('label.project_status')
                })
              "
            >
              <vs-select-item
                :key="index"
                :value="item"
                :text="item"
                v-for="(item, index) in projectStatusList"
              />
            </vs-select>
          </FormGroup>
        </div>

        <!-- reset button @action (remove all filter) -->
        <vs-button
          class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
          color="secondary"
          type="border"
          @click="resetData"
        >
          {{ $t('label.reset') }}
        </vs-button>

        <!-- filter button @action -->
        <vs-button
          class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
          color="primary"
          type="filled"
          @click="getData"
        >
          {{ $t('label.filter') }}
        </vs-button>
      </div>
    </BaseBox>

    <div class="h-6"></div>

    <BaseBox>
      <div class="table-content-loading vs-con-loading__container">
        <vs-table
          stripe
          @sort="handleSort"
          :sst="true"
          :data="items"
          :noDataText="$t('content.no_data_text')"
        >
          <template slot="header">
            <TableHeader @fetch="getData">
              <template v-slot:header-left>
                <vs-button
                  @click="$router.push({ name: 'CreateAssessor' })"
                  class="text-xs px-8 font-medium w-full md:w-auto"
                  color="primary"
                  type="filled"
                >
                  {{ $t('label.add') }}
                </vs-button>

                <vs-button
                  @click="showGradeList = true"
                  class="text-xs px-8 font-medium w-full md:w-auto ml-2"
                  color="primary"
                  type="filled"
                >
                  {{ $t('label.view') }} {{ $t('label.grade') }}
                </vs-button>
              </template>
            </TableHeader>
          </template>
          <template slot="thead">
            <vs-th sort-key="nama">
              {{ $t('label.name') }}
            </vs-th>
            <vs-th sort-key="grade">
              {{ $t('label.grade') }}
            </vs-th>
            <vs-th sort-key="email">
              {{ $t('label.email') }}
            </vs-th>
            <vs-th sort-key="status">
              {{ $t('label.project_status') }}
            </vs-th>
            <vs-th sort-key="status">
              {{ $t('label.status') }}
            </vs-th>
            <vs-th sort-key="nama"></vs-th>
          </template>

          <template slot-scope="{ data }">
            <vs-tr :key="indextr" :data="tr" v-for="(tr, indextr) in data">
              <vs-td
                :data="data[indextr].nama"
                @click.native="
                  $router.push({
                    name: 'DetailAssessor',
                    params: {
                      id: data[indextr].assessorId
                    }
                  })
                "
              >
                {{ data[indextr].nama }}
              </vs-td>

              <vs-td
                :data="data[indextr].grade"
                @click.native="
                  $router.push({
                    name: 'DetailAssessor',
                    params: {
                      id: data[indextr].assessorId
                    }
                  })
                "
              >
                {{ data[indextr].grade }}
              </vs-td>

              <vs-td
                :data="data[indextr].email"
                @click.native="
                  $router.push({
                    name: 'DetailAssessor',
                    params: {
                      id: data[indextr].assessorId
                    }
                  })
                "
              >
                {{ data[indextr].email }}
              </vs-td>

              <vs-td
                :data="data[indextr].projectStatus"
                @click.native="
                  $router.push({
                    name: 'DetailAssessor',
                    params: {
                      id: data[indextr].assessorId
                    }
                  })
                "
              >
                {{ data[indextr].projectStatus }}
              </vs-td>

              <vs-td
                :data="data[indextr].status"
                @click.native="
                  $router.push({
                    name: 'DetailAssessor',
                    params: {
                      id: data[indextr].assessorId
                    }
                  })
                "
              >
                <span :class="colorStatus(data[indextr].status)">
                  {{ status(data[indextr].status) }}
                </span>
              </vs-td>

              <vs-td :data="data[indextr].nama">
                <Approval
                  :id="data[indextr].assessorId"
                  :label="data[indextr].email"
                  :status="data[indextr].status"
                  :routes="{ update: 'UpdateAssessor' }"
                  @click="chooseAct"
                />
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </div>

      <TablePaging @fetch="getData" />
    </BaseBox>

    <GradeList
      :showPopup="showGradeList"
      @add="
        showGradeList = false;
        showCreateGrade = true;
      "
      @edit="
        showGradeList = false;
        showEditGrade = true;
      "
      @closed="showGradeList = false"
    />
    <CreateGrade
      :showPopup="showCreateGrade"
      @closed="
        showGradeList = true;
        showCreateGrade = false;
      "
    />
    <EditGrade
      :showPopup="showEditGrade"
      @closed="
        showGradeList = true;
        showEditGrade = false;
      "
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

// mixins
import { loadingMixin } from '@/mixins/loading';
import { statusMixin } from '@/mixins/status';
import { navigateMixin } from '@/mixins/navigate';

// base
import Approval from '@/components/base/Approval.vue';
import BaseBox from '@/components/base/Box';
import FormGroup from '@/components/base/FormGroup.vue';
import TableHeader from '@/components/table/TableHeader';
import TablePaging from '@/components/table/TablePaging';
import GradeList from '@/components/master/assessor/GradeList';
import CreateGrade from '@/components/master/assessor/CreateGrade';
import EditGrade from '@/components/master/assessor/EditGrade';

export default {
  name: 'MasterAssessor',

  mixins: [loadingMixin, statusMixin, navigateMixin],

  components: {
    Approval,
    BaseBox,
    FormGroup,
    TableHeader,
    TablePaging,
    GradeList,
    CreateGrade,
    EditGrade
  },

  data: () => ({
    data: {},
    form: {
      sortBy: '',
      grade: '',
      projectStatus: ''
    },
    projectStatusList: [
      'Menunggu Penugasan',
      'Akan Berlangsung',
      'Sedang Berlangsung',
      'Sudah Selesai'
    ],
    showGradeList: false,
    showCreateGrade: false,
    showEditGrade: false
  }),

  computed: {
    ...mapGetters({
      items: 'assessor/items',
      grades: 'grade/items',
      roles: 'auth/currentRoles'
    })
  },

  watch: {
    showGradeList() {
      if (!this.showGradeList && !this.showCreateGrade && !this.showEditGrade) {
        this.fetchGrade();
      }
    }
  },

  created() {
    this.fetchGrade();
    this.$store.commit('table/RESET_PAGEABLE');
  },

  mounted() {
    this.getData();
  },

  methods: {
    getData() {
      this.loadingContent('.table-content-loading');

      this.$store
        .dispatch('assessor/fetchList', this.form)
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.closeLoading('.table-content-loading > .con-vs-loading');
        });
    },

    fetchGrade() {
      this.$store.dispatch('grade/fetchListApproved').catch((e) => {
        this.$store.dispatch('general/showErrorReqNotification', e);
      });
    },

    resetData() {
      this.form = {
        sortBy: '',
        grade: '',
        projectStatus: ''
      };
      this.getData();
    },

    delete(id) {
      this.$store
        .dispatch('assessor/fetchDelete', {
          id: id
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.delete_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    approve(id) {
      this.$store
        .dispatch('assessor/fetchApprove', {
          id: id,
          data: { status: true }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    reject(id) {
      this.$store
        .dispatch('assessor/fetchApprove', {
          id: id,
          data: { status: false }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    acceptAlert(parameters) {
      switch (parameters[0]) {
        case 'approve':
          this.approve(parameters[1]);
          break;
        case 'reject':
          this.reject(parameters[1]);
          break;
        case 'delete':
          this.delete(parameters[1]);
          break;
        default:
          break;
      }
    },

    chooseAct(params) {
      this.openConfirm(params.key, params);
    },

    openConfirm(key, data) {
      let message = '';
      switch (key) {
        case 'approve':
          message = this.$t('content.confirm_approve', { data: data.label });
          break;
        case 'reject':
          message = this.$t('content.confirm_reject', { data: data.label });
          break;
        case 'delete':
          message = this.$t('content.confirm_delete', { data: data.label });
          break;
        default:
          break;
      }

      this.$vs.dialog({
        type: 'confirm',
        color: 'primary',
        title: this.$t('label.confirm'),
        text: message,
        accept: this.acceptAlert,
        acceptText: this.$t('label.yes'),
        cancelText: this.$t('label.cancel'),
        parameters: [key, data.id]
      });
    },

    handleSort(key, active) {
      this.form.sortBy = `${key}|${active}`;
      this.getData();
    }
  }
};
</script>
