<template>
  <div>
    <BoxHeader title="Helpdesk">
      <div class="w-full wrap-chat rounded-lg my-4">
        <div class="w-full bg-list-background p-4 h-64 overflow-y-auto">
          <div v-for="(data, index) in dataMessage" :key="index" class="my-8">
            <div
              class="w-full"
              :class="[
                ...(data.sender == sender
                  ? ['message-send']
                  : ['message-receive'])
              ]"
            >
              <div
                class="message bg-app-secondary py-3 px-6 font-medium text-white inline-block"
              >
                <label class="block pt-1 text-label-color text-xs mb-2">
                  {{ data.sender }}
                </label>
                <p class="text-sm">{{ data.message }}</p>
              </div>
              <span class="block pt-1 text-label-color text-xs">
                {{ data.timestamp | moment('calendar') }}
              </span>
            </div>
          </div>
        </div>

        <form @submit.prevent="sendMessage">
          <div
            class="w-full border-t border-blue-200 p-4 flex items-center space-x-4"
          >
            <vs-input
              color="secondary"
              class="w-full"
              v-model.trim="textMessage"
              placeholder="Mulai pesan baru"
            />
            <vs-button
              color="secondary"
              type="flat"
              icon="send"
              @click="sendMessage"
            ></vs-button>
          </div>
        </form>
      </div>
    </BoxHeader>
  </div>
</template>

<script>
import BoxHeader from '@/components/base/BoxHeader.vue';
let msgServer;

export default {
  name: 'ProjectChat',

  props: {
    channel: {
      type: String,
      required: true
    },

    sender: {
      type: String,
      default: 'Anonym'
    }
  },

  components: {
    BoxHeader
  },

  data: () => ({
    dataMessage: [],
    textMessage: ''
  }),

  methods: {
    sendMessage() {
      this.$store
        .dispatch('chat/sendMessage', {
          channelId: this.channel,
          message: this.textMessage,
          sender: this.sender
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.textMessage = '';
        });
    }
  },

  mounted() {
    this.$sse(
      `${process.env.VUE_APP_SOCKET_URL}/stream-chat?channelID=${this.channel}`,
      {
        format: 'json'
      }
    )
      .then((sse) => {
        msgServer = sse;

        // Catch any errors (ie. lost connections, etc.)
        sse.onError((e) => {
          console.error('lost connection; giving up!', e);

          // This is purely for example; EventSource will automatically
          // attempt to reconnect indefinitely, with no action needed
          // on your part to resubscribe to events once (if) reconnected
          sse.close();
        });

        // Listen for messages without a specified event
        sse.subscribe('', (message) => {
          this.dataMessage = message;
        });
      })
      .catch((err) => {
        // When this error is caught, it means the initial connection to the
        // events server failed.  No automatic attempts to reconnect will be made.
        console.error('Failed to connect to server', err);
      });
  },

  beforeDestroy() {
    // Make sure to close the connection with the events server
    // when the component is destroyed, or we'll have ghost connections!
    if (msgServer) {
      msgServer.close();
    }
  }
};
</script>

<style lang="scss" scoped>
.message-send {
  @apply text-right;

  .message {
    @apply rounded-t-lg;
    @apply rounded-l-lg;
  }
}

.message-receive {
  @apply text-left;

  .message {
    @apply rounded-t-lg;
    @apply rounded-r-lg;
  }
}
</style>
