<template>
  <div>
    <BoxHeader
      :title="
        $t('label.info', {
          attribute: $t('label.participant')
        })
      "
    >
      <div v-if="asesi" class="py-4">
        <div class="flex items-center space-x-4">
          <div
            class="w-1/2"
            :class="[...(lightMode ? ['flex mb-2'] : ['block px-4 py-3'])]"
          >
            <label
              class="text-xs text-label-color font-semibold"
              :class="[...(lightMode ? ['w-1/3'] : ['w-full mb-2'])]"
            >
              {{ $t('label.name') + ' ' + $t('label.group') }}
            </label>
            <p
              class="text-xs text-label-color"
              :class="[...(lightMode ? ['w-2/3'] : ['w-full'])]"
            >
              {{ asesi.namaKelompok }}
            </p>
          </div>
          <div
            class="w-1/2"
            :class="[...(lightMode ? ['flex mb-2'] : ['block px-4 py-3'])]"
          >
            <label
              class="text-xs text-label-color font-semibold"
              :class="[...(lightMode ? ['w-1/3'] : ['w-full mb-2'])]"
            >
              {{ $t('label.name_arg', { attribute: $t('label.participant') }) }}
            </label>
            <p
              class="text-xs text-label-color"
              :class="[...(lightMode ? ['w-2/3'] : ['w-full'])]"
            >
              {{ asesi.nama }}
            </p>
          </div>
        </div>

        <div class="flex items-center space-x-4">
          <div
            class="w-1/2"
            :class="[...(lightMode ? ['flex mb-2'] : ['block px-4 py-3'])]"
          >
            <label
              class="text-xs text-label-color font-semibold"
              :class="[...(lightMode ? ['w-1/3'] : ['w-full mb-2'])]"
            >
              {{ $t('label.company') }}
            </label>
            <p
              class="text-xs text-label-color"
              :class="[...(lightMode ? ['w-2/3'] : ['w-full'])]"
            >
              {{ asesi.namaPerusahaan }}
            </p>
          </div>
          <div
            class="w-1/2"
            :class="[...(lightMode ? ['flex mb-2'] : ['block px-4 py-3'])]"
          >
            <label
              class="text-xs text-label-color font-semibold"
              :class="[...(lightMode ? ['w-1/3'] : ['w-full mb-2'])]"
            >
              {{ $t('label.education') }}
            </label>
            <p
              v-if="!enableInput"
              class="text-xs text-label-color"
              :class="[...(lightMode ? ['w-2/3'] : ['w-full'])]"
            >
              {{ normaPendidikan ? normaPendidikan : asesi.pendidikan }}
            </p>

            <div v-else>
              <FormGroup
                :name="$t('content.study_norms')"
                :validator="$v.form.normaPendidikan"
              >
                <vs-select
                  autocomplete
                  v-model="form.normaPendidikan"
                  color="primary"
                  class="w-full field-required"
                  :noData="$t('content.no_data_text')"
                  :danger="$v.form.normaPendidikan.error"
                >
                  <vs-select-item
                    v-for="norm in studyNorms"
                    :key="norm.value"
                    :value="norm.value"
                    :text="norm.text"
                  />
                </vs-select>
              </FormGroup>
            </div>
          </div>
        </div>

        <div class="flex items-center space-x-4">
          <div
            class="w-1/2"
            :class="[...(lightMode ? ['flex mb-2'] : ['block px-4 py-3'])]"
          >
            <label
              class="text-xs text-label-color font-semibold"
              :class="[...(lightMode ? ['w-1/3'] : ['w-full mb-2'])]"
            >
              {{ $t('label.gender') }}
            </label>
            <p
              class="text-xs text-label-color"
              :class="[...(lightMode ? ['w-2/3'] : ['w-full'])]"
            >
              {{ asesi.jenisKelamin }}
            </p>
          </div>
          <div
            class="w-1/2"
            :class="[
              ...(enableInput ? ['field-required'] : []),
              ...(lightMode ? ['flex mb-2'] : ['block px-4 py-3'])
            ]"
          >
            <label
              class="text-xs text-label-color font-semibold"
              :class="[...(lightMode ? ['w-1/3'] : ['w-full mb-2'])]"
            >
              {{ $t('label.age') }}
            </label>
            <p
              v-if="!enableInput"
              class="text-xs text-label-color"
              :class="[...(lightMode ? ['w-2/3'] : ['w-full'])]"
            >
              {{ normaUsia ? normaUsia : asesi.usia }}
            </p>
            <div v-else>
              {{ form.usia }}
              <FormGroup :name="$t('label.age')" :validator="$v.form.usia">
                <vs-select
                  autocomplete
                  v-model="form.usia"
                  color="primary"
                  class="w-full field-required"
                  :noData="$t('content.no_data_text')"
                  :danger="$v.form.usia.error"
                  :placeholder="
                    $t('placeholder.select_general', {
                      attribute: $t('label.age')
                    })
                  "
                >
                  <vs-select-item
                    v-for="(norm, index) in listUsia"
                    :key="norm"
                    :value="index"
                    :text="norm"
                  />
                </vs-select>
              </FormGroup>
            </div>
          </div>
        </div>

        <div class="flex items-center space-x-4">
          <div
            class="w-1/2"
            :class="[...(lightMode ? ['flex mb-2'] : ['block px-4 py-3'])]"
          >
            <label
              class="text-xs text-label-color font-semibold"
              :class="[...(lightMode ? ['w-1/3'] : ['w-full mb-2'])]"
            >
              {{ $t('label.assessment_date') }}
            </label>
            <p
              class="text-xs text-label-color"
              :class="[...(lightMode ? ['w-2/3'] : ['w-full'])]"
            >
              {{ asesi.tanggalAssesment }}
            </p>
          </div>
        </div>
      </div>
    </BoxHeader>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { inputNumberMixin } from '@/mixins/inputNumber';
import { required, numeric } from 'vuelidate/lib/validators';
import constants from '@/constants';
import BoxHeader from '@/components/base/BoxHeader';
import FormGroup from '@/components/base/FormGroup.vue';

export default {
  name: 'InfoAsesi',

  mixins: [inputNumberMixin],

  props: {
    proyekResultId: {
      type: [String, Number],
      required: true
    },

    lightMode: {
      type: Boolean,
      default: false
    }
  },

  components: {
    BoxHeader,
    FormGroup
  },

  computed: {
    ...mapGetters({
      asesi: 'project/asesi'
    })
  },

  data: () => ({
    form: {
      usia: '',
      normaPendidikan: ''
    },
    normaUsia: null,
    normaPendidikan: null,
    isLoading: false,
    enableInput: false,
    listUsia: [
      '19 - 20',
      '21 - 25',
      '26 - 30',
      '31 - 35',
      '36 - 40',
      '41 - 45',
      '46 - 50',
      '51 - 60'
    ],
    studyNorms: constants.NORMA_PENDIDIKAN
  }),

  validations: {
    form: {
      usia: {
        numeric
      },
      normaPendidikan: {
        required
      }
    }
  },

  watch: {
    'form.usia'(newVal) {
      this.$store.commit('project/UPDATE_USIA', newVal);
    },

    'form.normaPendidikan'(newVal) {
      this.$store.commit('project/UPDATE_NORMA_PENDIDIKAN', newVal);
    }
  },

  mounted() {
    this.fetchAsesi(this.proyekResultId);

    this.$root.$on('ENABLE_INPUT', () => {
      this.enableInput = true;
    });
    this.$root.$on('DISABLE_INPUT', () => {
      this.enableInput = false;
    });
    this.$root.$on('VALIDATE_INPUT', () => {
      this.$v.$touch();
    });
    this.$root.$on('FORM_SAVING', () => {
      this.isLoading = true;
    });
    this.$root.$on('SET_NORMA', (val) => {
      this.normaUsia = val;
    });
    this.$root.$on('SET_PENDIDIKAN', (val) => {
      this.normaPendidikan = val;
    });
  },

  methods: {
    fetchAsesi(id) {
      this.$store
        .dispatch('project/fetchReportInformasiAsesi', { id: id })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    }
  }
};
</script>
