<template>
  <div>
    <div class="pt-6">
      <!-- Nama Kompetensi -->
      <div class="flex flex-wrap pb-4">
        <div class="w-full lg:w-1/2 p-2">
          <div class="w-full text-xs text-label-color pb-2 font-semibold">
            Nama Kompetensi
          </div>
          <div class="w-full text-xs text-label-color">
            {{ data.namaKompetensi }}
          </div>
        </div>
      </div>

      <hr class="mx-2" />

      <!-- Definisi & Keyword -->
      <div class="flex flex-wrap py-4">
        <div class="w-full lg:w-1/2 p-2">
          <div class="w-full text-xs text-label-color pb-2 font-semibold">
            Definisi
          </div>
          <div class="w-full text-xs text-label-color">
            {{ data.definisi }}
          </div>
        </div>
        <div class="w-full lg:w-1/2 p-2">
          <div class="w-full text-xs text-label-color pb-2 font-semibold">
            Keyword
          </div>
          <div class="w-full text-xs text-label-color">
            {{ data.keyword }}
          </div>
        </div>
      </div>

      <hr class="mx-2" />

      <!-- Key Behavior -->
      <div class="flex flex-wrap pt-4">
        <div class="w-full text-xs text-label-color p-2 font-semibold">
          Key Behavior
        </div>
        <div
          class="w-full px-2 pb-2"
          v-for="(dataKey, dataKeyIndex) in data.keyBehaviours"
          :key="dataKeyIndex"
        >
          <div class="w-full text-xs text-label-color">
            {{ dataKey.value }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => {}
    }
  },

  data: () => ({
    count: 0
  })
};
</script>
