<template>
  <div id="news" class="mt-4">
    <!-- Perusahaan -->
    <div class="flex flex-wrap justify-end my-4">
      <vs-button
        :disabled="isLoading"
        color="primary"
        type="filled"
        @click="download()"
        class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
      >
        {{ $t('label.download') }}
      </vs-button>
    </div>
    <BoxHeader title="Daftar Asesi">
      <div class="py-2">
        <div class="flex items-center pt-2">
          <div class="flex-1 pr-4 py-2 border-solid border-r border-gray-400">
            <div class="w-full text-xs text-label-color pb-2 font-semibold">
              {{ $t('label.name_arg', { attribute: $t('label.company') }) }}
            </div>
            <div class="w-full text-xs text-label-color pb-2">
              {{ items.namaPerusahaan }}
            </div>
          </div>
          <div class="flex-1 px-4 py-2 border-solid border-r border-gray-400">
            <div class="w-full text-xs text-label-color pb-2 font-semibold">
              {{ $t('label.target_job') }}
            </div>
            <div class="w-full text-xs text-label-color pb-2">
              {{ items.targetJob }}
            </div>
          </div>
          <div class="flex-1 px-4 py-2">
            <div class="w-full text-xs text-label-color font-semibold">
              {{ $t('label.assessment_date') }}
            </div>
            <div class="w-full text-xs text-label-color flex items-center">
              <vs-button
                color="primary"
                type="flat"
                class="-ml-2"
                icon="event"
                suze="small"
              ></vs-button>
              <span>{{ items.tanggalAssessment }}</span>
            </div>
          </div>
        </div>
      </div>
    </BoxHeader>
    <!-- End Perusahaan -->

    <div class="h-6"></div>
    <!-- Daftar Asesi  -->
    <BoxHeader title="Daftar Asesi">
      <div class="py-2">
        <div class="wrap-table-group mt-6 mb-4">
          <div>
            <vs-table :data="items.daftarAsesi">
              <template slot="thead">
                <vs-th>
                  {{ $t('label.name') }}
                </vs-th>
                <vs-th>
                  {{ $t('label.department') }}
                </vs-th>
                <vs-th>
                  {{ $t('label.target_job', {}) }}
                </vs-th>
                <vs-th>
                  {{ $t('label.group') }}
                </vs-th>
                <vs-th></vs-th>
              </template>

              <template slot-scope="{ data }">
                <vs-tr
                  :key="indextr"
                  class="odd:bg-list-background"
                  v-for="(tr, indextr) in data"
                >
                  <vs-td :data="data[indextr].namaPeserta">
                    {{ data[indextr].namaPeserta }}
                  </vs-td>

                  <vs-td :data="data[indextr].jabatanSaatIni">
                    {{ data[indextr].jabatanSaatIni }}
                  </vs-td>

                  <vs-td :data="data[indextr].targetJob">
                    {{ data[indextr].targetJob }}
                  </vs-td>

                  <vs-td :data="data[indextr].kelompok">
                    {{ data[indextr].kelompok }}
                  </vs-td>

                  <vs-td>
                    <vs-button
                      class="ml-2 -mt-1 p-0"
                      color="danger"
                      type="flat"
                      icon="clear"
                      v-tooltip="$t('label.delete')"
                      @click="
                        deleteAsesi(
                          data[indextr].proyekPesertaId,
                          data[indextr].namaPeserta
                        )
                      "
                    ></vs-button>
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
          </div>
        </div>
      </div>
    </BoxHeader>
    <!-- End Daftar Asesi -->

    <div class="h-6"></div>
    <!-- Daftar Asesor  -->
    <BoxHeader title="Daftar Asesor">
      <div class="py-2">
        <div class="wrap-table-group mt-6 mb-4">
          <div>
            <vs-table :data="items.daftarAssesor">
              <template slot="thead">
                <vs-th>
                  {{ $t('label.name') }}
                </vs-th>
                <vs-th>
                  {{ $t('label.group') }}
                </vs-th>
                <vs-th>
                  {{ $t('label.name_arg', { attribute: 'Peserta' }) }}
                </vs-th>
              </template>

              <template slot-scope="{ data }">
                <vs-tr
                  :key="indextr"
                  class="odd:bg-list-background"
                  v-for="(tr, indextr) in data"
                >
                  <vs-td :data="data[indextr].nama">
                    {{ data[indextr].nama }}
                  </vs-td>

                  <vs-td :data="data[indextr].kelompok">
                    {{ data[indextr].kelompok }}
                  </vs-td>

                  <vs-td :data="data[indextr].peserta">
                    <div
                      v-for="(peserta, index) in data[indextr].peserta"
                      :key="index"
                      class="py-2"
                    >
                      {{ peserta.pesertaName }}
                    </div>
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
          </div>
        </div>
      </div>
    </BoxHeader>
    <!-- End Daftar Asesor -->
  </div>
</template>
<script>
// mixins
import { loadingMixin } from '@/mixins/loading';

// base
import BoxHeader from '@/components/base/BoxHeader.vue';

export default {
  name: 'CreateEditProject',

  mixins: [loadingMixin],

  props: {
    items: {
      type: Object,
      default: () => {}
    }
  },

  components: {
    BoxHeader
  },

  data: () => ({
    dataAsesi: [],
    dataAsesor: [],
    idAsesi: 0,
    namaAsesi: '',
    isLoading: false
  }),

  methods: {
    delete() {
      this.$store
        .dispatch('project/deletePesertaKelompok', {
          id: this.idAsesi
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.delete_message')
          });
          this.$emit('click');
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    deleteAsesi(id, nama) {
      this.idAsesi = id;
      this.namaAsesi = nama;

      this.$vs.dialog({
        type: 'confirm',
        color: 'primary',
        title: this.$t('label.confirm'),
        text: this.$t('content.confirm_delete', { data: nama }),
        accept: this.delete,
        acceptText: this.$t('label.yes'),
        cancelText: this.$t('label.cancel')
      });
    },

    download() {
      this.isLoading = true;
      this.$store
        .dispatch('project/downloadBeritaAcara', {
          id: this.$route.params.idProyek
        })
        .then((res) => {
          this.forceFileDownload(
            res,
            `Berita Acara - ${this.items.tanggalAssessment}.pdf`
          );
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },

    forceFileDownload(response, fileName) {
      const url = window.URL.createObjectURL(new Blob([response.data]));
      const link = document.createElement('a');
      link.href = url;
      link.setAttribute('download', fileName);
      document.body.appendChild(link);
      link.click();
    }
  }
};
</script>
<style scoped>
#news .xmx-datepicker {
  width: 100% !important;
}
</style>
