<template>
  <div>
    <div v-if="dataPictures">
      <img class="rounded-md m-auto" :src="dataPictures" alt="halo" />
    </div>
    <div v-else>
      <span class="w-full text-xs text-label-color"
        >Menunggu Photo Asesi...</span
      >
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'PicturesAsesi',

  props: {
    proyekPesertaId: {
      type: Number,
      required: true
    },

    proyekSoalId: {
      type: Number,
      required: true
    }
  },

  data: () => ({
    dataPictures: null,
    destroyPictures: false
  }),

  beforeCreate() {
    this.destroyPictures = false;
  },

  beforeDestroy() {
    this.destroyPictures = true;
  },

  computed: {
    ...mapGetters({
      destroyFunc: 'project/destroyFunc'
    })
  },

  methods: {
    // sleep
    sleep(ms) {
      return new Promise((resolve) => setTimeout(resolve, ms));
    },

    fetchPictures() {
      const payload = {
        proyekPesertaId: this.proyekPesertaId,
        proyekSoalId: this.proyekSoalId
      };

      this.$store
        .dispatch('project/fetchPictures', payload)
        .then((res) => {
          this.dataPictures = `data:image/jpg;base64, ${res.picture.data}`;

          if (!this.destroyFunc) {
            if (!this.destroyPictures) {
              if (!res.completed) {
                this.sleep(5000).then(() => {
                  this.fetchPictures();
                });
              }
            }
          }
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    }
  },

  mounted() {
    this.fetchPictures();
  }
};
</script>

<style lang="scss" scoped>
.message-send {
  @apply text-right;

  .message {
    @apply rounded-t-lg;
    @apply rounded-l-lg;
  }
}

.message-receive {
  @apply text-left;

  .message {
    @apply rounded-t-lg;
    @apply rounded-r-lg;
  }
}
</style>
