<template>
  <div>
    <div class="flex flex-wrap">
      <div
        class="w-1/3 pb-6 cursor-pointer"
        v-for="(data, dataIndex) in pictures"
        :key="dataIndex"
        @click="fetchImage(dataPictures[dataIndex].imageUrl, 'download')"
      >
        <img class="rounded-md m-auto" :src="data" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'PicturesCompleted',

  props: ['dataPictures', 'dataJawaban'],

  computed: {
    ...mapGetters({
      asesi: 'project/asesi'
    })
  },

  data: () => ({
    pictures: []
  }),

  created() {
    this.dataPictures.forEach((element) => {
      this.fetchImage(element.imageUrl, 'get');
    });
  },

  methods: {
    forceFileDownload(response, fileName) {
      const url = window.URL.createObjectURL(new Blob([response.data]));
      const link = document.createElement('a');
      link.href = url;
      link.setAttribute('download', fileName);
      document.body.appendChild(link);
      link.click();
    },

    fetchImage(imageUrl, type) {
      const payload = {
        imageUrl,
        type
      };

      this.$store
        .dispatch('project/fetchPicturesCompleted', payload)
        .then((res) => {
          if (type === 'get') {
            this.pictures.push(res);
          } else {
            this.forceFileDownload(
              res,
              `${this.asesi.nama} - ${this.dataJawaban.assesment}.png`
            );
          }
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
//
</style>
