<template>
  <div id="project-detail-component" v-if="items">
    <!-- Proyek -->
    <BoxHeader :title="$t('label.project')">
      <div class="flex flex-wrap py-2">
        <div class="w-full lg:w-1/2 p-2">
          <div class="w-full text-xs text-label-color pb-2 font-semibold">
            {{ $t('label.name_arg', { attribute: $t('label.project') }) }}
          </div>
          <div class="w-full text-xs text-label-color">
            {{ items.namaProyek }}
          </div>
        </div>

        <div class="w-full lg:w-1/2 p-2">
          <div class="w-full text-xs text-label-color pb-2 font-semibold">
            Target Job
          </div>
          <div class="w-full text-xs text-label-color">
            {{ items.targetJob.targetJobName }}
          </div>
        </div>

        <div class="w-full lg:w-1/2 p-2 mt-4">
          <div class="w-full text-xs text-label-color font-semibold">
            Tanggal Mulai
          </div>
          <div class="w-full text-xs text-label-color flex items-center">
            <vs-button
              color="primary"
              type="flat"
              class="-ml-2"
              icon="event"
              suze="small"
            ></vs-button>
            <span>{{ items.tanggalBreafing.replace(/ .*/, '') }}</span>
          </div>
        </div>

        <div class="w-full lg:w-1/2 p-2 mt-4">
          <div class="w-full text-xs text-label-color font-semibold">
            Tanggal Selesai
          </div>
          <div class="w-full text-xs text-label-color flex items-center">
            <vs-button
              color="primary"
              type="flat"
              class="-ml-2"
              icon="event"
              suze="small"
            ></vs-button>
            <span>{{ items.tanggalPenyerahanLaporan.replace(/ .*/, '') }}</span>
          </div>
        </div>
      </div>
    </BoxHeader>
    <!-- End Proyek -->

    <div class="h-6"></div>
    <!-- Assesment Detail  -->
    <BoxHeader title="Assesment Detail">
      <div class="py-2">
        <div class="flex flex-wrap">
          <div class="w-full lg:w-1/2 py-2">
            <div class="w-full text-xs text-label-color font-semibold">
              Tanggal Assessment
            </div>
            <div class="w-full text-xs text-label-color flex items-center">
              <vs-button
                color="primary"
                type="flat"
                class="-ml-2"
                icon="event"
                suze="small"
              ></vs-button>
              <span> {{ items.tanggalAssesment }} </span>
            </div>
          </div>
        </div>

        <div
          class="wrap-table-group my-6"
          v-for="(data, dataIndex) in items.dataAssesi"
          :key="dataIndex"
        >
          <div
            class="font-montserrat text-xs text-label-color font-semibold pb-3"
          >
            {{ $t('label.group') }} {{ data.namaProyekKelompok }}
          </div>
          <div
            class="font-montserrat text-xs text-label-color pb-3"
            v-for="(asesor, asesorIndex) in data.assesor"
            :key="asesorIndex"
          >
            {{ $t('label.assessor') }} {{ asesorIndex + 1 }} :
            {{ asesor.namaAssesor }}
          </div>
          <div>
            <vs-table :data="data.peserta">
              <template slot="thead">
                <vs-th>
                  {{ $t('label.name') }}
                </vs-th>
                <vs-th>
                  Assessment
                </vs-th>
                <vs-th>
                  {{ $t('label.company') }}
                </vs-th>
                <vs-th>
                  {{ $t('label.department') }}
                </vs-th>
              </template>

              <template slot-scope="{ data }">
                <vs-tr
                  :key="indextr"
                  class="odd:bg-list-background hover:bg-blue-100"
                  v-for="(tr, indextr) in data"
                  @click.native="goToDetailAsesi(data[indextr].proyekPesertaId)"
                >
                  <vs-td class="cursor-pointer">
                    {{ data[indextr].namaPeserta }}
                  </vs-td>

                  <vs-td class="cursor-pointer">
                    {{ data[indextr].currentTest }}
                  </vs-td>

                  <vs-td class="cursor-pointer">
                    {{ data[indextr].namaPerusahaan }}
                  </vs-td>

                  <vs-td class="cursor-pointer" :data="data[indextr].jabatan">
                    {{ data[indextr].jabatan }}
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
          </div>
        </div>
      </div>
    </BoxHeader>
    <!-- End Assesment Detail -->

    <div class="h-6"></div>
    <!-- Kamus Kompetensi -->
    <div v-for="(kamus, kamusIndex) in items.kamusKompetensi" :key="kamusIndex">
      <BoxHeader :title="`Kamus Kompetensi (${kamus.namaKamusKompetensi})`">
        <div class="pb-8">
          <!-- Kompetensi -->
          <div>
            <div
              class="px-3 py-2 my-6 w-full bg-shades-blue-light text-xs rounded-md font-semibold"
            >
              Kompetensi
            </div>
            <BaseBox class="mt-6">
              <vs-tabs class="text-sm" :color="colorTabs">
                <vs-tab
                  :label="data.namaKompetensi"
                  v-for="(data, dataIndex) in kamus.kompetensi"
                  :key="dataIndex"
                >
                  <div>
                    <kamus-kompetensi :data="data" />
                  </div>
                </vs-tab>
              </vs-tabs>
            </BaseBox>
          </div>

          <hr class="mx-2 mb-5 mt-6" />

          <!-- Kriteria Penilaian -->
          <div>
            <div
              class="px-3 py-2 my-6 w-full bg-shades-blue-light text-xs rounded-md font-semibold"
            >
              Kriteria Penilaian
            </div>
            <BaseBox class="mt-6">
              <div>
                <vs-collapse accordion>
                  <vs-collapse-item
                    class="mx-2 border rounded-lg shadow-md"
                    v-for="(data, dataIndex) in kamus.kriteriaPenilaian"
                    :key="dataIndex"
                    :open="dataIndex === 0 ? true : false"
                  >
                    <div slot="header">
                      <div class="text-xs font-semibold text-label-color">
                        {{ data.kategori }}
                      </div>
                    </div>

                    <div class="flex flex-wrap pb-5">
                      <div class="lg:w-1/2">
                        <div
                          class="w-full text-xs text-label-color pb-2 mt-4 font-semibold"
                        >
                          Kategori Penilaian
                        </div>
                        <div class="w-full text-xs text-label-color">
                          {{ data.kategori }}
                        </div>
                      </div>
                    </div>
                    <div class="flex flex-wrap">
                      <div class="w-full">
                        <div
                          class="w-full text-xs text-label-color pb-2 font-semibold"
                        >
                          Keterangan Kategori Penilaian
                        </div>
                        <div class="w-full text-xs text-label-color">
                          {{ data.keteranganKriteriaPenilaian }}
                        </div>
                      </div>
                    </div>
                  </vs-collapse-item>
                </vs-collapse>
              </div>
            </BaseBox>
          </div>

          <hr class="mx-2 mb-5 mt-6" />

          <!-- Kriteria Rekomendasi -->
          <div>
            <div
              class="px-3 py-2 my-6 w-full bg-shades-blue-light text-xs rounded-md font-semibold"
            >
              Kriteria Rekomendasi
            </div>
            <BaseBox class="mt-6">
              <vs-tabs class="text-sm" :color="colorTabs">
                <vs-tab
                  :label="data.namaKriteria"
                  v-for="(data, dataIndex) in kamus.kriteriaRekomendasi"
                  :key="dataIndex"
                >
                  <div class="pt-5">
                    <div class="flex flex-wrap">
                      <div class="lg:w-1/2">
                        <div
                          class="w-full text-xs text-label-color pb-2 font-semibold"
                        >
                          Nama Kriteria Rekomendasi *
                        </div>
                        <div class="w-full text-xs text-label-color">
                          {{ data.namaKriteria }}
                        </div>
                      </div>
                    </div>

                    <hr class="mb-5 my-8" />

                    <div
                      class="w-full text-sm font-medium text-label-color py-2"
                    >
                      Klasifikasi
                    </div>

                    <BaseBox class="mt-6">
                      <div>
                        <vs-collapse accordion>
                          <vs-collapse-item
                            class="mx-2 border rounded-lg shadow-md"
                            v-for="(klasifikasi,
                            klasifikasiIndex) in data.klasifikasi"
                            :key="klasifikasiIndex"
                            :open="klasifikasiIndex === 0 ? true : false"
                          >
                            <div slot="header">
                              <div
                                class="text-xs font-semibold text-label-color"
                              >
                                {{ klasifikasi.kategori }}
                              </div>
                            </div>

                            <div class="flex flex-wrap pb-5">
                              <div class="lg:w-1/2">
                                <div
                                  class="w-full text-xs text-label-color pb-2 mt-4 font-semibold"
                                >
                                  Kategori Rekomendasi
                                </div>
                                <div class="w-full text-xs text-label-color">
                                  {{ klasifikasi.kategori }}
                                </div>
                              </div>
                            </div>
                            <div class="flex flex-wrap">
                              <div class="w-full">
                                <div
                                  class="w-full text-xs text-label-color pb-2 font-semibold"
                                >
                                  Keterangan Kategori Rekomendasi
                                </div>
                                <div class="w-full text-xs text-label-color">
                                  {{
                                    klasifikasi.keteranganKriteriaRekomendasi
                                  }}
                                </div>
                              </div>
                            </div>
                          </vs-collapse-item>
                        </vs-collapse>
                      </div>
                    </BaseBox>
                  </div>
                </vs-tab>
              </vs-tabs>
            </BaseBox>
          </div>
        </div>
      </BoxHeader>

      <div class="h-6"></div>
    </div>
    <!-- End Kamus Kompetensi -->
    <div class="flex justify-end">
      <vs-button
        class="text-xs px-8 font-medium w-full md:w-auto"
        color="secondary"
        type="border"
        @click="
          $router.push({
            name: 'MasterProject'
          })
        "
      >
        {{ $t('label.back') }}
      </vs-button>
    </div>
  </div>
</template>
<script>
// mixins
import { loadingMixin } from '@/mixins/loading';

// base
import BoxHeader from '@/components/base/BoxHeader.vue';
import BaseBox from '@/components/base/Box';

// component
import KamusKompetensi from '@/components/project/KamusKompetensi.vue';
export default {
  name: 'ProjectDetail',

  props: {
    items: {
      type: Object,
      default: () => {}
    }
  },

  mixins: [loadingMixin],

  components: {
    BoxHeader,
    BaseBox,
    KamusKompetensi
  },

  data: () => ({
    colorTabs: '#1f75ff'
  }),

  methods: {
    // go to detail asesi
    goToDetailAsesi(idAsesi) {
      const id = this.$route.params.id;
      this.$router.push({
        name: 'DetailAsesi',
        params: {
          id,
          idAsesi
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
#project-detail-component {
  .xmx-datepicker {
    width: 100% !important;
  }

  .vs-collapse-item {
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 4px;
    }
  }

  .line {
    width: 80%;
    height: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>
