<template>
  <div id="rekap" v-if="items">
    <div class="table-content-loading vs-con-loading__container">
      <div class="flex flex-wrap justify-end my-4">
        <vs-button
          color="primary"
          type="filled"
          @click="download()"
          class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
        >
          {{ $t('label.download') }}
        </vs-button>
      </div>
      <div>
        <!-- Deadline Laporan -->
        <BoxHeader title="Deadline Laporan">
          <div class="flex pt-4">
            <div class="p-4">
              <p class="deadline-text pb-2 ml-2">
                Deadline Penyerahan Rekap
              </p>
              <p class="content-text flex items-center">
                <vs-button color="primary" type="flat" icon="event" />{{
                  items.tanggalDeadlineRekap
                }}
                <span class="ml-4 mr-2">-</span>
                <vs-button color="primary" type="flat" icon="schedule" />
                {{ items.waktuDeadlineRekap }}
              </p>
            </div>
            <div class="px-4 py-2 m-2">
              <div class="vl"></div>
            </div>
            <div class="p-4">
              <p class="deadline-text pb-2 ml-2">
                Deadline Penyerahan Laporan
              </p>
              <p class="content-text flex items-center">
                <vs-button color="primary" type="flat" icon="event" />{{
                  items.tanggalDeadlineLaporan
                }}
                <span class="ml-4 mr-2">-</span>
                <vs-button color="primary" type="flat" icon="schedule" />
                {{ items.waktuDeadlineLaporan }}
              </p>
            </div>
          </div>
        </BoxHeader>

        <div class="h-6"></div>

        <div class="flex">
          <BoxHeader title="Target Job & Kamus Kompetensi" class="w-4/6 mr-10">
            <div class="flex pb-16 pt-8">
              <div
                class="py-2 w-1/4 border-solid border-r border-gray-600 text-center"
              >
                <p class="deadline-text pb-4">
                  Perusahaan
                </p>
                <p class="content-text">
                  {{ items.namaPerusahaan }}
                </p>
              </div>
              <div
                class="py-2 w-1/4 border-solid border-r border-gray-600 text-center"
              >
                <p class="deadline-text pb-4">
                  Target Job
                </p>
                <p class="content-text">
                  {{ items.targetJob }}
                </p>
              </div>
              <div class="py-2 w-2/4 ml-8">
                <p class="deadline-text pb-4">
                  Kamus Kompetensi
                </p>
                <span
                  v-for="kamus in items.kamusKompetensi"
                  :key="kamus.kamusKompetensiNama"
                  class="content-text"
                >
                  {{ `${kamus.kamusKompetensiNama}, ` }}
                </span>
              </div>
            </div>
          </BoxHeader>
          <BoxHeader title="Lihat Jawaban & Observasi" class="w-4/12 pb-1">
            <div class="flex">
              <div class="px-4 py-3 m-2 w-full">
                <p class="deadline-text mb-3 pt-3">
                  Nama Peserta
                </p>
                <div class="overflow-y-auto" style="height: 88px;">
                  <ul class="list-outside w-full">
                    <li
                      class="content-text mb-1"
                      v-for="(peserta, pesertaIndex) in items.peserta"
                      :key="pesertaIndex"
                    >
                      <span> {{ peserta.namaLengkap }} </span>
                      <span
                        class="text-blue-500 hover:text-blue-800 ml-12 float-right cursor-pointer underline"
                        @click="goToDetailAsesi(peserta.proyekPesertaId)"
                        >Lihat</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </BoxHeader>
        </div>

        <hr class="my-6" />

        <BoxHeader title="Informasi Penilaian">
          <div class="mt-8"></div>
          <div
            v-for="(data, index) in items.kamusKompetensi"
            :key="index"
            class="px-6"
          >
            <div
              class="px-3 py-2 mb-5 w-full bg-shades-blue-light text-xs rounded-md font-semibold"
            >
              {{ data.kamusKompetensiNama }}
            </div>
            <vs-collapse accordion class="p-0">
              <vs-collapse-item
                class="border rounded-lg shadow-md p-0 mb-4"
                v-for="(sub, subIndex) in data.penilaian"
                :key="subIndex"
                :open="subIndex === 0 ? true : false"
              >
                <div slot="header">
                  <div class="text-xs font-semibold text-label-color">
                    {{ sub.kategoriPenilaian }}
                  </div>
                </div>

                <div class="flex flex-wrap pb-5">
                  <div class="lg:w-1/2">
                    <div
                      class="w-full text-xs text-label-color pb-2 mt-4 font-semibold"
                    >
                      Kategori Penilaian
                    </div>
                    <div class="w-full text-xs text-label-color">
                      {{ sub.kategoriPenilaian }}
                    </div>
                  </div>
                </div>
                <div class="flex flex-wrap">
                  <div class="w-full">
                    <div
                      class="w-full text-xs text-label-color pb-2 font-semibold"
                    >
                      Keterangan Kategori Penilaian
                    </div>
                    <div class="w-full text-xs text-label-color">
                      {{ sub.keteranganKategoriPenilaian }}
                    </div>
                  </div>
                </div>
              </vs-collapse-item>
            </vs-collapse>
          </div>
        </BoxHeader>

        <div class="h-6"></div>

        <!-- <div
          class="px-3 py-2 w-full bg-shades-blue-light text-xs rounded-md font-semibold"
        >
          Hasil Intergrasi Kamus Kompetensi
        </div> -->

        <!-- <div class="h-6"></div> -->

        <div>
          <div
            v-for="(isikamus, index) in items.kamusKompetensi"
            :key="index"
            class="mb-6"
          >
            <BoxHeader :title="isikamus.kamusKompetensiNama">
              <div class="flex justify-around pt-3">
                <div class="py-2 m-2 w-full scrollable-table">
                  <table class="table-custom">
                    <thead style="background-color: #daeafb;">
                      <tr>
                        <th rowspan="2">No</th>
                        <th rowspan="2">Nama Peserta</th>
                        <th rowspan="2">
                          Jabatan Saat Ini
                        </th>

                        <th
                          :colspan="
                            isikamus.peserta[0].levelingKompetensi.length + 1
                          "
                          class="text-center"
                        >
                          {{ isikamus.kamusKompetensiNama }}
                        </th>
                        <th></th>
                      </tr>
                      <tr>
                        <th
                          v-for="(kompetisiheader, subIndex) in isikamus
                            .peserta[0].levelingKompetensi"
                          :key="subIndex"
                        >
                          {{ kompetisiheader.namaKompetensi }}
                        </th>
                        <th>Rata-Rata</th>
                        <th>Rekomendasi</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(peserta, pesertaIndex) in isikamus.peserta"
                        :key="pesertaIndex"
                        class="odd:bg-list-background"
                      >
                        <td class="border px-4 py-2">{{ pesertaIndex + 1 }}</td>
                        <td class="border px-4 py-2 text-left">
                          {{ peserta.namaLengkap }}
                        </td>
                        <td class="border px-4 py-2 text-left">
                          {{ peserta.jabatan }}
                        </td>
                        <td
                          class="border px-4 py-2 text-center"
                          v-for="(nilai, index) in peserta.levelingKompetensi"
                          :key="index"
                        >
                          <!-- jika sudah di simpan maka hanya read only -->
                          <div v-if="!items.created">
                            <vs-input
                              class="kotak"
                              type="number"
                              v-model="nilai.nilai"
                            />
                          </div>
                          <div v-else>
                            <div class="input-disabled">
                              {{ Math.round(nilai.nilai) }}
                            </div>
                          </div>
                        </td>
                        <td class="border px-4 py-2 text-center">
                          <div class="input-disabled">
                            {{ peserta.rataRata }}
                          </div>
                        </td>
                        <td class="border px-4 py-2">
                          <div v-if="!items.created">
                            <FormGroup :name="'Rekomendasi'">
                              <vs-select
                                color="primary"
                                :noData="$t('content.no_data_text')"
                                v-model="peserta.kriteriaRekomendasi"
                                placeholder="Pilih Rekomendasi"
                                :disabled="items.created"
                              >
                                <vs-select-item
                                  v-for="(itemsRekomendasi,
                                  itemsIndex) in isikamus.rekomendasi"
                                  :key="itemsIndex"
                                  :value="itemsRekomendasi.kategori"
                                  :text="itemsRekomendasi.kategori"
                                />
                              </vs-select>
                            </FormGroup>
                          </div>
                          <div v-else>
                            <div class="rekomendasi-disabled truncate">
                              {{ peserta.kriteriaRekomendasi }}
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </BoxHeader>
          </div>
        </div>
        <br />
        <BoxHeader title="File Lampiran">
          <div v-if="items.created || edit" class="pt-2">
            <div class="py-4" v-if="renderComponent">
              <div v-for="(files, index) in files" :key="`files-${index}`">
                <div
                  v-if="files.flag !== 'delete'"
                  class="w-full flex justify-between text-xs text-label-color font-medium"
                >
                  <span
                    class="px-3 w-full py-2 bg-shades-blue-light text-xs rounded-md cursor-pointer mb-3 block"
                    @click="fetchFiles(files.fileUrl, files.type)"
                  >
                    {{ files.fileUrl }}
                  </span>
                  <vs-button
                    v-if="edit === true"
                    class="ml-2 p-0"
                    color="danger"
                    type="flat"
                    icon="clear"
                    v-tooltip="'Hapus File'"
                    @click="deleteFile(index)"
                  ></vs-button>
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-around" v-if="!items.created || edit">
            <div class="px-4 py-2 m-2">
              <div class="centerx">
                <div class="con-example-images">
                  <div
                    class="pt-3 pb-6 text-indigo-600 text-base font-medium text-center"
                  >
                    Upload
                  </div>
                  <vs-upload
                    text="Drag a file here or browse a file to upload"
                    :action="action"
                    :headers="{
                      Authorization: `Bearer ${$store.state.auth.token}`
                    }"
                    fileName="files"
                    @on-success="successUploadData()"
                  />
                </div>
              </div>
            </div>
          </div>
        </BoxHeader>
        <br />
        <div class="flex flex-wrap justify-end" v-if="!items.created">
          <vs-button
            color="secondary"
            type="border"
            class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
            @click="back()"
          >
            {{ $t('label.cancel') }}
          </vs-button>
          <vs-button
            v-if="$acl.check('isAsesorOnly')"
            color="primary"
            type="filled"
            @click="submit()"
            class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
          >
            {{ $t('label.save') }}
          </vs-button>
        </div>
        <div class="flex flex-wrap justify-end" v-else>
          <vs-button
            color="secondary"
            type="border"
            class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
            @click="back()"
          >
            {{ $t('label.cancel') }}
          </vs-button>
          <vs-button
            v-if="$acl.check('isAsesorOnly')"
            color="primary"
            type="filled"
            @click="updateRekap()"
            class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
          >
            {{ $t('label.update') }}
          </vs-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// Mixins
import { loadingMixin } from '@/mixins/loading';

import BoxHeader from '@/components/base/BoxHeader.vue';
import FormGroup from '@/components/base/FormGroup.vue';

export default {
  name: 'Rekap',

  components: {
    BoxHeader,
    FormGroup
  },

  mixins: [loadingMixin],

  data: () => ({
    action: '',
    items: null,
    datas: null,
    index: 0,
    percent: 0,
    dataImages: {},
    headers: {},
    files: [],
    edit: false,
    renderComponent: true,
    activeLoading: false
  }),

  watch: {
    items: {
      handler: function() {
        this.calculateAverage();
      },
      deep: true
    }
  },

  methods: {
    getItems() {
      if (this.$acl.check('isAdmin')) {
        this.getDetails();
      } else {
        let flag = 0;
        let index = 0;
        this.$store
          .dispatch('rekap/fetchProyek')
          .then((res) => {
            res.forEach((data, i) => {
              if (data.proyekId === Number(this.$route.params.idProyek)) {
                // data di temukan pada index ke -
                index = i;
                // jika sudah di save
                if (data.created) {
                  flag = 1;
                }
              }
            });

            if (flag === 1) {
              this.getDetails();
            } else {
              this.items = res[index];
            }
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          });
      }
    },
    getDetails() {
      this.$store
        .dispatch('rekap/fetchProyekDetail', {
          id: this.$route.params.idProyek
        })
        .then((res) => {
          this.items = res;
          // get files
          let files = [];
          res.files.forEach((element) => {
            files.push({
              fileUrl: element.fileUrl,
              proyekRekapFileId: element.proyekRekapFileId,
              type: element.type,
              flag: 'update'
            });
          });
          this.files = files;
          // end get files
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },
    successUploadData() {
      // data respone
      let files = [];
      let data = JSON.parse(event.target.response).data;
      files.push(data);

      files.forEach((items) => {
        items.forEach((element) => {
          this.files.push({
            fileUrl: element.fileUrl,
            proyekRekapFileId: element.proyekRekapFileId,
            type: element.type,
            flag: 'create'
          });
        });
      });
    },
    submit() {
      let endPoint;

      if (this.edit) {
        endPoint = 'rekap/updateRekap';
      } else {
        endPoint = 'rekap/saveRekap';
      }

      const payload = {
        proyekRekapId: this.items.proyekRekapId,
        data: {
          proyekId: this.items.proyekId,
          kamusKompetensi: this.kamusKompetensi(),
          files: this.files
        }
      };
      this.$store
        .dispatch(endPoint, payload)
        .then(() => {
          this.edit = false;
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.create_message')
          });
          this.getItems();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },
    back() {
      this.$router.push({ name: 'MasterProject' });
    },
    download() {
      this.loadingContent('.table-content-loading');

      this.$store
        .dispatch('rekap/downloadRekap', {
          proyekId: this.$route.params.idProyek
        })
        .then((res) => {
          this.forceFileDownload(res, 'Rekap.pdf');
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.closeLoading('.table-content-loading > .con-vs-loading');
        });
    },
    kamusKompetensi() {
      let result = [];
      this.items.kamusKompetensi.forEach((data) => {
        result.push({
          kamusKompetensiId: data.kamusKompetensiId,
          kamusKompetensiNama: data.kamusKompetensiNama,
          peserta: data.peserta
        });
      });
      return result;
    },
    goToDetailAsesi(idAsesi) {
      const id = this.$route.params.idProyek;
      this.$router.push({
        name: 'DetailAsesi',
        params: {
          id,
          idAsesi
        }
      });
    },
    calculateAverage() {
      if (!this.items.created) {
        let average;
        this.items.kamusKompetensi.forEach((kamus, kamusIndex) => {
          kamus.peserta.forEach((peserta, pesertaIndex) => {
            average = 0;
            peserta.levelingKompetensi.forEach((leveling) => {
              average += Number(leveling.nilai);
            });
            this.items.kamusKompetensi[kamusIndex].peserta[
              pesertaIndex
            ].rataRata = (average / peserta.levelingKompetensi.length).toFixed(
              2
            );
          });
        });
      }
    },
    setRekomendasi(data, list) {
      let result;
      list.forEach((item) => {
        if (item.kriteriaRekomendasiId === Number(data)) {
          result = item.namaKriteriaRekomendasi;
        }
      });

      return result;
    },
    fetchFiles(fileUrl, type) {
      if (!this.edit) {
        const payload = {
          fileUrl,
          type
        };
        this.$store
          .dispatch('rekap/fetchFiles', payload)
          .then((res) => {
            this.forceFileDownload(res, payload.fileUrl);
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          });
      }
    },
    forceFileDownload(response, fileName) {
      const url = window.URL.createObjectURL(new Blob([response.data]));
      const link = document.createElement('a');
      link.href = url;
      link.setAttribute('download', fileName);
      document.body.appendChild(link);
      link.click();
    },
    updateRekap() {
      this.items.created = false;
      this.edit = true;
    },
    deleteFile(index) {
      if (this.files[index].proyekRekapFileId) {
        this.files[index].flag = 'delete';
      } else {
        this.files.splice(index, 1);
      }
      this.forceRerender();
    },
    forceRerender() {
      // remove the my-component component from the DOM
      this.renderComponent = false;

      this.$nextTick(() => {
        // add my-component component in DOM
        this.renderComponent = true;
      });
    }
  },

  created() {
    this.action = this.$axios.defaults.baseURL + '/proyek-rekap/file';
    this.getItems();
  }
};
</script>

<style lang="scss" scoped>
#rekap {
  .deadline-text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232323;
  }

  .content-text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6f6f6f;
  }

  .scrollable-table {
    overflow-x: auto;
  }

  .table-custom {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      text-align: center;
      padding: 10px;
      font-size: 12px;
      border: 1px solid #deeaf9;
    }

    th {
      background: #daeafb;
      font-weight: 500;
    }

    td.text-left {
      text-align: left !important;
    }
  }

  .bg-list-background {
    background-color: rgba(245, 250, 255, var(--bg-opacity)) !important;
  }

  .con-image-upload {
    max-width: 100%;
    height: 200px;
    margin: auto;
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;

    img {
      max-width: none;
      max-height: 100%;
      margin: auto;
    }
  }

  .kotak {
    width: 60px;
    border-radius: 5px;
    border: solid 1px #dfdfdf;
    background-color: #ffffff;
    margin: auto;
  }

  .input-disabled {
    padding: 8px 0;
    width: 60px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: auto;
    border: solid 3px #dfdfdf;
  }

  .rekomendasi-disabled {
    padding: 8px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: auto;
    border: solid 3px #dfdfdf;
  }

  .border-bottom {
    border-bottom: 1px solid #dddcdc;

    &:last-child {
      border: none;
    }
  }
}

/deep/ .vs-upload--button-upload {
  background-color: #3179f5 !important;
  .material-icons {
    color: #ffffff !important;
  }
}

/deep/ .con-input-upload {
  margin: auto;
  float: none;
}

/deep/ .con-select {
  width: auto !important;
}

/deep/ .con-input-upload .text-input {
  font-size: 12px;
  font-weight: normal;
  padding: 8px !important;
}

/deep/ .vs-input--label {
  font-weight: 500;
}

/deep/ .vs-input--input.normal,
.vs-select--input {
  border: 1px solid #ececec !important;
}

/deep/ .con-vs-tabs .con-ul-tabs,
.vs-tabs--ul {
  display: none !important;
}
</style>
