<template>
  <div>
    <div class="w-full pt-4">
      <BoxHeader :title="$t('label.report_arg', {})">
        <div class="pb-3">
          <Editor v-model="laporan" :disabled="$acl.check('isSuperAdmin')" />
        </div>
      </BoxHeader>
    </div>
    <div class="mt-8 flex justify-end" v-if="$acl.check('isAdminOnly')">
      <vs-button
        class="text-xs px-8 mx-2 font-medium w-full md:w-auto vs-con-loading__container"
        color="primary"
        type="filled"
        ref="loadingBtn"
        @click="updateLaporan"
      >
        {{ $t('label.save') }}
      </vs-button>
    </div>
  </div>
</template>
<script>
// base
import Editor from '@/components/base/Editor';
import BoxHeader from '@/components/base/BoxHeader.vue';

export default {
  components: {
    Editor,
    BoxHeader
  },

  data: () => ({
    laporan: ''
  }),

  created() {
    this.fetchLaporan();
  },

  methods: {
    fetchLaporan() {
      this.$store
        .dispatch('project/fetchLaporan', {
          id: this.$route.params.idProyek
        })
        .then((response) => {
          this.laporan = response.laporan;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },
    updateLaporan() {
      const payload = {
        id: this.$route.params.idProyek,
        data: {
          laporan: this.laporan
        }
      };
      this.$store
        .dispatch('project/updateLaporan', payload)
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.create_message')
          });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    }
  }
};
</script>
