<template>
  <vs-popup
    :title="$t('label.add') + ' ' + $t('label.competency_dictionary')"
    :active.sync="show"
  >
    <div class="w-full md:px-2">
      <FormGroup
        :name="$t('label.competency_dictionary')"
        :validator="$v.form.name"
      >
        <vs-input
          color="primary"
          class="w-full field-required"
          v-model.trim="form.name"
          :disabled="isLoading"
          :danger="$v.form.name.error"
          :label="
            $t('label.name_arg', {
              attribute: $t('label.competency_dictionary')
            })
          "
          :placeholder="
            $t('placeholder.input_general', {
              attribute: $t('label.competency_dictionary')
            })
          "
        />
      </FormGroup>
    </div>

    <div class="h-8"></div>

    <div class="flex justify-end">
      <vs-button
        class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
        color="primary"
        type="border"
        @click="show = false"
      >
        {{ $t('label.back') }}
      </vs-button>
      <vs-button
        class="text-xs px-8 ml-2 font-medium w-full md:w-auto vs-con-loading__container"
        color="primary"
        type="filled"
        ref="loadingBtn"
        :disabled="isLoading"
        @click="save"
      >
        {{ $t('label.save') }}
      </vs-button>
    </div>
  </vs-popup>
</template>

<script>
import { loadingMixin } from '@/mixins/loading';
import { required, maxLength } from 'vuelidate/lib/validators';
import FormGroup from '@/components/base/FormGroup.vue';

export default {
  name: 'PerusahaanCompetencyDictionary',

  components: {
    FormGroup
  },

  props: {
    showPopup: {
      type: Boolean,
      default: false
    }
  },

  mixins: [loadingMixin],

  data: () => ({
    form: {
      name: ''
    },
    isLoading: false,
    show: false
  }),

  watch: {
    showPopup(val) {
      this.show = val;
      this.form.name = '';

      this.$nextTick(() => {
        this.$v.$reset();
      });
    },

    show(val) {
      if (!val) {
        this.$emit('closed', val);
      }
    }
  },

  validations: {
    form: {
      name: {
        required,
        maxLength: maxLength(100)
      }
    }
  },

  methods: {
    save() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.isLoading = true;
        this.loadingButton(this.$refs.loadingBtn.$el);

        let payload = {
          targetJobId: this.$route.params.jobId,
          data: [
            {
              namaKamusKompetensi: this.form.name
            }
          ]
        };

        this.$store
          .dispatch('kamusKompetensi/fetchSaveKamus', payload)
          .then((data) => {
            this.$emit('saved', {
              kamusKompetensiId: data.data[0].kamusKompetensiId,
              namaKamusKompetensi: this.form.name,
              kompetensi: [],
              kriteriaPenilaian: [],
              kriteriaRekomendasi: []
            });
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          })
          .finally(() => {
            this.isLoading = false;
            this.closeLoading(this.$refs.loadingBtn.$el);
          });
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });
      }
    }
  }
};
</script>
