<template>
  <div>
    <vs-popup
      :title="$t('label.add') + ' ' + $t('label.clasification')"
      :active.sync="show"
    >
      <div class="w-full md:px-2">
        <!--  change here !  -->
        <FormGroup :name="$t('label.category')" :validator="$v.form.name">
          <vs-input
            color="primary"
            class="w-full field-required"
            v-model.trim="form.name"
            :danger="$v.form.name.error"
            :label="$t('label.category_recommendation_criteria')"
            :placeholder="
              $t('placeholder.input_general', {
                attribute: $t('label.category_recommendation_criteria')
              })
            "
          />
        </FormGroup>
      </div>

      <div class="h-8"></div>

      <div class="flex justify-end">
        <vs-button
          class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
          color="primary"
          type="border"
          @click="show = false"
        >
          {{ $t('label.back') }}
        </vs-button>
        <vs-button
          class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
          color="primary"
          type="filled"
          @click="save"
        >
          {{ $t('label.save') }}
        </vs-button>
      </div>
    </vs-popup>
  </div>
</template>

<script>
import { required, maxLength } from 'vuelidate/lib/validators';
import { alphabetic } from '@/mixins/validator';
import FormGroup from '@/components/base/FormGroup.vue';

export default {
  name: 'PerusahaanRecomendationClasification',

  components: {
    FormGroup
  },

  props: {
    showPopup: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    form: {
      name: ''
    },
    show: false
  }),

  watch: {
    showPopup(val) {
      this.show = val;
      this.form.name = '';
      this.$nextTick(() => {
        this.$v.form.$reset();
      });
    },

    show(val) {
      if (!val) {
        this.$emit('closed', val);
      }
    }
  },

  validations: {
    form: {
      name: {
        required,
        alphabetic,
        maxLength: maxLength(100)
      }
    }
  },

  methods: {
    save() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.$emit('saved', {
          kriteriaRekomendasiId: '',
          kategori: this.form.name,
          keteranganKriteriaRekomendasi: ''
        });
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });
      }
    }
  }
};
</script>
