<template>
  <div>
    <vs-popup
      :title="$t('label.add') + ' Data ' + $t('label.target_job')"
      :active.sync="show"
    >
      <div class="lg:px-6 py-4">
        <div class="flex flex-wrap lg:flex-no-wrap -mx-2">
          <div class="w-full lg:w-1/2 px-2">
            <FormGroup
              :name="
                $t('label.name_arg', { attribute: $t('label.target_job') })
              "
              :validator="$v.form.namaTargetJob"
            >
              <vs-input
                color="primary"
                class="w-full field-required"
                v-model.trim="form.namaTargetJob"
                :disabled="isLoading"
                :danger="$v.form.namaTargetJob.error"
                :label="
                  $t('label.name_arg', { attribute: $t('label.target_job') })
                "
                :placeholder="
                  $t('placeholder.name', {
                    attribute: $t('label.target_job')
                  })
                "
              />
            </FormGroup>
          </div>

          <div class="w-full lg:w-1/2 px-2">
            <FormGroup :name="$t('label.level')" :validator="$v.form.level">
              <vs-select
                autocomplete
                v-model="form.level"
                color="primary"
                class="w-full field-required"
                :disabled="isLoading"
                :danger="$v.form.level.error"
                :noData="$t('content.no_data_text')"
                :label="$t('label.level')"
                :placeholder="
                  $t('placeholder.select_general', {
                    attribute: $t('label.level')
                  })
                "
              >
                <vs-select-item
                  :key="index"
                  :value="item.value"
                  :text="item.text"
                  v-for="(item, index) in optionLevel"
                />
              </vs-select>
            </FormGroup>
          </div>
        </div>

        <div class="w-full px-2">
          <FormGroup
            :name="$t('label.description')"
            :validator="$v.form.deskripsiTargetJob"
          >
            <vs-textarea
              :label="$t('label.description')"
              :placeholder="
                $t('placeholder.description', {
                  attribute: $t('label.target_job')
                })
              "
              :disabled="isLoading"
              :danger="$v.form.deskripsiTargetJob.error"
              v-model.trim="form.deskripsiTargetJob"
            />
          </FormGroup>
        </div>
      </div>

      <div class="h-4"></div>

      <div class="flex justify-end">
        <vs-button
          class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
          color="primary"
          type="border"
          @click="show = false"
        >
          {{ $t('label.back') }}
        </vs-button>
        <vs-button
          class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
          color="primary"
          type="filled"
          ref="loadingBtn"
          @click="save"
        >
          {{ $t('label.save') }}
        </vs-button>
      </div>
    </vs-popup>
  </div>
</template>

<script>
import { required, maxLength } from 'vuelidate/lib/validators';
import { alphabetic } from '@/mixins/validator';
import { loadingMixin } from '@/mixins/loading';
import constants from '@/constants';
import FormGroup from '@/components/base/FormGroup.vue';

export default {
  name: 'PerusahaanTargetJob',

  props: {
    showPopup: {
      type: Boolean,
      default: false
    },

    isEdit: {
      type: Boolean,
      default: false
    },

    entity: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },

  mixins: [loadingMixin],

  components: {
    FormGroup
  },

  watch: {
    showPopup(val) {
      this.show = val;
      if (val) {
        if (this.isEdit) {
          this.form = {
            targetJobId: this.entity.targetJobId,
            namaTargetJob: this.entity.namaTargetJob,
            deskripsiTargetJob: this.entity.deskripsiTargetJob,
            level: this.entity.level
          };
          this.form.level = this.optionLevel[this.entity.level - 1].value;
        }
      } else {
        this.form = {
          targetJobId: null,
          namaTargetJob: '',
          deskripsiTargetJob: '',
          level: ''
        };

        this.$nextTick(() => {
          this.$v.$reset();
        });
      }
    },

    show(val) {
      if (!val) {
        this.$emit('closed', val);
      }
    }
  },

  data: () => ({
    show: false,
    showCompetency: false,
    showAssessment: false,
    showRecomendation: false,
    form: {
      targetJobId: null,
      namaTargetJob: '',
      deskripsiTargetJob: '',
      level: ''
    },
    isLoading: false,
    optionLevel: constants.LEVEL_TARGET_JOB
  }),

  validations: {
    form: {
      namaTargetJob: {
        required,
        alphabetic,
        maxLength: maxLength(100)
      },
      deskripsiTargetJob: {
        maxLength: maxLength(1000)
      },
      level: {
        required
      }
    }
  },

  methods: {
    save() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        let storeAction = 'targetJob/fetchSave';
        let payload = {
          perusahaanId: this.$route.params.id,
          data: this.form
        };

        if (this.isEdit) {
          storeAction = 'targetJob/fetchUpdate';
          payload['id'] = this.form.targetJobId;
        }

        this.$store
          .dispatch(storeAction, payload)
          .then(() => {
            this.$emit('saved', this.form);
            this.$v.$reset();
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          })
          .finally(() => {
            this.isLoading = false;
            this.closeLoading(this.$refs.loadingBtn.$el);
          });
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });
      }
    }
  }
};
</script>
