<template>
  <div>
    <vs-popup :title="$t('label.import_competency')" :active.sync="show">
      <!--  change here !  -->
      <div class="w-full md:px-2">
        <FormGroup
          :name="$t('label.target_job')"
          :validator="$v.form.targetJobId"
        >
          <vs-select
            autocomplete
            v-model="form.targetJobId"
            color="primary"
            class="w-full field-required"
            :noData="$t('content.no_data_text')"
            :disabled="targetJobList <= 0"
            :danger="$v.form.targetJobId.error"
            :label="$t('label.target_job')"
            :placeholder="
              $t('placeholder.target_job', {
                attribute: $t('label.target_job')
              })
            "
          >
            <vs-select-item
              :key="index"
              :value="item.targetJobId"
              :text="`${item.namaTargetJob} - ${item.namaPerusahaan}`"
              v-for="(item, index) in targetJobList"
            />
          </vs-select>
        </FormGroup>
      </div>

      <div class="h-8"></div>

      <div class="flex justify-end space-x-4">
        <vs-button
          class="text-xs px-8 font-medium w-full md:w-auto"
          color="primary"
          type="border"
          @click="show = false"
        >
          {{ $t('label.back') }}
        </vs-button>
        <vs-button
          class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
          color="primary"
          type="filled"
          ref="loadingBtn"
          :disabled="isLoading"
          @click="save"
        >
          {{ $t('label.save') }}
        </vs-button>
      </div>
    </vs-popup>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { pick, keys } from 'lodash';
import { required } from 'vuelidate/lib/validators';
import { loadingMixin } from '@/mixins/loading';
import FormGroup from '@/components/base/FormGroup.vue';

export default {
  name: 'TargetJobCopy',

  props: {
    showPopup: {
      type: Boolean,
      default: false
    }
  },

  components: {
    FormGroup
  },

  computed: {
    ...mapGetters({
      targetJobList: 'targetJob/items'
    })
  },

  mixins: [loadingMixin],

  data: () => ({
    form: {
      targetJobId: ''
    },
    isLoading: false,
    show: false
  }),

  watch: {
    showPopup(val) {
      this.show = val;
      this.form.targetJobId = '';
      this.$nextTick(() => {
        this.$v.form.$reset();
      });
    },

    show(val) {
      if (!val) {
        this.$emit('closed', val);
      }
    }
  },

  validations: {
    form: {
      targetJobId: {
        requiredSelect: required
      }
    }
  },

  mounted() {
    this.fetchTargetJobs();
  },

  methods: {
    fetchTargetJobs() {
      return this.$store
        .dispatch('targetJob/fetchListLevel', {
          targetJobId: this.$route.params.jobId
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    save() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.isLoading = true;
        this.loadingButton(this.$refs.loadingBtn.$el);
        this.$store
          .dispatch('targetJob/fetchDetail', {
            id: this.form.targetJobId
          })
          .then((data) => {
            let competencies = [];
            let model = {
              namaKompetensi: null,
              definisi: null,
              keyword: null,
              keyBehaviours: null
            };
            data.kamusKompetensi.map((item) => {
              item.kompetensi.map((kompetensi) => {
                competencies.push(pick(kompetensi, keys(model)));
              });
            });

            this.$emit('saved', {
              kompetensi: competencies
            });
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          })
          .finally(() => {
            this.isLoading = false;
            this.closeLoading(this.$refs.loadingBtn.$el);
          });
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });
      }
    }
  }
};
</script>
