<template>
  <div id="target-job-list">
    <div class="h-12"></div>
    <BoxHeader :title="$t('label.target_job')">
      <div class="table-content-loading vs-con-loading__container py-4">
        <vs-table
          stripe
          @sort="handleSort"
          :sst="true"
          :data="items"
          :noDataText="$t('content.no_data_text')"
        >
          <template slot="header">
            <div class="flex flex-col md:flex-row w-full bg-white pb-4">
              <vs-button
                @click="showPopup = true"
                class="text-xs px-8 font-medium w-full md:w-auto ml-auto"
                color="primary"
                type="filled"
                :disabled="![3].includes(statusPerusahaan)"
                >{{ $t('label.add') }} Data {{ $t('label.target_job') }}
              </vs-button>
            </div>
          </template>
          <template slot="thead">
            <vs-th sort-key="namaTargetJob">{{ $t('label.target_job') }}</vs-th>
            <vs-th sort-key="status">{{ $t('label.status') }}</vs-th>
            <vs-th></vs-th>
          </template>

          <template slot-scope="{ data }">
            <vs-tr :key="indextr" :data="tr" v-for="(tr, indextr) in data">
              <vs-td
                :data="data[indextr].namaTargetJob"
                @click.native="navTo(data[indextr])"
                >{{ data[indextr].namaTargetJob }}</vs-td
              >

              <vs-td
                :data="data[indextr].status"
                @click.native="navTo(data[indextr])"
              >
                <span>{{ status(data[indextr].status) }}</span>
              </vs-td>

              <vs-td>
                <Approval
                  :id="data[indextr].targetJobId"
                  :label="data[indextr].namaTargetJob"
                  :status="data[indextr].status"
                  @click="chooseAct"
                />
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </div>
    </BoxHeader>

    <TargetJob
      :showPopup="showPopup"
      :entity="targetJob"
      :isEdit="isEdit"
      @saved="
        targetJob = {};
        isEdit = false;
        showPopup = false;
        getData();
      "
      @closed="
        targetJob = {};
        isEdit = false;
        showPopup = false;
      "
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

// mixins
import { loadingMixin } from '@/mixins/loading';
import { statusMixin } from '@/mixins/status';

// base
import Approval from '@/components/base/Approval.vue';
import BoxHeader from '@/components/base/BoxHeader';
import TargetJob from '@/components/master/perusahaan/TargetJob';

export default {
  name: 'TargetJobList',

  mixins: [loadingMixin, statusMixin],

  components: {
    Approval,
    BoxHeader,
    TargetJob
  },

  props: {
    statusPerusahaan: {
      type: [Number, String]
    }
  },

  data: () => ({
    form: {
      orderBy: ''
    },
    isEdit: false,
    targetJob: {},
    showPopup: false
  }),

  computed: {
    ...mapGetters({
      items: 'targetJob/items'
    })
  },

  created() {
    this.$store.commit('table/RESET_PAGEABLE');
  },

  mounted() {
    this.getData();
  },

  methods: {
    getData() {
      this.loadingContent('.table-content-loading');
      this.$store
        .dispatch('targetJob/fetchListCompany', {
          perusahaanId: this.$route.params.id
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.closeLoading('.table-content-loading > .con-vs-loading');
        });
    },

    fetchTargetJob(params) {
      this.$store
        .dispatch('targetJob/fetchDetail', {
          id: params.id
        })
        .then((data) => {
          this.targetJob = data;
          this.isEdit = true;
          this.showPopup = true;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    acceptAlert(parameters) {
      switch (parameters[0]) {
        case 'approve':
          this.approve(parameters[1]);
          break;
        case 'reject':
          this.reject(parameters[1]);
          break;
        case 'delete':
          this.delete(parameters[1]);
          break;
        default:
          break;
      }
    },

    chooseAct(params) {
      if (params.key == 'update') {
        this.fetchTargetJob(params);
      } else {
        this.openConfirm(params.key, params);
      }
    },

    openConfirm(key, data) {
      let message = '';
      switch (key) {
        case 'approve':
          message = this.$t('content.confirm_approve', { data: data.label });
          break;
        case 'reject':
          message = this.$t('content.confirm_reject', { data: data.label });
          break;
        case 'delete':
          message = this.$t('content.confirm_delete', { data: data.label });
          break;
        default:
          break;
      }

      this.$vs.dialog({
        type: 'confirm',
        color: 'primary',
        title: this.$t('label.confirm'),
        text: message,
        accept: this.acceptAlert,
        acceptText: this.$t('label.yes'),
        cancelText: this.$t('label.cancel'),
        parameters: [key, data.id]
      });
    },

    approve(id) {
      this.$store
        .dispatch('targetJob/fetchApprove', {
          id: id,
          data: { status: true }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    reject(id) {
      this.$store
        .dispatch('targetJob/fetchApprove', {
          id: id,
          data: { status: false }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    delete(id) {
      this.$store
        .dispatch('targetJob/fetchDelete', {
          id: id
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.delete_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    handleSort(key, active) {
      this.form.orderBy = `${key}|${active}`;
      this.getData();
    },

    navTo(targetJob) {
      if ([5, 6].includes(targetJob.status)) {
        this.$router.push({
          name: 'KamusKompetensi',
          params: {
            id: this.$route.params.id,
            jobId: targetJob.targetJobId
          }
        });
      } else {
        this.$router.push({
          name: 'DetailKamusKompetensi',
          params: {
            id: this.$route.params.id,
            jobId: targetJob.targetJobId
          }
        });
      }
    }
  }
};
</script>
