<template>
  <div id="manage-psychological-assessment">
    <!-- filter -->
    <BaseBox>
      <div class="flex flex-wrap items-end">
        <div class="w-full lg:w-1/4 px-2">
          <FormGroup :name="$t('label.question_type')">
            <vs-select
              autocomplete
              v-model="form.soalType"
              color="primary"
              class="w-full"
              :label="$t('label.question_type')"
              :placeholder="
                $t('placeholder.select_general', {
                  attribute: $t('label.question_type')
                })
              "
            >
              <vs-select-item
                :key="index"
                :value="item.code"
                :text="item.name"
                v-for="(item, index) in jenisMateri"
              />
            </vs-select>
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/4 px-2">
          <FormGroup :name="$t('label.created_date')">
            <date-picker
              v-model="form.createdDate"
              :clearable="false"
              prefix-class="xmx"
              valueType="DD/MM/YYYY"
            >
              <template v-slot:input>
                <vs-input
                  color="primary"
                  class="w-full"
                  icon="today"
                  :value="form.createdDate"
                  :label="$t('label.created_date')"
                  :readonly="true"
                  placeholder="DD/MM/YYYY"
                />
              </template>
              <template v-slot:icon-calendar>
                <span></span>
              </template>
            </date-picker>
          </FormGroup>
        </div>

        <!-- reset button @action (remove all filter) -->
        <vs-button
          class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
          color="secondary"
          type="border"
          @click="reset"
        >
          {{ $t('label.reset') }}
        </vs-button>

        <!-- filter button @action -->
        <vs-button
          class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
          color="primary"
          type="filled"
          @click="getData"
        >
          {{ $t('label.filter') }}
        </vs-button>
      </div>
    </BaseBox>

    <div class="h-6"></div>

    <!-- table -->
    <BaseBox>
      <div class="table-content-loading vs-con-loading__container">
        <vs-table
          stripe
          @sort="handleSort"
          :sst="true"
          :data="items"
          :noDataText="$t('content.no_data_text')"
        >
          <template slot="header">
            <TableHeader @fetch="getData">
              <template v-slot:header-left>
                <vs-button
                  @click="actionPopUp('question')"
                  class="text-xs px-8 font-medium w-full md:w-auto"
                  color="primary"
                  type="filled"
                >
                  {{ $t('label.add') }}
                </vs-button>

                <vs-button
                  @click="actionPopUp('instruction')"
                  class="text-xs px-8 font-medium w-full md:w-auto ml-2"
                  color="primary"
                  type="filled"
                >
                  {{
                    $t('label.create_arg', {
                      attribute: $t('label.instruction')
                    })
                  }}
                </vs-button>
              </template>
            </TableHeader>
          </template>
          <template slot="thead">
            <vs-th sort-key="nama">
              {{ $t('label.name') }}
            </vs-th>
            <vs-th sort-key="grade">
              {{ $t('label.question_type') }}
            </vs-th>
            <vs-th sort-key="email">
              {{ $t('label.created_by') }}
            </vs-th>
            <vs-th sort-key="status">
              {{ $t('label.created_date') }}
            </vs-th>
            <vs-th sort-key="durasi">
              {{ $t('label.duration') }}
            </vs-th>
            <vs-th sort-key="petunjuk">
              {{ $t('label.instruction') }}
            </vs-th>
            <vs-th sort-key="status">
              {{ $t('label.status') }}
            </vs-th>
            <vs-th sort-key="nama"></vs-th>
          </template>

          <template slot-scope="{ data }">
            <vs-tr :key="indextr" :data="tr" v-for="(tr, indextr) in data">
              <vs-td
                :data="data[indextr].namaAssessment"
                @click.native="
                  navigateSelectedByVersion(
                    data[indextr].jenis,
                    tr,
                    'PSIKOTEST'
                  )
                "
              >
                {{ data[indextr].namaAssessment }}
              </vs-td>
              <vs-td
                :data="data[indextr].tipe"
                @click.native="
                  navigateSelectedByVersion(
                    data[indextr].jenis,
                    tr,
                    'PSIKOTEST'
                  )
                "
              >
                {{ data[indextr].tipe }}
              </vs-td>
              <vs-td
                :data="data[indextr].createdBy"
                @click.native="
                  navigateSelectedByVersion(
                    data[indextr].jenis,
                    tr,
                    'PSIKOTEST'
                  )
                "
              >
                {{ data[indextr].createdBy }}
              </vs-td>
              <vs-td
                :data="data[indextr].dateCreated"
                @click.native="
                  navigateSelectedByVersion(
                    data[indextr].jenis,
                    tr,
                    'PSIKOTEST'
                  )
                "
              >
                {{ data[indextr].dateCreated }}
              </vs-td>
              <vs-td
                :data="data[indextr].durasi"
                @click.native="
                  navigateSelectedByVersion(
                    data[indextr].jenis,
                    tr,
                    'PSIKOTEST'
                  )
                "
              >
                {{ data[indextr].durasi }}
              </vs-td>
              <vs-td
                :data="data[indextr].petunjuk"
                @click.native="
                  navigateSelectedByVersion(
                    data[indextr].jenis,
                    tr,
                    'PSIKOTEST'
                  )
                "
              >
                {{ data[indextr].petunjuk ? 'Sudah Ada' : 'Belum Ada' }}
              </vs-td>
              <vs-td
                :data="data[indextr].approved"
                @click.native="
                  navigateSelectedByVersion(
                    data[indextr].jenis,
                    tr,
                    'PSIKOTEST'
                  )
                "
              >
                {{ status(data[indextr].approved) }}
              </vs-td>
              <vs-td :data="data[indextr].namaAssessment">
                <Approval
                  :id="data[indextr].soalId"
                  :label="data[indextr].name"
                  :status="data[indextr].approved"
                  :data="data[indextr]"
                  type="PSIKOTEST"
                  @click="chooseAct"
                />
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </div>

      <TablePaging @fetch="getData" />
    </BaseBox>

    <!-- primary pop up pyschological assessment -->
    <QuestionPopUp
      :showPopUp="showPopUp"
      :data="jenisMateri"
      :jenis="jenis"
      @closed="
        showPopUp = false;
        jenis = '';
      "
      @submit="selectedActionPopUp"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { find } from 'lodash';
import { loadingMixin } from '@/mixins/loading';
import { statusMixin } from '@/mixins/status';
import { navigateMixin } from '@/mixins/navigate';
import BaseBox from '@/components/base/Box';
import FormGroup from '@/components/base/FormGroup.vue';
import Approval from '@/components/base/Approval.vue';
import TableHeader from '@/components/table/TableHeader';
import TablePaging from '@/components/table/TablePaging';
import QuestionPopUp from '@/components/materi/psychological_assessment/QuestionPopUp.vue';
import questionItems from '@/views/Materi/PsychologicalAssessment/questionItems';
import DatePicker from 'vue2-datepicker';
import '@/assets/css/datepicker.scss';

export default {
  name: 'MasterPsychologicalAssessment',

  mixins: [loadingMixin, statusMixin, navigateMixin],

  components: {
    BaseBox,
    FormGroup,
    QuestionPopUp,
    TableHeader,
    TablePaging,
    Approval,
    DatePicker
  },

  data: () => ({
    showPopUp: false,
    form: {
      createdDate: '',
      soalType: '',
      orderBy: ''
    },
    jenis: '',
    jenisMateri: []
  }),

  computed: {
    ...mapGetters({
      items: 'psychologicalAssessment/items'
    })
  },

  created() {
    this.jenisMateri = questionItems;
    this.$store.commit('table/RESET_PAGEABLE');
  },

  mounted() {
    this.getData();
  },

  methods: {
    actionPopUp(param) {
      this.jenis = param;
      this.showPopUp = true;
    },

    selectedActionPopUp(params) {
      if (params.selected === 'QuestIst') {
        this.$store.dispatch('ist/reset');
      }

      let data = find(questionItems, {
        code: params.selected
      });

      if (params.jenis === 'question') {
        this.$router.push({ name: data.toCreate });
      }

      if (params.jenis === 'instruction') {
        this.$router.push({
          name: 'instruction',
          params: { type: params.selected }
        });
      }
    },

    getData() {
      this.loadingContent('.table-content-loading');
      this.$store
        .dispatch('psychologicalAssessment/fetchList', this.form)
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.closeLoading('.table-content-loading > .con-vs-loading');
        });
    },

    chooseAct(params) {
      this.openConfirm(params.key, params);
    },

    acceptAlert(parameters) {
      switch (parameters[0]) {
        case 'approve':
          this.approve(parameters[1], parameters[2], parameters[3]);
          break;
        case 'reject':
          this.reject(parameters[1], parameters[2], parameters[3]);
          break;
        case 'delete':
          this.delete(parameters[1], parameters[2], parameters[3]);
          break;
        default:
          break;
      }
    },

    openConfirm(key, data) {
      let message = '';
      switch (key) {
        case 'approve':
          message = this.$t('content.confirm_approve', { data: data.label });
          break;
        case 'reject':
          message = this.$t('content.confirm_reject', { data: data.label });
          break;
        case 'delete':
          message = this.$t('content.confirm_delete', { data: data.label });
          break;
        default:
          break;
      }

      this.$vs.dialog({
        type: 'confirm',
        color: 'primary',
        title: this.$t('label.confirm'),
        text: message,
        accept: this.acceptAlert,
        acceptText: this.$t('label.yes'),
        cancelText: this.$t('label.cancel'),
        parameters: [key, data.id, data.code, data.version]
      });
    },

    approve(id, key, version) {
      this.$store
        .dispatch(key, {
          id: id,
          version: version,
          data: { status: true }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    reject(id, key, version) {
      this.$store
        .dispatch(key, {
          id: id,
          version: version,
          data: { status: false }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    delete(id, key, version) {
      this.$store
        .dispatch(key, {
          id: id,
          version: version
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.delete_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    handleSort(key, active) {
      this.form.orderBy = `${key}|${active}`;
      this.getData();
    },

    reset() {
      this.form = {
        createdDate: '',
        soalType: '',
        orderBy: ''
      };

      this.getData();
    }
  }
};
</script>
