<template>
  <div id="instruction">
    <BoxHeader :title="title">
      <template>
        <div class="py-2 px-4">
          <div class="py-4">
            <editor
              v-model="form.petunjuk"
              v-if="$route.params.type !== 'IST'"
            />
          </div>

          <div v-if="$route.params.type === 'IST'">
            <div :key="index" v-for="(item, index) in form2">
              <div class="py-4">
                <div class="vs-input--label p-0-important">
                  {{ $t('label.subtest_arg', { attribute: index + 1 }) }}
                </div>
                <FormGroup
                  :name="$t('label.duration')"
                  :validator="$v.form2.$each.$iter[index].durasi"
                >
                  <div class="vs-input--label p-l-0-important">
                    {{ $t('label.duration') }} (Menit)
                  </div>
                  <vs-input
                    color="primary"
                    class="w-full"
                    label=""
                    v-model="form2[index].durasi"
                  />
                </FormGroup>
                <div class="vs-input--label p-0-important">
                  {{ $t('label.instruction') }}
                </div>
                <editor
                  v-model="form2[index].petunjuk"
                  :value="form2[index].petunjuk"
                />
              </div>
              <hr class="mt-4 mb-2" v-if="index < form2.length - 1" />
            </div>
          </div>
        </div>
      </template>

      <div class="flex justify-end px-4">
        <vs-button
          class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
          color="secondary"
          type="border"
          :to="{ name: 'ManagePsychologicalAssessment' }"
        >
          {{ $t('label.back') }}
        </vs-button>
        <vs-button
          class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
          color="primary"
          type="filled"
          ref="loadingBtn"
          @click="submit"
        >
          {{ $t('label.save') }}
        </vs-button>
      </div>
    </BoxHeader>
  </div>
</template>

<script>
import questionItems from '@/views/Materi/PsychologicalAssessment/questionItems';
import instructionItems from '@/views/Materi/PsychologicalAssessment/instructionItems';

// eslint-disable-next-line no-unused-vars
import { find, map } from 'lodash';

// base
import BoxHeader from '@/components/base/BoxHeader';
import Editor from '@/components/base/Editor';
import FormGroup from '@/components/base/FormGroup';

// validations
import { required, numeric } from 'vuelidate/lib/validators';

export default {
  name: 'Instruction',

  components: {
    BoxHeader,
    Editor,
    FormGroup
  },

  data: () => ({
    title: '',
    form: {
      soalType: '',
      petunjuk: ''
    },
    form2: null
  }),

  validations: {
    form2: {
      $each: {
        durasi: {
          required,
          numeric
        }
      }
    }
  },

  created() {
    // initial instruction items
    this.form2 = instructionItems;

    this.title = this.$t('label.instruction').concat(
      ` ${
        find(questionItems, {
          code: this.$route.params.type
        }).name
      }`
    );

    this.form.soalType = this.$route.params.type;
    this.getInstruction(this.$route.params.type);
  },

  methods: {
    // get instruction data
    getInstruction(type) {
      if (type !== 'IST') {
        this.$store
          .dispatch('instruction/fetchDetail', {
            type: this.$route.params.type
          })
          .then((data) => {
            this.form.petunjuk = data.petunjuk;
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          });
      } else {
        instructionItems.map((item, index) => {
          this.$store
            .dispatch('instruction/fetchDetail', { type: item.soalType })
            .then((data) => {
              this.form2[index].durasi = data.durasi;
              this.form2[index].petunjuk = data.petunjuk;
            })
            .catch((e) => {
              this.$store.dispatch('general/showErrorReqNotification', e);
            });
        });
      }
    },

    // submit instruction
    submit() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        let payload = { data: this.form };
        this.form.soalType = this.$route.params.type;

        if (this.$route.params.type !== 'IST') {
          this.$store
            .dispatch('instruction/fetchSave', payload)
            .then(() => {
              this.$store.dispatch('general/showSuccessNotification', {
                message: this.$t('label.success'),
                textMessage: this.$t('content.create_message')
              });

              this.$router.push({ name: 'ManagePsychologicalAssessment' });
            })
            .catch((e) => {
              this.$store.dispatch('general/showErrorReqNotification', e);
            })
            .finally(() => {});
        } else {
          //
          map(this.form2, (item, index) => {
            payload = { data: item };

            this.$store
              .dispatch('instruction/fetchSave', payload)
              .then(() => {
                if (index === 8) {
                  this.$store.dispatch('general/showSuccessNotification', {
                    message: this.$t('label.success'),
                    textMessage: this.$t('content.create_message')
                  });

                  this.$router.push({ name: 'ManagePsychologicalAssessment' });
                }
              })
              .catch((e) => {
                this.$store.dispatch('general/showErrorReqNotification', e);
              })
              .finally(() => {});
          });
        }
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.p-0-important {
  padding: 0 !important;
}
.p-l-0-important {
  padding-left: 0 !important;
}
</style>
