<template>
  <div id="manage-ist">
    <BoxHeader
      :title="$t('label.list_arg', { attribute: $t('menu.manage_ist.name') })"
    >
      <template>
        <div class="h-6"></div>
        <!-- ====== field duration process ====== -->
        <!-- <div class="w-full flex flex-wrap px-4">
          <div class="w-full lg:w-1/3">
            <FormGroup :name="$t('label.duration_process')">
              <vs-input
                :disabled="$route.meta.disabled"
                icon="schedule"
                color="primary"
                class="w-full field-required"
                :label="$t('label.duration_process')"
                :placeholder="
                  $t('placeholder.input_general', {
                    attribute: $t('label.duration_process')
                  })
                "
                v-model="items.durasiPengerjaan"
                @keyup="setDuration"
              />
            </FormGroup>
          </div>
        </div> -->
        <!-- ====== field duration process ====== -->

        <div class="flex flex-wrap justify-center items-center">
          <div class="flex flex-wrap mb-4">
            <div
              class="border w-1/6 m-4 p-6 rounded-md shadow-md flex flex-wrap justify-center items-center"
              :key="index"
              v-for="(item, index) in subtests"
            >
              <!-- =================== code icon ==================== -->
              <div
                class="w-10 py-2 px-2 bg-gray-300 font-medium text-sm rounded-md text-center text-blue-500"
              >
                {{ item.code }}
              </div>
              <!-- =================== code icon ==================== -->

              <!-- =================== title name ==================== -->
              <div
                class="w-full flex flex-wrap justify-center items-center my-4"
              >
                <h4>{{ item.title }}</h4>
                <small class="text-center w-full">{{ item.subtitle }}</small>
              </div>
              <!-- =================== title name ==================== -->

              <vs-button
                class="text-xs font-medium w-full md:w-auto vs-con-loading__container"
                color="primary"
                type="filled"
                ref="loadingBtn"
                :disabled="disabled && !Object.keys(status[index]).length"
                @click="navigate(item)"
              >
                {{
                  Object.keys(status[index]).length
                    ? disabled
                      ? $t('label.view_arg', { attribute: $t('label.matter') })
                      : $t('label.update_arg', {
                          attribute: $t('label.matter')
                        })
                    : $t('label.create_arg', { attribute: $t('label.matter') })
                }}
              </vs-button>
            </div>
          </div>
        </div>
      </template>
    </BoxHeader>

    <div class="mt-6 flex justify-end">
      <!-- back button @action -->
      <vs-button
        class="text-xs px-8 mr-2 font-medium w-full md:w-auto"
        color="secondary"
        type="border"
        @click="navigateBack"
      >
        {{ $t('label.back') }}
      </vs-button>

      <!-- save button @action -->
      <vs-button
        v-if="!$route.meta.disabled"
        class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
        color="primary"
        type="filled"
        ref="loadingBtn"
        @click="submit"
      >
        {{ $t('label.save') }}
      </vs-button>
    </div>
  </div>
</template>

<script>
// vuex
import { mapGetters } from 'vuex';
// eslint-disable-next-line no-unused-vars
import { cloneDeep, forEach, map, isEmpty, values } from 'lodash';

// subtest items
import subtestItems from '@/views/Materi/PsychologicalAssessment/Question/Ist/subtestItems';

// components
import BoxHeader from '@/components/base/BoxHeader';

export default {
  name: 'ManageIst',

  components: {
    BoxHeader
  },

  computed: {
    ...mapGetters({
      items: 'ist/items',
      isInitialized: 'ist/isInitialized',
      isExisted: 'ist/isExisted',
      id: 'ist/id'
    })
  },

  data: () => ({
    subtests: null,
    condition: 0,
    edit: false,
    disabled: false,
    status: []
  }),

  created() {
    this.initial();
  },

  methods: {
    initial() {
      this.disabled = this.$route.meta.disabled;
      this.subtests = subtestItems;

      // initial data items
      if (this.$route.params.id) {
        this.edit = true;

        // set to items
        if (!this.isExisted) {
          this.fetchDetail();

          this.$store.commit('ist/UPDATE_EXISTED', {
            status: true
          });
        }

        if (!isEmpty(this.items.soal['subtest1'].pertanyaan)) {
          this.items.soal['subtest1'].soal = this.items.soal[
            'subtest1'
          ].pertanyaan;
          delete this.items.soal['subtest1'].pertanyaan;
        }

        if (!isEmpty(this.items.soal['subtest2'].pertanyaan)) {
          this.items.soal['subtest2'].soal = this.items.soal[
            'subtest2'
          ].pertanyaan;
          delete this.items.soal['subtest2'].pertanyaan;
        }

        if (!isEmpty(this.items.soal['subtest3'].pertanyaan)) {
          this.items.soal['subtest3'].soal = this.items.soal[
            'subtest3'
          ].pertanyaan;
          delete this.items.soal['subtest3'].pertanyaan;
        }

        // set an id for identification
        this.$store.commit('ist/UPDATE_ID', {
          id: this.$route.params.id
        });
      } else {
        // existed to false
        this.$store.commit('ist/UPDATE_EXISTED', {
          status: false
        });

        if (!this.isInitialized || this.id) {
          this.fetchInitial();

          // set an id for identification
          this.$store.commit('ist/UPDATE_ID', {
            id: null
          });
        }
      }

      this.$store.commit('ist/UPDATE_INITIALIZED', {
        status: true
      });

      this.status = values(cloneDeep(this.items.soal));
    },

    fetchDetail() {
      this.$store
        .dispatch('ist/fetchDetail', {
          id: this.$route.params.id,
          version: this.$route.params.version
        })
        .then((data) => {
          this.status = values(cloneDeep(data.soal));
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    fetchInitial() {
      this.$store.dispatch('ist/fetchInitial').catch((e) => {
        this.$store.dispatch('general/showErrorReqNotification', e);
      });
    },

    navigateBack() {
      if (this.$route.meta.proyek) {
        this.$router.go(-1);
      } else {
        this.$router.push({
          name: 'ManagePsychologicalAssessment'
        });
      }
    },

    navigate(item) {
      if (this.edit && this.disabled) {
        this.$router.push({
          name: item.toDetail,
          params: {
            id: this.$route.params.id,
            version: this.$route.params.version
          }
        });
      } else if (this.edit) {
        this.$router.push({
          name: item.toUpdate,
          params: {
            id: this.$route.params.id,
            version: this.$route.params.version
          }
        });
      } else {
        this.$router.push({
          name: item.toCreate
        });
      }
    },

    reset() {
      // reset value of items
      this.fetchInitial();

      // initialized to false
      this.$store.commit('ist/UPDATE_INITIALIZED', {
        status: false
      });

      // existed to false
      this.$store.commit('ist/UPDATE_EXISTED', {
        status: false
      });

      // set an id for identification
      this.$store.commit('ist/UPDATE_ID', {
        id: null
      });
    },

    submit() {
      let storeAction = 'ist/fetchSave';
      let items = cloneDeep(this.items);

      // mapping
      forEach(this.items.soal, (value, key) => {
        if (key !== 'subtest7' && key !== 'subtest8' && key !== 'subtest9') {
          // mapping subtest 1, 2, 3, 4, 5, 6
          if (!isEmpty(this.items.soal[key])) {
            map(this.items.soal[key].soal, (item) => {
              map(item, (subItem) => {
                items.soal[key].soal.push(subItem);
              });
            });

            items.soal[key].soal = items.soal[key].soal.slice(4);
          }
        } else {
          // mapping subtest 7
          if (key === 'subtest7' && !isEmpty(this.items.soal[key])) {
            let subtest7Temp = {
              durasi: this.items.soal[key].durasi,
              ilustrasi: [],
              soal: []
            };

            // illustration
            map(this.items.soal[key].ilustrasi, (item, itemIndex) => {
              subtest7Temp.ilustrasi.push({
                nomorAwal: item.nomorAwal,
                nomorAkhir: item.nomorAkhir,
                opsi: []
              });
              map(item.opsi, (opsi) => {
                delete opsi['src'];
                subtest7Temp.ilustrasi[itemIndex].opsi.push(opsi);
              });
            });

            // question
            map(this.items.soal[key].soal, (item) => {
              map(item, (subItem) => {
                // delete src
                delete subItem['src'];
                // push question
                subtest7Temp.soal.push(subItem);
              });
            });

            if (!isEmpty(this.items.soal[key])) {
              items.soal[key] = subtest7Temp;
            }
          }

          // mapping subtest 8
          if (key === 'subtest8' && !isEmpty(this.items.soal[key])) {
            let subtest8Temp = {
              durasi: this.items.soal[key].durasi,
              ilustrasi: [],
              soal: []
            };

            // illustration
            map(this.items.soal[key].ilustrasi, (item) => {
              delete item['src'];
              subtest8Temp.ilustrasi.push(item);
            });

            // question
            map(this.items.soal[key].soal, (item) => {
              map(item, (subItem) => {
                // delete src
                delete subItem['src'];
                // push question
                subtest8Temp.soal.push(subItem);
              });
            });

            if (!isEmpty(this.items.soal[key])) {
              items.soal[key] = subtest8Temp;
            }
          }
          // mapping subtest 9
          if (key === 'subtest9' && !isEmpty(this.items.soal[key])) {
            if (!isEmpty(this.items.soal[key].soal)) {
              map(this.items.soal[key].soal, (item) => {
                map(item, (subItem) => {
                  items.soal[key].soal.push(subItem);
                });
              });

              items.soal[key].soal = items.soal[key].soal.slice(4);
            }
          }
        }
      });

      let payload = {
        data: items
      };

      if (this.edit) {
        payload['id'] = this.$route.params.id;
        payload['version'] = this.$route.params.version;
        storeAction = 'ist/fetchUpdate';
      }

      this.$store
        .dispatch(storeAction, payload)
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.edit
              ? this.$t('content.update_message')
              : this.$t('content.create_message')
          });

          // reset all of items
          this.reset();

          this.$router.push({
            name: 'ManagePsychologicalAssessment'
          });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {});
    }
  }
};
</script>
