<template>
  <!-- in porgress change items condition -->
  <div id="create-ls">
    <question
      v-if="items"
      :name="$t('menu.manage_ls.name')"
      type="pg"
      :items="items"
      @save="store"
    >
      <template v-slot:instruction>
        <div v-html="items.petunjuk"></div>
      </template>
    </question>
  </div>
</template>

<script>
// vuex
import { mapGetters } from 'vuex';
import { map } from 'lodash';

// materi components
import Question from '@/components/materi/psychological_assessment/Question';

export default {
  name: 'CreateLs',

  components: {
    Question
  },

  data: () => ({
    edit: false,
    form: {
      soalName: '',
      soal: []
    }
  }),

  computed: {
    ...mapGetters({
      items: 'ls/items'
    })
  },

  created() {
    if (this.$route.params.id) {
      this.items = null;

      this.edit = true;
      this.form = this.fetchDetail(
        this.$route.params.id,
        this.$route.params.version
      );
    } else {
      this.items = null;

      this.fetchAnswerKeys();
    }
  },

  methods: {
    fetchAnswerKeys() {
      this.$store.dispatch('ls/fetchAnswerKeys').catch((e) => {
        this.$store.dispatch('general/showErrorReqNotification', e);
      });
    },

    fetchDetail(id, version) {
      this.$store
        .dispatch('ls/fetchDetail', { id: id, version: version })
        .then((data) => {
          this.form = data.soal;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    store(value) {
      this.form = value;
      let storeAction = 'ls/fetchSave';

      // clear
      let temp = this.form.soal;
      this.form.soal = [];

      map(temp, (item) => {
        map(item, (subItem) => {
          this.form.soal.push(subItem);
        });
      });

      let payload = {
        data: this.form
      };

      if (this.edit) {
        payload['id'] = this.$route.params.id;
        payload['version'] = this.$route.params.version;
        storeAction = 'ls/fetchUpdate';
      }

      this.$store
        .dispatch(storeAction, payload)
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.edit
              ? this.$t('content.update_message')
              : this.$t('content.create_message')
          });

          this.$router.push({
            name: 'ManagePsychologicalAssessment'
          });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {});
    }
  }
};
</script>
