<template>
  <vs-popup :title="$t('label.assignment')" :active.sync="show">
    <div class="flex flex-wrap">
      <div class="w-full px-2">
        <FormGroup :name="$t('label.date')">
          <vs-input
            :disabled="$route.meta.disabled"
            color="primary"
            class="w-full"
            :label="$t('label.date')"
            v-model="form.date"
          />
        </FormGroup>
      </div>

      <div class="w-full px-2">
        <FormGroup
          :name="$t('label.total_arg', { attribute: $t('label.person') })"
        >
          <vs-input
            :disabled="$route.meta.disabled"
            color="primary"
            class="w-full"
            :label="$t('label.total_arg', { attribute: $t('label.person') })"
            v-model="form.total"
          />
        </FormGroup>
      </div>

      <div class="w-full px-2">
        <Editor
          v-model="form.body"
          :name="$t('label.body')"
          :value="form.body"
          :disabled="$route.meta.disabled"
        />
      </div>

      <FormGroup>
        <vs-checkbox
          color="secondary"
          :disabled="$route.meta.disabled"
          v-model="form.additional"
        >
          <span class="text-xs">{{
            $t('label.add_arg', {
              attribute: $t('label.additional_assignments')
            })
          }}</span>
        </vs-checkbox>
      </FormGroup>

      <div class="w-full px-2" v-if="form.additional">
        <Editor
          :name="
            $t('label.description_arg', {
              attribute: $t('label.additional_assignments')
            })
          "
          v-model="form.bodyAdditional"
          :value="form.bodyAdditional"
          :disabled="$route.meta.disabled"
        />
      </div>

      <div class="w-full flex flex-wrap justify-end">
        <vs-button
          v-if="!$route.meta.disabled"
          @click="addAssignment"
          class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
          color="primary"
          type="filled"
        >
          {{ $t('label.add') }}
        </vs-button>
        <vs-button
          @click="show = false"
          class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
          color="secondary"
          type="border"
          >{{ $t('label.cancel') }}</vs-button
        >
      </div>
    </div>
  </vs-popup>
</template>

<script>
import FormGroup from '@/components/base/FormGroup';
import Editor from '@/components/base/Editor';

export default {
  name: 'AssignmentPopUp',

  components: {
    Editor,
    FormGroup
  },

  props: {
    showPopUp: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object,
      default: () => ({})
    }
  },

  watch: {
    showPopUp(val) {
      this.show = val;
    },

    show(val) {
      if (!val) {
        this.form = {
          date: '',
          total: '',
          body: '',
          additional: false,
          bodyAdditional: ''
        };
      }
      this.$emit('closed', val);
    },

    additional(val) {
      if (!val) {
        this.form.bodyAdditional = '';
      }
    },

    data(val) {
      this.form = val;
    }
  },

  created() {},

  data: () => ({
    show: false,
    edit: false,
    form: {
      date: '',
      total: '',
      body: '',
      additional: false,
      bodyAdditional: ''
    }
  }),

  methods: {
    addAssignment() {
      this.$emit('added', this.form);
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ .vs-input--input.normal {
  border: 1px solid #ececec !important;
}
/deep/ .vs-checkbox--check .material-icons {
  font-size: 16px !important;
}
</style>
