<template>
  <vs-popup :title="$t('label.inbasket_intray')" :active.sync="show">
    <div class="flex flex-wrap items-end">
      <div class="w-full px-2">
        <FormGroup :name="$t('label.subject')" :validator="$v.form.subject">
          <vs-input
            color="primary"
            class="w-full field-required"
            :label="$t('label.subject')"
            :disabled="$route.meta.disabled"
            :danger="$v.form.subject.error"
            v-model="form.subject"
          />
        </FormGroup>
      </div>
      <div class="w-full px-2">
        <FormGroup :name="$t('label.from')" :validator="$v.form.from">
          <vs-input
            color="primary"
            class="w-full field-required"
            :label="$t('label.from')"
            :disabled="$route.meta.disabled"
            :danger="$v.form.from.error"
            v-model="form.from"
          />
        </FormGroup>
      </div>
      <div class="w-full px-2">
        <FormGroup :name="$t('label.to')" :validator="$v.form.to">
          <vs-input
            color="primary"
            class="w-full field-required"
            :label="$t('label.to')"
            :disabled="$route.meta.disabled"
            :danger="$v.form.to.error"
            v-model="form.to"
          />
        </FormGroup>
      </div>
      <div class="w-full px-2">
        <FormGroup :name="$t('label.cc')" :validator="$v.form.cc">
          <vs-input
            color="primary"
            class="w-full"
            :label="$t('label.cc')"
            :disabled="$route.meta.disabled"
            v-model="form.cc"
            :validator="$v.form.cc"
          />
        </FormGroup>
      </div>
      <div class="w-full flex flex-wrap px-2">
        <div class="w-full lg:w-1/2">
          <FormGroup
            :name="$t('label.time')"
            :validator="$v.form.duration.time"
          >
            <date-picker
              v-model="form.duration.time"
              :clearable="false"
              :disabled="$route.meta.disabled"
              prefix-class="xmx"
              valueType="HH:mm:ss"
              type="time"
            >
              <template v-slot:input>
                <vs-input
                  color="primary"
                  class="w-full field-required"
                  icon="schedule"
                  :value="form.duration.time"
                  :label="$t('label.time')"
                  :readonly="true"
                  :disabled="$route.meta.disabled"
                  :danger="$v.form.duration.time.error"
                  placeholder="HH:mm:ss"
                />
              </template>
              <template v-slot:icon-calendar>
                <span></span>
              </template>
            </date-picker>
          </FormGroup>
        </div>
        <div class="w-full lg:w-1/2">
          <FormGroup
            :name="$t('label.date')"
            :validator="$v.form.duration.date"
          >
            <date-picker
              v-model="form.duration.date"
              :clearable="false"
              :disabled="$route.meta.disabled"
              :default-value="form.duration.date || new Date()"
              :disabled-date="checkDate"
              prefix-class="xmx-dm"
              valueType="DD/MM"
            >
              <template v-slot:input>
                <vs-input
                  color="primary"
                  class="w-full field-required"
                  icon="today"
                  :value="form.duration.date"
                  :label="$t('label.date')"
                  :readonly="true"
                  :disabled="$route.meta.disabled"
                  :danger="$v.form.duration.date.error"
                  placeholder="DD/MM"
                />
              </template>
              <template v-slot:icon-calendar>
                <span></span>
              </template>
            </date-picker>
          </FormGroup>
        </div>
      </div>

      <div class="w-full flex flex-wrap px-2">
        <Editor
          class="w-full field-required"
          :name="$t('label.body')"
          v-model="form.body"
          :disabled="$route.meta.disabled"
        />
      </div>

      <div
        class="w-full flex flex-wrap justify-end"
        v-if="!$route.meta.disabled"
      >
        <vs-button
          @click="addInbox"
          class="w-full md:w-auto text-xs block px-6 my-4 font-medium"
          color="primary"
          type="filled"
        >
          {{ $t('label.add') }}
        </vs-button>
        <vs-button
          @click="show = false"
          class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
          color="secondary"
          type="border"
          >{{ $t('label.cancel') }}</vs-button
        >
      </div>
    </div>
  </vs-popup>
</template>

<script>
import FormGroup from '@/components/base/FormGroup';
import Editor from '@/components/base/Editor';

// date picker
import DatePicker from 'vue2-datepicker';
import '@/assets/css/datepicker.scss';
import '@/assets/css/datepicker-custom.scss';

import {
  email,
  required
  // numeric,
  // maxLength,
  // minLength
} from 'vuelidate/lib/validators';

export default {
  name: 'InboxPopUp',

  components: {
    Editor,
    DatePicker,
    // eslint-disable-next-line vue/no-unused-components
    FormGroup
  },

  props: {
    showPopUp: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object,
      default: () => ({})
    }
  },

  watch: {
    showPopUp(val) {
      this.show = val;
    },

    show(val) {
      this.$emit('closed', val);
    },

    data(val) {
      this.form = val;
    }
  },

  data: () => ({
    show: false,
    edit: false,
    form: {
      subject: '',
      from: '',
      to: '',
      cc: '',
      duration: {
        time: '',
        date: ''
      },
      body: null
    }
  }),

  validations: {
    form: {
      subject: {
        required
      },
      from: {
        required,
        email
      },
      to: {
        required,
        email
      },
      cc: {
        email
      },
      duration: {
        time: { required },
        date: { required }
      },
      body: {
        required
      }
    }
  },

  methods: {
    addInbox() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.$emit('added', this.form);
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });
      }
    },

    checkDate(date) {
      let currentYear = new Date().getFullYear();
      let prevDate = `${currentYear - 1}-12-31`;

      return (
        date <= new Date(new Date(prevDate).setHours(0, 0, 0, 0)) ||
        date >=
          new Date(new Date(`${currentYear + 1}-01-01`).setHours(0, 0, 0, 0))
      );
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ .vs-input--input.normal {
  border: 1px solid #ececec !important;
}
</style>
