<template>
  <main>
    <slot
      name="approve"
      v-if="$route.meta.approve && approvedStatus !== 0"
    ></slot>

    <!-- ====== simulation type header ======= -->
    <div class="flex flex-wrap bg-gray-200 rounded-t-lg">
      <div class="border-r-2 border-white">
        <span class="p-4 text-blue-400 block">
          {{ header.code }}
        </span>
      </div>

      <div class="flex flex-col">
        <div class="m-2 pl-4 pr-8">
          <div class="text-base font-medium">
            {{ header.title }}
          </div>
          <div class="text-xs italic">
            {{ header.subtitle }}
          </div>
        </div>
      </div>
    </div>
    <!-- ====== simulation type header ======= -->

    <!-- ====== simulation main field ====== -->
    <div
      class="w-full flex flex-wrap bg-gray-200 rounded-b-lg px-4 border-t-2 border-white mb-4"
    >
      <div class="w-full lg:w-1/2 pr-4">
        <FormGroup :name="$t('label.name')" :validator="$v.items.soalName">
          <vs-input
            :disabled="$route.meta.disabled"
            color="primary"
            class="w-full field-required"
            v-model="items.soalName"
            :label="$t('label.name')"
            :placeholder="
              $t('placeholder.input_general', {
                attribute: $t('label.name')
              })
            "
            :danger="$v.items.soalName.error"
          />
        </FormGroup>
      </div>
      <div class="w-full lg:w-1/4">
        <FormGroup
          :name="$t('label.target_job')"
          :validator="$v.items.targetJobName"
        >
          <vs-select
            autocomplete
            :disabled="$route.meta.disabled"
            v-model="items.targetJobName"
            color="primary"
            class="w-full field-required"
            :label="$t('label.target_job')"
            :placeholder="
              $t('placeholder.select_general', {
                attribute: $t('label.target_job')
              })
            "
            :danger="$v.items.targetJobName.error"
          >
            <vs-select-item
              :key="index"
              :value="item.namaTargetJob"
              :text="item.namaTargetJob"
              v-for="(item, index) in targetJobs"
            />
          </vs-select>
        </FormGroup>
      </div>
      <div class="w-full lg:w-1/4 pl-4">
        <FormGroup
          :name="$t('label.duration_process')"
          :validator="$v.items.durasiPengerjaan"
        >
          <vs-input
            :disabled="$route.meta.disabled"
            icon="schedule"
            color="primary"
            class="w-full field-required"
            v-model="items.durasiPengerjaan"
            :label="$t('label.duration_process')"
            :placeholder="
              $t('placeholder.input_general', {
                attribute: $t('label.duration')
              })
            "
            :danger="$v.items.durasiPengerjaan.error"
            type="number"
            @keypress="keypressmonitor"
            @paste="onPaste"
          />
        </FormGroup>
      </div>
    </div>
    <!-- ====== simulation main field ====== -->

    <vs-tabs>
      <vs-tab
        :label="findSimulationName(item.jenisInstruksi)"
        :key="`${index}.${item.jenisInstruksi}`"
        v-for="(item, index) in items.soal.instruksi"
      >
        <div>
          <box-header
            class="px-4 py-4"
            :title="
              items.soal.instruksi[index].sectionInstruksi[sectionIndex]
                .namaInstruksi || $t('content.untitled')
            "
            :key="`${index}.${sectionIndex}`"
            v-for="(sectionItem, sectionIndex) in item.sectionInstruksi"
            :expand="true"
            :error="
              $v.items.soal.instruksi.$each[index].sectionInstruksi.$each[
                sectionIndex
              ].namaInstruksi.$error
            "
          >
            <!-- ================== action ==================== -->
            <template v-slot:action>
              <div class="flex items-center bg-white rounded-lg">
                <vs-button
                  :disabled="
                    items.soal.instruksi[index].sectionInstruksi.length <= 1 ||
                      $route.meta.disabled
                  "
                  @click="removeInstruksi(item.jenisInstruksi, sectionIndex)"
                  class="mx-2"
                  color="danger"
                  type="flat"
                  icon="clear"
                />
                <vs-button
                  :disabled="$route.meta.disabled"
                  @click="addInstruksi(item.jenisInstruksi, sectionIndex)"
                  class="mx-2"
                  color="primary"
                  type="flat"
                  icon="add_circle_outline"
                />
              </div>
            </template>
            <!-- ================== action ==================== -->

            <!-- ================== instruksi ================= -->
            <div>
              <div class="w-full flex flex-wrap">
                <!-- field sub materi & role name (LGD) -->
                <div class="w-full lg:w-1/2 px-2">
                  <FormGroup
                    :name="
                      item.jenisInstruksi !== 'INSTRUKSI_PERAN'
                        ? $t('label.sub_materi')
                        : $t('label.role_name')
                    "
                    :validator="
                      $v.items.soal.instruksi.$each.$iter[index]
                        .sectionInstruksi.$each.$iter[sectionIndex]
                        .namaInstruksi
                    "
                  >
                    <vs-input
                      :disabled="$route.meta.disabled"
                      color="primary"
                      class="w-full"
                      :label="
                        item.jenisInstruksi !== 'INSTRUKSI_PERAN'
                          ? $t('label.sub_materi')
                          : $t('label.role_name')
                      "
                      v-model.trim="
                        items.soal.instruksi[index].sectionInstruksi[
                          sectionIndex
                        ].namaInstruksi
                      "
                      :danger="
                        $v.items.soal.instruksi.$each.$iter[index]
                          .sectionInstruksi.$each.$iter[sectionIndex]
                          .namaInstruksi.error
                      "
                    />
                  </FormGroup>
                </div>

                <div class="w-full px-2">
                  <Editor
                    :disabled="$route.meta.disabled"
                    :name="
                      item.jenisInstruksi === 'INSTRUKSI_UMUM'
                        ? $t('label.description')
                        : $t('label.description_arg', {
                            attribute: findSimulationName(item.jenisInstruksi)
                          })
                    "
                    v-model="
                      items.soal.instruksi[index].sectionInstruksi[sectionIndex]
                        .contentInstruksi
                    "
                  />
                </div>
              </div>
            </div>
            <!-- ================== instruksi ================= -->
          </box-header>
        </div>
      </vs-tab>

      <!-- simulation sub inbox -->
      <vs-tab
        :label="sheetItem.label"
        :key="`${sheetIndex}.${sheetItem.label}`"
        v-for="(sheetItem, sheetIndex) in sheets"
      >
        <slot :name="sheetItem.tab"></slot>
      </vs-tab>
      <!-- simulation sub inbox -->
    </vs-tabs>

    <div class="w-full flex flex-wrap justify-end mt-8 space-x-4">
      <vs-button
        class="text-xs px-8 font-medium w-full md:w-auto"
        color="secondary"
        type="border"
        @click="navigateBack"
      >
        {{ $route.meta.disabled ? $t('label.back') : $t('label.cancel') }}
      </vs-button>

      <vs-button
        v-if="!$route.meta.disabled && !$route.meta.approve"
        class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
        color="primary"
        type="filled"
        ref="loadingBtn"
        :disabled="isLoading"
        @click="submit"
      >
        {{ $t('label.save') }}
      </vs-button>

      <template v-if="$acl.check('isSuperAdmin') && $route.meta.approve">
        <vs-button
          class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
          color="danger"
          type="filled"
          ref="loadingBtn2"
          :disabled="isLoading"
          @click="reject"
        >
          {{ $t('label.reject') }}
        </vs-button>
        <vs-button
          class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
          color="primary"
          type="filled"
          ref="loadingBtn"
          :disabled="isLoading"
          @click="approve"
        >
          {{ $t('label.approve') }}
        </vs-button>
      </template>
    </div>
  </main>
</template>

<script>
import { mapGetters } from 'vuex';

// simulation items
import {
  simulationType,
  simulationSection,
  simulationQuestion
} from '@/components/materi/assessment_center/simulationItems';
import menuItems from '@/components/materi/assessment_center/menuItems';
import { cloneDeep, find, findIndex } from 'lodash';
import { loadingMixin } from '@/mixins/loading';
import { inputNumberMixin } from '@/mixins/inputNumber';

// components
import BoxHeader from '@/components/base/BoxHeader';
import Editor from '@/components/base/Editor';
import FormGroup from '@/components/base/FormGroup';

// validations
import { maxLength, required } from 'vuelidate/lib/validators';

export default {
  name: 'Simulation',

  components: {
    BoxHeader,
    Editor,
    FormGroup
  },

  mixins: [inputNumberMixin, loadingMixin],

  computed: {
    ...mapGetters({
      roles: 'auth/currentRoles',
      approvedStatus: 'assessmentCenter/approvedStatus'
    })
  },

  created() {
    this.getTargetJobs();
    this.items = this.data;

    // ================= set header (code, title, subtitle) =================
    this.header.code = find(menuItems, { code: this.$route.meta.type }).code;
    this.header.title = find(menuItems, {
      code: this.$route.meta.type
    }).groupName;
    this.header.subtitle = find(menuItems, {
      code: this.$route.meta.type
    }).name;
    // ================= set header (code, title, subtitle) =================
  },

  props: {
    data: {
      type: Object,
      default: null
    },
    flp: {
      type: Boolean,
      default: false
    },
    sheets: {
      type: Array,
      default: () => []
    }
  },

  watch: {
    data(val) {
      this.items = val;
    }
  },

  data: () => ({
    items: null,
    header: {
      code: '',
      title: '',
      subtitle: ''
    },
    targetJobs: [],
    types: null,
    isLoading: false
  }),

  validations: {
    items: {
      soalName: {
        required,
        maxLength: maxLength(150)
      },
      targetJobName: {
        required
      },
      durasiPengerjaan: {
        required
      },
      soal: {
        instruksi: {
          $each: {
            sectionInstruksi: {
              $each: {
                namaInstruksi: {
                  required
                }
              }
            }
          }
        }
      }
    }
  },

  methods: {
    findSimulationName(code) {
      return find(simulationType, { code: code }).name;
    },

    findSimulationIndex(jenisInstruksi) {
      return findIndex(this.items.soal.instruksi, {
        jenisInstruksi: jenisInstruksi
      });
    },

    // ============= function instruksi ==============
    addInstruksi(jenisInstruksi, sectionIndex) {
      let section = cloneDeep(simulationSection);
      let index = this.findSimulationIndex(jenisInstruksi);

      section.order = sectionIndex + 1;
      this.items.soal.instruksi[index].sectionInstruksi.push(section);
    },

    removeInstruksi(jenisInstruksi, sectionIndex) {
      let index = this.findSimulationIndex(jenisInstruksi);

      this.items.soal.instruksi[index].sectionInstruksi.splice(sectionIndex, 1);
    },
    // ============= function instruksi ==============

    /* ============= function soal =================== */
    addSoal() {
      let soal = cloneDeep(simulationQuestion);
      this.items.soal.pertanyaan.isiPertanyaan.push(soal);
    },

    removeSoal(index) {
      this.items.soal.pertanyaan.isiPertanyaan.splice(index, 1);
    },
    /* ============= function soal =================== */

    navigateBack() {
      this.$router.go(-1);
      // let url = find(menuItems, { code: this.$route.meta.type }).toManage;
      // this.$router.push({ name: url });
    },

    submit() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.isLoading = true;
        this.loadingButton(this.$refs.loadingBtn.$el);
        this.$emit('submit', this.items);
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });
      }
    },

    approve() {
      this.isLoading = true;
      this.loadingButton(this.$refs.loadingBtn.$el);
      this.$store
        .dispatch(
          find(menuItems, { code: this.$route.meta.type }).key.approve,
          {
            id: this.$route.params.id,
            version: this.$route.params.version,
            data: { status: true }
          }
        )
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
          this.closeLoading(this.$refs.loadingBtn.$el);
        });
    },

    reject() {
      this.isLoading = true;
      this.loadingButton(this.$refs.loadingBtn2.$el);
      this.$store
        .dispatch(
          find(menuItems, { code: this.$route.meta.type }).key.approve,
          {
            id: this.$route.params.id,
            version: this.$route.params.version,
            data: { status: false }
          }
        )
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
          this.closeLoading(this.$refs.loadingBtn2.$el);
        });
    },

    getTargetJobs() {
      this.$store
        .dispatch('targetJob/fetchListApproved')
        .then((res) => {
          this.targetJobs = res;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ .vs-tabs--btn {
  @apply outline-none;
  @apply text-sm;
}

/deep/ .con-vs-tabs .con-ul-tabs {
  background-image: linear-gradient(to left, #44c4f1, #2071ee);
  color: #ffffff;
}

/deep/ .vs-tabs--ul {
  @apply py-4;
}

/deep/ .vs-tabs--li {
  @apply px-2;
  @apply mx-2;
}

/deep/ .con-vs-tabs {
  border: 1px solid #ececec !important;
  border-radius: 10px;
}

/deep/ .title-section {
  @apply px-4;
  font-size: 14px;
}
</style>
