<template>
  <div>
    <simulation
      v-if="items"
      :data="items"
      @submit="submit"
      :sheets="[{ tab: 'inbox', label: 'Inbox' }]"
    >
      <template v-slot:approve>
        <div class="w-full flex flex-wrap pb-4">
          <div>
            <vs-button
              @click="changeReview('before')"
              class="w-full md:w-auto text-xs block px-6 font-medium"
              color="secondary"
              type="filled"
            >
              {{ $t('label.before') }}
            </vs-button>
          </div>
          <div>
            <vs-button
              @click="changeReview('after')"
              class="w-full md:w-auto text-xs block px-6 ml-4 font-medium"
              color="primary"
              type="filled"
            >
              {{ $t('label.after') }}
            </vs-button>
          </div>
        </div>
      </template>

      <template v-slot:inbox>
        <div class="px-4">
          <box-header class="my-8" :title="$t('label.inbox')">
            <template v-slot:action v-if="!!inboxItems">
              <vs-button
                v-if="!$route.meta.disabled"
                color="primary"
                class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
                type="filled"
                @click="show"
                >{{
                  $t('label.add_arg', { attribute: $t('label.message') })
                }}</vs-button
              >
            </template>

            <div class="w-full" v-if="!inboxItems">
              <no-data
                :title="$t('content.inbox_title')"
                :subtitle="$t('content.inbox_subtitle')"
              >
                <template v-slot:icon>
                  <img
                    src="@/assets/images/ic-inbox.png"
                    class="m-4"
                    alt="BPI LOGO"
                  />
                </template>
                <template v-slot:action>
                  <vs-button
                    v-if="!$route.meta.disabled"
                    type="filled"
                    color="primary"
                    class="w-full md:w-auto text-xs block px-6 font-medium"
                    @click="show"
                    >{{
                      $t('label.add_arg', { attribute: $t('label.message') })
                    }}</vs-button
                  >
                </template>
              </no-data>
            </div>

            <div class="w-full flex flex-wrap pt-4" v-if="!!inboxItems">
              <div
                class="w-full flex flex-wrap"
                :key="index"
                v-for="(item, index) in inboxItems.sectionInstruksi"
              >
                <div class="w-full lg:w-1/2 px-2">
                  <FormGroup :name="$t('label.subject')">
                    <vs-input
                      color="primary"
                      class="w-full"
                      v-model="inboxItems.sectionInstruksi[index].namaInstruksi"
                      :disabled="true"
                    />
                  </FormGroup>
                </div>

                <div class="w-full lg:w-1/2 px-2 flex items-center">
                  <div class="flex items-center">
                    <vs-button
                      color="warning"
                      type="flat"
                      icon="edit"
                      @click="getInbox(index)"
                    />
                    <vs-button
                      v-if="!$route.meta.disabled"
                      color="danger"
                      type="flat"
                      icon="clear"
                      @click="removeInbox(index)"
                    />
                  </div>
                </div>
              </div>

              <vs-divider position="left">
                <div class="font-medium text-sm">
                  {{
                    $t('content.inbox_message_total', {
                      attribute: inboxItems.sectionInstruksi.length
                    })
                  }}
                </div>
              </vs-divider>
            </div>
          </box-header>
        </div>
      </template>
    </simulation>

    <!-- inbox pop up -->
    <inbox-pop-up
      :showPopUp="showPopUp"
      :data="inbox"
      @closed="reset"
      @added="addInbox"
    />
  </div>
</template>

<script>
// vuex
import { mapGetters } from 'vuex';

import Simulation from '@/components/materi/assessment_center/Simulation';
import {
  emptyInbox,
  inBasket,
  simulationInbox
} from '@/components/materi/assessment_center/simulationItems';
// eslint-disable-next-line no-unused-vars
import { cloneDeep, findIndex } from 'lodash';

import BoxHeader from '@/components/base/BoxHeader';
import FormGroup from '@/components/base/FormGroup';
import NoData from '@/components/base/NoData';

import InboxPopUp from '@/components/materi/assessment_center/InboxPopUp';

export default {
  name: 'inBasket',
  components: {
    BoxHeader,
    FormGroup,
    InboxPopUp,
    NoData,
    Simulation
  },

  created() {
    this.inboxItems = null;
    this.inbox = null;

    if (this.$route.params.id) {
      if (this.approvedStatus === 0) {
        this.fetchDetail();
      } else {
        if (this.$route.meta.approve) {
          this.fetchReview('before');
        } else {
          this.fetchDetail();
        }
      }

      this.edit = true;
    } else {
      this.items = cloneDeep(inBasket);
    }
  },

  computed: {
    ...mapGetters({
      approvedStatus: 'assessmentCenter/approvedStatus'
    })
  },

  data: () => ({
    items: null,
    inboxItems: null,
    inbox: null,
    index: null,
    edit: false,
    showPopUp: false,
    data: null
  }),

  methods: {
    changeReview(status) {
      let items = this.data[status];

      let index = findIndex(items.soal.instruksi, {
        jenisInstruksi: 'INBOX'
      });

      items.targetJobName = items.targetJob.targetJobName;

      // // insert & remove inbox items
      this.inboxItems = items.soal.instruksi[index];

      items.soal.instruksi.splice(index, 1);

      this.items = items;
    },

    fetchReview() {
      this.$store
        .dispatch('inBasket/fetchReview', {
          id: this.$route.params.id,
          version: this.$route.params.version
        })
        .then((response) => {
          this.data = response;
          this.changeReview('before');
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    show() {
      this.index = null;
      this.inbox = cloneDeep(emptyInbox);

      this.showPopUp = true;
    },

    reset(value) {
      this.showPopUp = value;
    },

    addInbox(value) {
      let newData = {
        namaInstruksi: value.subject,
        contentInstruksi: value.body,
        isiInstruksi: {
          from: value.from,
          to: value.to,
          cc: value.cc,
          dateTime: `${value.duration.date} ${value.duration.time}`
        }
      };

      if (this.index !== null) {
        this.inboxItems.sectionInstruksi[this.index] = newData;
      } else {
        if (!this.$route.params.id) {
          this.inboxItems = simulationInbox;
        }

        this.inbox = cloneDeep(emptyInbox);
        this.inboxItems.sectionInstruksi.push(newData);
      }

      this.showPopUp = false;
    },

    removeInbox(index) {
      this.inboxItems.sectionInstruksi.splice(index, 1);

      if (this.inboxItems.sectionInstruksi.length === 0) {
        this.inboxItems = null;
      }
    },

    getInbox(index) {
      this.index = index;
      this.inbox = this.inboxItems.sectionInstruksi[index];
      let duration = this.inbox.isiInstruksi.dateTime.split(' ');

      this.inbox = {
        subject: this.inbox.namaInstruksi,
        from: this.inbox.isiInstruksi.from,
        to: this.inbox.isiInstruksi.to,
        cc: this.inbox.isiInstruksi.cc,
        duration: {
          time: duration[1],
          date: duration[0]
        },
        body: this.inbox.contentInstruksi
      };

      this.showPopUp = true;
    },

    fetchDetail() {
      this.$store
        .dispatch('inBasket/fetchDetail', {
          id: this.$route.params.id,
          version: this.$route.params.version
        })
        .then((response) => {
          let index = findIndex(response.soal.instruksi, {
            jenisInstruksi: 'INBOX'
          });

          response.targetJobName = response.targetJob.targetJobName;

          // // insert & remove inbox items
          this.inboxItems = response.soal.instruksi[index];

          response.soal.instruksi.splice(index, 1);

          this.items = response;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    submit(value) {
      // initial to submit process
      let payload = {};
      let storeAction = 'inBasket/fetchSave';

      payload.data = value;

      if (this.edit) {
        payload['id'] = this.$route.params.id;
        payload['version'] = this.$route.params.version;
        storeAction = 'inBasket/fetchUpdate';
      }

      payload.data.soal.instruksi.push(this.inboxItems);

      this.$store
        .dispatch(storeAction, payload)
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.edit
              ? this.$t('content.update_message')
              : this.$t('content.create_message')
          });
          this.$router.push({ name: 'ManageInBasket' });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {});
    }
  }
};
</script>
