<template>
  <simulation v-if="items" :data="items" @submit="submit">
    <template v-slot:approve>
      <div class="w-full flex flex-wrap pb-4">
        <div>
          <vs-button
            @click="changeReview('before')"
            class="w-full md:w-auto text-xs block px-6 font-medium"
            color="secondary"
            type="filled"
          >
            {{ $t('label.before') }}
          </vs-button>
        </div>
        <div>
          <vs-button
            @click="changeReview('after')"
            class="w-full md:w-auto text-xs block px-6 ml-4 font-medium"
            color="primary"
            type="filled"
          >
            {{ $t('label.after') }}
          </vs-button>
        </div>
      </div>
    </template>
  </simulation>
</template>

<script>
// vuex
import { mapGetters } from 'vuex';

import Simulation from '@/components/materi/assessment_center/Simulation';
import { problemAnalysis } from '@/components/materi/assessment_center/simulationItems';
import { cloneDeep } from 'lodash';

export default {
  name: 'problemAnalysis',
  components: {
    Simulation
  },

  created() {
    if (this.$route.params.id) {
      if (this.approvedStatus === 0) {
        this.fetchDetail();
      } else {
        if (this.$route.meta.approve) {
          this.fetchReview('before');
        } else {
          this.fetchDetail();
        }
      }

      this.edit = true;
    } else {
      this.items = cloneDeep(problemAnalysis);
    }
  },

  data: () => ({
    items: null,
    edit: false,
    data: null
  }),

  computed: {
    ...mapGetters({
      approvedStatus: 'assessmentCenter/approvedStatus'
    })
  },

  methods: {
    changeReview(status) {
      this.items = this.data[status];
    },

    fetchReview() {
      this.$store
        .dispatch('problemAnalysis/fetchReview', {
          id: this.$route.params.id,
          version: this.$route.params.version
        })
        .then((response) => {
          this.data = response;
          this.items = this.data.before;

          this.items.targetJobName = this.items.targetJob.targetJobName;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    fetchDetail() {
      this.$store
        .dispatch('problemAnalysis/fetchDetail', {
          id: this.$route.params.id,
          version: this.$route.params.version
        })
        .then((response) => {
          response.targetJobName = response.targetJob.targetJobName;
          this.items = response;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    submit(value) {
      // initial to submit process
      let payload = {};
      let storeAction = 'problemAnalysis/fetchSave';

      payload.data = value;

      if (this.edit) {
        payload['id'] = this.$route.params.id;
        payload['version'] = this.$route.params.version;
        storeAction = 'problemAnalysis/fetchUpdate';
      }

      this.$store
        .dispatch(storeAction, payload)
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.edit
              ? this.$t('content.update_message')
              : this.$t('content.create_message')
          });
          this.$router.push({ name: 'ManageProblemAnalysis' });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {});
    }
  }
};
</script>
