<template>
  <div>
    <simulation
      v-if="items"
      :data="items"
      @submit="submit"
      :sheets="[
        { tab: 'sheet2', label: 'Daftar Tugas' },
        { tab: 'sheet3', label: 'Info Tambahan' },
        { tab: 'sheet1', label: 'Lembar Jawab' }
      ]"
    >
      <template v-slot:approve>
        <div class="w-full flex flex-wrap pb-4">
          <div>
            <vs-button
              @click="changeReview('before')"
              class="w-full md:w-auto text-xs block px-6 font-medium"
              color="secondary"
              type="filled"
            >
              {{ $t('label.before') }}
            </vs-button>
          </div>
          <div>
            <vs-button
              @click="changeReview('after')"
              class="w-full md:w-auto text-xs block px-6 ml-4 font-medium"
              color="primary"
              type="filled"
            >
              {{ $t('label.after') }}
            </vs-button>
          </div>
        </div>
      </template>

      <!-- tabs sheet 1 (lembar jadwal) -->
      <template v-slot:sheet1>
        <div class="px-4">
          <box-header class="my-4" :title="$t('label.schedule')">
            <div class="flex flex-wrap justify-between">
              <div class="w-full lg:w-1/2">
                <table class="table-fixed m-6">
                  <thead>
                    <tr>
                      <th class="border w-3/3 px-4 py-2">No</th>
                      <th class="border w-2/3 px-4 py-2">
                        {{
                          $t('label.list_arg', { attribute: $t('label.name') })
                        }}
                      </th>
                      <th class="border w-1/3 px-4 py-2"></th>
                    </tr>
                  </thead>
                  <tbody v-if="!listName.length">
                    <tr class="bg-gray-100">
                      <td class="border-bottom px-4 py-2"></td>
                      <td class="border-bottom px-4 py-2 text-center">-</td>
                      <td class="border-bottom px-4 py-2"></td>
                    </tr>
                  </tbody>
                  <tbody v-if="listName.length">
                    <tr
                      class="bg-gray-100"
                      :key="index"
                      v-for="(item, index) in listName"
                    >
                      <td class="border-bottom px-4 py-2">
                        {{ (item.nomor = index + 1) }}
                      </td>
                      <td class="border-bottom px-4 py-2">{{ item.name }}</td>
                      <td class="border-bottom px-4 py-2">
                        <div class="flex items-center">
                          <vs-button
                            :disabled="$route.meta.disabled"
                            @click="removeName(index)"
                            class="mx-2"
                            color="danger"
                            type="flat"
                            icon="clear"
                          ></vs-button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="w-full lg:w-1/2">
                <div class="w-full flex flex-wrap justify-between">
                  <div class="w-full lg:w-1/2 px-2">
                    <FormGroup :name="$t('label.start_date')">
                      <date-picker
                        class="w-full"
                        :clearable="false"
                        :disabled="$route.meta.disabled"
                        :default-value="form.duration.startDate || new Date()"
                        :disabled-date="(date) => checkDate(date, 'start')"
                        prefix-class="xmx-dm"
                        valueType="DD/MM"
                        v-model="form.duration.startDate"
                        @change="form.duration.endDate = ''"
                      >
                        <template v-slot:input>
                          <vs-input
                            color="primary"
                            class="w-full"
                            icon="today"
                            :label="$t('label.start_date')"
                            :readonly="true"
                            :disabled="$route.meta.disabled"
                            placeholder="DD/MM"
                            v-model="form.duration.startDate"
                          />
                        </template>
                        <template v-slot:icon-calendar>
                          <span></span>
                        </template>
                      </date-picker>
                    </FormGroup>
                  </div>

                  <div class="w-full lg:w-1/2 px-2 justify-end">
                    <FormGroup :name="$t('label.end_date')">
                      <date-picker
                        class="w-full"
                        :clearable="false"
                        :disabled="$route.meta.disabled"
                        :default-value="form.duration.endDate || new Date()"
                        :disabled-date="(date) => checkDate(date, 'end')"
                        prefix-class="xmx-dm"
                        valueType="DD/MM"
                        v-model="form.duration.endDate"
                      >
                        <template v-slot:input>
                          <vs-input
                            color="primary"
                            class="w-full"
                            icon="today"
                            :label="$t('label.end_date')"
                            :readonly="true"
                            :disabled="$route.meta.disabled"
                            placeholder="DD/MM"
                            v-model="form.duration.endDate"
                          />
                        </template>
                        <template v-slot:icon-calendar>
                          <span></span>
                        </template>
                      </date-picker>
                    </FormGroup>
                  </div>
                </div>

                <div class="w-full" v-if="!$route.meta.disabled">
                  <div class="w-full px-2">
                    <FormGroup :name="$t('label.name')">
                      <vs-input
                        color="primary"
                        class="w-full"
                        :label="$t('label.name')"
                        :placeholder="
                          $t('placeholder.input_general', {
                            attribute: $t('label.name')
                          })
                        "
                        v-model="form.name"
                      />
                    </FormGroup>
                  </div>

                  <vs-button
                    @click="addName"
                    class="text-xs px-8 mx-2 font-medium w-full md:w-auto vs-con-loading__container"
                    color="primary"
                    type="filled"
                  >
                    {{ $t('label.add') }}
                  </vs-button>
                </div>
              </div>
            </div>
          </box-header>
        </div>
      </template>

      <!-- tab ssheet 3 (lembar tugas tambahan) -->
      <template v-slot:sheet3>
        <div class="px-4">
          <box-header class="py-4" :title="$t('label.additional_assignments')">
            <div class="p-4">
              <div class="w-full">
                <Editor
                  :name="
                    $t('label.description_arg', {
                      attribute: $t('label.additional_assignments')
                    })
                  "
                  :disabled="$route.meta.disabled"
                  v-model="form.assignment"
                />
              </div>

              <div class="w-full lg:w-1/2">
                <FormGroup :name="$t('label.duration_minute')">
                  <vs-input
                    color="primary"
                    class="w-full"
                    v-model.number="form.durationMinute"
                    type="number"
                    :placeholder="$t('label.duration_minute')"
                    :disabled="$route.meta.disabled"
                    @keypress="keypressmonitor"
                    @paste="onPaste"
                  />
                </FormGroup>
              </div>
            </div>
          </box-header>
        </div>
      </template>
      <!-- tab ssheet 3 (lembar tugas tambahan) -->

      <!-- tabs sheet 2 (lembar tugas) -->
      <template v-slot:sheet2>
        <div class="px-4">
          <box-header class="my-4" :title="$t('label.assignment')">
            <template
              v-slot:action
              v-if="!!assignmentItems.sectionInstruksi.length"
            >
              <vs-button
                v-if="!$route.meta.disabled"
                color="primary"
                class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
                type="filled"
                @click="show"
                >{{
                  $t('label.add_arg', { attribute: $t('label.assignment') })
                }}</vs-button
              >
            </template>

            <div class="w-full" v-if="!assignmentItems.sectionInstruksi.length">
              <no-data
                :title="$t('content.assignment_title')"
                :subtitle="$t('content.assignment_subtitle')"
              >
                <template v-slot:icon>
                  <img
                    src="@/assets/images/ic-empty.svg"
                    class="m-4"
                    alt="BPI LOGO"
                  />
                </template>
                <template v-slot:action>
                  <vs-button
                    v-if="!$route.meta.disabled"
                    type="filled"
                    color="primary"
                    class="w-full md:w-auto text-xs block px-6 font-medium"
                    @click="show"
                    >{{
                      $t('label.add_arg', { attribute: $t('label.assignment') })
                    }}</vs-button
                  >
                </template>
              </no-data>
            </div>

            <div
              class="w-full flex flex-wrap pt-4"
              v-if="!!assignmentItems.sectionInstruksi.length"
            >
              <div
                class="w-full flex flex-wrap"
                :key="index"
                v-for="(item, index) in assignmentItems.sectionInstruksi"
              >
                <div class="w-full lg:w-1/2 px-2">
                  <FormGroup :name="$t('label.date')">
                    <vs-input
                      color="primary"
                      class="w-full"
                      v-model="
                        assignmentItems.sectionInstruksi[index].isiInstruksi
                          .tanggal
                      "
                      :disabled="true"
                    />
                  </FormGroup>
                </div>

                <div class="w-full lg:w-1/2 px-2 flex items-center">
                  <div class="flex items-center">
                    <vs-button
                      color="warning"
                      type="flat"
                      icon="edit"
                      @click="getAssignment(index)"
                    />
                    <vs-button
                      v-if="!$route.meta.disabled"
                      color="danger"
                      type="flat"
                      icon="clear"
                      @click="removeAssignment(index)"
                    />
                  </div>
                </div>
              </div>

              <vs-divider position="left">
                <div class="font-medium text-sm">
                  {{
                    $t('content.inbox_message_total', {
                      attribute: assignmentItems.sectionInstruksi.length
                    })
                  }}
                </div>
              </vs-divider>
            </div>
          </box-header>
        </div>
      </template>
    </simulation>

    <!-- inbox pop up -->
    <assignment-pop-up
      :showPopUp="showPopUp"
      :data="assignment"
      @closed="reset"
      @added="addAssignment"
    />
  </div>
</template>

<script>
import Simulation from '@/components/materi/assessment_center/Simulation';
import {
  emptyAssignment,
  emptyScheduling,
  scheduling,
  simulationType
} from '@/components/materi/assessment_center/simulationItems';
import { cloneDeep, findIndex } from 'lodash';
import { inputNumberMixin } from '@/mixins/inputNumber';

// date picker
import DatePicker from 'vue2-datepicker';
import '@/assets/css/datepicker-custom.scss';

import BoxHeader from '@/components/base/BoxHeader';
import Editor from '@/components/base/Editor';
import FormGroup from '@/components/base/FormGroup';
import NoData from '@/components/base/NoData';

import AssignmentPopUp from '@/components/materi/assessment_center/AssignmentPopUp';

export default {
  name: 'scheduling',
  components: {
    AssignmentPopUp,
    BoxHeader,
    DatePicker,
    Editor,
    FormGroup,
    NoData,
    Simulation
  },

  mixins: [inputNumberMixin],

  created() {
    this.assignment = null;

    if (this.$route.params.id) {
      this.fetchDetail();
      this.edit = true;
    } else {
      this.items = cloneDeep(scheduling);
    }
  },

  data: () => ({
    items: null,
    form: {
      name: '',
      duration: {
        startDate: '',
        endDate: ''
      },
      assignment: '',
      durationMinute: ''
    },
    listName: [],
    scheduleItems: {
      jenisInstruksi: simulationType.lembarJadwal.code,
      durasi: null,
      sectionInstruksi: []
    },
    assignmentAdditionalItems: {
      jenisInstruksi: simulationType.lembarTambahan.code,
      durasi: null,
      sectionInstruksi: []
    },
    assignmentItems: {
      jenisInstruksi: simulationType.lembarTugas.code,
      durasi: null,
      sectionInstruksi: []
    },
    assignment: null,
    index: null,
    edit: false,
    showPopUp: false,
    data: null
  }),

  methods: {
    changeReview(status) {
      let items = this.data[status];

      items.targetJobName = items.targetJob.targetJobName;

      this.scheduleItems =
        items.soal.instruksi[
          this.getIndex(items.soal.instruksi, simulationType.lembarJadwal.code)
        ];
      this.assignmentItems =
        items.soal.instruksi[
          this.getIndex(items.soal.instruksi, simulationType.lembarTugas.code)
        ];
      this.assignmentAdditionalItems =
        items.soal.instruksi[
          this.getIndex(
            items.soal.instruksi,
            simulationType.lembarTambahan.code
          )
        ];

      this.form = {
        name: '',
        duration: {
          startDate: this.scheduleItems.sectionInstruksi[0].isiInstruksi
            .periodeAwal,
          endDate: this.scheduleItems.sectionInstruksi[0].isiInstruksi
            .periodeAkhir
        },
        duration1: this.scheduleItems.durasi,
        duration2: this.assignmentItems.durasi,
        duration3: this.assignmentAdditionalItems.durasi,
        assignment: this.assignmentAdditionalItems.sectionInstruksi[0]
          .contentInstruksi,
        durationMinute: this.assignmentAdditionalItems.sectionInstruksi[0]
          .isiInstruksi.durasiTambahan
      };

      // list of name
      this.listName = JSON.parse(
        this.scheduleItems.sectionInstruksi[0].contentInstruksi
      );

      items.soal.instruksi.splice(
        this.getIndex(items.soal.instruksi, simulationType.lembarJadwal.code),
        1
      );

      items.soal.instruksi.splice(
        this.getIndex(items.soal.instruksi, simulationType.lembarTugas.code),
        1
      );

      items.soal.instruksi.splice(
        this.getIndex(items.soal.instruksi, simulationType.lembarTambahan.code),
        1
      );

      this.items = items;
    },

    fetchReview() {
      this.$store
        .dispatch('scheduling/fetchReview', {
          id: this.$route.params.id,
          version: this.$route.params.version
        })
        .then((response) => {
          this.data = response;
          this.changeReview('before');
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    show() {
      this.index = null;
      this.showPopUp = true;
    },

    reset(value) {
      this.showPopUp = value;
    },

    addName() {
      this.listName.push({
        nomor: null,
        name: this.form.name
      });

      this.form.name = null;
    },

    removeName(index) {
      this.listName.splice(index, 1);
    },

    addAssignment(value) {
      let newData = cloneDeep(emptyScheduling);

      newData.isiInstruksi.tanggal = value.date;
      newData.isiInstruksi.jumlahOrang = value.total;
      newData.namaInstruksi = value.body;
      newData.isiInstruksi.durasiTambahan = Number(value.additional);
      newData.contentInstruksi = value.bodyAdditional;

      if (this.index !== null) {
        this.assignmentItems.sectionInstruksi[this.index] = newData;
      } else {
        this.assignment = cloneDeep(emptyAssignment);
        this.assignmentItems.sectionInstruksi.push(newData);
      }

      this.showPopUp = false;
    },

    removeAssignment(index) {
      this.assignmentItems.sectionInstruksi.splice(index, 1);

      if (this.assignmentItems.sectionInstruksi.length === 0) {
        this.assignmentItems.sectionInstruksi = [];
      }
    },

    getAssignment(index) {
      this.index = index;
      this.assignment = this.assignmentItems.sectionInstruksi[index];

      this.assignment = {
        date: this.assignment.isiInstruksi.tanggal,
        total: this.assignment.isiInstruksi.jumlahOrang,
        body: this.assignment.namaInstruksi,
        additional: this.assignment.isiInstruksi.durasiTambahan,
        bodyAdditional: this.assignment.contentInstruksi
      };

      this.showPopUp = true;
    },

    getIndex(response, code) {
      return findIndex(response, {
        jenisInstruksi: code
      });
    },

    fetchDetail() {
      this.$store
        .dispatch('scheduling/fetchDetail', {
          id: this.$route.params.id,
          version: this.$route.params.version
        })
        .then((response) => {
          response.targetJobName = response.targetJob.targetJobName;

          this.scheduleItems =
            response.soal.instruksi[
              this.getIndex(
                response.soal.instruksi,
                simulationType.lembarJadwal.code
              )
            ];
          this.assignmentItems =
            response.soal.instruksi[
              this.getIndex(
                response.soal.instruksi,
                simulationType.lembarTugas.code
              )
            ];
          this.assignmentAdditionalItems =
            response.soal.instruksi[
              this.getIndex(
                response.soal.instruksi,
                simulationType.lembarTambahan.code
              )
            ];

          this.form = {
            name: '',
            duration: {
              startDate: this.scheduleItems.sectionInstruksi[0].isiInstruksi
                .periodeAwal,
              endDate: this.scheduleItems.sectionInstruksi[0].isiInstruksi
                .periodeAkhir
            },
            assignment: this.assignmentAdditionalItems.sectionInstruksi[0]
              .contentInstruksi,
            durationMinute: this.assignmentAdditionalItems.sectionInstruksi[0]
              .isiInstruksi.durasiTambahan
          };

          // list of name
          this.listName = JSON.parse(
            this.scheduleItems.sectionInstruksi[0].contentInstruksi
          );

          response.soal.instruksi.splice(
            this.getIndex(
              response.soal.instruksi,
              simulationType.lembarJadwal.code
            ),
            1
          );

          response.soal.instruksi.splice(
            this.getIndex(
              response.soal.instruksi,
              simulationType.lembarTugas.code
            ),
            1
          );

          response.soal.instruksi.splice(
            this.getIndex(
              response.soal.instruksi,
              simulationType.lembarTambahan.code
            ),
            1
          );

          this.items = response;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    submit(value) {
      // initial to submit process
      let payload = {};
      let storeAction = 'scheduling/fetchSave';

      payload.data = JSON.parse(JSON.stringify(value));

      if (this.edit) {
        payload['id'] = this.$route.params.id;
        payload['version'] = this.$route.params.version;
        storeAction = 'scheduling/fetchUpdate';
      }

      /* ============ mapping ============ */
      this.scheduleItems.durasi = this.form.duration1;
      this.assignmentItems.durasi = this.form.duration2;
      this.assignmentAdditionalItems.durasi = this.form.duration3;

      // scheduling
      this.scheduleItems.sectionInstruksi[0] = cloneDeep(emptyScheduling);
      this.scheduleItems.sectionInstruksi[0].isiInstruksi.periodeAwal = this.form.duration.startDate;
      this.scheduleItems.sectionInstruksi[0].isiInstruksi.periodeAkhir = this.form.duration.endDate;
      this.scheduleItems.sectionInstruksi[0].contentInstruksi = JSON.stringify(
        this.listName
      );

      // additional assignments
      this.assignmentAdditionalItems.sectionInstruksi[0] = cloneDeep(
        emptyScheduling
      );
      this.assignmentAdditionalItems.sectionInstruksi[0].contentInstruksi = this.form.assignment;
      this.assignmentAdditionalItems.sectionInstruksi[0].isiInstruksi.durasiTambahan = this.form.durationMinute;

      payload.data.soal.instruksi.push(this.scheduleItems);
      payload.data.soal.instruksi.push(this.assignmentItems);
      payload.data.soal.instruksi.push(this.assignmentAdditionalItems);
      /* ============ mapping ============ */

      this.$store
        .dispatch(storeAction, payload)
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.edit
              ? this.$t('content.update_message')
              : this.$t('content.create_message')
          });
          this.$router.push({ name: 'ManageScheduling' });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {});
    },

    checkDate(date, label) {
      let currentYear = new Date().getFullYear();
      let prevDate = `${currentYear - 1}-12-31`;

      if (label == 'end' && this.form.duration.startDate) {
        let day = this.form.duration.startDate.split('/')[0];
        let month = this.form.duration.startDate.split('/')[1];
        prevDate = `${currentYear}-${month}-${day}`;
      }

      return (
        date <= new Date(new Date(prevDate).setHours(0, 0, 0, 0)) ||
        date >=
          new Date(new Date(`${currentYear + 1}-01-01`).setHours(0, 0, 0, 0))
      );
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ th {
  font-weight: 500 !important;
}

/deep/ td {
  font-size: 12px;
}

/deep/ thead tr {
  background-color: #daeafb !important;
  font-weight: normal !important;
}

/deep/ tr:nth-child(even) {
  background-color: #f5faff;
}

/deep/ tbody td {
  color: #6f6f6f;
}
</style>
