<template>
  <div id="create-edit-project">
    <!-- Buat Proyek -->
    <BoxHeader title="Buat Proyek">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="$t('label.name_arg', { attribute: $t('label.project') })"
            :validator="$v.form.namaProyek"
          >
            <vs-input
              color="primary"
              class="w-full field-required"
              v-model.trim="form.namaProyek"
              :disabled="isLoading"
              :danger="$v.form.namaProyek.error"
              :label="$t('label.name_arg', { attribute: $t('label.project') })"
              :placeholder="
                $t('placeholder.name', { attribute: $t('label.project') })
              "
            />
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="$t('label.assessment_date')"
            :validator="$v.form.tanggalAssessment"
          >
            <date-picker
              v-model="form.tanggalAssessment"
              :clearable="false"
              prefix-class="xmx"
              valueType="DD/MM/YYYY"
            >
              <template v-slot:input>
                <vs-input
                  color="primary"
                  class="w-full field-required"
                  icon="today"
                  :value="form.tanggalAssessment"
                  :danger="$v.form.tanggalAssessment.error"
                  :disabled="isLoading"
                  :label="$t('label.assessment_date')"
                  :readonly="true"
                  placeholder="DD/MM/YYYY"
                />
              </template>
              <template v-slot:icon-calendar>
                <span></span>
              </template>
            </date-picker>
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="$t('label.company')"
            :validator="$v.form.perusahaanId"
          >
            <vs-select
              autocomplete
              v-model="form.perusahaanId"
              color="primary"
              class="w-full field-required"
              :noData="$t('content.no_data_text')"
              :disabled="isLoading"
              :danger="$v.form.perusahaanId.error"
              :label="$t('label.company')"
              :placeholder="$t('placeholder.company', {})"
            >
              <vs-select-item
                :key="index"
                :value="item.perusahaanId"
                :text="item.namaPerusahaan"
                v-for="(item, index) in perusahaanList"
              />
            </vs-select>
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="$t('label.target_job')"
            :validator="$v.form.targetJobId"
          >
            <vs-select
              autocomplete
              v-model="form.targetJobId"
              color="primary"
              class="w-full field-required"
              :noData="$t('content.no_data_text')"
              :disabled="targetJobList <= 0"
              :danger="$v.form.targetJobId.error"
              :label="$t('label.target_job')"
              :placeholder="
                $t('placeholder.target_job', {
                  attribute: $t('label.target_job')
                })
              "
            >
              <vs-select-item
                :key="index"
                :value="item.targetJobId"
                :text="item.targetJobName"
                v-for="(item, index) in targetJobList"
              />
            </vs-select>
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="$t('label.competency_dictionary')"
            :validator="$v.form.kamusKompetensiId"
          >
            <vs-select
              autocomplete
              multiple
              v-model="form.kamusKompetensiId"
              color="primary"
              class="w-full field-required"
              :noData="$t('content.no_data_text')"
              :disabled="kamusKompetensiList <= 0"
              :danger="$v.form.kamusKompetensiId.error"
              :label="$t('label.competency_dictionary')"
              :placeholder="
                $t('placeholder.select_general', {
                  attribute: $t('label.competency_dictionary')
                })
              "
            >
              <vs-select-item
                :key="index"
                :value="item.kamusKompetensiId"
                :text="item.namaKamusKompetensi"
                v-for="(item, index) in kamusKompetensiList"
              />
            </vs-select>
          </FormGroup>
        </div>
      </div>
      <div class="h-6"></div>
    </BoxHeader>
    <!-- End Buat Proyek -->

    <div class="h-6"></div>

    <!-- Data Asesi -->
    <BoxHeader
      :title="$t('label.data_arg', { attribute: $t('label.participant') })"
    >
      <!-- buat kelompok -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2 px-2">
          <div class="flex flex-wrap">
            <div class="w-full lg:w-1/2 px-2">
              <FormGroup
                :name="$t('label.name_arg', { attribute: $t('label.project') })"
              >
                <vs-input
                  color="primary"
                  class="w-full field-required"
                  v-model.trim="namaKelompok"
                  :disabled="isLoading"
                  :label="
                    $t('label.name_arg', { attribute: $t('label.group') })
                  "
                  :placeholder="
                    $t('placeholder.name', { attribute: $t('label.group') })
                  "
                />
              </FormGroup>
            </div>
            <div class="w-full lg:w-1/3 px-2 pt-10">
              <vs-button
                class="text-xs px-4 font-medium w-full vs-con-loading__container"
                color="primary"
                type="filled"
                ref="loadingBtn"
                :disabled="namaKelompok === ''"
                @click="addKelompok()"
              >
                {{ $t('label.create_arg', { attribute: $t('label.group') }) }}
              </vs-button>
            </div>
          </div>
        </div>
      </div>

      <!-- daftar kelompok -->
      <div class="flex flex-wrap pt-8">
        <div class="w-full lg:w-1/2 px-2">
          <div class="flex flex-wrap">
            <div class="w-full lg:w-1/3 px-2">
              <div class="vs-input--label">
                {{ $t('label.list_arg', { attribute: $t('label.group') }) }}
              </div>
            </div>
            <div class="w-full lg:w-1/2 pl-2">
              <div class="flex float-right">
                <span class="vs-input--label">
                  {{ $t('label.delete') + ' ' + $t('label.group') }}
                </span>
                <!-- hapus kelompok -->
                <vs-button
                  class="ml-2 -mt-1 p-0"
                  color="danger"
                  type="flat"
                  icon="clear"
                  v-tooltip="
                    $t('label.delete_arg', {
                      attribute: 'Kelompok'
                    })
                  "
                  :disabled="daftarKelompok.length < 1"
                  @click="deleteKelompok()"
                ></vs-button>
              </div>
            </div>
          </div>
          <div
            class="wrap-list flex items-center border border-solid border-gray-400 mr-24 mt-4 ml-3 rounded font-montserrat text-xs text-label-color"
          >
            <!-- daftar kelompok available -->
            <div class="w-full h-full rounded" v-if="daftarKelompok.length > 0">
              <div
                class="flex py-3 px-2 odd:bg-list-background"
                v-for="(item, itemIndex) in daftarKelompok"
                :key="itemIndex"
              >
                <vs-checkbox
                  v-model="checkboxKelompok"
                  :vs-value="item"
                ></vs-checkbox>
                <span> {{ item }} </span>
              </div>
            </div>
            <!-- daftar kelompok not available -->
            <div class="text-xs w-full text-center" v-else>
              <p class="font-semibold pb-1">
                Belum Ada Daftar Kelompok
              </p>
              <p>
                Silahkan buat kelompok terlebih dahulu.
              </p>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-2">
          <vs-input
            icon="search"
            class="w-full"
            :placeholder="
              $t('label.search') +
                ' ' +
                $t('label.name_arg', { attribute: $t('label.participant') })
            "
            v-model="searchAsesi"
          />
          <div
            class="wrap-list flex items-center border border-solid border-gray-400 font-montserrat text-xs text-label-color mt-3 rounded"
          >
            <div
              class="w-full h-full rounded"
              v-if="filterDataAsesi.length >= 1"
            >
              <div
                class="flex py-3 px-2 odd:bg-list-background"
                v-for="(item, itemIndex) in filterDataAsesi"
                :key="itemIndex"
              >
                <vs-checkbox
                  v-model="checkboxPeserta"
                  :vs-value="item.pesertaId"
                ></vs-checkbox>
                <span> {{ item.pesertaName }} </span>
              </div>
            </div>
            <div class="text-xs w-full text-center" v-else>
              <p class="font-semibold pb-1">
                Data Asesi Tidak Ditemukan
              </p>
            </div>
          </div>
          <div class="pt-5">
            <div class="font-montserrat text-xs text-label-color pb-4">
              Tambahkan {{ $t('label.participant') }} kedalam
              {{ $t('label.group') }}
            </div>
            <vs-button
              class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
              color="primary"
              type="filled"
              ref="loadingBtn"
              :disabled="isDisabledAsesi"
              @click="addAsesiToKelompok()"
            >
              Tambahkan
            </vs-button>
          </div>
        </div>
      </div>

      <div class="h-6"></div>

      <div v-if="kelompokAsesi.length > 0">
        <div
          class="wrap-table-group mb-6"
          v-for="(data, dataIndex) in kelompokAsesi"
          :key="dataIndex"
        >
          <div
            class="font-montserrat text-xs text-label-color font-semibold pb-3"
          >
            {{ $t('label.group') }} {{ data.namaKelompok }}
            <span class="text-red-500">*</span>
          </div>
          <div>
            <vs-table :data="data.peserta">
              <template slot="thead">
                <vs-th>
                  {{ $t('label.name') }}
                </vs-th>
                <vs-th>
                  {{ $t('label.department') }}
                </vs-th>
                <vs-th>
                  {{ $t('label.information', {}) }}
                </vs-th>
                <vs-th></vs-th>
              </template>

              <template slot-scope="{ data }">
                <vs-tr
                  :key="indextr"
                  class="odd:bg-list-background"
                  v-for="(tr, indextr) in data"
                >
                  <vs-td :data="data[indextr].pesertaName">
                    {{ data[indextr].pesertaName }}
                  </vs-td>

                  <vs-td :data="data[indextr].jabatan">
                    {{ data[indextr].jabatan }}
                  </vs-td>

                  <vs-td :data="data[indextr].keterangan">
                    {{ data[indextr].keterangan }}
                  </vs-td>

                  <vs-td>
                    <vs-button
                      class="ml-2 -mt-1 p-0"
                      color="danger"
                      type="flat"
                      icon="clear"
                      v-tooltip="
                        $t('label.delete_arg', {
                          attribute: 'Asesi'
                        })
                      "
                      @click="
                        deleteAsesiToKelompok(dataIndex, indextr, data[indextr])
                      "
                    ></vs-button>
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
          </div>
        </div>
      </div>
      <div class="h-6"></div>
    </BoxHeader>
    <!-- End Data Asesi -->

    <div class="h-6"></div>

    <!-- Data Asesor -->
    <BoxHeader
      :title="$t('label.data_arg', { attribute: $t('label.assessor') })"
    >
      <div class="flex flex-wrap pt-8">
        <div class="w-full lg:w-1/2 px-2">
          <div class="vs-input--label mr-24 ml-3 padding-0">
            <div class="flex py-4 px-4 bg-blue-200 rounded rounded-b-none">
              {{ $t('label.name_arg', { attribute: $t('label.group') }) }}
            </div>
          </div>
          <div
            class="wrap-list flex items-center border border-solid border-gray-400 font-montserrat text-xs text-label-color mr-24 ml-3 rounded rounded-t-none"
          >
            <!-- data kelompok asesi available -->
            <div class="w-full h-full rounded" v-if="kelompokAsesor.length > 0">
              <div
                class="flex py-3 px-2 odd:bg-list-background"
                v-for="(data, dataIndex) in kelompokAsesor"
                :key="dataIndex"
              >
                <vs-checkbox
                  v-model="checkboxKelompokAssessor"
                  :vs-value="data.namaKelompok"
                ></vs-checkbox>
                <span> {{ data.namaKelompok }} </span>
              </div>
            </div>
            <!-- data kelompok asesi not available -->
            <div class="text-xs w-full text-center" v-else>
              <p class="font-semibold pb-1">
                Belum Ada Daftar Kelompok Asesi
              </p>
              <p>
                Silahkan tambahkan asesi kedalam kelompok
              </p>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-2">
          <vs-input
            icon="search"
            class="w-full"
            :placeholder="
              $t('label.search') +
                ' ' +
                $t('label.name_arg', { attribute: $t('label.assessor') })
            "
            v-model="searchAssessor"
          />
          <div
            class="wrap-list flex items-center border border-solid border-gray-400 font-montserrat text-xs text-label-color mt-3 rounded"
          >
            <div
              class="w-full h-full rounded"
              v-if="filterDataAssessor.length >= 1"
            >
              <div
                class="flex py-3 px-2 odd:bg-list-background"
                v-for="(data, dataIndex) in filterDataAssessor"
                :key="dataIndex"
              >
                <vs-checkbox
                  v-model="checkboxAssessor"
                  :vs-value="data.assessorId"
                ></vs-checkbox>
                <span> {{ data.nama }} </span>
              </div>
            </div>
            <div class="text-xs w-full text-center" v-else>
              <p class="font-semibold pb-1">
                Data Assessor Tidak Ditemukan
              </p>
            </div>
          </div>
          <div class="pt-5">
            <div class="font-montserrat text-xs text-label-color pb-4">
              Tambahkan {{ $t('label.group') }} kedalam
              {{ $t('label.assessor') }}
            </div>
            <vs-button
              class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
              color="primary"
              type="filled"
              ref="loadingBtn"
              :disabled="isDisabledAsesor"
              @click="addKelompokToAssessor()"
            >
              Tambahkan
            </vs-button>
          </div>
        </div>
      </div>

      <div class="h-6"></div>
      <div v-if="dataAssessment.length > 0">
        <div
          class="wrap-table-group mb-6"
          v-for="(data, dataIndex) in dataAssessment"
          :key="dataIndex"
        >
          <div
            class="font-montserrat text-xs text-label-color font-semibold pb-3"
          >
            {{ $t('label.group') }} {{ data.namaKelompok }}
            <span class="text-red-500">*</span>
          </div>
          <div>
            <vs-table :data="data.assessor">
              <template slot="thead">
                <vs-th>
                  {{ $t('label.name') }}
                </vs-th>
                <vs-th>
                  {{ $t('label.email') }}
                </vs-th>
                <vs-th>
                  {{ $t('label.grade', {}) }}
                </vs-th>
                <vs-th></vs-th>
              </template>

              <template slot-scope="{ data }">
                <vs-tr
                  :key="indextr"
                  class="odd:bg-list-background"
                  v-for="(tr, indextr) in data"
                >
                  <vs-td :data="data[indextr].nama">
                    {{ data[indextr].nama }}
                  </vs-td>

                  <vs-td :data="data[indextr].email">
                    {{ data[indextr].email }}
                  </vs-td>

                  <vs-td :data="data[indextr].grade">
                    {{ data[indextr].grade }}
                  </vs-td>

                  <vs-td>
                    <vs-button
                      class="ml-2 -mt-1 p-0"
                      color="danger"
                      type="flat"
                      icon="clear"
                      v-tooltip="
                        $t('label.delete_arg', {
                          attribute: 'Assessor'
                        })
                      "
                      @click="
                        deleteKelompokToAssessor(
                          dataIndex,
                          indextr,
                          data[indextr]
                        )
                      "
                    ></vs-button>
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
          </div>
        </div>
      </div>
    </BoxHeader>
    <!-- End Data Asesor -->

    <div class="h-6"></div>

    <!-- Jadwal Kegiatan -->
    <BoxHeader
      :title="$t('label.schedule_arg', { attribute: $t('label.activity') })"
    >
      <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2 px-2" v-if="!moreThenOneDay">
          <FormGroup :name="$t('label.assessment_date')">
            <date-picker
              v-model="tanggalKegiatan"
              :clearable="false"
              prefix-class="xmx"
              valueType="DD/MM/YYYY"
              :disabled-date="
                (date) =>
                  date <
                  new Date(
                    form.tanggalAssessment
                      .split('/')
                      .reverse()
                      .join('/')
                  )
              "
            >
              <template v-slot:input>
                <vs-input
                  color="primary"
                  class="w-full"
                  icon="today"
                  :value="tanggalKegiatan"
                  :disabled="isLoading"
                  :label="$t('label.date') + ' ' + $t('label.activity')"
                  placeholder="DD/MM/YYYY"
                />
              </template>
              <template v-slot:icon-calendar>
                <span></span>
              </template>
            </date-picker>
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2" v-if="moreThenOneDay">
          <FormGroup :name="$t('label.start_date_activity')">
            <date-picker
              v-model="tanggalKegiatanMulai"
              :clearable="false"
              prefix-class="xmx"
              valueType="DD/MM/YYYY"
              :disabled-date="
                (date) =>
                  date <
                  new Date(
                    form.tanggalAssessment
                      .split('/')
                      .reverse()
                      .join('/')
                  )
              "
            >
              <template v-slot:input>
                <vs-input
                  color="primary"
                  class="w-full"
                  icon="today"
                  :value="tanggalKegiatanMulai"
                  :disabled="isLoading"
                  :label="$t('label.start_date_activity')"
                  placeholder="DD/MM/YYYY"
                />
              </template>
              <template v-slot:icon-calendar>
                <span></span>
              </template>
            </date-picker>
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <vs-checkbox
            v-model="moreThenOneDay"
            class="font-montserrat text-xs text-label-color pt-12 float-left"
            >Lebih dari satu hari?</vs-checkbox
          >
        </div>

        <div class="w-full lg:w-1/2 px-2" v-if="moreThenOneDay">
          <FormGroup class="mt-0" :name="$t('label.end_date_activity')">
            <date-picker
              v-model="tanggalKegiatanAkhir"
              :clearable="false"
              prefix-class="xmx"
              valueType="DD/MM/YYYY"
              :disabled-date="
                (date) =>
                  date <
                  new Date(
                    tanggalKegiatanMulai
                      .split('/')
                      .reverse()
                      .join('/')
                  )
              "
            >
              <template v-slot:input>
                <vs-input
                  color="primary"
                  class="w-full"
                  icon="today"
                  :value="tanggalKegiatanAkhir"
                  :disabled="isLoading"
                  :label="$t('label.end_date_activity')"
                  placeholder="DD/MM/YYYY"
                />
              </template>
              <template v-slot:icon-calendar>
                <span></span>
              </template>
            </date-picker>
          </FormGroup>
        </div>
      </div>

      <hr class="ml-2 mr-4 mb-3" />
      <div v-if="renderComponent">
        <div
          v-for="(assessment, assessmentIndex) in assessmentList"
          :key="assessmentIndex"
          class="mb-4"
        >
          <div class="w-full px-3 pt-2 text-sm text-label-color mb-3">
            Hari ke-{{ assessmentIndex + 1 }} -
            {{ tanggalAssessmentList[assessmentIndex] }}
          </div>
          <vs-table :data="assessment" class="mx-3">
            <template slot="thead">
              <vs-th>
                Jenis Assessment
              </vs-th>
              <vs-th>
                Template / Simulasi
              </vs-th>
              <vs-th>
                Nama Materi
              </vs-th>
              <vs-th>
                Jam Mulai
              </vs-th>
              <vs-th>
                Jam Selesai
              </vs-th>
              <vs-th>
                <vs-button
                  @click="addAssessment(assessmentIndex)"
                  color="primary"
                  type="flat"
                  icon="add_circle_outline"
                  class="button-plus"
                  v-tooltip="
                    $t('label.add_arg', {
                      attribute: 'Assessment'
                    })
                  "
                ></vs-button>
              </vs-th>
            </template>

            <template slot-scope="{ data }">
              <vs-tr
                :key="indextr"
                class="odd:bg-list-background"
                v-for="(tr, indextr) in data"
              >
                <!-- Jenis Assessment -->
                <vs-td>
                  <FormGroup :name="$t('label.target_job')">
                    <vs-select
                      autocomplete
                      v-model="tr.jenisAssessment"
                      @change="getTemplate($event, assessmentIndex, indextr)"
                      color="primary"
                      class="w-full"
                      :noData="$t('content.no_data_text')"
                      :disabled="isLoading"
                      label=""
                      :placeholder="
                        $t('placeholder.select_general', {
                          attribute: $t('label.type_arg', {
                            attribute: $t('label.assessment')
                          })
                        })
                      "
                    >
                      <vs-select-item
                        :key="index"
                        :value="item.name"
                        :text="item.name"
                        v-for="(item, index) in jenisAssessmentList"
                      />
                    </vs-select>
                  </FormGroup>
                </vs-td>

                <!-- Template / Simulasi -->
                <vs-td>
                  <FormGroup :name="$t('label.template_simulasi')">
                    <vs-select
                      autocomplete
                      v-model="tr.template"
                      @change="getNamaMateri($event, assessmentIndex, indextr)"
                      color="primary"
                      class="w-full"
                      :noData="$t('content.no_data_text')"
                      :disabled="
                        getListAssessment[assessmentIndex][indextr].templateList
                          .length <= 0
                      "
                      label=""
                      :placeholder="
                        $t('placeholder.select_general', {
                          attribute: $t('label.template_simulasi')
                        })
                      "
                    >
                      <div
                        :key="index"
                        v-for="(item, index) in getListAssessment[
                          assessmentIndex
                        ][indextr].templateList"
                      >
                        <vs-select-group :title="item.tipeGroup">
                          <vs-select-item
                            :key="subIndex"
                            :value="item.jenis"
                            :text="item.tipe"
                            v-for="(item, subIndex) in item.soalType"
                          />
                        </vs-select-group>
                      </div>
                    </vs-select>
                  </FormGroup>
                </vs-td>

                <!-- Nama Materi -->
                <vs-td>
                  <FormGroup
                    :name="
                      $t('label.name_arg', { attribute: $t('label.theory') })
                    "
                  >
                    <vs-select
                      autocomplete
                      v-model="tr.soalId"
                      @change="getInstruksi($event, assessmentIndex, indextr)"
                      color="primary"
                      class="w-full"
                      :noData="$t('content.no_data_text')"
                      :disabled="
                        getListAssessment[assessmentIndex][indextr]
                          .namaMateriList.length <= 0
                      "
                      label=""
                      :placeholder="
                        $t('placeholder.select_general', {
                          attribute: $t('label.name_arg', {
                            attribute: $t('label.theory')
                          })
                        })
                      "
                    >
                      <vs-select-item
                        :key="index"
                        :value="item.soalId"
                        :text="item.soalName"
                        v-for="(item, index) in getListAssessment[
                          assessmentIndex
                        ][indextr].namaMateriList"
                      />
                    </vs-select>
                  </FormGroup>
                </vs-td>

                <!-- Jam Mulai -->
                <vs-td>
                  <FormGroup :name="$t('label.time')">
                    <date-picker
                      v-model="tr.jamMulai"
                      prefix-class="xmx"
                      valueType="HH:mm"
                      type="time"
                      :disabled="!tr.soalId"
                      :default-value="new Date()"
                      @change="resetTime(tr)"
                    >
                      <template v-slot:input>
                        <vs-input
                          color="primary"
                          class="w-full"
                          icon="schedule"
                          :value="tr.jamMulai"
                          :readonly="true"
                          :disabled="!tr.soalId"
                          label=""
                          placeholder="00:00"
                        />
                      </template>
                      <template v-slot:icon-calendar>
                        <span></span>
                      </template>
                    </date-picker>
                  </FormGroup>
                </vs-td>

                <!-- Jam Selesai -->
                <vs-td>
                  <FormGroup :name="$t('label.time')">
                    <date-picker
                      v-model="tr.jamSelesai"
                      prefix-class="xmx"
                      valueType="HH:mm"
                      type="time"
                      :disabled="!tr.jamMulai"
                      :default-value="defaultValue(tr)"
                      :disabled-time="(date) => checkTime(date, tr)"
                    >
                      <template v-slot:input>
                        <vs-input
                          color="primary"
                          class="w-full"
                          icon="schedule"
                          :value="tr.jamSelesai"
                          :readonly="true"
                          :disabled="!tr.jamMulai"
                          label=""
                          placeholder="00:00"
                        />
                      </template>
                      <template v-slot:icon-calendar>
                        <span></span>
                      </template>
                    </date-picker>
                  </FormGroup>
                </vs-td>

                <vs-td>
                  <vs-button
                    v-tooltip="
                      $t('label.delete_arg', {
                        attribute: 'Assessment'
                      })
                    "
                    class="ml-2 -mt-1 p-0"
                    color="danger"
                    type="flat"
                    icon="clear"
                    :disabled="assessment.length <= 1"
                    @click="deleteAssessmentList(assessmentIndex, indextr)"
                  ></vs-button>
                </vs-td>
              </vs-tr>
            </template>
          </vs-table>

          <template v-for="(el, index) in assessment">
            <div
              :key="index"
              v-if="
                el.instruksiPeran &&
                  el.instruksiPeran.length > 0 &&
                  applyRoles.includes(el.template)
              "
              class="w-full p-4"
            >
              <h1 class="text-sm text-label-color font-semibold mb-3">
                {{ el.jenisAssessment }} -
                {{ setTypeSoal(el.template, 'template') }}
              </h1>
              <div
                v-for="(peran, peranIdx) in el.instruksiPeran"
                :key="peranIdx"
                class="w-full flex items-center space-x-4 mb-4"
              >
                <div class="w-1/2 text-sm">{{ peran.namaInstruksi }}</div>
                <div class="w-1/2">
                  <vs-select
                    autocomplete
                    color="primary"
                    class="w-full"
                    v-model="peran.key"
                    @input="setPeran($event, peran)"
                    :noData="$t('content.no_data_text')"
                    :disabled="isLoading"
                    :placeholder="$t('placeholder.asesi_asesor')"
                  >
                    <vs-select-item
                      :key="index"
                      :value="item.key"
                      :text="item.nama"
                      v-for="(item, index) in actors"
                    />
                  </vs-select>
                </div>
              </div>
            </div>
          </template>
        </div>
      </div>
      <div class="h-6"></div>
    </BoxHeader>
    <!-- End Jadwal Kegiatan -->

    <div class="h-6"></div>

    <!-- Jadwal Briefing -->
    <BoxHeader
      :title="$t('label.schedule_arg', { attribute: $t('label.briefing') })"
    >
      <div class="flex flex-wrap">
        <!-- Briefing -->
        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="$t('label.date_arg', { attribute: $t('label.briefing') })"
            :validator="$v.tanggalBriefing"
          >
            <date-picker
              v-model="tanggalBriefing"
              :clearable="false"
              prefix-class="xmx"
              valueType="DD/MM/YYYY"
              :disabled-date="(date) => date > validateBriefing"
            >
              <template v-slot:input>
                <vs-input
                  color="primary"
                  class="w-full"
                  icon="today"
                  :value="tanggalBriefing"
                  :disabled="isLoading"
                  :label="
                    $t('label.date_arg', { attribute: $t('label.briefing') })
                  "
                  :readonly="true"
                  placeholder="DD/MM/YYYY"
                />
              </template>
              <template v-slot:icon-calendar>
                <span></span>
              </template>
            </date-picker>
          </FormGroup>
        </div>
        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="$t('label.time_arg', { attribute: $t('label.briefing') })"
            :validator="$v.jamBriefing"
          >
            <date-picker
              v-model="jamBriefing"
              prefix-class="xmx"
              valueType="HH:mm"
              type="time"
            >
              <template v-slot:input>
                <vs-input
                  color="primary"
                  class="w-full"
                  icon="schedule"
                  :value="jamBriefing"
                  :label="
                    $t('label.time_arg', { attribute: $t('label.briefing') })
                  "
                  :readonly="true"
                  placeholder="HH:mm"
                />
              </template>
              <template v-slot:icon-calendar>
                <span></span>
              </template>
            </date-picker>
          </FormGroup>
        </div>
        <!-- Tanggal Penyerahan Rekap -->
        <div
          class="w-full px-3 pt-2 font-semibold font-montserrat text-sm text-label-color"
        >
          {{
            $t('label.deadline_arg', {
              attribute: $t('label.submission_rekap')
            })
          }}
        </div>
        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="
              $t('label.date_arg', {
                attribute: $t('label.submission_rekap')
              })
            "
            :validator="$v.tanggalPenyerahanRekap"
          >
            <date-picker
              v-model="tanggalPenyerahanRekap"
              :clearable="false"
              prefix-class="xmx"
              valueType="DD/MM/YYYY"
              :disabled-date="
                (date) =>
                  date <
                  new Date(
                    tanggalBriefing
                      .split('/')
                      .reverse()
                      .join('/')
                  )
              "
            >
              <template v-slot:input>
                <vs-input
                  color="primary"
                  class="w-full"
                  icon="today"
                  :value="tanggalPenyerahanRekap"
                  :disabled="isLoading"
                  :label="
                    $t('label.date_arg', {
                      attribute: $t('label.submission_rekap')
                    })
                  "
                  :readonly="true"
                  placeholder="DD/MM/YYYY"
                />
              </template>
              <template v-slot:icon-calendar>
                <span></span>
              </template>
            </date-picker>
          </FormGroup>
        </div>
        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="
              $t('label.time_arg', {
                attribute: $t('label.submission_rekap')
              })
            "
            :validator="$v.jamPenyerahanRekap"
          >
            <date-picker
              v-model="jamPenyerahanRekap"
              prefix-class="xmx"
              valueType="HH:mm"
              type="time"
            >
              <template v-slot:input>
                <vs-input
                  color="primary"
                  class="w-full"
                  icon="schedule"
                  :value="jamPenyerahanRekap"
                  :label="
                    $t('label.time_arg', {
                      attribute: $t('label.submission_rekap')
                    })
                  "
                  :readonly="true"
                  placeholder="HH:mm"
                />
              </template>
              <template v-slot:icon-calendar>
                <span></span>
              </template>
            </date-picker>
          </FormGroup>
        </div>
        <!-- Tanggal Penyerahan Laporan -->
        <div
          class="w-full px-3 pt-2 font-semibold font-montserrat text-sm text-label-color"
        >
          {{
            $t('label.deadline_arg', {
              attribute: $t('label.submission_report')
            })
          }}
        </div>
        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="
              $t('label.date_arg', {
                attribute: $t('label.submission_report')
              })
            "
            :validator="$v.tanggalPenyerahanLaporan"
          >
            <date-picker
              v-model="tanggalPenyerahanLaporan"
              :clearable="false"
              prefix-class="xmx"
              valueType="DD/MM/YYYY"
              :disabled-date="
                (date) =>
                  date <
                  new Date(
                    tanggalPenyerahanRekap
                      .split('/')
                      .reverse()
                      .join('/')
                  )
              "
            >
              <template v-slot:input>
                <vs-input
                  color="primary"
                  class="w-full"
                  icon="today"
                  :value="tanggalPenyerahanLaporan"
                  :disabled="isLoading"
                  :label="
                    $t('label.date_arg', {
                      attribute: $t('label.submission_report')
                    })
                  "
                  :readonly="true"
                  placeholder="DD/MM/YYYY"
                />
              </template>
              <template v-slot:icon-calendar>
                <span></span>
              </template>
            </date-picker>
          </FormGroup>
        </div>
        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="
              $t('label.time_arg', {
                attribute: $t('label.submission_report')
              })
            "
            :validator="$v.jamPenyerahanLaporan"
          >
            <date-picker
              v-model="jamPenyerahanLaporan"
              prefix-class="xmx"
              valueType="HH:mm"
              type="time"
            >
              <template v-slot:input>
                <vs-input
                  color="primary"
                  class="w-full"
                  icon="schedule"
                  :value="jamPenyerahanLaporan"
                  :label="
                    $t('label.time_arg', {
                      attribute: $t('label.submission_report')
                    })
                  "
                  :readonly="true"
                  placeholder="HH:mm"
                />
              </template>
              <template v-slot:icon-calendar>
                <span></span>
              </template>
            </date-picker>
          </FormGroup>
        </div>
      </div>
      <div class="h-6"></div>
    </BoxHeader>
    <!-- End Jadwal Briefing -->
    <div class="h-6"></div>
    <div class="flex justify-end">
      <vs-button
        class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
        color="secondary"
        type="border"
        @click="
          $router.push({
            name: 'MasterProject'
          })
        "
      >
        {{ $t('label.back') }}
      </vs-button>
      <vs-button
        class="text-xs px-8 mx-2 font-medium w-full md:w-auto vs-con-loading__container"
        color="primary"
        type="filled"
        ref="loadingBtn"
        :disabled="isLoading"
        @click="save()"
      >
        {{ $t('label.save') }}
      </vs-button>
    </div>
  </div>
</template>

<script>
// vuex
import { mapGetters } from 'vuex';

// lodash
import { isEmpty } from 'lodash';
import constants from '@/constants';

// mixins
import { loadingMixin } from '@/mixins/loading';
import { setTypeSoalMixin } from '@/mixins/typeSoal';
import {
  required
  // numeric,
  // maxLength,
  // minLength
} from 'vuelidate/lib/validators';
// import { alphabetic } from '@/mixins/validator';

// date picker
import DatePicker from 'vue2-datepicker';
import '@/assets/css/datepicker.scss';

// base
import BoxHeader from '@/components/base/BoxHeader.vue';
import FormGroup from '@/components/base/FormGroup.vue';

export default {
  name: 'CreateEditProject',

  mixins: [loadingMixin, setTypeSoalMixin],

  components: {
    BoxHeader,
    DatePicker,
    FormGroup
  },

  data: () => ({
    edit: false,
    renderComponent: true,
    perusahaanList: [],
    kelompokAsesi: [],
    kelompokAsesor: [],
    targetJobList: [],
    kamusKompetensiList: [],
    form: {
      // buat proyek
      namaProyek: '',
      tanggalAssessment: '',
      perusahaanId: '',
      targetJobId: '',
      kamusKompetensiId: []
    },
    // data asesi
    checkboxKelompok: [],
    checkboxPeserta: [],
    namaKelompok: '',
    daftarKelompok: [],
    searchAsesi: '',
    listKelompok: [],
    pesertaList: [],
    // assessor list
    assessor: [],
    // data asesor
    searchAssessor: '',
    checkboxKelompokAssessor: [],
    checkboxAssessor: [],
    dataAssessment: [],
    // jadwal kegiatan
    tanggalKegiatan: null,
    tanggalKegiatanMulai: '',
    tanggalKegiatanAkhir: '',
    moreThenOneDay: false,
    assessmentList: [],
    getListAssessment: [],
    jenisAssessmentList: [
      {
        name: 'Psychological Assessment'
      },
      {
        name: 'Assessment Center'
      }
    ],
    templateId: '',
    tanggalAssessmentList: [],
    // Jadwal Briefing
    tanggalBriefing: '',
    jamBriefing: '',
    tanggalPenyerahanRekap: '',
    jamPenyerahanRekap: '',
    tanggalPenyerahanLaporan: '',
    jamPenyerahanLaporan: '',
    isLoading: false,
    isDisabledAsesi: true,
    isDisabledAsesor: true,
    counter: 0,
    actors: [],
    applyRoles: constants.APPLY_ROLES,
    roleTypes: [
      {
        name: 'Manajer Keuangan'
      },
      {
        name: 'Manajer Marketing'
      },
      {
        name: 'Manajer Operasional'
      },
      {
        name: 'Manajer Technical'
      }
    ]
  }),

  validations: {
    form: {
      // buat proyek
      namaProyek: {
        required
      },
      tanggalAssessment: {
        required
      },
      perusahaanId: {
        required
      },
      targetJobId: {
        required
      },
      kamusKompetensiId: {
        required
      }
    },
    tanggalBriefing: {
      required
    },
    jamBriefing: {
      required
    },
    tanggalPenyerahanRekap: {
      required
    },
    jamPenyerahanRekap: {
      required
    },
    tanggalPenyerahanLaporan: {
      required
    },
    jamPenyerahanLaporan: {
      required
    }
  },

  watch: {
    // triggered target job
    'form.perusahaanId'() {
      if (this.form.perusahaanId) {
        // reset target jobs
        this.form.targetJobId = '';
        this.targetJobList = [];
        // reset kamus kompetensi
        this.form.kamusKompetensiId = '';
        this.kamusKompetensiList = [];
        this.getTargetJobs(this.form.perusahaanId);
      }
    },

    //triggered kamus kompetensi
    'form.targetJobId'() {
      if (this.form.targetJobId) {
        this.form.kamusKompetensiId = '';
        this.kamusKompetensiList = [];
        this.fetchKamusKompetensi(this.form.targetJobId);
        this.getAsesi();
      }
    },

    'form.tanggalAssessment'() {
      this.getAsesi();
      this.getAsesor();
    },

    // kelompok asesi
    kelompokAsesi(value) {
      this.kelompokAsesor = value;
      this.setActors();
    },

    dataAssessment() {
      this.setActors();
    },

    actors() {
      if (!this.assessmentList) return;

      this.assessmentList.map((item) => {
        item.map((subitem) => {
          subitem.instruksiPeran.map((ip) => {
            let exists = this.actors.find((obj) => {
              return obj.key == ip.key;
            });

            if (!exists) {
              ip.key = '';
              ip.assessorId = '';
              ip.pesertaId = '';
            }
          });
        });
      });
    },

    // make checkbox like radio button
    checkboxKelompok(value) {
      if (value.length > 1) {
        value.splice(0, 1);
      }
      this.disabledAddAsesiToKelompok();
    },

    // checkbox peserta
    checkboxPeserta() {
      this.disabledAddAsesiToKelompok();
    },

    // checkbox assessor
    checkboxAssessor() {
      this.disabledAddKelompokToAssessor();
    },

    // checkbox kelompok assesor
    checkboxKelompokAssessor(value) {
      if (value.length > 1) {
        value.splice(0, 1);
      }

      this.disabledAddKelompokToAssessor();
    },

    // tanggal kegiatan
    tanggalKegiatan(value) {
      if (value) {
        this.tanggalAssessmentList = [];
        this.tanggalAssessmentList.push(this.tanggalKegiatan);

        let assessmentList = [];
        let getListAssessment = [];
        // assessment
        assessmentList.push([]);
        assessmentList[0].push({
          proyekSoalId: null,
          jenisAssessment: '',
          template: null,
          soalId: '',
          soalName: '',
          durasi: '',
          jamMulai: '',
          jamSelesai: '',
          tanggalAssessment: this.tanggalKegiatan,
          instruksiPeran: []
        });

        // get list assessment (template and materi list)
        getListAssessment.push([]);
        getListAssessment[0].push({
          namaMateriList: [],
          templateList: []
        });

        this.assessmentList = assessmentList;
        this.getListAssessment = getListAssessment;
      }

      if (!value) {
        this.tanggalAssessmentList = [];
      }
    },

    // tanggal kegiatan mulai
    tanggalKegiatanMulai() {
      this.getEachDates(this.tanggalKegiatanMulai, this.tanggalKegiatanAkhir);
    },

    // tanggal kegiatan akhir
    tanggalKegiatanAkhir() {
      this.getEachDates(this.tanggalKegiatanMulai, this.tanggalKegiatanAkhir);
    },

    moreThenOneDay() {
      this.tanggalKegiatan = '';
      this.tanggalKegiatanMulai = '';
      this.tanggalKegiatanAkhir = '';
      this.tanggalAssessmentList = [];
      this.assessmentList = [];
    }
  },

  computed: {
    ...mapGetters({
      roles: 'auth/currentRoles'
    }),

    // validate tanggal briefing
    validateBriefing() {
      const date = this.form.tanggalAssessment
        .split('/')
        .reverse()
        .join('/');

      return new Date(date).setDate(new Date(date).getDate() - 1);
    },

    // validasi tanggal kegiatan
    validateTglKegiatan() {
      return new Date(this.tanggalKegiatanMulai);
    },

    // search data asesi
    filterDataAsesi() {
      const keyword = this.searchAsesi.toLowerCase();
      return this.pesertaList.filter(function(pesertaList) {
        return (
          (pesertaList.pesertaName + '').toLowerCase().includes(keyword) ===
          true
        );
      });
    },

    // search data asesor
    filterDataAssessor() {
      const keyword = this.searchAssessor.toLowerCase();
      return this.assessor.filter(function(assessor) {
        return (assessor.nama + '').toLowerCase().includes(keyword) === true;
      });
    }
  },

  created() {
    if (this.$route.params.id) {
      this.edit = true;
      // get detail proyek
      this.detailProjectForUpdate();
    } else {
      this.edit = false;
    }

    this.getPerusahaan();
  },

  methods: {
    // get detail proyek
    detailProjectForUpdate() {
      this.$store
        .dispatch('project/detailProjectForUpdate', {
          id: this.$route.params.id
        })
        .then((respone) => {
          // get kamus kompetensi
          let kamusKompetensiId = [];
          respone.kamusKompetensi.forEach((data) => {
            kamusKompetensiId.push(data.kamusKompetensiId);
          });

          // get kelompok asesi dan asesor
          let daftarKelompok = [];
          let kelompokAsesi = [];
          let dataAssesment = [];
          respone.dataAssesment.forEach((data, dataIndex) => {
            // daftar kelompok
            daftarKelompok.push(data.namaKelompok);
            // table kelompok asesi
            kelompokAsesi.push({
              namaKelompok: data.namaKelompok,
              peserta: []
            });

            data.peserta.forEach((peserta) => {
              kelompokAsesi[dataIndex].peserta.push({
                jabatan: peserta.jabatan,
                keterangan: '',
                pesertaId: peserta.pesertaId,
                proyekPesertaId: peserta.proyekPesertaId,
                pesertaName: peserta.namaPeserta
              });
            });
            // end table kelompok asesi

            // table kelompok asesor
            dataAssesment.push({
              namaKelompok: data.namaKelompok,
              peserta: [],
              assessor: []
            });

            data.peserta.forEach((peserta) => {
              dataAssesment[dataIndex].peserta.push({
                jabatan: peserta.jabatan,
                keterangan: '',
                pesertaId: peserta.pesertaId,
                proyekPesertaId: peserta.proyekPesertaId,
                pesertaName: peserta.namaPeserta
              });
            });

            data.assesor.forEach((assessor) => {
              dataAssesment[dataIndex].assessor.push({
                proyekAsessorId: assessor.proyekAsessorId,
                nama: assessor.assesorName,
                assessorId: assessor.assessorId,
                email: '',
                grade: ''
              });
            });
            // end table kelompok asesor
          });

          //  get tanggal kegiatan
          let tanggalKegiatanMulai =
            respone.jadwaKegiatan[0][0].tanggalAssessment;
          let tanggalKegiatanAkhir =
            respone.jadwaKegiatan[respone.jadwaKegiatan.length - 1][0]
              .tanggalAssessment;

          // form title buat proyek
          this.form.namaProyek = respone.namaProyek;
          this.form.tanggalAssessment = respone.tanggalAssesment;
          this.form.perusahaanId = respone.perusahaanIdNameDto.perusahaanId;
          // dikasih timeout karena tabrakan sama watchnya perusahaan
          setTimeout(() => {
            this.form.targetJobId = respone.targetJob.targetJobId;
          }, 200);
          // dikasih timeout karena tabrakan sama watchnya targetjob
          setTimeout(() => {
            this.form.kamusKompetensiId = kamusKompetensiId;
          }, 300);

          // kelompok asesi
          this.daftarKelompok = daftarKelompok;
          this.kelompokAsesi = kelompokAsesi;
          // kelompok asesor
          this.dataAssessment = dataAssesment;
          // tanggal kegiatan
          if (respone.jadwaKegiatan.length > 1) {
            this.moreThenOneDay = true;
          }
          setTimeout(() => {
            // jika proyek lebih dari 1 hari
            if (respone.jadwaKegiatan.length > 1) {
              this.tanggalKegiatanMulai = tanggalKegiatanMulai;
              this.tanggalKegiatanAkhir = tanggalKegiatanAkhir;
            } else {
              this.tanggalKegiatan = tanggalKegiatanMulai;
            }
            setTimeout(() => {
              this.getListAssessment = this.setGetListAssessment(
                respone.jadwaKegiatan,
                respone.targetJob.targetJobName
              );

              let jadwalKegiatan = [];
              respone.jadwaKegiatan.map((item) => {
                let itemDetails = [];

                item.map((itemDetail) => {
                  let customJadwal = itemDetail;
                  let customInstruksiPeran = [];
                  itemDetail.instruksiPeran.map((peran) => {
                    let customPeran = peran;

                    let key;
                    if (peran.pesertaId) {
                      key = `P${peran.pesertaId}`;
                    }

                    if (peran.assessorId) {
                      key = `A${peran.assessorId}`;
                    }

                    customPeran['key'] = key;
                    customInstruksiPeran.push(customPeran);
                  });

                  customJadwal.instruksiPeran = customInstruksiPeran;
                  itemDetails.push(customJadwal);
                });

                jadwalKegiatan.push(itemDetails);
              });

              this.assessmentList = jadwalKegiatan;
              this.forceRerender();
            }, 500);
          }, 500);
          // Jadwal Briefing
          this.tanggalBriefing = respone.tanggalBreafing.substr(0, 10);
          this.jamBriefing = respone.tanggalBreafing.substr(11, 17);
          this.tanggalPenyerahanRekap = respone.tanggalPenyerahanRekap.substr(
            0,
            10
          );
          this.jamPenyerahanRekap = respone.tanggalPenyerahanRekap.substr(
            11,
            17
          );
          this.tanggalPenyerahanLaporan = respone.tanggalPenyerahanLaporan.substr(
            0,
            10
          );
          this.jamPenyerahanLaporan = respone.tanggalPenyerahanLaporan.substr(
            11,
            17
          );
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },
    // save to api
    save() {
      this.$v.$touch();
      this.isLoading = true;
      this.loadingButton(this.$refs.loadingBtn.$el);
      if (!this.$v.$invalid) {
        const form = {
          perusahaanId: this.form.perusahaanId,
          namaProyek: this.form.namaProyek,
          tanggalAssesment: this.form.tanggalAssessment,
          tanggalBriefing: this.tanggalBriefing + ' ' + this.jamBriefing,
          tanggalPenyerahanRekap:
            this.tanggalPenyerahanRekap + ' ' + this.jamPenyerahanRekap,
          tanggalPenyerahanLaporan:
            this.tanggalPenyerahanLaporan + ' ' + this.jamPenyerahanLaporan,
          tanggalKegiatan: this.setTanggalKegiatan(),
          targetJob: {
            targetJobId: this.form.targetJobId
          },
          kamusKompetensi: this.formKamusKompetensi(),
          dataAssesment: this.dataAssessment,
          jadwalKegiatan: this.setJadwalKegiatan()
        };

        let storeAction = 'project/fetchSave';
        let payload = {
          data: form
        };

        if (this.roles[0] === 'SUPER_ADMIN') {
          payload.data.status = true;
        }

        if (this.edit) {
          payload['id'] = this.$route.params.id;
          storeAction = 'project/fetchUpdate';
        }

        this.$store
          .dispatch(storeAction, payload)
          .then(() => {
            this.$store.dispatch('general/showSuccessNotification', {
              message: this.$t('label.success'),
              textMessage: this.edit
                ? this.$t('content.update_message')
                : this.$t('content.create_message')
            });

            this.$router.push({ name: 'MasterProject' });
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          })
          .finally(() => {
            this.isLoading = false;
            this.closeLoading(this.$refs.loadingBtn.$el);
          });
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });
        this.isLoading = false;
        this.closeLoading(this.$refs.loadingBtn.$el);
      }
    },

    // get list target jobs
    getTargetJobs(id) {
      this.$store
        .dispatch('project/approvedTargetJob', { id })
        .then((response) => {
          this.targetJobList = response;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    // get target job for list kamus kompetensi
    fetchKamusKompetensi(id) {
      this.$store
        .dispatch('targetJob/fetchDetail', {
          id
        })
        .then((data) => {
          this.kamusKompetensiList = data.kamusKompetensi;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    // get template list
    getTemplate(value, itemIndex, subIndex) {
      if (this.assessmentList[itemIndex][subIndex].jenisAssessment) {
        this.getListAssessment[itemIndex][subIndex] = {
          namaMateriList: [],
          templateList: []
        };
        this.$store
          .dispatch('project/fetchTemplate', {
            jenisAssesment: value
          })
          .then((data) => {
            this.getListAssessment[itemIndex][subIndex].templateList = data;
            this.assessmentList[itemIndex][subIndex].template = null;
            this.assessmentList[itemIndex][subIndex].soalId = '';
            this.assessmentList[itemIndex][subIndex].soalName = '';
            this.assessmentList[itemIndex][subIndex].durasi = '';
            this.assessmentList[itemIndex][subIndex].instruksiPeran = [];
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          });
      }
    },

    // get nama materi list
    getNamaMateri(value, itemIndex, subIndex) {
      // jika template ada maka
      if (this.assessmentList[itemIndex][subIndex].template) {
        // get targetJobName
        let targetJobName;
        this.targetJobList.forEach((data) => {
          if (data.targetJobId === this.form.targetJobId) {
            targetJobName = data.targetJobName;
          }
        });

        this.getListAssessment[itemIndex].namaMateriList = [];
        this.$store
          .dispatch('project/fetchNamaMateri', {
            soalType: value,
            targetJobName
          })
          .then((data) => {
            this.getListAssessment[itemIndex][subIndex].namaMateriList = data;
            this.assessmentList[itemIndex][subIndex].soalId = '';
            this.assessmentList[itemIndex][subIndex].soalName = '';
            this.assessmentList[itemIndex][subIndex].durasi = '';
            this.assessmentList[itemIndex][subIndex].instruksiPeran = [];
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          });
      }
    },

    getInstruksi(value, itemIndex, subIndex) {
      let assessment = this.assessmentList[itemIndex][subIndex];
      let materiList = this.getListAssessment[itemIndex][subIndex]
        .namaMateriList;
      let materi = materiList.find((obj) => obj.soalId == assessment.soalId);

      if (!materi) return;
      this.assessmentList[itemIndex][subIndex].soalName = materi.soalName;
      this.assessmentList[itemIndex][subIndex].durasi = materi.durasi;
      this.assessmentList[itemIndex][subIndex].jamMulai = '';
      this.assessmentList[itemIndex][subIndex].jamSelesai = '';

      if (!this.applyRoles.includes(assessment.template)) return;
      this.$store
        .dispatch('assessmentCenter/fetchInstruksiPeran', {
          soalId: assessment.soalId,
          version: materi.version
        })
        .then((data) => {
          let instruksiPeran = this.assessmentList[itemIndex][subIndex]
            .instruksiPeran;

          data.map((peran) => {
            let obj = {
              pesertaId: '',
              assessorId: '',
              instruksiId: peran.instruksiId,
              namaInstruksi: peran.namaInstruksi
            };
            instruksiPeran = [...instruksiPeran, obj];
          });

          this.assessmentList[itemIndex][
            subIndex
          ].instruksiPeran = instruksiPeran;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    setPeran(value, peran) {
      let selectedActor = this.actors.find((obj) => {
        return obj.key == value;
      });
      peran.assessorId = selectedActor.assessorId
        ? selectedActor.assessorId
        : null;
      peran.pesertaId = selectedActor.pesertaId
        ? selectedActor.pesertaId
        : null;
    },

    setActors() {
      let actors = [];
      let actorIds = [];
      this.dataAssessment.map((group) => {
        group.assessor.map((item) => {
          let id = `A${item.assessorId}`;
          let data = {
            key: id,
            assessorId: item.assessorId,
            nama: item.nama
          };
          actors = [...actors, data];
          actorIds = [...actorIds, id];
        });
      });

      this.kelompokAsesi.map((group) => {
        group.peserta.map((item) => {
          let id = `P${item.pesertaId}`;
          let data = {
            key: id,
            pesertaId: item.pesertaId,
            nama: item.pesertaName
          };
          actors = [...actors, data];
          actorIds = [...actorIds, id];
        });
      });

      this.actors = actors;
    },

    // get list peserta
    getPerusahaan() {
      this.$store
        .dispatch('project/fetchPerusahaanApprove', {})
        .then((data) => {
          this.perusahaanList = data;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    // get list peserta
    getAsesi() {
      if (this.form.tanggalAssessment && this.form.targetJobId) {
        const payload = {
          tanggalAssessment: this.form.tanggalAssessment,
          targetJobId: this.form.targetJobId
        };

        this.$store
          .dispatch('peserta/pesertaProyek', payload)
          .then((data) => {
            if (!isEmpty(data)) {
              let peserta = [];
              data.forEach((data) => {
                peserta.push({
                  jabatan: data.jabatan,
                  pesertaName: data.pesertaName,
                  pesertaId: data.pesertaId,
                  keterangan: data.keterangan
                });
              });
              this.pesertaList = peserta;
            } else {
              this.pesertaList = [];
            }
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          });
      }
    },

    // get list asesor
    getAsesor() {
      this.$store
        .dispatch('project/fetchProyekAssessor', {
          tanggalAssessment: this.form.tanggalAssessment
        })
        .then((respone) => {
          this.assessor = respone;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    // add kelompok
    addKelompok() {
      let flag = 0;
      if (this.daftarKelompok.length >= 1) {
        // for nama kelompok tidak boleh sama
        this.daftarKelompok.forEach((data) => {
          if (data === this.namaKelompok) {
            flag = 1;
          }
        });
        // end for

        if (flag !== 1) {
          this.daftarKelompok.push(this.namaKelompok);
        }
      } else {
        this.daftarKelompok.push(this.namaKelompok);
      }

      this.namaKelompok = '';
    },

    // delete kelompok
    deleteKelompok() {
      const daftarKelompok = this.daftarKelompok;

      daftarKelompok.forEach((item, index) => {
        if (item === this.checkboxKelompok[0]) {
          daftarKelompok.splice(index, 1);
        }

        // delete table kelompok asesi
        this.kelompokAsesi.forEach((data, dataIndex) => {
          if (data.namaKelompok === this.checkboxKelompok[0]) {
            // balikin peserta yang ada di dalam kelompok
            data.peserta.forEach((peserta) => {
              this.pesertaList.push({
                pesertaId: peserta.pesertaId,
                pesertaName: peserta.pesertaName,
                jabatan: peserta.jabatan
              });
            });
            // hapus kelompok yang ada di table
            this.kelompokAsesi.splice(dataIndex, 1);
          }
        });

        // delete table kelompok asesor
        this.dataAssessment.forEach((data, dataIndex) => {
          if (data.namaKelompok === this.checkboxKelompok[0]) {
            // balikin peserta yang ada di dalam kelompok
            data.assessor.forEach((item) => {
              this.assessor.push({
                assessorId: item.assessorId,
                nama: item.nama,
                email: item.email,
                grade: item.grade
              });
            });
            // hapus kelompok yang ada di table
            this.dataAssessment.splice(dataIndex, 1);
          }
        });
      });

      this.checkboxKelompok = [];
    },

    // disabled tambahkan kelompok
    disabledAddAsesiToKelompok() {
      if (this.checkboxKelompok.length < 1 || this.checkboxPeserta.length < 1) {
        this.isDisabledAsesi = true;
      } else {
        this.isDisabledAsesi = false;
      }
    },

    // disabled tambahkan asesor
    disabledAddKelompokToAssessor() {
      if (
        this.checkboxKelompokAssessor.length < 1 ||
        this.checkboxAssessor.length < 1
      ) {
        this.isDisabledAsesor = true;
      } else {
        this.isDisabledAsesor = false;
      }
    },

    // tambahkan asesi kedalam kelompok
    addAsesiToKelompok() {
      let peserta = [];

      this.checkboxPeserta.forEach((checkbox) => {
        this.pesertaList.forEach((dataPeserta) => {
          if (checkbox === dataPeserta.pesertaId) {
            peserta.push({
              pesertaId: dataPeserta.pesertaId,
              pesertaName: dataPeserta.pesertaName,
              jabatan: dataPeserta.jabatan,
              keterangan: ''
            });
          }
        });
      });

      // kondisi masuk kelompok baru atau kelompok yang udah ada
      if (this.kelompokAsesi.length >= 1) {
        let flag;
        let index;

        this.kelompokAsesi.forEach((data, dataIndex) => {
          // jika kelompoknya sudah ada maka masukkan ke dalam kelompok itu
          if (data.namaKelompok === this.checkboxKelompok[0]) {
            flag = 'ada_kelompok';
            index = dataIndex;
          }
        });

        // jika kelompoknya sudah ada maka masukkan ke dalam kelompok itu
        if (flag === 'ada_kelompok') {
          peserta.forEach((item) => {
            this.kelompokAsesi[index].peserta.push({
              pesertaId: item.pesertaId,
              pesertaName: item.pesertaName,
              jabatan: item.jabatan,
              keterangan: ''
            });
          });
        }
        // jika kelompoknya belum ada maka buat kelompok baru
        else {
          this.kelompokAsesi.push({
            namaKelompok: this.checkboxKelompok[0],
            peserta
          });
        }
      } else {
        // push kedalam table kelompok
        this.kelompokAsesi.push({
          namaKelompok: this.checkboxKelompok[0],
          peserta
        });
      }

      // hapus peserta di dalam list
      const pesertaList = this.pesertaList.filter(
        (item) => !this.checkboxPeserta.includes(item.pesertaId)
      );

      this.pesertaList = pesertaList;

      // reset checkboxKelompok
      this.checkboxKelompok = [];
      this.checkboxPeserta = [];
    },

    // masukkan kelompok ke dalam assessor
    addKelompokToAssessor() {
      let assessor = [];
      let kelompok;
      // get assessor
      this.checkboxAssessor.forEach((checkbox) => {
        this.assessor.forEach((data) => {
          if (checkbox === data.assessorId) {
            assessor.push({
              assessorId: data.assessorId,
              nama: data.nama,
              email: data.email,
              grade: data.grade
            });
          }
        });
      });

      // get kelompok
      this.kelompokAsesor.forEach((data) => {
        if (data.namaKelompok === this.checkboxKelompokAssessor[0]) {
          kelompok = data;
        }
      });

      // push kedalam table assessor
      if (this.dataAssessment.length >= 1) {
        let flag;
        let index;
        this.dataAssessment.forEach((data, dataIndex) => {
          // jika kelompoknya sudah ada maka masukkan ke dalam kelompok itu
          if (data.namaKelompok === kelompok.namaKelompok) {
            flag = 'ada_kelompok';
            index = dataIndex;
          }
        });

        // jika kelompoknya sudah ada maka masukkan ke dalam kelompok itu
        if (flag === 'ada_kelompok') {
          assessor.forEach((item) => {
            this.dataAssessment[index].assessor.push({
              assessorId: item.assessorId,
              nama: item.nama,
              email: item.email,
              grade: item.grade
            });
          });
        }
        // jika kelompoknya belum ada maka buat kelompok baru
        else {
          this.dataAssessment.push({
            namaKelompok: kelompok.namaKelompok,
            peserta: kelompok.peserta,
            assessor
          });
        }
      }
      // kalo dataassessment kosong
      else {
        this.dataAssessment.push({
          namaKelompok: kelompok.namaKelompok,
          peserta: kelompok.peserta,
          assessor
        });
      }

      // hapus asesor di dalam list
      const assessorTemp = this.assessor.filter(
        (item) => !this.checkboxAssessor.includes(item.assessorId)
      );
      this.assessor = assessorTemp;

      // reset checkbox
      this.checkboxKelompokAssessor = [];
      this.checkboxAssessor = [];
    },

    // delete asesi yang ada di table kelompok
    deleteAsesiToKelompok(kelompokIndex, pesertaIndex, data) {
      // balikin asesi ke pesertaList
      this.pesertaList.push({
        pesertaId: data.pesertaId,
        pesertaName: data.pesertaName,
        jabatan: data.jabatan
      });
      // hapus asesi di dalam kelompok
      this.kelompokAsesi[kelompokIndex].peserta.splice(pesertaIndex, 1);

      // jika kelompok asesi tidak ada anggotanya maka kelompok dalam table akan hilang
      this.kelompokAsesi.forEach((data, dataIndex) => {
        if (data.peserta.length < 1) {
          this.kelompokAsesi.splice(dataIndex, 1);
          // delete table kelompok asesor
          this.dataAssessment.forEach((item, itemIndex) => {
            if (item.namaKelompok === data.namaKelompok) {
              // balikin peserta yang ada di dalam kelompok
              item.assessor.forEach((sub) => {
                this.assessor.push({
                  assessorId: sub.assessorId,
                  nama: sub.nama,
                  email: sub.email,
                  grade: sub.grade
                });
              });
              // hapus kelompok yang ada di table
              this.dataAssessment.splice(itemIndex, 1);
            }
          });
        }
      });
    },

    // delete asesor yang ada di kelompok
    deleteKelompokToAssessor(kelompokIndex, assessorIndex, data) {
      // balikin asesor ke asesor list
      this.assessor.push({
        assessorId: data.assessorId,
        nama: data.nama,
        email: data.email,
        grade: data.grade
      });

      // hapus asesor di dalam table kelompok
      this.dataAssessment[kelompokIndex].assessor.splice(assessorIndex, 1);

      // jika kelompok asesor tidak ada anggotanya maka kelompok dalam table akan menghilang
      this.dataAssessment.forEach((data, dataIndex) => {
        if (data.assessor.length < 1) {
          this.dataAssessment.splice(dataIndex, 1);
        }
      });
    },

    // set kamus kompetensi form
    formKamusKompetensi() {
      let result = [];
      this.form.kamusKompetensiId.forEach((data) => {
        result.push({
          kamusKompetensiId: data
        });
      });

      return result;
    },

    // set tanggal kegiatan
    setTanggalKegiatan() {
      let result = {};
      if (this.moreThenOneDay) {
        result = {
          tanggalKegiatanMulai: this.tanggalKegiatanMulai,
          tanggalKegiatanAkhir: this.tanggalKegiatanAkhir
        };
      } else {
        result = {
          tanggalKegiatanMulai: this.tanggalKegiatan,
          tanggalKegiatanAkhir: this.tanggalKegiatan
        };
      }

      return result;
    },

    // combine date
    combineDate(tanggal, jam) {
      const result = new Date(tanggal + ' ' + jam);
      return result;
    },

    // add assessment
    addAssessment(index) {
      this.assessmentList[index].push({
        jenisAssessment: '',
        proyekSoalId: null,
        template: null,
        soalId: '',
        soalName: '',
        durasi: '',
        jamMulai: '',
        jamSelesai: '',
        tanggalAssessment: this.tanggalAssessmentList[index],
        instruksiPeran: []
      });

      this.getListAssessment[index].push({
        namaMateriList: [],
        templateList: []
      });
    },

    // delete assessment list
    deleteAssessmentList(index, subIndex) {
      this.assessmentList[index].splice(subIndex, 1);
      this.getListAssessment[index].splice(subIndex, 1);
    },

    // get list dates assessment
    getEachDates(startDate, endDate) {
      if (this.tanggalKegiatanMulai && this.tanggalKegiatanAkhir) {
        startDate = startDate
          .split('/')
          .reverse()
          .join('/');
        endDate = endDate
          .split('/')
          .reverse()
          .join('/');

        startDate = new Date(startDate);
        endDate = new Date(endDate);

        let dates = [];
        let currentDate = startDate;
        let addDays = function(days) {
          let date = new Date(this.valueOf());
          date.setDate(date.getDate() + days);
          return date;
        };
        while (currentDate <= endDate) {
          let dd = currentDate.getDate();
          let mm = currentDate.getMonth() + 1;
          let yyyy = currentDate.getFullYear();

          if (dd < 10) {
            dd = '0' + dd;
          }

          if (mm < 10) {
            mm = '0' + mm;
          }

          let result = dd + '/' + mm + '/' + yyyy;
          dates.push(result);
          currentDate = addDays.call(currentDate, 1);
        }

        this.tanggalAssessmentList = dates;

        let assessmentList = [];
        let getListAssessment = [];
        dates.forEach((data, dataIndex) => {
          // assessment
          assessmentList.push([]);
          assessmentList[dataIndex].push({
            jenisAssessment: '',
            proyekSoalId: null,
            template: null,
            soalId: '',
            soalName: '',
            durasi: '',
            jamMulai: '',
            jamSelesai: '',
            tanggalAssessment: data,
            instruksiPeran: []
          });

          // get list assessment (template and nama materi list)
          getListAssessment.push([]);
          getListAssessment[dataIndex].push({
            namaMateriList: [],
            templateList: []
          });
        });

        this.assessmentList = assessmentList;
        this.getListAssessment = getListAssessment;
      }
    },

    // set jadwal kegiatan for request api
    setJadwalKegiatan() {
      let assessmentListTemp = [];

      this.assessmentList.forEach((data) => {
        assessmentListTemp.push({
          jadwalKegiatan: data
        });
      });

      return assessmentListTemp;
    },

    // get list assessment ketika update proyek
    setGetListAssessment(data, targetJobName) {
      let result = [];
      data.forEach((item, itemIndex) => {
        result.push([]);
        item.forEach((sub, subIndex) => {
          result[itemIndex].push({
            templateList: [],
            namaMateriList: []
          });
          // get template
          this.$store
            .dispatch('project/fetchTemplate', {
              jenisAssesment: sub.jenisAssessment
            })
            .then((res) => {
              result[itemIndex][subIndex].templateList = res;
            })
            .catch((e) => {
              this.$store.dispatch('general/showErrorReqNotification', e);
            });

          this.$store
            .dispatch('project/fetchNamaMateri', {
              soalType: sub.template,
              targetJobName
            })
            .then((res) => {
              result[itemIndex][subIndex].namaMateriList = res;
            })
            .catch((e) => {
              this.$store.dispatch('general/showErrorReqNotification', e);
            });
        });
      });

      return result;
    },

    forceRerender() {
      // remove the my-component component from the DOM
      this.renderComponent = false;

      this.$nextTick(() => {
        // add my-component component in DOM
        this.renderComponent = true;
      });
    },

    resetTime(tr) {
      tr.jamSelesai = '';
    },

    defaultValue(tr) {
      let jamMulai = tr.jamMulai;
      let hours = jamMulai.split(':')[0];
      let minutes = jamMulai.split(':')[1];

      if (tr.durasi) {
        minutes = parseInt(minutes) + Math.abs(parseInt(tr.durasi));
      }

      return new Date(new Date().setHours(parseInt(hours), minutes, 0, 0));
    },

    checkTime(date, tr) {
      let jamMulai = tr.jamMulai;
      let hours = jamMulai.split(':')[0];
      let minutes = jamMulai.split(':')[1];

      if (tr.durasi) {
        minutes = parseInt(minutes) + Math.abs(parseInt(tr.durasi));
      }

      return (
        new Date(
          new Date().setHours(date.getHours(), date.getMinutes(), 0, 0)
        ) < new Date(new Date().setHours(parseInt(hours), minutes, 0, 0))
      );
    }
  }
};
</script>
<style lang="scss" scoped>
#create-edit-project {
  .xmx-datepicker {
    width: 100% !important;
  }

  .wrap-list {
    height: 222px;
    overflow-y: auto;
  }

  .padding-0 {
    padding: 0 !important;
  }

  .delete-assessment {
    position: absolute;
    right: -44px;
    top: 50%;
    transform: translateY(-50%);
  }

  .vs-table--thead tr th {
    padding: 13px 10px 10px !important;
  }

  .vs-table--tbody {
    border: 1px solid #daeafb !important;
  }

  .vs-con-table table {
    border: none !important;
  }

  .button-plus {
    padding: 20px 30px;
    margin-top: -3px;
    background: white !important;
  }
}
</style>
