<template>
  <div id="detail-asesi">
    <!--Profile-->
    <BoxHeader title="Profile" v-if="profilAsesi">
      <div class="flex flex-wrap py-2 mb-4 mt-2">
        <div class="w-full lg:w-1/2 p-2">
          <div class="w-full text-xs text-label-color pb-2 font-semibold">
            {{ $t('label.name_arg', { attribute: $t('label.participant') }) }}
          </div>
          <div class="w-full text-xs text-label-color">
            {{ profilAsesi.namaPeserta }}
          </div>
        </div>
        <div class="w-full lg:w-1/2 p-2">
          <div class="w-full text-xs text-label-color pb-2 font-semibold">
            {{ $t('label.department') }}
          </div>
          <div class="w-full text-xs text-label-color">
            {{ profilAsesi.jabatan }}
          </div>
        </div>
      </div>
      <div class="flex flex-wrap py-2">
        <div class="w-full lg:w-1/2 p-2">
          <div class="w-full text-xs text-label-color pb-2 font-semibold">
            {{ $t('label.company') }}
          </div>
          <div class="w-full text-xs text-label-color">
            {{ profilAsesi.namaPerusahaan }}
          </div>
        </div>
        <div class="w-full lg:w-1/2 p-2">
          <div class="w-full text-xs text-label-color pb-2 font-semibold">
            {{ $t('label.education') }}
          </div>
          <div class="w-full text-xs text-label-color">
            {{ profilAsesi.pendidikan }}
          </div>
        </div>
      </div>
    </BoxHeader>
    <!-- End Profile -->

    <div class="h-6"></div>
    <!-- Daftar Asesi  -->
    <BoxHeader title="Daftar Kegiatan" v-if="isLoading">
      <div class="py-2">
        <div class="wrap-table-group mt-6 mb-4">
          <div>
            <vs-table :data="dataAssessment" v-if="renderComponent">
              <template slot="thead">
                <vs-th>
                  Template
                </vs-th>
                <vs-th>
                  Nama
                </vs-th>
                <vs-th>
                  {{ $t('label.progress_assessment') }}
                </vs-th>
                <vs-th>
                  {{ $t('label.start_time') }}
                </vs-th>
                <vs-th>
                  {{ $t('label.end_time') }}
                </vs-th>
                <vs-th class="last-th">
                  {{ $t('label.answer') }}
                </vs-th>
              </template>

              <template slot-scope="{ data }">
                <vs-tr
                  :key="indextr"
                  class="odd:bg-list-background"
                  v-for="(tr, indextr) in data"
                >
                  <vs-td
                    :data="tr.typeSoal"
                    class="cursor-pointer"
                    @click.native="seeAnswer(tr, statusProgress(tr))"
                  >
                    {{ setTypeSoal(tr.typeSoal, 'template') }}
                  </vs-td>

                  <vs-td
                    :data="tr.assesment"
                    class="cursor-pointer"
                    @click.native="seeAnswer(tr, statusProgress(tr))"
                  >
                    {{ tr.assesment }}
                  </vs-td>

                  <vs-td
                    class="cursor-pointer"
                    @click.native="seeAnswer(tr, statusProgress(tr))"
                  >
                    <!-- progress if psycological center -->
                    <template
                      v-if="
                        currentTest.proyekSoalId === tr.proyekSoalId &&
                          currentTest.soalGroup ===
                            'Psychological Assessment' &&
                          !tr.jawaban
                      "
                    >
                      <div>
                        <div class="pr-10">
                          <div
                            class="wrap-progress w-full h-6 bg-gray-300 rounded-full overflow-hidden"
                          >
                            <div
                              class="progress"
                              :style="progressAssessment(percentageAssessment)"
                            >
                              {{ percentageAssessment }}%
                            </div>
                          </div>
                        </div>
                      </div>
                    </template>
                    <template v-else>
                      <div
                        v-if="statusProgress(tr) === 'Selesai'"
                        class="text-status-approved font-medium"
                      >
                        Selesai
                      </div>
                      <div
                        v-if="statusProgress(tr) === 'Belum Dimulai'"
                        class="text-status-pending font-medium"
                      >
                        Belum Dimulai
                      </div>
                      <div
                        v-if="statusProgress(tr) === 'Belum Submit Jawaban'"
                        class="text-status-pending font-medium"
                      >
                        Belum Submit Jawaban
                      </div>
                      <div
                        v-if="statusProgress(tr) === 'Tidak Ada Jawaban'"
                        class="text-status-pending font-medium"
                      >
                        Tidak Ada Jawaban
                      </div>
                      <div
                        v-if="statusProgress(tr) === 'Sedang Berjalan'"
                        class="pr-10"
                      >
                        <div v-if="tr.soalGroup === 'Assessment Center'">
                          <div
                            class="wrap-progress w-full h-6 bg-gray-300 rounded-full overflow-hidden"
                          >
                            <div
                              class="progress"
                              :style="progressAssessment(percentageAssessment)"
                            >
                              {{ percentageAssessment }}%
                            </div>
                          </div>
                        </div>
                        <div v-else>
                          <div class="text-status-pending font-medium">
                            Belum Dimulai
                          </div>
                        </div>
                      </div>
                    </template>
                  </vs-td>

                  <vs-td
                    :data="tr.jamMulai"
                    class="cursor-pointer"
                    @click.native="seeAnswer(tr, statusProgress(tr))"
                  >
                    {{ tr.jamMulai.substr(tr.jamMulai.lastIndexOf('T') + 1) }}
                  </vs-td>

                  <vs-td
                    :data="tr.jamSelesai"
                    class="cursor-pointer"
                    @click.native="seeAnswer(tr, statusProgress(tr))"
                  >
                    {{
                      tr.jamSelesai.substr(tr.jamSelesai.lastIndexOf('T') + 1)
                    }}
                  </vs-td>

                  <vs-td
                    :data="tr.proyekSoalId"
                    class="cursor-pointer text-center"
                  >
                    <!-- pictures -->
                    <vs-icon
                      v-if="
                        (currentTest.proyekSoalId === tr.proyekSoalId &&
                          !tr.jawaban &&
                          tr.soalGroup === 'Psychological Assessment') ||
                          statusProgress(tr) === 'Sedang Berjalan'
                      "
                      class="mr-1"
                      color="secondary"
                      type="flat"
                      v-tooltip="'Lihat Photo Asesi'"
                      @click="showPictures(tr.proyekPesertaId, tr.proyekSoalId)"
                      >image</vs-icon
                    >
                    <!-- see answer / question -->
                    <vs-icon
                      color="primary"
                      type="flat"
                      v-tooltip="
                        statusProgress(tr) === 'Belum Dimulai'
                          ? 'Lihat Soal'
                          : $t('label.see_answer')
                      "
                      @click="seeAnswer(tr, statusProgress(tr))"
                      >visibility</vs-icon
                    >
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
          </div>
        </div>
      </div>
    </BoxHeader>
    <!-- End Daftar Asesi -->

    <div class="h-6"></div>

    <template lang="html">
      <div class="centerx">
        <vs-popup title="Photo Asesi" :active.sync="popupPictures">
          <div>
            <pictures-asesi
              v-if="popupPictures"
              :proyek-peserta-id="pictures.proyekPesertaId"
              :proyek-soal-id="pictures.proyekSoalId"
            />
          </div>
        </vs-popup>
      </div>
    </template>
    <!-- Chat Peserta  -->
    <chat v-if="channel" :channel="channel" :sender="email" />
    <!-- End Chat Peserta -->
  </div>
</template>
<script>
// mixins
import { loadingMixin } from '@/mixins/loading';
import { setTypeSoalMixin } from '@/mixins/typeSoal';

import { mapGetters } from 'vuex';

// base
import BoxHeader from '@/components/base/BoxHeader.vue';
import Chat from '@/components/project/Chat.vue';

// pictures
import PicturesAsesi from '@/components/project/Pictures.vue';
export default {
  name: 'DetailAsesi',

  mixins: [loadingMixin, setTypeSoalMixin],

  components: {
    BoxHeader,
    Chat,
    PicturesAsesi
  },

  computed: {
    ...mapGetters({
      destroyFunc: 'project/destroyFunc',
      dataAssessment: 'project/detailAssessment',
      email: 'auth/currentEmail',
      serverTime: 'general/getTimeServer'
    })
  },

  data: () => ({
    channel: '',
    textMessage: '',
    profilAsesi: null,
    percentageAssessment: 0,
    flagSse: false,
    detailAssessmentSse: null,
    renderComponent: true,
    currentTest: null,
    isLoading: false,
    popupPictures: false,
    pictures: {
      proyekPesertaId: 0,
      proyekSoalId: 0
    }
  }),

  created() {
    this.currentTestAsesi();
    this.fetchDataAsesi(this.$route.params.idAsesi);
    this.fetchDataAssessment(this.$route.params.idAsesi);
  },

  mounted() {
    this.$store.commit('project/SET_ASESI', null);
  },

  beforeCreate() {
    // reset jawaban
    this.$store.commit('project/SET_JAWABAN', []);
    // reset flag destroyFunc
    this.$store.commit('project/SET_DESTROY_FLAG', { flag: false });
  },

  beforeDestroy() {
    // set flag destroyFunc
    this.$store.commit('project/SET_DESTROY_FLAG', { flag: true });
  },

  methods: {
    // show pictures
    showPictures(proyekPesertaId, proyekSoalId) {
      this.pictures = {
        proyekPesertaId,
        proyekSoalId
      };

      this.popupPictures = true;
    },

    // sleep
    sleep(ms) {
      return new Promise((resolve) => setTimeout(resolve, ms));
    },

    // progress assessment
    progressAssessment(percentage) {
      return 'width: ' + percentage + '%;';
    },

    // go to answer
    seeAnswer(detailAssessment, progress) {
      if (progress === 'Selesai') {
        if (detailAssessment.soalGroup === 'Assessment Center') {
          this.$router.push({
            name: 'SeeAnswer',
            params: {
              typeSoal: detailAssessment.typeSoal,
              proyekSoalId: detailAssessment.proyekSoalId,
              status: 1
            }
          });
        } else {
          if (detailAssessment.proyekResultId) {
            this.$router.push({
              name: 'ProyekReport',
              params: {
                proyekResultId: detailAssessment.proyekResultId,
                proyekSoalId: detailAssessment.proyekSoalId,
                assesment: detailAssessment.typeSoal
              }
            });
          } else {
            this.$store.dispatch('general/showErrorNotification', {
              message: this.$t('label.error'),
              textMessage: this.$t('content.no_data_text')
            });
          }
        }
      } else {
        // check berdasarkan jam
        // jika progress sedang berjalan + belum submit jawaban dan itu psikotest maka get jawaban dari sse
        if (progress === 'Sedang Berjalan') {
          if (!detailAssessment.jawaban) {
            detailAssessment = this.detailAssessmentSse || detailAssessment;
          }
        }

        // check berdasarkan currentTest
        if (detailAssessment.typeSoal === this.currentTest.soalType) {
          if (!detailAssessment.jawaban) {
            detailAssessment = this.detailAssessmentSse || detailAssessment;
          }
        }

        this.$store.commit('project/SET_JAWABAN', detailAssessment);
        this.$router.push({
          name: 'SeeAnswer',
          params: {
            typeSoal: detailAssessment.typeSoal,
            proyekSoalId: detailAssessment.proyekSoalId,
            status: 0
          }
        });
      }
    },

    // fetch data profile asesi
    fetchDataAsesi(proyekPesertaId) {
      this.$store
        .dispatch('project/fetchProyekAsesi', { proyekPesertaId })
        .then((data) => {
          this.profilAsesi = data;
          this.$store.commit('project/SET_INFO_ASESI', data);
        })
        .then(() => this.fetchChannel())
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    // list assessment
    fetchDataAssessment(proyekPesertaId) {
      this.$store
        .dispatch('project/fetchProyekAssessment', { proyekPesertaId })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    // fetch progress assessment with sse
    fetchProgressAssessment(soalType, proyekSoalId, proyekPesertaId) {
      let soalTypeConvert = this.setTypeSoal(soalType, 'stream');

      const payload = {
        soalType: soalTypeConvert,
        params: {
          proyekSoalId,
          proyekPesertaId
        }
      };

      this.$store
        .dispatch('project/fetchProgress', payload)
        .then((res) => {
          if (res.soalGroup === 'Psychological Assessment') {
            this.percentageAssessment = res.persentasePengerjaan;
          }
          this.detailAssessmentSse = res;
          // recursif
          if (!this.destroyFunc) {
            if (!res.completed) {
              this.sleep(5000).then(() => {
                this.fetchProgressAssessment(
                  soalType,
                  proyekSoalId,
                  proyekPesertaId
                );
              });
            } else {
              // if completed soal load again list data assessment
              this.fetchDataAssessment(this.$route.params.idAsesi);
            }
          }
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    // fetch channel chat
    fetchChannel() {
      this.$store
        .dispatch('chat/fetchChatChannel', {
          pesertaId: this.profilAsesi.pesertaId,
          proyekId: this.$route.params.idProyek
        })
        .then((channel) => {
          this.channel = channel;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    // check status progress by jamMulai and jamSelesai
    statusProgress(tr) {
      let result;
      const dateMulai = tr.jamMulai;
      const dateSelesai = tr.jamSelesai;

      // if any answeer then result finish
      if (tr.jawaban) {
        result = 'Selesai';
      } else {
        if (new Date().getTime() < new Date(dateMulai).getTime()) {
          result = 'Belum Dimulai';
        } else if (new Date().getTime() > new Date(dateSelesai).getTime()) {
          const lastAssessment = this.dataAssessment[
            this.dataAssessment.length - 1
          ];
          if (
            lastAssessment.jawaban ||
            new Date().getTime() > new Date(lastAssessment.jamSelesai).getTime()
          ) {
            // jika soal terakhir sudah lewat dari waktu sekarang atau sudah selesai
            result = 'Tidak Ada Jawaban';
          } else {
            result = 'Belum Submit Jawaban';
          }
        } else {
          result = 'Sedang Berjalan';
        }
      }

      return result;
    },

    // fetch progress assessment with time
    getPercentageSimulation(startTime, endTime, typeSoal, proyekSoalId) {
      // variable for recursif function
      let startDate = startTime;
      let endDate = endTime;
      // change to minutes
      startTime = new Date(startTime).getTime();
      endTime = new Date(endTime).getTime();
      // get different milisecond
      let diffTotal = endTime - startTime;
      // get current duration in milisecond
      let diffDuration = new Date().getTime() - startTime;
      // get total duration in minutes
      let totalDuration = Math.round(diffTotal / 60000);
      // get current duration in minutes
      let currentDuration = Math.round(diffDuration / 60000);
      // calculate percentage
      this.percentageAssessment = Math.floor(
        (currentDuration / totalDuration) * 100
      );

      // call function continous
      // if assessment not done then call this function
      if (new Date().getTime() < new Date(endDate).getTime()) {
        this.sleep(10000).then(() => {
          this.getPercentageSimulation(
            startDate,
            endDate,
            typeSoal,
            proyekSoalId
          );
        });
      }
    },

    // force rerender
    forceRerender() {
      // remove the my-component component from the DOM
      this.renderComponent = false;

      this.$nextTick(() => {
        // add my-component component in DOM
        this.renderComponent = true;
      });
    },

    // check assessment mana yang sedang di kerjakan oleh asesi
    checkProgressAssessment() {
      if (this.currentTest.soalGroup === 'Psychological Assessment') {
        this.dataAssessment.forEach((element) => {
          if (this.currentTest.soalType === element.typeSoal) {
            if (element.jawaban === undefined || element.jawaban === null) {
              this.fetchProgressAssessment(
                this.currentTest.soalType,
                this.currentTest.proyekSoalId,
                this.$route.params.idAsesi
              );
            }
          }
        });
      } else {
        let result;
        this.dataAssessment.forEach((element) => {
          if (new Date().getTime() < new Date(element.jamMulai).getTime()) {
            result = 'Belum Dimulai';
          } else if (
            new Date().getTime() > new Date(element.jamSelesai).getTime()
          ) {
            result = 'Selesai';
          } else {
            result = 'Sedang Berjalan';
            // use it for get answer temporary
            this.fetchProgressAssessment(
              element.typeSoal,
              element.proyekSoalId,
              this.$route.params.idAsesi
            );

            // use it for get progress simulation
            this.getPercentageSimulation(
              element.jamMulai,
              element.jamSelesai,
              element.typeSoal,
              element.proyekSoalId
            );
          }
        });

        return result;
      }
    },

    // get current test asesi
    currentTestAsesi() {
      this.$store
        .dispatch('project/currentTestAsesi', {
          proyekId: this.$route.params.idProyek,
          proyekPesertaId: this.$route.params.idAsesi
        })
        .then((res) => {
          this.currentTest = res;
          this.checkProgressAssessment();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = true;
        });
    }
  }
};
</script>
<style lang="scss">
#detail-asesi {
  .last-th .vs-table-text {
    @apply justify-center;
  }

  .xmx-datepicker {
    width: 100% !important;
  }

  .progress {
    padding-top: 2px;
    transition: 0.8s;
    @apply h-full;
    @apply bg-status-approved;
    @apply rounded-full;
    @apply text-white;
    @apply text-center;
    @apply align-middle;
  }

  .wrap-chat {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  }

  .wrap-chat .body {
    height: 275px;
  }

  .message-received {
    .message {
      border-radius: 12px 12px 12px 0;
    }

    span {
      font-size: 10px;
    }
  }

  .message-send {
    .message {
      border-radius: 12px 12px 0 12px;
    }

    span {
      font-size: 10px;
    }
  }
}
</style>
