<template>
  <div id="detail-project">
    <vs-tabs class="text-sm" :color="colorTabs">
      <vs-tab label="Detail Proyek">
        <div class="pt-4">
          <ProjectDetail :items="detailProject" />
        </div>
      </vs-tab>
      <vs-tab label="Berita Acara" v-if="$acl.check('isSuperAdmin')">
        <div>
          <News :items="beritaAcara" @click="fetchBeritaAcara" />
        </div>
      </vs-tab>
      <!-- laporan -->
      <template v-if="$acl.check('isSuperAdmin')">
        <vs-tab label="Laporan" v-if="laporan">
          <div>
            <Report />
          </div>
        </vs-tab>
      </template>
      <template v-if="$acl.check('isAdminOnly')">
        <vs-tab label="Laporan">
          <div>
            <Report />
          </div>
        </vs-tab>
      </template>
      <!-- end laporan -->
      <!-- rekap -->
      <template v-if="$acl.check('isAsesorOnly')">
        <vs-tab label="Rekap">
          <div>
            <Rekap />
          </div>
        </vs-tab>
      </template>
      <template v-if="$acl.check('isAdmin')">
        <vs-tab label="Rekap" v-if="flagRekap">
          <div>
            <Rekap />
          </div>
        </vs-tab>
      </template>
      <!-- end rekap -->
    </vs-tabs>
    <div id="loading-page" class="h-full"></div>
  </div>
</template>

<script>
// vuex
import { mapGetters } from 'vuex';
// tabs
import ProjectDetail from '@/components/project/ProjectDetail.vue';
import Report from '@/components/project/Report.vue';
import News from '@/components/project/News.vue';
import Rekap from '@/components/project/Rekap.vue';
// mixins
import { loadingMixin } from '@/mixins/loading';

export default {
  name: 'DetailProject',

  mixins: [loadingMixin],

  computed: {
    ...mapGetters({
      roles: 'auth/currentRoles'
    })
  },

  components: {
    ProjectDetail,
    Report,
    News,
    Rekap
  },

  data: () => ({
    colorTabs: '#1f75ff',
    detailProject: null,
    beritaAcara: null,
    flagRekap: false,
    laporan: null
  }),

  mounted() {
    this.fetchDetail(this.$route.params.idProyek);
    this.fetchBeritaAcara();
    this.fetchRekap();
    this.fetchLaporan();
  },

  methods: {
    fetchLaporan() {
      this.$store
        .dispatch('project/fetchLaporan', {
          id: this.$route.params.idProyek
        })
        .then((response) => {
          this.laporan = response.laporan;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    fetchDetail(id) {
      this.loadingPage('#loading-page');
      this.$store
        .dispatch('project/fetchDetail', { id: id })
        .then((data) => {
          this.detailProject = data;
          this.$store.commit('project/DETAIL_PROYEK', data);
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.closeLoading('#loading-page');
        });
    },

    fetchBeritaAcara() {
      this.loadingPage('#loading-page');
      this.$store
        .dispatch('project/fetchBeritaAcara', {
          proyekId: this.$route.params.idProyek
        })
        .then((data) => {
          this.beritaAcara = data;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.closeLoading('#loading-page');
        });
    },

    fetchRekap() {
      this.loadingPage('#loading-page');
      this.$store
        .dispatch('rekap/fetchProyekDetail', {
          id: this.$route.params.idProyek
        })
        .then(() => {
          this.flagRekap = true;
        })
        .finally(() => {
          this.closeLoading('#loading-page');
        });
    }
  }
};
</script>
