<template>
  <div id="master-project">
    <BaseBox>
      <div class="flex flex-wrap items-end -mx-2">
        <div class="w-full lg:w-1/4 px-2">
          <FormGroup :name="$t('label.assessment_date')">
            <date-picker
              v-model="form.tanggalAssesment"
              :clearable="false"
              prefix-class="xmx"
              valueType="DD/MM/YYYY"
            >
              <template v-slot:input>
                <vs-input
                  color="primary"
                  class="w-full"
                  icon="today"
                  :value="form.tanggalAssesment"
                  :label="$t('label.assessment_date')"
                  :readonly="true"
                  placeholder="DD/MM/YYYY"
                />
              </template>
              <template v-slot:icon-calendar>
                <span></span>
              </template>
            </date-picker>
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/4 px-2">
          <FormGroup :name="$t('label.target_job')">
            <vs-select
              autocomplete
              v-model="form.targetJob"
              color="primary"
              class="w-full"
              :label="$t('label.target_job')"
              :placeholder="
                $t('placeholder.select_general', {
                  attribute: $t('label.target_job')
                })
              "
            >
              <vs-select-item
                :key="index"
                :value="item.targetJobName"
                :text="item.targetJobName"
                v-for="(item, index) in targetJobs"
              />
            </vs-select>
          </FormGroup>
        </div>

        <!-- filter button @action -->
        <vs-button
          class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
          color="primary"
          type="filled"
          @click="getData"
        >
          {{ $t('label.filter') }}
        </vs-button>

        <!-- reset button @action (remove all filter) -->
        <vs-button
          class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
          color="primary"
          type="filled"
          @click="resetData"
        >
          {{ $t('label.reset') }}
        </vs-button>
      </div>
    </BaseBox>
    <div class="h-6"></div>
    <BaseBox>
      <div class="table-content-loading vs-con-loading__container">
        <vs-table stripe @sort="handleSort" :data="items">
          <template slot="header">
            <TableHeader @fetch="getData">
              <template v-slot:header-left>
                <vs-button
                  @click="$router.push({ name: 'CreateProject' })"
                  class="text-xs px-8 font-medium w-full md:w-auto"
                  color="primary"
                  type="filled"
                  v-if="$acl.check('isAdmin')"
                >
                  {{ $t('label.add') }}
                </vs-button>
              </template>
            </TableHeader>
          </template>
          <template slot="thead">
            <vs-th sort-key="nama">
              {{ $t('label.name') }}
            </vs-th>
            <vs-th sort-key="targetJob">
              {{ $t('label.target_job') }}
            </vs-th>
            <vs-th sort-key="tanggalAssesment">
              {{ $t('label.assessment_date') }}
            </vs-th>
            <vs-th sort-key="projectStatus">
              {{ $t('label.status_project') }}
            </vs-th>
            <vs-th sort-key="status">
              {{ $t('label.status') }}
            </vs-th>
            <vs-th v-if="$acl.check('isAdmin')"></vs-th>
          </template>

          <template slot-scope="{ data }">
            <vs-tr :key="indextr" :data="tr" v-for="(tr, indextr) in data">
              <vs-td
                :data="
                  $acl.check('isAsesorOnly')
                    ? data[indextr].namaProyek
                    : data[indextr].nama
                "
                @click.native="goToDetail(data[indextr].proyekId)"
              >
                {{
                  $acl.check('isAsesorOnly')
                    ? data[indextr].namaProyek
                    : data[indextr].nama
                }}
              </vs-td>

              <vs-td
                :data="data[indextr].targetJob"
                @click.native="goToDetail(data[indextr].proyekId)"
              >
                {{ data[indextr].targetJob }}
              </vs-td>

              <vs-td
                :data="data[indextr].tanggalAssesment"
                @click.native="goToDetail(data[indextr].proyekId)"
              >
                {{ data[indextr].tanggalAssesment }}
              </vs-td>

              <vs-td
                :data="data[indextr].projectStatus"
                @click.native="goToDetail(data[indextr].proyekId)"
              >
                {{ data[indextr].projectStatus }}
              </vs-td>

              <vs-td
                :data="data[indextr].status"
                @click.native="goToDetail(data[indextr].proyekId)"
              >
                <span :class="colorStatus(data[indextr].status)">
                  {{ status(data[indextr].status) }}
                </span>
              </vs-td>

              <vs-td v-if="$acl.check('isAdmin')">
                <Approval
                  :id="data[indextr].proyekId"
                  :label="data[indextr].nama"
                  :status="data[indextr].status"
                  :routes="{ update: 'UpdateProject' }"
                  :status-proyek="data[indextr].projectStatus"
                  @click="chooseAct"
                />
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </div>

      <TablePaging @fetch="getData" />
    </BaseBox>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

// mixins
import { stylingStatusMixin } from '@/mixins/stylingStatus';
import { loadingMixin } from '@/mixins/loading';
import { statusMixin } from '@/mixins/status';
import { navigateMixin } from '@/mixins/navigate';

// date picker
import DatePicker from 'vue2-datepicker';
import '@/assets/css/datepicker.scss';

// base
import Approval from '@/components/base/Approval.vue';
import BaseBox from '@/components/base/Box';
import TableHeader from '@/components/table/TableHeader';
import TablePaging from '@/components/table/TablePaging';
import FormGroup from '@/components/base/FormGroup.vue';

export default {
  name: 'MasterProject',

  mixins: [loadingMixin, statusMixin, navigateMixin, stylingStatusMixin],

  components: {
    Approval,
    BaseBox,
    DatePicker,
    FormGroup,
    TableHeader,
    TablePaging
  },

  computed: {
    ...mapGetters({
      items: 'project/items',
      roles: 'auth/currentRoles'
    })
  },

  data: () => ({
    data: {},
    form: {
      targetJob: '',
      tanggalAssesment: '',
      orderBy: '',
      role: ''
    },
    targetJobs: []
  }),

  created() {
    this.form.role = this.roles[0];
    this.getTargetJobs();
    this.$store.commit('project/DETAIL_PROYEK', null);
    this.$store.commit('table/RESET_PAGEABLE');
    this.$store.commit('table/RESET_CUSTOM_PAGEABLE');

    // Add pageable for search company, index is 1
    this.$store.commit('table/ADD_PAGEABLE', {
      search: ''
    });
  },

  mounted() {
    this.getData();
  },

  methods: {
    getTargetJobs() {
      this.$store
        .dispatch('targetJob/fetchList')
        .then((res) => {
          this.targetJobs = res;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    goToDetail(idProyek) {
      this.$router.push({
        name: 'DetailProject',
        params: {
          idProyek
        }
      });
    },

    getData() {
      this.loadingContent('.table-content-loading');
      this.$store
        .dispatch('project/fetchList', this.form)
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.closeLoading('.table-content-loading > .con-vs-loading');
        });
    },

    resetData() {
      this.form = {
        targetJob: '',
        tanggalAssesment: '',
        orderBy: '',
        role: this.roles[0]
      };
      this.getData();
    },

    acceptAlert(parameters) {
      switch (parameters[0]) {
        case 'approve':
          this.approve(parameters[1]);
          break;
        case 'reject':
          this.reject(parameters[1]);
          break;
        case 'delete':
          this.delete(parameters[1]);
          break;
        default:
          break;
      }
    },

    handleSort(key, active) {
      this.form.orderBy = `${key}|${active}`;
      this.getData();
    },

    chooseAct(params) {
      this.openConfirm(params.key, params);
    },

    openConfirm(key, data) {
      let message = '';
      switch (key) {
        case 'approve':
          message = this.$t('content.confirm_approve', { data: data.label });
          break;
        case 'reject':
          message = this.$t('content.confirm_reject', { data: data.label });
          break;
        case 'delete':
          message = this.$t('content.confirm_delete', { data: data.label });
          break;
        default:
          break;
      }

      this.$vs.dialog({
        type: 'confirm',
        color: 'primary',
        title: this.$t('label.confirm'),
        text: message,
        accept: this.acceptAlert,
        acceptText: this.$t('label.yes'),
        cancelText: this.$t('label.cancel'),
        parameters: [key, data.id]
      });
    },

    approve(id) {
      this.$store
        .dispatch('project/fetchApprove', {
          id: id,
          data: { status: true }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    reject(id) {
      this.$store
        .dispatch('project/fetchApprove', {
          id: id,
          data: { status: false }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    delete(id) {
      this.$store
        .dispatch('project/fetchDelete', {
          id: id
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.delete_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
#master-project {
  .xmx-datepicker {
    width: 100%;
  }
}
</style>
