<template>
  <div id="project-report-team-style">
    <div class="print:hidden flex flex-wrap justify-end my-4">
      <vs-button
        v-if="!print"
        color="primary"
        type="filled"
        :to="{
          name: 'PrintProyekReport',
          params: {
            proyekResultId: $route.params.proyekResultId,
            assesment: $route.params.assesment
          }
        }"
        class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
      >
        {{ $t('label.download') }}
      </vs-button>
    </div>

    <InfoAsesi
      :lightMode="print"
      :proyekResultId="$route.params.proyekResultId"
    />

    <div v-if="!print" class="h-4"></div>

    <div v-if="!print">
      <vs-tabs class="text-sm" :color="colorTabs">
        <vs-tab label="Laporan">
          <div class="pt-4">
            <component :is="assesment" />
          </div>
        </vs-tab>
        <vs-tab label="Jawaban">
          <div class="pt-4">
            <psikotest-answer :detail="detail" :progress-ist="false" />
          </div>
        </vs-tab>
        <vs-tab label="Photo">
          <div class="pt-4">
            <pictures-completed
              :dataPictures="dataPictures"
              :dataJawaban="detail"
            />
          </div>
        </vs-tab>
      </vs-tabs>
    </div>
    <div v-else>
      <component :is="assesment" />
    </div>
  </div>
</template>

<script>
// mixins
import { setTypeSoalMixin } from '@/mixins/typeSoal';
// component
import InfoAsesi from '@/components/project/InfoAsesi';
import BELBIN from '@/components/project/report/TeamStyle';
import LS from '@/components/project/report/Ls';
import VALUE from '@/components/project/report/Value';
import PAPIKOSTIK from '@/components/project/report/Papikostik';
import DISC from '@/components/project/report/Disc';
import IST from '@/components/project/report/Ist';
import PF16 from '@/components/project/report/16pf';
import PsikotestAnswer from '@/components/project/answer/Psikotest';
import PicturesCompleted from '@/components/project/PicturesCompleted';

export default {
  name: 'ProjectReport',

  mixins: [setTypeSoalMixin],

  components: {
    InfoAsesi,
    BELBIN,
    LS,
    VALUE,
    PAPIKOSTIK,
    DISC,
    IST,
    PF16,
    PsikotestAnswer,
    PicturesCompleted
  },

  data: () => ({
    colorTabs: '#1f75ff',
    detail: {},
    dataPictures: null
  }),

  computed: {
    assesment() {
      return this.$route.params.assesment;
    },

    typePf() {
      return this.$store.getters['project/pfType'];
    },

    print() {
      return this.$route.meta.layout == 'print';
    }
  },

  created() {
    this.getJawaban();
    this.getDataPictures();
  },

  methods: {
    getJawaban() {
      let typeSoal = this.setTypeSoal(this.$route.params.assesment, 'answer');
      this.$store
        .dispatch('project/getAnswer', {
          typeSoal,
          proyekSoalId: this.$route.params.proyekSoalId,
          proyekPesertaId: this.$route.params.idAsesi
        })
        .then((response) => {
          this.detail = response;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    downloadReport() {
      let assessmentPayload;

      if (this.assesment === 'PF16') {
        assessmentPayload = this.typePf;
      } else {
        assessmentPayload = this.setTypeSoal(this.assesment, 'stream');
      }

      const payload = {
        proyekResultId: this.$route.params.proyekResultId,
        assessment: assessmentPayload
      };
      this.$store
        .dispatch('project/reportDownload', payload)
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.success_download')
          });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    getDataPictures() {
      const payload = {
        proyekPesertaId: this.$route.params.idAsesi,
        proyekSoalId: this.$store.getters['project/jawaban'].proyekSoalId
      };

      this.$store
        .dispatch('project/getPicturesCompleted', payload)
        .then((res) => {
          this.dataPictures = res;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    }
  }
};
</script>
