<template>
  <div id="see-answer">
    <div class="w-full pt-4">
      <!-- asesor -->
      <BoxHeader :title="detail.assesment" v-if="$acl.check('isAsesorOnly')">
        <div class="py-2">
          <div class="flex items-center pt-2">
            <div class="flex-1 pr-4 py-2 border-solid border-r border-gray-400">
              <div class="w-full text-xs text-label-color pb-2 font-semibold">
                {{ 'Nama Asesi' }}
              </div>
              <div class="w-full text-xs text-label-color pb-2">
                {{ profileAsesi.namaPeserta }}
              </div>
            </div>
            <div class="flex-1 px-4 py-2 border-solid border-r border-gray-400">
              <div class="w-full text-xs text-label-color pb-2 font-semibold">
                {{ 'Tools / Simulasi' }}
              </div>
              <div class="w-full text-xs text-label-color pb-2">
                {{ detail.assesment }}
              </div>
            </div>
            <div class="flex-1 px-4 py-2 border-solid border-r border-gray-400">
              <div class="w-full text-xs text-label-color pb-2 font-semibold">
                {{ $t('label.progress_assessment') }}
              </div>
              <div class="w-full text-xs text-label-color pb-2">
                {{ statusProgress() }}
              </div>
            </div>
            <div class="flex-1 px-4 pb-2">
              <div class="w-full text-xs text-label-color font-semibold pb-1">
                {{ $t('label.start_time') }} - {{ $t('label.end_time') }}
              </div>
              <div class="w-full text-xs text-label-color flex items-center">
                <vs-icon
                  color="primary"
                  type="flat"
                  class="mr-2"
                  icon="schedule"
                  suze="small"
                ></vs-icon>
                <span
                  >{{
                    detail.jamMulai.substr(detail.jamMulai.lastIndexOf('T') + 1)
                  }}
                  -
                  {{
                    detail.jamSelesai.substr(
                      detail.jamSelesai.lastIndexOf('T') + 1
                    )
                  }}</span
                >
              </div>
            </div>
          </div>
          <!-- download files jawaban -->
          <template
            v-if="
              detail.typeSoal === 'LEADERLESS_GROUP_DISCUSSION' ||
                detail.typeSoal === 'PEER_INTERACTION'
            "
          >
            <div v-if="detail.files">
              <div
                class="w-full text-xs text-label-color pb-2 font-semibold mt-4 mb-1"
              >
                Download File Jawaban
              </div>
              <div
                class="w-full flex justify-between text-xs text-label-color font-medium"
              >
                <span
                  @click="fetchFiles(detail.files.fileUrl, detail.files.type)"
                  class="px-3 py-2 bg-shades-blue-light text-xs rounded-md cursor-pointer mb-3 block"
                >
                  {{ detail.files.fileUrl }}
                </span>
              </div>
            </div>
          </template>
          <!-- end download files jawaban -->
          <div class="w-full">
            <!-- lihat soal -->
            <vs-button
              class="text-xs px-8 mt-4 font-medium w-full md:w-auto vs-con-loading__container"
              color="secondary"
              type="filled"
              @click="
                seeQuestion(detail.typeSoal, detail.soalId, detail.soalVersion)
              "
            >
              <span v-if="detail.soalGroup === 'Assessment Center'">
                {{ $t('label.view_arg', { attribute: $t('label.theory') }) }}
              </span>
              <span v-else>
                {{ $t('label.view_arg', { attribute: $t('label.matter') }) }}
              </span>
            </vs-button>
            <!-- lihat flp -->
            <vs-button
              class="text-xs px-8 mt-4 ml-3 font-medium w-full md:w-auto vs-con-loading__container"
              color="secondary"
              type="filled"
              v-if="flpFlag"
              @click="goToFlp()"
            >
              {{ $t('label.flp') }}
            </vs-button>
          </div>
          <!-- end lihat soal -->
        </div>
      </BoxHeader>
      <!-- end asesor -->

      <!-- admin and superadmin -->
      <BoxHeader :title="detail.assesment" v-else>
        <div class="flex flex-wrap items-center">
          <div class="w-full lg:w-2/5 p-2">
            <div class="w-full pb-2">
              <div class="w-full text-xs text-label-color py-2 font-semibold">
                {{ 'Nama Asesi' }}
              </div>
              <div class="w-full text-xs text-label-color pb-2">
                {{ profileAsesi.namaPeserta }}
              </div>
            </div>
            <div class="w-full pb-4">
              <div
                class="w-full text-xs text-label-color pb-2 font-semibold pt-2"
              >
                {{ 'Tools / Simulai' }}
              </div>
              <div class="w-full text-xs text-label-color pb-2">
                {{ detail.assesment }}
              </div>
            </div>
            <div class="w-full pb-2">
              <div class="w-full text-xs text-label-color pb-2 font-semibold">
                {{ $t('label.progress_assessment') }}
              </div>
              <div class="w-full text-xs text-label-color">
                {{ statusProgress() }}
              </div>
            </div>
            <template
              v-if="
                detail.typeSoal === 'LEADERLESS_GROUP_DISCUSSION' ||
                  detail.typeSoal === 'PEER_INTERACTION'
              "
            >
              <div v-if="detail.files">
                <div
                  class="w-full text-xs text-label-color pb-2 font-semibold mt-4 mb-1"
                >
                  Download File Jawaban
                </div>
                <div
                  class="w-full flex justify-between text-xs text-label-color font-medium"
                >
                  <span
                    @click="fetchFiles(detail.files.fileUrl, detail.files.type)"
                    class="px-3 py-2 bg-shades-blue-light text-xs rounded-md cursor-pointer mb-3 block"
                  >
                    {{ detail.files.fileUrl }}
                  </span>
                </div>
              </div>
            </template>
            <div class="w-full">
              <!-- lihat soal -->
              <vs-button
                class="text-xs px-8 mt-4 font-medium w-full md:w-auto vs-con-loading__container"
                color="secondary"
                type="filled"
                @click="
                  seeQuestion(
                    detail.typeSoal,
                    detail.soalId,
                    detail.soalVersion
                  )
                "
              >
                <span v-if="detail.soalGroup === 'Assessment Center'">
                  {{ $t('label.view_arg', { attribute: $t('label.theory') }) }}
                </span>
                <span v-else>
                  {{ $t('label.view_arg', { attribute: $t('label.matter') }) }}
                </span>
              </vs-button>
              <!-- lihat flp -->
              <vs-button
                class="text-xs px-8 mt-4 ml-3 font-medium w-full md:w-auto vs-con-loading__container"
                color="secondary"
                type="filled"
                v-if="flpFlag"
                @click="goToFlp()"
              >
                {{ $t('label.flp') }}
              </vs-button>
            </div>
          </div>
          <div class="w-full lg:w-1/5 p-2"></div>
          <template v-if="currentTest">
            <div
              class="w-full lg:w-2/5 p-2 mb-2"
              v-if="
                (currentTest.soalType === detail.typeSoal &&
                  detail.typeSoal !== 'IST') ||
                  (statusProgress() !== 'Selesai' &&
                    statusProgress() !== 'Belum Dimulai' &&
                    statusProgress() !== 'Tidak Ada Jawaban')
              "
            >
              <BaseBox class="mt-4 pb-10 h-full">
                <vs-input
                  color="primary"
                  class="w-full"
                  icon="schedule"
                  type="number"
                  v-model="tambahanWaktu"
                  :label="'Tambahan Waktu (Menit)'"
                  placeholder="0"
                />
                <vs-button
                  class="text-xs px-8 mt-4 font-medium w-full md:w-auto vs-con-loading__container"
                  color="primary"
                  type="filled"
                  ref="loadingBtn"
                  :disabled="tambahanWaktu < 1"
                  @click="tambahWaktu"
                >
                  {{ $t('label.add') }}
                </vs-button>
              </BaseBox>
            </div>
          </template>
        </div>
      </BoxHeader>
      <!-- admin and superadmin -->

      <div class="h-8"></div>

      <!-- jawaban assessment center -->
      <div v-if="detail.soalGroup === 'Assessment Center'">
        <div v-if="detail.jawaban">
          <!-- FLP -->

          <!-- In Basket -->
          <div v-if="detail.typeSoal === 'IN_BASKET'">
            <in-basket
              :items="detail.jawaban"
              :flp="flpDetail"
              @download="inBasketFiles"
            />
            <!-- Klarifikasi -->
            <BoxHeader class="mb-8" title="Klarifikasi" v-if="detail.jawaban">
              <div class="pb-3">
                <Editor
                  v-model="flpKlarifikasi"
                  :disabled="$acl.check('isAdmin')"
                />
              </div>
            </BoxHeader>
          </div>
          <!-- End In Basket -->

          <!-- LGD and PI -->
          <div
            v-else-if="
              detail.typeSoal === 'LEADERLESS_GROUP_DISCUSSION' ||
                detail.typeSoal === 'PEER_INTERACTION'
            "
          >
            <div v-for="(item, itemIndex) in detail.jawaban" :key="itemIndex">
              <!-- intruction -->
              <div v-if="item.nomor < 1">
                <BoxHeader class="mb-8" title="Klarifikasi">
                  <!-- jawaban -->
                  <template>
                    <div
                      class="w-full text-xs text-label-color pb-2 font-semibold mt-5 mb-2"
                    >
                      Jawaban Asesi
                    </div>

                    <p
                      class="text-xs text-label-color"
                      v-html="item.pernyataan"
                    ></p>
                  </template>
                </BoxHeader>
              </div>
            </div>
            <!-- flp -->
            <BoxHeader title="Soal FLP">
              <div v-for="(item, itemIndex) in detail.jawaban" :key="itemIndex">
                <div v-if="item.nomor >= 1">
                  <BaseBox class="mb-8 basebox-flp" v-if="flpDetail">
                    <div>
                      <!-- soal -->
                      <template>
                        <div
                          class="w-full text-xs text-label-color pb-2 font-semibold mb-2"
                        >
                          Soal No. {{ item.nomor }}
                        </div>
                        <p
                          class="text-xs text-label-color"
                          v-html="
                            flpDetail.isiPertanyaan[item.nomor - 1].pertanyaan
                          "
                        ></p>
                      </template>
                      <!-- jawaban -->
                      <template>
                        <div
                          class="w-full text-xs text-label-color pb-2 font-semibold mt-5 mb-2"
                        >
                          Jawaban Asesi
                        </div>

                        <p
                          class="text-xs text-label-color"
                          v-html="item.pernyataan"
                        ></p>
                      </template>
                    </div>
                  </BaseBox>
                </div>
              </div>
            </BoxHeader>
          </div>
          <!-- End LGD and PI -->

          <!-- End FLP -->

          <!-- Scheduling -->
          <div v-else-if="detail.typeSoal === 'SCHEDULING'">
            <scheduling v-if="detail.jawaban" :jawaban="detail.jawaban">
              <div
                class="w-full text-xs text-label-color pb-2 font-semibold mt-5"
              >
                Klarifikasi Asesor
              </div>

              <p class="text-xs text-label-color">
                Klik button dibawah ini untuk menambahkan klarifikasi
              </p>

              <vs-button
                class="text-xs px-8 font-medium w-full md:w-auto mt-6 mb-5"
                color="primary"
                type="filled"
                ref="loadingBtn"
                @click="openEditor(0)"
              >
                Klarifikasi
              </vs-button>

              <div class="pb-3" v-if="flagEditor[0].active">
                <Editor
                  :disabled="$acl.check('isAdmin')"
                  v-model="flpKlarifikasi"
                />
              </div>
            </scheduling>
          </div>
          <!-- emd scheduling -->

          <!-- others -->
          <div v-else>
            <BoxHeader
              class="mb-8"
              title="Klarifikasi"
              v-for="(item, itemIndex) in detail.jawaban"
              :key="itemIndex"
            >
              <div>
                <div
                  class="w-full text-xs text-label-color pb-2 font-semibold mt-5 mb-2"
                >
                  Jawaban Asesi
                </div>

                <p
                  class="text-xs text-label-color"
                  v-html="item.pernyataan"
                ></p>

                <template v-if="detail.files">
                  <div
                    class="w-full text-xs text-label-color pb-2 font-semibold mt-5 mb-1"
                  >
                    Download File Jawaban
                  </div>
                  <div
                    class="w-full flex justify-between text-xs text-label-color font-medium"
                  >
                    <span
                      @click="
                        fetchFiles(detail.files.fileUrl, detail.files.type)
                      "
                      class="px-3 py-2 bg-shades-blue-light text-xs rounded-md cursor-pointer mb-3 block"
                    >
                      {{ detail.files.fileUrl }}
                    </span>
                  </div>
                </template>

                <hr class="my-5" />

                <div
                  class="w-full text-xs text-label-color pb-2 font-semibold mt-5"
                >
                  Klarifikasi Asesor
                </div>

                <p class="text-xs text-label-color">
                  Klik button dibawah ini untuk menambahkan klarifikasi
                </p>

                <vs-button
                  class="text-xs px-8 font-medium w-full md:w-auto mt-6 mb-5"
                  color="primary"
                  type="filled"
                  ref="loadingBtn"
                  v-if="detail.soalGroup === 'Assessment Center'"
                  @click="openEditor(itemIndex)"
                >
                  Klarifikasi
                </vs-button>

                <div class="pb-3" v-if="flagEditor[itemIndex].active">
                  <Editor
                    v-model="item.klarifikasi"
                    :disabled="$acl.check('isAdmin')"
                  />
                </div>
              </div>
            </BoxHeader>
          </div>

          <div class="h-6"></div>
        </div>
      </div>
      <!-- end jawaban assessment center -->

      <!-- jawaban psychological assessment -->
      <div v-else>
        <div v-if="detail.jawaban">
          <psikotest-answer
            :detail="detail"
            :progress-ist="$route.params.status === 1 ? false : true"
          />
        </div>
      </div>
      <!-- end jawaban psychological assessment -->
    </div>

    <!-- button -->
    <div class="flex justify-end">
      <vs-button
        v-if="detail.soalGroup === 'Assessment Center'"
        class="text-xs px-8 font-medium w-full md:w-auto"
        color="secondary"
        type="border"
        @click="$router.go(-1)"
      >
        {{ $t('label.back') }}
      </vs-button>
      <vs-button
        class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container ml-3"
        color="primary"
        type="filled"
        ref="loadingBtn"
        v-if="
          detail.soalGroup === 'Assessment Center' &&
            detail.jawaban &&
            $acl.check('isAsesorOnly')
        "
        :disabled="isLoading"
        @click="klasifikasiAssessor"
      >
        {{ $t('label.save') }}
      </vs-button>
    </div>
    <!-- end button -->
  </div>
</template>
<script>
// vuex
import { mapGetters } from 'vuex';
import { setTypeSoalMixin } from '@/mixins/typeSoal';

// base
import Editor from '@/components/base/Editor';
import BoxHeader from '@/components/base/BoxHeader.vue';
import BaseBox from '@/components/base/Box';

// components
import InBasket from '@/components/project/answer/InBasket';
import Scheduling from '@/components/project/answer/Scheduling';
import PsikotestAnswer from '@/components/project/answer/Psikotest';

export default {
  name: 'SeeAnswer',
  components: {
    Editor,
    BoxHeader,
    BaseBox,
    InBasket,
    Scheduling,
    PsikotestAnswer
  },

  mixins: [setTypeSoalMixin],

  computed: {
    ...mapGetters({
      dataAssessment: 'project/detailAssessment',
      profileAsesi: 'project/infoAsesi',
      flp: 'flp/item'
    })
  },

  data: () => ({
    flpKlarifikasi: '',
    index: 0,
    tambahanWaktu: null,
    detail: {},
    flagEditor: [],
    flpFlag: false,
    flpDetail: null,
    currentTest: null,
    isLoading: false
  }),

  created() {
    this.fetchDataAssessment(this.$route.params.idAsesi);
    this.currentTestAsesi();
    this.getJawaban();
    this.getFLP();
  },

  methods: {
    getJawaban() {
      if (this.$route.params.status === 1) {
        let typeSoal = this.setTypeSoal(this.$route.params.typeSoal, 'answer');
        this.$store
          .dispatch('project/getAnswer', {
            typeSoal,
            proyekSoalId: this.$route.params.proyekSoalId,
            proyekPesertaId: this.$route.params.idAsesi
          })
          .then((response) => {
            this.detail = response;
            // jika sudah ada jawaban maka get klarifikasi
            if (response.jawaban) {
              // kondisi khusus jika punya FLP & scheduling
              if (
                response.typeSoal === 'IN_BASKET' ||
                response.typeSoal === 'LEADERLESS_GROUP_DISCUSSION' ||
                response.typeSoal === 'PEER_INTERACTION' ||
                response.typeSoal === 'SCHEDULING'
              ) {
                this.flpKlarifikasi = response.jawaban[0].klarifikasi;
              }
              // set flag active button klarifikasi
              response.jawaban.forEach(() => {
                this.flagEditor.push({
                  active: false
                });
              });
            }
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          });
      } else {
        this.detail = this.$store.getters['project/jawaban'];
      }
    },

    fetchFlpDetail() {
      this.$store
        .dispatch('flp/fetchDetail', {
          id: this.flp.flpId,
          version: this.flp.version
        })
        .then((response) => {
          this.flpDetail = response;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    // go to flp
    goToFlp() {
      let type = this.detail.typeSoal,
        url = '';

      if (type === 'IN_BASKET') {
        url = 'FlpInBasketProyek';
      }
      if (type === 'PEER_INTERACTION') {
        url = 'FlpPeerInteractionProyek';
      }
      if (type === 'LEADERLESS_GROUP_DISCUSSION') {
        url = 'FlpLeaderlessDiscussionProyek';
      }

      this.$router.push({
        name: url,
        params: {
          id: this.flp.flpId,
          version: this.flp.version
        }
      });
    },

    // fetch FLP
    getFLP() {
      let type = this.$route.params.typeSoal;
      let url = null;

      if (type === 'IN_BASKET') {
        url = 'In - Basket';
      }
      if (type === 'PEER_INTERACTION') {
        url = 'Peer Interaction';
      }
      if (type === 'LEADERLESS_GROUP_DISCUSSION') {
        url = 'Leaderless Group Discussion';
      }

      if (url) {
        this.$store
          .dispatch('flp/fetchList', {
            soalType: url
          })
          .then(() => {
            this.flpFlag = true;
            this.fetchFlpDetail();
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          });
      }
    },

    // inbasket download triggered
    inBasketFiles(payload) {
      this.$store
        .dispatch('project/downloadFilesInBasket', payload)
        .then((res) => {
          this.forceFileDownload(res, payload.fileUrl);
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    // lihat soal
    seeQuestion(typeSoal, soalId, soalVersion) {
      typeSoal = this.setTypeSoal(typeSoal, 'router');
      this.$router.push({
        name: typeSoal,
        params: {
          id: soalId,
          version: soalVersion
        }
      });
    },

    // set status progress
    statusProgress() {
      const detail = this.$store.getters['project/jawaban'];
      let dateMulai = detail.jamMulai;
      let dateSelesai = detail.jamSelesai;
      let result;

      // if any answeer then result finish
      if (detail.jawaban) {
        result = 'Selesai';
      } else {
        if (new Date().getTime() < new Date(dateMulai).getTime()) {
          result = 'Belum Dimulai';
        } else if (new Date().getTime() > new Date(dateSelesai).getTime()) {
          const lastAssessment = this.dataAssessment[
            this.dataAssessment.length - 1
          ];
          if (
            lastAssessment.jawaban ||
            new Date().getTime() > new Date(lastAssessment.jamSelesai).getTime()
          ) {
            // jika soal terakhir sudah lewat dari waktu sekarang atau sudah selesai
            result = 'Tidak Ada Jawaban';
          } else {
            result = 'Belum Submit Jawaban';
          }
        } else {
          result = 'Sedang Berjalan';
        }
      }

      return result;
    },

    // open editor klarifikasi
    openEditor(index) {
      if (this.flagEditor[index].active) {
        this.flagEditor[index].active = false;
      } else {
        this.flagEditor[index].active = true;
      }
    },

    // tambah waktu soal
    tambahWaktu() {
      const payload = {
        proyekPesertaId: this.detail.proyekPesertaId,
        proyekSoalId: this.detail.proyekSoalId,
        data: {
          tambahanWaktu: Number(this.tambahanWaktu)
        }
      };
      this.$store
        .dispatch('project/tambahWaktu', payload)
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.create_message')
          });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    // fetch Files
    fetchFiles(fileUrl, type) {
      const payload = {
        fileUrl,
        type
      };
      this.$store
        .dispatch('project/fetchFilesJawaban', payload)
        .then((res) => {
          this.forceFileDownload(res, payload.fileUrl);
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    // download Files
    forceFileDownload(response, fileName) {
      const url = window.URL.createObjectURL(new Blob([response.data]));
      const link = document.createElement('a');
      link.href = url;
      link.setAttribute('download', fileName);
      document.body.appendChild(link);
      link.click();
    },

    // list assessment
    fetchDataAssessment(proyekPesertaId) {
      this.$store
        .dispatch('project/fetchProyekAssessment', { proyekPesertaId })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    // get current test asesi
    currentTestAsesi() {
      this.$store
        .dispatch('project/currentTestAsesi', {
          proyekId: this.$route.params.idProyek,
          proyekPesertaId: this.$route.params.idAsesi
        })
        .then((res) => {
          this.currentTest = res;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    // klarifikasi asesor
    klasifikasiAssessor() {
      this.isLoading = true;
      if (
        this.detail.typeSoal === 'IN_BASKET' ||
        this.detail.typeSoal === 'LEADERLESS_GROUP_DISCUSSION' ||
        this.detail.typeSoal === 'PEER_INTERACTION' ||
        this.detail.typeSoal === 'SCHEDULING'
      ) {
        let jawaban = [];
        this.detail.jawaban.forEach((data) => {
          data.klarifikasi = this.flpKlarifikasi;
          jawaban.push(data);
        });
        this.detail.jawaban = jawaban;
      }

      const payload = {
        proyekPesertaId: this.detail.proyekPesertaId,
        proyekResultId: this.detail.proyekResultId,
        data: this.detail
      };
      this.$store
        .dispatch('project/klasifikasiAssessor', payload)
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.create_message')
          });

          this.$router.go(-1);
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
        });
    }
  }
};
</script>
<style lang="scss">
#see-answer {
  .xmx-datepicker {
    width: 100% !important;
  }

  .basebox-flp:first-child {
    @apply mt-8;
  }

  th {
    text-align: center !important;
    padding: 10px !important;
  }

  .vs-table--tbody-table .tr-values td {
    text-align: center;
    border: 1px solid #e2e8f0;
  }

  th .vs-table-text {
    justify-content: center !important;
  }

  tr th:first-child .vs-table-text {
    justify-content: left !important;
  }

  .vs-table--tbody-table {
    min-width: 100% !important;
    background: white;
  }
}

/deep/ .con-vs-tabs .con-ul-tabs,
.vs-tabs--ul {
  display: none !important;
}
</style>
