<template>
  <div id="target-job">
    <BoxHeader :title="$t('label.target_job')">
      <div v-if="targetJob" class="lg:px-6 py-4">
        <div class="flex flex-wrap lg:flex-no-wrap -mx-2">
          <div class="w-full lg:w-1/2 px-2">
            <FormGroup
              :name="
                $t('label.name_arg', { attribute: $t('label.target_job') })
              "
            >
              <vs-input
                color="primary"
                class="w-full"
                v-model.trim="targetJob.namaTargetJob"
                :disabled="true"
                :label="
                  $t('label.name_arg', { attribute: $t('label.target_job') })
                "
              />
            </FormGroup>
          </div>

          <div class="w-full lg:w-1/2 px-2">
            <FormGroup :name="$t('label.level')">
              <vs-input
                color="primary"
                class="w-full"
                :value="
                  optionLevel[targetJob.level - 1]
                    ? optionLevel[targetJob.level - 1].text
                    : ''
                "
                :disabled="true"
                :label="$t('label.level')"
              />
            </FormGroup>
          </div>
        </div>

        <div class="w-full px-2">
          <FormGroup :name="$t('label.description')">
            <vs-textarea
              :label="$t('label.description')"
              :disabled="true"
              v-model.trim="targetJob.deskripsiTargetJob"
            />
          </FormGroup>
        </div>
      </div>
    </BoxHeader>

    <div class="h-12"></div>

    <template v-if="form.kamusKompetensi && form.kamusKompetensi.length > 0">
      <BoxHeader
        v-for="(kamusKompetensi, kkIndex) in form.kamusKompetensi"
        :key="'kamus-kompetensi' + kamusKompetensi.kamusKompetensiId"
        :title="kamusKompetensi.namaKamusKompetensi"
        :expand="true"
        class="mb-8"
      >
        <template v-slot:action>
          <div v-if="!isDisabled" class="flex items-center bg-white rounded-lg">
            <vs-button
              @click="
                removeCompetencyDictionary(
                  kkIndex,
                  kamusKompetensi.kamusKompetensiId
                )
              "
              class="mx-2"
              color="danger"
              type="flat"
              icon="delete_outline"
              v-tooltip="
                $t('label.delete_arg', {
                  attribute: $t('label.competency_dictionary')
                })
              "
            ></vs-button>
            <vs-button
              @click="showCompetencyDictionary = true"
              class="mx-2"
              color="primary"
              type="flat"
              icon="add_circle_outline"
              v-tooltip="
                $t('label.add_arg', {
                  attribute: $t('label.competency_dictionary')
                })
              "
            ></vs-button>
          </div>
        </template>

        <div class="w-full lg:w-1/2">
          <FormGroup :name="$t('label.competency_dictionary')">
            <vs-input
              color="primary"
              class="w-full field-required"
              v-model.trim="form.kamusKompetensi[kkIndex].namaKamusKompetensi"
              :disabled="isLoading || isDisabled"
              :label="$t('label.competency_dictionary')"
              :placeholder="
                $t('placeholder.input_general', {
                  attribute: $t('label.competency_dictionary')
                })
              "
            />
          </FormGroup>
        </div>

        <div class="border-4 border-gray-200 my-8 w-full" />

        <CreateEditKompetensi
          :isDisabled="isDisabled"
          :items="kamusKompetensi.kompetensi"
          :kamusKompetensiId="kamusKompetensi.kamusKompetensiId"
          @save="fetchTargetJob"
        />

        <CreateEditPenilaian
          :isDisabled="isDisabled"
          :items="kamusKompetensi.kriteriaPenilaian"
          :kamusKompetensiId="kamusKompetensi.kamusKompetensiId"
          @save="fetchTargetJob"
        />

        <CreateEditRekomendasi
          :isDisabled="isDisabled"
          :items="kamusKompetensi.kriteriaRekomendasi"
          :kamusKompetensiId="kamusKompetensi.kamusKompetensiId"
          @save="fetchTargetJob"
        />
      </BoxHeader>
    </template>

    <BoxHeader v-else>
      <NoData
        :title="
          $t('content.no_data_title', {
            attribute: $t('label.competency_dictionary')
          })
        "
        :subtitle="
          $t('content.no_data_subtitle', {
            attribute: $t('label.competency_dictionary')
          })
        "
      >
        <template v-slot:action>
          <vs-button
            v-if="!isDisabled"
            @click="showCompetencyDictionary = true"
            class="text-xs px-8 font-medium"
            color="primary"
            type="filled"
          >
            {{ $t('label.add') }}
            {{ $t('label.competency_dictionary') }}
          </vs-button>
        </template>
      </NoData>
    </BoxHeader>

    <div class="h-4"></div>

    <ButtonGroup
      v-if="targetJob"
      :isLoading="isLoading"
      :isDetail="$route.meta.isDetail"
      :status="targetJob.status"
      @save="save"
      @edit="
        $router.push({
          name: 'KamusKompetensi',
          params: {
            id: $route.params.id,
            jobId: $route.params.jobId
          }
        })
      "
      @reject="reject"
      @approve="approve"
    />

    <CompetencyDictionary
      :showPopup="showCompetencyDictionary"
      @saved="addCompetencyDictionary"
      @closed="showCompetencyDictionary = false"
    />
  </div>
</template>

<script>
import { loadingMixin } from '@/mixins/loading';
import constants from '@/constants';
import CompetencyDictionary from '@/components/master/perusahaan/CompetencyDictionary.vue';
import CreateEditKompetensi from '@/components/master/kamusKompetensi/CreateEditKompetensi.vue';
import CreateEditPenilaian from '@/components/master/kamusKompetensi/CreateEditPenilaian.vue';
import CreateEditRekomendasi from '@/components/master/kamusKompetensi/CreateEditRekomendasi.vue';
import FormGroup from '@/components/base/FormGroup.vue';
import NoData from '@/components/base/NoData.vue';
import BoxHeader from '@/components/base/BoxHeader.vue';
import ButtonGroup from '@/components/base/ButtonGroup.vue';

export default {
  name: 'TargetJob',

  components: {
    BoxHeader,
    ButtonGroup,
    CompetencyDictionary,
    CreateEditKompetensi,
    CreateEditPenilaian,
    CreateEditRekomendasi,
    FormGroup,
    NoData
  },

  mixins: [loadingMixin],

  computed: {
    isDisabled() {
      return (
        this.$route.meta.isDetail ||
        (this.targetJob && ![3, 5, 6].includes(this.targetJob.status))
      );
    }
  },

  data: () => ({
    show: false,
    showCompetencyDictionary: false,
    form: {
      kamusKompetensi: []
    },
    targetJob: null,
    isLoading: false,
    optionLevel: constants.LEVEL_TARGET_JOB
  }),

  mounted() {
    this.fetchTargetJob();
  },

  methods: {
    fetchTargetJob() {
      this.$store
        .dispatch('targetJob/fetchDetail', {
          id: this.$route.params.jobId
        })
        .then((data) => {
          this.targetJob = data;
          this.form = {
            kamusKompetensi: data.kamusKompetensi
          };
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    addCompetencyDictionary(params) {
      if (!this.form.kamusKompetensi) {
        this.form.kamusKompetensi = [];
      }

      this.form.kamusKompetensi.push(params);
      this.showCompetencyDictionary = false;
    },

    removeCompetencyDictionary(index, id) {
      this.$store
        .dispatch('kamusKompetensi/fetchDeleteKamusKompetensi', {
          kamusKompetensiId: id
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.delete_message')
          });

          let temp = JSON.parse(JSON.stringify(this.form.kamusKompetensi));
          temp.splice(index, 1);
          this.form.kamusKompetensi = temp;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    save() {
      let payload = {
        targetJobId: this.$route.params.jobId
      };

      this.isLoading = true;
      this.$store
        .dispatch('kamusKompetensi/fetchUpdateStatus', payload)
        .then(() => {
          // this.fetchTargetJob();
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.$router.replace({
            name: 'DetailKamusKompetensi',
            params: {
              id: this.$route.params.id,
              jobId: this.$route.params.jobId
            }
          });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },

    approve() {
      this.isLoading = true;
      this.$store
        .dispatch('targetJob/fetchApprove', {
          id: this.$route.params.jobId,
          data: { status: true }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });

          this.$router.push({
            name: 'DetailPerusahaan',
            params: { id: this.$route.params.id }
          });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },

    reject() {
      this.isLoading = true;
      this.$store
        .dispatch('targetJob/fetchApprove', {
          id: this.$route.params.jobId,
          data: { status: false }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });

          this.$router.push({
            name: 'DetailPerusahaan',
            params: { id: this.$route.params.id }
          });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },

    navBack() {
      if (this.$route.meta.isDetail) {
        this.$router.push({
          name: 'DetailPerusahaan',
          params: { id: this.$route.params.id }
        });
      } else {
        this.$router.go(-1);
      }
    }
  }
};
</script>
