<template>
  <div id="create-edit-perusahaan">
    <Review
      :statusCode="status"
      @fetchPrev="fetchDetail($route.params.id)"
      @fetchNew="fetchReview($route.params.id)"
    />

    <BoxHeader
      :title="
        $t('content.overview', {
          attribute: $t('label.company')
        })
      "
    >
      <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="$t('label.name_arg', { attribute: $t('label.company') })"
            :validator="$v.form.namaPerusahaan"
          >
            <vs-input
              color="primary"
              class="w-full field-required"
              v-model.trim="form.namaPerusahaan"
              :disabled="isLoading || isDetail"
              :danger="$v.form.namaPerusahaan.error"
              :label="$t('label.name_arg', { attribute: $t('label.company') })"
              :placeholder="
                $t('placeholder.name', { attribute: $t('label.company') })
              "
            />
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="$t('label.sector')"
            :validator="$v.form.bidangPerusahaan"
          >
            <vs-input
              color="primary"
              class="w-full field-required"
              v-model.trim="form.bidangPerusahaan"
              :disabled="isLoading || isDetail"
              :danger="$v.form.bidangPerusahaan.error"
              :label="$t('label.sector')"
              :placeholder="
                $t('placeholder.sector', {
                  attribute: $t('label.company')
                })
              "
            />
          </FormGroup>
        </div>

        <div class="w-full px-2">
          <FormGroup
            :name="$t('label.description')"
            :validator="$v.form.deskripsiPerusahaan"
          >
            <vs-textarea
              :label="$t('label.description')"
              :placeholder="
                $t('placeholder.description', {
                  attribute: $t('label.company')
                })
              "
              :disabled="isLoading || isDetail"
              v-model.trim="form.deskripsiPerusahaan"
            />
          </FormGroup>
        </div>
      </div>
    </BoxHeader>

    <TargetJobList :statusPerusahaan="status" v-if="isDetail" />

    <div class="h-6"></div>

    <ButtonGroup
      :isLoading="isLoading"
      :isDetail="isDetail"
      :status="status"
      @save="openConfirm(form.email)"
      @edit="
        $router.push({
          name: 'UpdatePerusahaan',
          params: {
            id: $route.params.id
          }
        })
      "
      @reject="reject"
      @approve="approve"
    />
  </div>
</template>

<script>
import { includes } from 'lodash';
import { mapGetters } from 'vuex';
import { loadingMixin } from '@/mixins/loading';
import { required, maxLength } from 'vuelidate/lib/validators';
import { alphabetic } from '@/mixins/validator';
import BoxHeader from '@/components/base/BoxHeader';
import ButtonGroup from '@/components/base/ButtonGroup.vue';
import FormGroup from '@/components/base/FormGroup.vue';
import TargetJobList from '@/components/master/perusahaan/TargetJobList.vue';
import Review from '@/components/base/Review.vue';

export default {
  name: 'CreateEditUserInternal',

  mixins: [loadingMixin],

  components: {
    BoxHeader,
    ButtonGroup,
    FormGroup,
    TargetJobList,
    Review
  },

  data: () => ({
    edit: false,
    form: {
      namaPerusahaan: '',
      bidangPerusahaan: '',
      deskripsiPerusahaan: ''
    },
    isLoading: false,
    showPopup: false,
    status: ''
  }),

  computed: {
    ...mapGetters({
      roles: 'auth/currentRoles'
    }),

    isDetail() {
      return this.$route.meta.isDetail || false;
    }
  },

  validations: {
    form: {
      namaPerusahaan: {
        required,
        alphabetic,
        maxLength: maxLength(100)
      },
      bidangPerusahaan: {
        required,
        alphabetic,
        maxLength: maxLength(100)
      },
      deskripsiPerusahaan: {
        maxLength: maxLength(1000)
      }
    }
  },

  watch: {
    status(newVal) {
      if ([1].includes(newVal) && this.$acl.not.check('isSuperAdmin')) {
        this.fetchReview(this.$route.params.id);
      }
    }
  },

  created() {
    if (this.$route.params.id) {
      this.fetchDetail(this.$route.params.id);
    }
  },

  methods: {
    fetchDetail(id) {
      this.$store
        .dispatch('perusahaan/fetchDetail', { id: id })
        .then((data) => {
          this.edit = true;
          this.form.deskripsiPerusahaan = data.deskripsiPerusahaan;
          this.form.bidangPerusahaan = data.bidangPerusahaan;
          this.form.namaPerusahaan = data.namaPerusahaan;
          this.status = data.status;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    fetchReview(id) {
      this.$store
        .dispatch('perusahaan/fetchReview', { id: id })
        .then((data) => {
          this.form = data.after;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    openConfirm(data) {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        if (this.edit) {
          this.$vs.dialog({
            type: 'confirm',
            color: 'primary',
            title: this.$t('label.confirm'),
            text: this.$t('content.confirm_update', { data: data }),
            acceptText: this.$t('label.yes'),
            cancelText: this.$t('label.cancel'),
            accept: this.submit
          });
        } else {
          this.submit();
        }
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });
      }
    },

    submit() {
      this.isLoading = true;
      // this.loadingButton(this.$refs.loadingBtn.$el);

      let storeAction = 'perusahaan/fetchSave';
      let payload = {
        data: this.form
      };

      if (includes(this.roles, 'SUPER_ADMIN')) {
        payload.data.status = true;
      }

      if (this.edit) {
        payload['id'] = this.$route.params.id;
        storeAction = 'perusahaan/fetchUpdate';
      }

      this.$store
        .dispatch(storeAction, payload)
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.edit
              ? this.$t('content.update_message')
              : this.$t('content.create_message')
          });
          this.$router.push({ name: 'MasterPerusahaan' });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
          // this.closeLoading(this.$refs.loadingBtn.$el);
        });
    },

    approve() {
      this.isLoading = true;
      // this.loadingButton(this.$refs.loadingBtn.$el);
      this.$store
        .dispatch('perusahaan/fetchApprove', {
          id: this.$route.params.id,
          data: { status: true }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });

          this.$router.push({ name: 'MasterPerusahaan' });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
          // this.closeLoading(this.$refs.loadingBtn.$el);
        });
    },

    reject() {
      this.isLoading = true;
      // this.loadingButton(this.$refs.loadingBtn2.$el);
      this.$store
        .dispatch('perusahaan/fetchApprove', {
          id: this.$route.params.id,
          data: { status: false }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });

          this.$router.push({ name: 'MasterPerusahaan' });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
          // this.closeLoading(this.$refs.loadingBtn2.$el);
        });
    }
  }
};
</script>
