<template>
  <div id="master-perusahaan">
    <BaseBox>
      <div class="table-content-loading vs-con-loading__container">
        <vs-table
          stripe
          @sort="handleSort"
          :sst="true"
          :data="items"
          :noDataText="$t('content.no_data_text')"
        >
          <template slot="header">
            <TableHeader @fetch="getData">
              <template v-slot:header-left>
                <vs-button
                  :to="{ name: 'CreatePerusahaan' }"
                  class="text-xs px-8 font-medium w-full md:w-auto"
                  color="primary"
                  type="filled"
                  >{{ $t('label.add') }}
                </vs-button>
              </template>
            </TableHeader>
          </template>
          <template slot="thead">
            <vs-th sort-key="namaPerusahaan">Nama Perusahaan</vs-th>
            <vs-th sort-key="createdAt">{{ $t('label.created_date') }}</vs-th>
            <vs-th sort-key="status">{{ $t('label.status') }}</vs-th>
            <vs-th sort-key="namaPerusahaan"></vs-th>
          </template>

          <template slot-scope="{ data }">
            <vs-tr :key="indextr" :data="tr" v-for="(tr, indextr) in data">
              <vs-td
                :data="data[indextr].namaPerusahaan"
                @click.native="
                  $router.push({
                    name: 'DetailPerusahaan',
                    params: {
                      id: data[indextr].perusahaanId
                    }
                  })
                "
                >{{ data[indextr].namaPerusahaan }}</vs-td
              >

              <vs-td
                :data="data[indextr].createdDate"
                @click.native="
                  $router.push({
                    name: 'DetailPerusahaan',
                    params: {
                      id: data[indextr].perusahaanId
                    }
                  })
                "
                >{{ data[indextr].createdDate }}</vs-td
              >

              <vs-td
                :data="data[indextr].status"
                @click.native="
                  $router.push({
                    name: 'DetailPerusahaan',
                    params: {
                      id: data[indextr].perusahaanId
                    }
                  })
                "
              >
                <span :class="colorStatus(data[indextr].status)">
                  {{ status(data[indextr].status) }}
                </span>
              </vs-td>

              <vs-td :data="data[indextr].namaPerusahaan">
                <Approval
                  :id="data[indextr].perusahaanId"
                  :label="data[indextr].email"
                  :status="data[indextr].status"
                  :routes="{ update: 'UpdatePerusahaan' }"
                  @click="chooseAct"
                />
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </div>

      <TablePaging @fetch="getData" />
    </BaseBox>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

// mixins
import { loadingMixin } from '@/mixins/loading';
import { statusMixin } from '@/mixins/status';
import { navigateMixin } from '@/mixins/navigate';

// base
import Approval from '@/components/base/Approval.vue';
import BaseBox from '@/components/base/Box';
import TableHeader from '@/components/table/TableHeader';
import TablePaging from '@/components/table/TablePaging';

export default {
  name: 'MasterPerusahaan',

  mixins: [loadingMixin, statusMixin, navigateMixin],

  components: {
    Approval,
    BaseBox,
    TableHeader,
    TablePaging
  },

  data: () => ({
    form: {
      createdDate: '',
      orderBy: '',
      role: ''
    }
  }),

  computed: {
    ...mapGetters({
      items: 'perusahaan/items',
      roles: 'auth/currentRoles'
    })
  },

  created() {
    this.$store.commit('table/RESET_PAGEABLE');
  },

  mounted() {
    this.getData();
  },

  methods: {
    getData() {
      this.loadingContent('.table-content-loading');
      this.$store
        .dispatch('perusahaan/fetchList', this.form)
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.closeLoading('.table-content-loading > .con-vs-loading');
        });
    },

    acceptAlert(parameters) {
      switch (parameters[0]) {
        case 'approve':
          this.approve(parameters[1]);
          break;
        case 'reject':
          this.reject(parameters[1]);
          break;
        case 'delete':
          this.delete(parameters[1]);
          break;
        default:
          break;
      }
    },

    chooseAct(params) {
      this.openConfirm(params.key, params);
    },

    openConfirm(key, data) {
      let message = '';
      switch (key) {
        case 'approve':
          message = this.$t('content.confirm_approve', { data: data.label });
          break;
        case 'reject':
          message = this.$t('content.confirm_reject', { data: data.label });
          break;
        case 'delete':
          message = this.$t('content.confirm_delete', { data: data.label });
          break;
        default:
          break;
      }

      this.$vs.dialog({
        type: 'confirm',
        color: 'primary',
        title: this.$t('label.confirm'),
        text: message,
        accept: this.acceptAlert,
        acceptText: this.$t('label.yes'),
        cancelText: this.$t('label.cancel'),
        parameters: [key, data.id]
      });
    },

    approve(id) {
      this.$store
        .dispatch('perusahaan/fetchApprove', {
          id: id,
          data: { status: true }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    reject(id) {
      this.$store
        .dispatch('perusahaan/fetchApprove', {
          id: id,
          data: { status: false }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    delete(id) {
      this.$store
        .dispatch('perusahaan/fetchDelete', {
          id: id
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.delete_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    handleSort(key, active) {
      this.form.orderBy = `${key}|${active}`;
      this.getData();
    }
  }
};
</script>
