<template>
  <div>
    <!-- Intruction Email -->
    <div v-for="(item, itemIndex) in items" :key="itemIndex">
      <BoxHeader class="mb-8" :title="item.subject" v-if="item.nomor < 0">
        <div>
          <div
            class="w-full text-xs text-label-color pb-2 font-semibold mt-5 mb-2"
          >
            Jawaban Asesi
          </div>

          <template v-if="item.from">
            <div class="w-full my-5 flex">
              <div class="w-1/2">
                <div class="w-full text-xs text-label-color pb-2 font-medium">
                  From
                </div>
                <div class="w-full text-xs text-label-color pb-2">
                  {{ item.from }}
                </div>
              </div>
              <div class="w-1/2">
                <div class="w-full text-xs text-label-color pb-2 font-medium">
                  To
                </div>
                <div class="w-full text-xs text-label-color pb-2">
                  {{ item.to }}
                </div>
              </div>
            </div>

            <div class="w-full my-5 flex">
              <div class="w-1/2">
                <div class="w-full text-xs text-label-color pb-2 font-medium">
                  CC
                </div>
                <div class="w-full text-xs text-label-color pb-2">
                  {{ item.cc }}
                </div>
              </div>
            </div>

            <hr class="my-5" />

            <div class="w-1/2 pt-2">
              <div class="w-full text-xs text-label-color pb-2 font-medium">
                Body
              </div>
              <div
                class="w-full text-xs text-label-color pb-2"
                v-html="item.pernyataan"
              ></div>
            </div>
            <!-- download file jawaban -->
            <template v-if="item.files">
              <div
                class="w-full text-xs text-label-color pb-2 font-semibold mt-5 mb-1"
              >
                Download File Jawaban
              </div>
              <div
                class="w-full flex justify-between text-xs text-label-color font-medium"
              >
                <span
                  @click="
                    $emit('download', {
                      fileUrl: item.files.fileUrl,
                      type: item.files.type
                    })
                  "
                  class="px-3 py-2 bg-shades-blue-light text-xs rounded-md cursor-pointer mb-3 block"
                >
                  {{ item.files.fileUrl }}
                </span>
              </div>
            </template>
            <!-- end download file jawaban -->
          </template>
        </div>
      </BoxHeader>
    </div>
    <!-- End Intruction Email -->
    <!-- FLP -->
    <div class="mb-8">
      <BoxHeader title="Soal FLP">
        <div v-for="(item, itemIndex) in items" :key="itemIndex">
          <div v-if="item.nomor >= 1">
            <BaseBox class="mb-8 basebox-flp" v-if="flp">
              <!-- soal -->
              <template>
                <div class="w-full text-xs text-label-color pb-2 font-semibold">
                  Soal No. {{ item.nomor }}
                </div>
                <p
                  class="text-xs text-label-color"
                  v-html="flp.isiPertanyaan[item.nomor - 1].pertanyaan"
                ></p>
              </template>
              <!-- jawaban -->
              <template>
                <div
                  class="w-full text-xs text-label-color pb-2 font-semibold mt-5"
                >
                  Jawaban Asesi
                </div>
                <div
                  class="w-full text-xs text-label-color pb-2"
                  v-html="item.pernyataan"
                ></div>
              </template>
            </BaseBox>
          </div>
        </div>
      </BoxHeader>
    </div>
    <!-- End FLP -->
  </div>
</template>
<script>
import BoxHeader from '@/components/base/BoxHeader.vue';
import BaseBox from '@/components/base/Box';

export default {
  name: 'InBasketAnswer',

  props: {
    items: {
      type: Array,
      default: () => []
    },
    flp: {
      type: Object,
      default: () => {}
    }
  },

  components: {
    BoxHeader,
    BaseBox
  },

  data: () => ({
    dataMessage: [],
    textMessage: ''
  })
};
</script>
