<template>
  <div>
    <div v-if="renderComponent">
      <BoxHeader
        class="mb-8 pt-4"
        title="Progress"
        v-if="detail.typeSoal === 'IST' && progressIst"
      >
        <div class="pt-8"></div>
        <BaseBox class="mb-8 basebox-flp" v-for="data in 9" :key="data">
          <div class="text-sm text-label-color pb-2 font-semibold">
            {{ `Subtest ${data}` }}
          </div>
          <!-- petunjuk -->
          <div>
            <p class="text-sm text-label-color pb-1 font-medium">
              Petunjuk
            </p>
            <table>
              <tr>
                <td style="width: 75px;" class="text-xs text-label-color">
                  Jam Mulai
                </td>
                <td class="pr-2 pl-1">:</td>
                <td class="text-xs text-label-color">
                  {{
                    detail.progressSubtest[`subtest${data}`].petunjuk.startTime
                  }}
                </td>
              </tr>
              <tr>
                <td style="width: 75px;" class="text-xs text-label-color">
                  Jam Selesai
                </td>
                <td class="pr-2 pl-1">:</td>
                <td class="text-xs text-label-color">
                  {{
                    detail.progressSubtest[`subtest${data}`].petunjuk.endTime
                  }}
                </td>
              </tr>
              <tr>
                <td>
                  <div class="text-xs text-label-color mr-3">Progress</div>
                </td>
                <td class="pr-2 pl-1">:</td>
                <td>
                  <div
                    v-if="
                      statusProgress(
                        detail.progressSubtest[`subtest${data}`].petunjuk
                          .startTime,
                        detail.progressSubtest[`subtest${data}`].petunjuk
                          .endTime
                      ) === 'Progress'
                    "
                  >
                    <div
                      class="wrap-progress bg-gray-300 rounded-full overflow-hidden"
                    >
                      <div
                        class="progress"
                        :style="progressSubtest(percentage)"
                      >
                        {{ percentage }}%
                      </div>
                    </div>
                  </div>
                  <div v-else>
                    <div class="text-xs text-label-color">
                      {{
                        statusProgress(
                          detail.progressSubtest[`subtest${data}`].petunjuk
                            .startTime,
                          detail.progressSubtest[`subtest${data}`].petunjuk
                            .endTime
                        )
                      }}
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <hr class="my-3" />
          <!-- soal -->
          <div>
            <p class="text-sm text-label-color pb-1 font-medium">
              Soal
            </p>
            <table>
              <tr>
                <td style="width: 75px;" class="text-xs text-label-color">
                  Jam Mulai
                </td>
                <td class="pr-2 pl-1">:</td>
                <td class="text-xs text-label-color">
                  {{ detail.progressSubtest[`subtest${data}`].soal.startTime }}
                </td>
              </tr>
              <tr>
                <td style="width: 75px;" class="text-xs text-label-color">
                  Jam Selesai
                </td>
                <td class="pr-2 pl-1">:</td>
                <td class="text-xs text-label-color">
                  {{ detail.progressSubtest[`subtest${data}`].soal.endTime }}
                </td>
              </tr>
              <tr>
                <td>
                  <div class="text-xs text-label-color mr-3">Progress</div>
                </td>
                <td class="pr-2 pl-1">:</td>
                <td>
                  <div
                    v-if="
                      statusProgress(
                        detail.progressSubtest[`subtest${data}`].soal.startTime,
                        detail.progressSubtest[`subtest${data}`].soal.endTime
                      ) === 'Progress'
                    "
                  >
                    <div
                      class="wrap-progress bg-gray-300 rounded-full overflow-hidden"
                    >
                      <div
                        class="progress"
                        :style="progressSubtest(percentage)"
                      >
                        {{ percentage }}%
                      </div>
                    </div>
                  </div>
                  <div v-else>
                    <div class="text-xs text-label-color">
                      {{
                        statusProgress(
                          detail.progressSubtest[`subtest${data}`].soal
                            .startTime,
                          detail.progressSubtest[`subtest${data}`].soal.endTime
                        )
                      }}
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </BaseBox>
      </BoxHeader>
    </div>
    <!-- jawaban -->
    <BoxHeader
      v-for="(item, itemIndex) in detail.jawaban"
      :key="itemIndex"
      class="mb-8"
      :title="`No. ${item.nomor}`"
    >
      <div>
        <div
          class="w-full text-xs text-label-color pb-2 font-semibold mt-5 mb-2"
        >
          Jawaban Asesi
        </div>
        <!-- DISC -->
        <div v-if="detail.typeSoal === 'DISC'">
          <div>
            <p class="text-xs text-label-color">
              <span class="font-medium">Paling : </span>
              <span v-html="item.paling"></span>
            </p>
          </div>
          <div class="pt-3">
            <p class="text-xs text-label-color">
              <span class="font-medium">Kurang : </span>
              <span v-html="item.kurang"></span>
            </p>
          </div>
        </div>
        <!-- Team Style / BELBIN -->
        <div v-else-if="detail.typeSoal === 'BELBIN'">
          <div>
            <p class="text-xs text-label-color">
              <span class="font-medium">Diri Sendiri : </span>
              <span v-html="item.diriSendiri"></span>
            </p>
          </div>
          <div class="pt-3">
            <p class="text-xs text-label-color">
              <span class="font-medium">Orang Lain : </span>
              <span v-html="item.orangLain"></span>
            </p>
          </div>
        </div>
        <!-- Others -->
        <div v-else>
          <p class="text-xs text-label-color" v-html="item.pernyataan"></p>
        </div>
      </div>
    </BoxHeader>
    <div class="print:hidden flex justify-end space-x-4">
      <vs-button
        class="text-xs px-8 font-medium w-full md:w-auto"
        color="secondary"
        type="border"
        @click="$router.go(-1)"
      >
        {{ $t('label.back') }}
      </vs-button>
    </div>
  </div>
</template>
<script>
import BoxHeader from '@/components/base/BoxHeader.vue';
import BaseBox from '@/components/base/Box';
import { mapGetters } from 'vuex';

export default {
  name: 'PsikotestAnswer',

  props: ['detail', 'progressIst'],

  data: () => ({
    percentage: 0,
    renderComponent: true,
    counter: 0
  }),

  computed: {
    ...mapGetters({
      destroyFunc: 'project/destroySubtestProgress'
    })
  },

  components: {
    BoxHeader,
    BaseBox
  },

  created() {
    this.checkSubtestProgress();
  },

  beforeCreate() {
    // reset flag destroyFunc
    this.$store.commit('project/SET_DESTROY_SUBTEST_PROGRESS', { flag: false });
  },

  beforeDestroy() {
    // set flag destroyFunc
    this.$store.commit('project/SET_DESTROY_SUBTEST_PROGRESS', { flag: true });
  },

  methods: {
    checkSubtestProgress() {
      let obj = this.detail.progressSubtest;
      for (var prop in obj) {
        if (prop !== 'currentTime') {
          // petunjuk
          if (
            this.statusProgress(
              obj[prop].petunjuk.startTime,
              obj[prop].petunjuk.endTime
            ) === 'Progress'
          ) {
            console.log('progress ada di petunjuk');
            this.getPercentageSubtest(
              obj[prop].petunjuk.startTime,
              obj[prop].petunjuk.endTime
            );
          }

          // soal
          if (
            this.statusProgress(
              obj[prop].soal.startTime,
              obj[prop].soal.endTime
            ) === 'Progress'
          ) {
            console.log('progress ada di soal');
            this.getPercentageSubtest(
              obj[prop].soal.startTime,
              obj[prop].soal.endTime
            );
          }
        }
      }
    },

    progressSubtest(percentage) {
      return 'width: ' + percentage + '%;';
    },

    statusProgress(jamMulai, jamSelesai) {
      let result;
      let date = new Date();
      let day = date.getDate();
      let month = date.getMonth() + 1;
      let year = date.getFullYear();

      let dateMulai = year + '/' + month + '/' + day + ' ' + jamMulai;
      let dateSelesai = year + '/' + month + '/' + day + ' ' + jamSelesai;
      // let dateServer = '2020/01/01 ' + this.detail.progressSubtest.currentTime;

      if (new Date().getTime() < new Date(dateMulai).getTime()) {
        result = 'Belum Dimulai';
      } else if (new Date().getTime() > new Date(dateSelesai).getTime()) {
        result = 'Selesai';
      } else {
        result = 'Progress';
      }

      return result;
    },

    // sleep
    sleep(ms) {
      return new Promise((resolve) => setTimeout(resolve, ms));
    },

    getPercentageSubtest(startTime, endTime) {
      let date = new Date();
      let day = date.getDate();
      let month = date.getMonth() + 1;
      let year = date.getFullYear();

      let startDate = year + '/' + month + '/' + day + ' ' + startTime;
      let endDate = year + '/' + month + '/' + day + ' ' + endTime;

      // change to minutes
      let startTime2 = new Date(startDate).getTime();
      let endTime2 = new Date(endDate).getTime();
      // get different milisecond
      let diffTotal = endTime2 - startTime2;
      // get current duration in milisecond
      let diffDuration = new Date().getTime() - startTime2;
      // get total duration in minutes
      let totalDuration = Math.round(diffTotal / 60000);
      // get current duration in minutes
      let currentDuration = Math.round(diffDuration / 60000);
      // calculate percentage
      this.percentage = Math.floor((currentDuration / totalDuration) * 100);

      // call function continous
      // if assessment not done then call this function
      if (new Date().getTime() < new Date(endDate).getTime()) {
        if (!this.destroyFunc) {
          this.sleep(10000).then(() => {
            this.getPercentageSubtest(startTime, endTime);
          });
        }
      } else {
        this.forceRerender();
      }
    },

    forceRerender() {
      // remove the my-component component from the DOM
      this.renderComponent = false;

      this.$nextTick(() => {
        // add my-component component in DOM
        this.renderComponent = true;
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.wrap-progress {
  width: 150px;

  .progress {
    padding: 3px;
    transition: 0.8s;
    @apply h-full;
    @apply bg-status-approved;
    @apply rounded-full;
    @apply text-white;
    @apply text-center;
    @apply align-middle;
    @apply text-xs;
  }
}
</style>
