<template>
  <div class="scheduling-answer">
    <BoxHeader class="mb-8" title="Klarifikasi">
      <div>
        <div
          class="w-full text-xs text-label-color pb-2 font-semibold mt-5 mb-2"
        >
          Jawaban Asesi
        </div>

        <div class="scrollable-table">
          <table class="w-full">
            <thead>
              <tr>
                <th :rowspan="2" style="text-align: left !important;">
                  Nama
                </th>
                <th
                  :colspan="groupMonth[monthIndex].length"
                  v-for="(month, monthIndex) in groupMonth"
                  :key="monthIndex"
                >
                  {{ changeMonthToFullDate(monthIndex) | moment('MMMM') }}
                </th>
              </tr>
              <tr>
                <th v-for="(th, indexth) in headersTanggal" :key="indexth">
                  {{ th.tanggal | moment('ddd DD') }}
                </th>
              </tr>
            </thead>

            <tbody>
              <tr
                :key="indextr"
                class="odd:bg-list-background"
                v-for="(tr, indextr) in namaList"
              >
                <td style="text-align: left !important;">
                  {{ tr.nama }}
                </td>

                <td
                  v-for="(tdTanggal, indextd) in headersTanggal"
                  :key="indextd"
                >
                  <span v-for="(td, indexSpan) in tr.data" :key="indexSpan">
                    <span v-if="validationDate(tdTanggal.tanggal, td.tanggal)">
                      {{ td.pernyataan }}
                    </span>
                  </span>
                </td>
              </tr>
              <tr></tr>
            </tbody>
          </table>
        </div>

        <hr class="my-5" />

        <slot></slot>
      </div>
    </BoxHeader>
  </div>
</template>
<script>
import BoxHeader from '@/components/base/BoxHeader.vue';

export default {
  name: 'Scheduling',

  props: {
    jawaban: {
      type: Array,
      default: () => []
    }
  },

  components: {
    BoxHeader
  },

  data: () => ({
    namaList: [],
    headersTanggal: [],
    groupMonth: null
  }),

  created() {
    this.mappingScheduling(this.jawaban);
  },

  methods: {
    // mapping jawaban for scheduling
    mappingScheduling(jawaban) {
      // mapping nama tanggal and pernyataan for table body
      this.namaList = Object.values(
        jawaban.reduce((a, { nama, tanggal, pernyataan }) => {
          if (!a[nama]) a[nama] = { nama, data: [] };
          a[nama].data.push({ tanggal, pernyataan });
          return a;
        }, {})
      );

      // headers tanggal for table ascending
      let headersTanggal = Object.values(
        jawaban.reduce((a, { tanggal }) => {
          if (!a[tanggal])
            a[tanggal] = {
              tanggal: new Date(
                tanggal
                  .split('/')
                  .reverse()
                  .join('/')
              )
            };
          return a;
        }, {})
      );
      this.headersTanggal = headersTanggal.sort(
        (a, b) => a.tanggal - b.tanggal
      );
      this.groupByMonth(this.headersTanggal);
    },

    validationDate(headersTanggal, tanggal) {
      // rubah tanggal menjadi DD MM YYYY
      headersTanggal =
        headersTanggal.getDate() +
        '-' +
        (headersTanggal.getMonth() + 1) +
        '-' +
        headersTanggal.getFullYear();

      // tanggal peserta
      // rubah tanggal menjadi format date
      tanggal = new Date(
        tanggal
          .split('/')
          .reverse()
          .join('/')
      );
      // rubah tanggal menjadi DD MM YYYY
      tanggal =
        tanggal.getDate() +
        '-' +
        (tanggal.getMonth() + 1) +
        '-' +
        tanggal.getFullYear();

      if (headersTanggal === tanggal) {
        return true;
      } else {
        return false;
      }
    },

    groupByMonth(data) {
      var months = {};
      for (var i = 0; i < data.length; i++) {
        var obj = data[i];
        var month = obj.tanggal.getMonth() + 1;
        if (months[month]) {
          months[month].push(obj); // already have a list- append to it
        } else {
          months[month] = [obj]; // no list for this month yet - create a new one
        }
      }
      this.groupMonth = months;
    },

    changeMonthToFullDate(month) {
      return new Date(`2020-${month}-01`);
    }
  }
};
</script>
<style lang="scss" scoped>
.scrollable-table {
  @apply overflow-x-auto;
  @apply border-b-2;
  @apply border-shades-blue-lighter;
}

table {
  @apply w-full;
  @apply m-0;

  tr,
  thead tr th,
  tbody tr td {
    @apply border;
    @apply border-shades-blue-lighter;
  }

  tr th {
    @apply text-center;
    @apply bg-shades-blue-lighter;
    @apply text-xs;
    @apply text-shades-black;
    @apply font-montserrat;
    @apply font-semibold;
    @apply p-2;
  }

  tr td {
    @apply text-center;
    @apply text-xs;
    @apply text-shades-black;
    @apply font-montserrat;
    @apply p-4;
  }
}
</style>
