<template>
  <div id="report-16pf">
    <div class="w-full">
      <BoxHeader title="Laporan">
        <div class="p-4">
          <template v-if="$route.meta.layout != 'print'">
            <div class="print:hidden w-1/4 mt-4">
              <vs-select
                autocomplete
                v-model="tipeLaporan"
                color="primary"
                class="w-full field-required"
                :noData="$t('content.no_data_text')"
                :disabled="isLoading"
                :label="'Tipe Laporan'"
              >
                <vs-select-item :value="1" text="STENINE" />
                <vs-select-item :value="2" text="STEN" />
              </vs-select>
            </div>

            <hr class="print:hidden my-6" />
          </template>

          <div class="mb-3 relative">
            <!-- FIRST ORDER FACTOR -->
            <div class="w-full mb-4">
              <h1 class="font-medium text-sm w-full">
                FIRST ORDER FACTOR
              </h1>
            </div>
            <table class="table-custom">
              <thead>
                <!-- Stenine -->
                <tr v-if="tipeLaporan === 1">
                  <th rowspan="2">LOW SCORE DESCRIPTION</th>
                  <th rowspan="2">FACTOR</th>
                  <th colspan="3">LOW</th>
                  <th colspan="3">AVERAGE</th>
                  <th colspan="3">HIGH</th>
                  <th rowspan="2">FACTOR</th>
                  <th rowspan="2">HIGH SCORE DESCRIPTION</th>
                </tr>

                <!-- Sten -->
                <tr v-else>
                  <th rowspan="2">LOW SCORE DESCRIPTION</th>
                  <th rowspan="2">FACTOR</th>
                  <th colspan="3">LOW</th>
                  <th colspan="4">AVERAGE</th>
                  <th colspan="3">HIGH</th>
                  <th rowspan="2">FACTOR</th>
                  <th rowspan="2">HIGH SCORE DESCRIPTION</th>
                </tr>

                <!-- Stenine -->
                <tr v-if="tipeLaporan === 1">
                  <th v-for="i in 9" :key="i">{{ i }}</th>
                </tr>

                <!-- Sten -->
                <tr v-if="tipeLaporan === 2">
                  <th v-for="i in 10" :key="i">{{ i }}</th>
                </tr>
              </thead>

              <!-- STENINE -->
              <tbody v-if="tipeLaporan === 1">
                <tr
                  class="odd:bg-list-background"
                  v-for="(data, index) in report.firstOrder"
                  :key="index"
                >
                  <td style="text-align: left;">{{ data.low }}</td>
                  <td class="uppercase">{{ data.factor }}</td>
                  <td
                    v-for="i in 9"
                    :class="i >= 4 && i <= 6 ? 'bg-avarage' : ''"
                    :key="i"
                  >
                    <div
                      v-if="i === data.value"
                      class="mydiv dot"
                      :id="`div-${data.factor}`"
                    ></div>
                  </td>
                  <td class="uppercase">{{ data.factor }}</td>
                  <td style="text-align: left;">{{ data.high }}</td>
                </tr>
              </tbody>

              <!-- STEN -->
              <tbody v-if="tipeLaporan === 2">
                <tr
                  class="odd:bg-list-background"
                  v-for="(data, index) in report.firstOrder"
                  :key="index"
                >
                  <td style="text-align: left;">{{ data.low }}</td>
                  <td class="uppercase">{{ data.factor }}</td>
                  <td
                    v-for="i in 10"
                    :class="i >= 4 && i <= 7 ? 'bg-avarage' : ''"
                    :key="i"
                  >
                    <div
                      v-if="i === data.value"
                      class="mydiv dot"
                      :id="`div-${data.factor}`"
                    ></div>
                  </td>
                  <td class="uppercase">{{ data.factor }}</td>
                  <td style="text-align: left;">{{ data.high }}</td>
                </tr>
              </tbody>
            </table>

            <div class="html2pdf__page-break"></div>
            <div class="h-4"></div>

            <!-- SECOND ORDER FACTOR ESALRI -->
            <div class="w-full mb-4">
              <h1 class="font-medium text-sm">
                SECOND ORDER FACTOR ESALRI
              </h1>
            </div>
            <table class="table-custom">
              <tr
                v-for="(data, index) in report.esalriSecondOrders"
                :key="index"
                class="odd:bg-list-background"
              >
                <td class="uppercase">{{ data.notation }}</td>
                <td>{{ data.value }}</td>
                <td>{{ data.kode }}</td>
              </tr>
            </table>

            <div class="html2pdf__page-break"></div>

            <!-- ORDER BIG 5 -->
            <div v-if="tipeLaporan === 2">
              <div class="h-4"></div>
              <div class="w-full mt-8 mb-3">
                <div class="font-medium text-sm w-full">
                  ORDER BIG 5
                </div>
              </div>
              <table class="table-custom">
                <tr>
                  <th colspan="12">
                    COMPONENTS OF SECOND ORDER (CATTEL - McRAE&COSTA)
                  </th>
                </tr>

                <!-- extraversion -->
                <tr>
                  <th colspan="12" class="uppercase">
                    e x t r a v e r s i o n
                  </th>
                </tr>

                <tr
                  v-for="(data, index) in report.big5SecondOrder.extraversion"
                  :key="`extraversion - ${index}`"
                  class="odd:bg-list-background"
                >
                  <td
                    class="table-data-title-first"
                    :class="index <= 0 ? 'font-medium' : ''"
                  >
                    {{ data.low }}
                  </td>
                  <td
                    v-for="i in 10"
                    :key="i"
                    :class="i >= 4 && i <= 7 ? 'bg-avarage' : ''"
                  >
                    <span :class="i === data.value ? 'text-red-600' : ''">
                      {{ i }}</span
                    >
                  </td>
                  <td
                    class="table-data-title-last"
                    :class="index <= 0 ? 'font-medium' : ''"
                  >
                    {{ data.high }}
                  </td>
                </tr>

                <!-- neuroticism -->
                <tr>
                  <th colspan="12" class="uppercase">n e u r o t i c i s m</th>
                </tr>

                <tr
                  v-for="(data, index) in report.big5SecondOrder.neuroticism"
                  :key="`neuroticism - ${index}`"
                  class="odd:bg-list-background"
                >
                  <td
                    class="table-data-title-first"
                    :class="index <= 0 ? 'font-medium' : ''"
                  >
                    {{ data.low }}
                  </td>
                  <td
                    v-for="i in 10"
                    :key="i"
                    :class="i >= 4 && i <= 7 ? 'bg-avarage' : ''"
                  >
                    <span :class="i === data.value ? 'text-red-600' : ''">
                      {{ i }}</span
                    >
                  </td>
                  <td
                    class="table-data-title-last"
                    :class="index <= 0 ? 'font-medium' : ''"
                  >
                    {{ data.high }}
                  </td>
                </tr>

                <!-- opennessToExperience -->
                <tr>
                  <th colspan="12" class="uppercase">
                    o p e n n e s s t o e x p e r i e n c e
                  </th>
                </tr>

                <tr
                  v-for="(data, index) in report.big5SecondOrder
                    .opennessToExperience"
                  :key="`opennessToExperience - ${index}`"
                  class="odd:bg-list-background"
                >
                  <td
                    class="table-data-title-first"
                    :class="index <= 0 ? 'font-medium' : ''"
                  >
                    {{ data.low }}
                  </td>
                  <td
                    v-for="i in 10"
                    :key="i"
                    :class="i >= 4 && i <= 7 ? 'bg-avarage' : ''"
                  >
                    <span :class="i === data.value ? 'text-red-600' : ''">
                      {{ i }}</span
                    >
                  </td>
                  <td
                    class="table-data-title-last"
                    :class="index <= 0 ? 'font-medium' : ''"
                  >
                    {{ data.high }}
                  </td>
                </tr>

                <!-- agreeablenes -->
                <tr>
                  <th colspan="12" class="uppercase">
                    a g r e e a b l e n e s
                  </th>
                </tr>

                <tr
                  v-for="(data, index) in report.big5SecondOrder.aggreeableness"
                  :key="`aggreeableness - ${index}`"
                  class="odd:bg-list-background"
                >
                  <td
                    class="table-data-title-first"
                    :class="index <= 0 ? 'font-medium' : ''"
                  >
                    {{ data.low }}
                  </td>
                  <td
                    v-for="i in 10"
                    :key="i"
                    :class="i >= 4 && i <= 7 ? 'bg-avarage' : ''"
                  >
                    <span :class="i === data.value ? 'text-red-600' : ''">
                      {{ i }}</span
                    >
                  </td>
                  <td
                    class="table-data-title-last"
                    :class="index <= 0 ? 'font-medium' : ''"
                  >
                    {{ data.high }}
                  </td>
                </tr>

                <!-- conscientiousness -->
                <tr>
                  <th colspan="12" class="uppercase">
                    c o n s c i e n t i o u s n e s s
                  </th>
                </tr>

                <tr
                  v-for="(data, index) in report.big5SecondOrder
                    .conscientiousness"
                  :key="`conscientiousness - ${index}`"
                  class="odd:bg-list-background"
                >
                  <td
                    class="table-data-title-first"
                    :class="index <= 0 ? 'font-medium' : ''"
                  >
                    {{ data.low }}
                  </td>
                  <td
                    v-for="i in 10"
                    :key="i"
                    :class="i >= 4 && i <= 7 ? 'bg-avarage' : ''"
                  >
                    <span :class="i === data.value ? 'text-red-600' : ''">
                      {{ i }}</span
                    >
                  </td>
                  <td
                    class="table-data-title-last"
                    :class="index <= 0 ? 'font-medium' : ''"
                  >
                    {{ data.high }}
                  </td>
                </tr>

                <!-- reasoning -->
                <tr>
                  <th colspan="12" class="uppercase">
                    r e a s o n i n g
                  </th>
                </tr>

                <tr
                  v-for="(data, index) in report.big5SecondOrder.reasoning"
                  :key="`reasoning - ${index}`"
                  class="odd:bg-list-background"
                >
                  <td class="table-data-title-first font-medium">
                    {{ data.low }}
                  </td>
                  <td
                    v-for="i in 10"
                    :key="i"
                    :class="i >= 4 && i <= 7 ? 'bg-avarage' : ''"
                  >
                    <span :class="i === data.value ? 'text-red-600' : ''">
                      {{ i }}</span
                    >
                  </td>
                  <td class="table-data-title-last font-medium">
                    {{ data.high }}
                  </td>
                </tr>
              </table>
            </div>

            <div class="html2pdf__page-break"></div>
            <!-- style for line -->
            <div id="line-a-b" class="line"></div>
            <div id="line-b-c" class="line"></div>
            <div id="line-c-e" class="line"></div>
            <div id="line-e-f" class="line"></div>
            <div id="line-f-g" class="line"></div>
            <div id="line-g-h" class="line"></div>
            <div id="line-h-i" class="line"></div>
            <div id="line-i-l" class="line"></div>
            <div id="line-l-m" class="line"></div>
            <div id="line-m-n" class="line"></div>
            <div id="line-n-o" class="line"></div>
            <div id="line-o-q1" class="line"></div>
            <div id="line-q1-q2" class="line"></div>
            <div id="line-q2-q3" class="line"></div>
            <div id="line-q3-q4" class="line"></div>
            <!-- end style for line -->
          </div>
        </div>
      </BoxHeader>

      <template v-if="$route.meta.layout != 'print'">
        <div class="print:hidden h-4"></div>

        <div class="print:hidden flex justify-end space-x-4">
          <vs-button
            class="text-xs px-8 font-medium w-full md:w-auto"
            color="secondary"
            type="border"
            @click="$router.go(-1)"
          >
            {{ $t('label.back') }}
          </vs-button>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import BoxHeader from '@/components/base/BoxHeader.vue';

export default {
  name: 'Report16PF',
  components: {
    BoxHeader
  },

  computed: {
    ...mapGetters({
      pfType: 'project/pfType'
    })
  },

  data: () => ({
    report: {
      big5SecondOrder: {
        extraversion: {},
        neuroticism: {},
        opennessToExperience: {},
        aggreeableness: {},
        conscientiousness: {},
        reasoning: {}
      },
      firstOrder: {},
      stenFirstOrder: {},
      esalriSecondOrders: [],
      stenineFirstOrder: {}
    },
    tipeLaporan: 1,
    isLoading: false,
    counter: 0
  }),

  watch: {
    tipeLaporan(value) {
      let typePf = value === 1 ? 'stenine' : 'sten';
      this.$store.commit('project/SET_TYPE_PF', typePf);
      this.fetchReport16pf(this.$route.params.proyekResultId);
    }
  },

  mounted() {
    // if any change browser size call this function
    window.addEventListener('resize', this.onResizeFunc);

    if (this.pfType === 'sten') {
      this.tipeLaporan = 2;
    } else {
      this.tipeLaporan = 1;
      this.fetchReport16pf(this.$route.params.proyekResultId);
    }
  },

  updated() {
    this.onResizeFunc();
  },

  beforeDestroy() {
    window.addEventListener('resize', this.onResizeFunc);
  },

  methods: {
    fetchReport16pf(id) {
      let tipeLaporan = 1;
      if (this.pfType === 'sten') {
        tipeLaporan = 2;
      }

      const payload = {
        proyekResultId: id,
        kategori: tipeLaporan
      };
      this.$store
        .dispatch('project/fetchReport16pf', payload)
        .then((data) => {
          // STENINE = 1
          // STEN = 2
          this.setFirstOrder(data);
          if (this.tipeLaporan === 2) {
            this.setOrderBig5(data.big5SecondOrder);
          }
          this.counter += 1;
          if (this.counter > 1) {
            this.onResizeFunc();
          }
          // esalriSecondOrders
          this.report.esalriSecondOrders = data.esalriSecondOrders;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    setFirstOrder(data) {
      data =
        this.tipeLaporan === 1 ? data.stenineFirstOrder : data.stenFirstOrder;
      let arrResult = [];
      for (var prop in data) {
        switch (prop) {
          case 'a':
            arrResult.push({
              factor: prop,
              value: data[prop],
              low: 'Reserved, impersonal, distant to others (Berjarak)',
              high: 'Emotionally stable, adaptive, mature (Hangat)'
            });
            break;
          case 'b':
            arrResult.push({
              factor: prop,
              value: data[prop],
              low: 'Deferential, cooperative, avoids conflict (Konkret)',
              high: '	Abstract, bright, fast-learner (Abstrak)'
            });
            break;
          case 'c':
            arrResult.push({
              factor: prop,
              value: data[prop],
              low: 'Reactive, affected by feelings (Emosi berubah-ubah)',
              high: 'Emotionally stable, adaptive, mature (Emosi terkendali)'
            });
            break;
          case 'e':
            arrResult.push({
              factor: prop,
              value: data[prop],
              low: 'Deferential, cooperative, avoids conflict (Patuh, Penurut)',
              high:
                'Dominant, forceful, assertive (Dominan mengatur orang lain)'
            });
            break;
          case 'f':
            arrResult.push({
              factor: prop,
              value: data[prop],
              low: 'Serious, restrained, careful (Terhambat)',
              high: '	Enthusiastic, animated, spontaneous (Spontan)'
            });
            break;
          case 'g':
            arrResult.push({
              factor: prop,
              value: data[prop],
              low: 'Rule-expedient, nonconforming (Tidak menyadari aturan)',
              high: 'Rule conscious, dutiful (Sadar akan aturan)'
            });
            break;
          case 'h':
            arrResult.push({
              factor: prop,
              value: data[prop],
              low: 'Shy, timid, threat sensitive (Pemalu, menunggu disapa)',
              high:
                'Socially bold, venturesome, Thick-skinned (Berani, berinisiatif dalam bergaul)'
            });
            break;
          case 'i':
            arrResult.push({
              factor: prop,
              value: data[prop],
              low: 'Tough, objective, unsentimental (Tidak peka)',
              high: 'Sensitive, aesthetic, tender–minded (Peka)'
            });
            break;
          case 'l':
            arrResult.push({
              factor: prop,
              value: data[prop],
              low: 'Trusting, unsuspecting, accepting (Mudah percaya, lugu)',
              high: 'Vigilant, suspicious, skeptical, wary (Hati-hati, curiga)'
            });
            break;
          case 'm':
            arrResult.push({
              factor: prop,
              value: data[prop],
              low:
                'Practical, grounded, down-to-earth (Menekankan pada tingkatan)',
              high:
                'Abstracted, imaginative, idea oriented (Menekankan pada pemikiran)'
            });
            break;
          case 'n':
            arrResult.push({
              factor: prop,
              value: data[prop],
              low: 'Forthright, genuine, artless (Terbuka, apa adanya)',
              high: 'Private, discreet, nondisclosing (Tertutup)'
            });
            break;
          case 'o':
            arrResult.push({
              factor: prop,
              value: data[prop],
              low: 'Self-assured, unworried, complacent (Tenang)',
              high: 'Apprehensive, self- doubting, worried (Selektif)'
            });
            break;
          case 'q1':
            arrResult.push({
              factor: prop,
              value: data[prop],
              low:
                'Traditional, attached to familiar (Bertahan yang sudah biasa, Tradisional)',
              high: 'Open to change,experimenting (Cemas)'
            });
            break;
          case 'q2':
            arrResult.push({
              factor: prop,
              value: data[prop],
              low: 'Group-oriented, affiliative (Tergantung, kolektivis)',
              high:
                'Self-reliant, solitary, individualistic (Terbuka pada perubahan, mau mencoba)'
            });
            break;
          case 'q3':
            arrResult.push({
              factor: prop,
              value: data[prop],
              low:
                'Tolerates disorder, unexacting, flexible (Tidak teratur, tidak tertib)',
              high:
                'Perfectionistic, organized, self-disciplined (Mandiri, individualis)'
            });
            break;
          case 'q4':
            arrResult.push({
              factor: prop,
              value: data[prop],
              low: 'Relaxed, placid, patient (Santai)',
              high: 'Tense, high energy, driven (Teratur, tertib tegang)'
            });
            break;
        }
      }

      this.report.firstOrder = arrResult;
    },

    setOrderBig5(data) {
      let arrExtraversion = [];
      let arrNeuroticism = [];
      let arrOpennessToExperience = [];
      let arrAggreeableness = [];
      let arrConscientiousness = [];
      let arrReasoning = [];

      // extraversion
      for (let prop in data.extraversion) {
        switch (prop) {
          case 'a':
            arrExtraversion.push({
              factor: prop,
              value: data.extraversion[prop],
              low: 'Introversion',
              high: 'Extraversion'
            });
            break;
          case 'b':
            arrExtraversion.push({
              factor: prop,
              value: data.extraversion[prop],
              low: '(A-) Reserved',
              high: 'Warm (A+)'
            });
            break;
          case 'c':
            arrExtraversion.push({
              factor: prop,
              value: data.extraversion[prop],
              low: '(F-) Serious',
              high: 'Lively (F+)'
            });
            break;
          case 'd':
            arrExtraversion.push({
              factor: prop,
              value: data.extraversion[prop],
              low: '(H-) Shy',
              high: 'Bold (H+)'
            });
            break;
          case 'e':
            arrExtraversion.push({
              factor: prop,
              value: data.extraversion[prop],
              low: '(N+) Private',
              high: 'Forthright (N-)'
            });
            break;
          case 'f':
            arrExtraversion.push({
              factor: prop,
              value: data.extraversion[prop],
              low: '(Q2+) Self-reliant',
              high: 'Group-Oriented (Q2-)'
            });
            break;
        }
      }

      // neuroticism
      for (let prop in data.neuroticism) {
        switch (prop) {
          case 'a':
            arrNeuroticism.push({
              factor: prop,
              value: data.extraversion[prop],
              low: 'Low-anxiety',
              high: 'High-anxiety'
            });
            break;
          case 'b':
            arrNeuroticism.push({
              factor: prop,
              value: data.extraversion[prop],
              low: '(C+) Emotionally-stable',
              high: 'Reactive (C-)'
            });
            break;
          case 'c':
            arrNeuroticism.push({
              factor: prop,
              value: data.extraversion[prop],
              low: '(L-) Trusting',
              high: 'Vigilant (L+)'
            });
            break;
          case 'd':
            arrNeuroticism.push({
              factor: prop,
              value: data.extraversion[prop],
              low: '(O-) Self-Assured',
              high: 'Apprehensive (O+)'
            });
            break;
          case 'e':
            arrNeuroticism.push({
              factor: prop,
              value: data.extraversion[prop],
              low: '(Q4-) Relaxed',
              high: 'Tense (Q4+)'
            });
            break;
        }
      }

      // opennessToExperience
      for (let prop in data.opennessToExperience) {
        switch (prop) {
          case 'a':
            arrOpennessToExperience.push({
              factor: prop,
              value: data.opennessToExperience[prop],
              low: 'Tough-Mindedness',
              high: 'Receptivity'
            });
            break;
          case 'b':
            arrOpennessToExperience.push({
              factor: prop,
              value: data.opennessToExperience[prop],
              low: '(A-) Reserved',
              high: 'Warm(A+)'
            });
            break;
          case 'c':
            arrOpennessToExperience.push({
              factor: prop,
              value: data.opennessToExperience[prop],
              low: '(I-) Unsentimental',
              high: 'Sensitive (I+)'
            });
            break;
          case 'd':
            arrOpennessToExperience.push({
              factor: prop,
              value: data.opennessToExperience[prop],
              low: '(M-) Practical',
              high: 'Imaginative (M+)'
            });
            break;
          case 'e':
            arrOpennessToExperience.push({
              factor: prop,
              value: data.opennessToExperience[prop],
              low: '(Q1+) Traditional',
              high: 'Openness To Change (Q1+)'
            });
            break;
        }
      }

      // aggreeableness
      for (let prop in data.aggreeableness) {
        switch (prop) {
          case 'a':
            arrAggreeableness.push({
              factor: prop,
              value: data.aggreeableness[prop],
              low: 'Independence',
              high: 'Accomodation'
            });
            break;
          case 'b':
            arrAggreeableness.push({
              factor: prop,
              value: data.aggreeableness[prop],
              low: '(E+) Dominant',
              high: 'Deferential (E-)'
            });
            break;
          case 'c':
            arrAggreeableness.push({
              factor: prop,
              value: data.aggreeableness[prop],
              low: '(H+) Bold',
              high: 'Shy (H-)'
            });
            break;
          case 'd':
            arrAggreeableness.push({
              factor: prop,
              value: data.aggreeableness[prop],
              low: '(L+) Vigilant',
              high: 'Trusting (L-)'
            });
            break;
          case 'e':
            arrAggreeableness.push({
              factor: prop,
              value: data.aggreeableness[prop],
              low: '(Q1+) Openness To Change',
              high: 'Traditional (Q1-)'
            });
            break;
        }
      }

      // conscientiousness
      for (let prop in data.conscientiousness) {
        switch (prop) {
          case 'a':
            arrConscientiousness.push({
              factor: prop,
              value: data.conscientiousness[prop],
              low: 'Lack Of Restraint',
              high: 'Self Control'
            });
            break;
          case 'b':
            arrConscientiousness.push({
              factor: prop,
              value: data.conscientiousness[prop],
              low: '(E+) Lively',
              high: 'Serious (F-)'
            });
            break;
          case 'c':
            arrConscientiousness.push({
              factor: prop,
              value: data.conscientiousness[prop],
              low: '(G-) Expedient',
              high: 'Rule-Consious (G+)'
            });
            break;
          case 'd':
            arrConscientiousness.push({
              factor: prop,
              value: data.conscientiousness[prop],
              low: '(M+) Imaginative',
              high: 'Practical (M-)'
            });
            break;
          case 'e':
            arrConscientiousness.push({
              factor: prop,
              value: data.conscientiousness[prop],
              low: '(Q3-) Tolerates Disorder',
              high: 'Perfectionist (Q3+)'
            });
            break;
        }
      }

      // reasoning
      for (let prop in data.reasoning) {
        switch (prop) {
          case 'a':
            arrReasoning.push({
              factor: prop,
              value: data.conscientiousness[prop],
              low: '(B-) Concrete-Thinking',
              high: 'Abstract-Thinking (B+)'
            });
            break;
        }
      }

      this.report.big5SecondOrder.extraversion = arrExtraversion;
      this.report.big5SecondOrder.neuroticism = arrNeuroticism;
      this.report.big5SecondOrder.opennessToExperience = arrOpennessToExperience;
      this.report.big5SecondOrder.aggreeableness = arrAggreeableness;
      this.report.big5SecondOrder.conscientiousness = arrConscientiousness;
      this.report.big5SecondOrder.reasoning = arrReasoning;
    },

    lines() {
      // A to B
      this.adjustLine(
        document.getElementById('div-a'),
        document.getElementById('div-b'),
        document.getElementById('line-a-b')
      );

      // B To C
      this.adjustLine(
        document.getElementById('div-b'),
        document.getElementById('div-c'),
        document.getElementById('line-b-c')
      );

      // C To E
      this.adjustLine(
        document.getElementById('div-c'),
        document.getElementById('div-e'),
        document.getElementById('line-c-e')
      );

      // C To F
      this.adjustLine(
        document.getElementById('div-e'),
        document.getElementById('div-f'),
        document.getElementById('line-e-f')
      );

      // F To G
      this.adjustLine(
        document.getElementById('div-f'),
        document.getElementById('div-g'),
        document.getElementById('line-f-g')
      );

      // G To H
      this.adjustLine(
        document.getElementById('div-g'),
        document.getElementById('div-h'),
        document.getElementById('line-g-h')
      );

      // H To I
      this.adjustLine(
        document.getElementById('div-h'),
        document.getElementById('div-i'),
        document.getElementById('line-h-i')
      );

      // I To L
      this.adjustLine(
        document.getElementById('div-i'),
        document.getElementById('div-l'),
        document.getElementById('line-i-l')
      );

      // L To M
      this.adjustLine(
        document.getElementById('div-l'),
        document.getElementById('div-m'),
        document.getElementById('line-l-m')
      );

      // M To N
      this.adjustLine(
        document.getElementById('div-m'),
        document.getElementById('div-n'),
        document.getElementById('line-m-n')
      );

      // N To O
      this.adjustLine(
        document.getElementById('div-n'),
        document.getElementById('div-o'),
        document.getElementById('line-n-o')
      );

      // O To Q1
      this.adjustLine(
        document.getElementById('div-o'),
        document.getElementById('div-q1'),
        document.getElementById('line-o-q1')
      );

      // Q1 To Q2
      this.adjustLine(
        document.getElementById('div-q1'),
        document.getElementById('div-q2'),
        document.getElementById('line-q1-q2')
      );

      // Q2 To Q3
      this.adjustLine(
        document.getElementById('div-q2'),
        document.getElementById('div-q3'),
        document.getElementById('line-q2-q3')
      );

      // Q3 To Q4
      this.adjustLine(
        document.getElementById('div-q3'),
        document.getElementById('div-q4'),
        document.getElementById('line-q3-q4')
      );
    },

    adjustLine(from, to, line) {
      if (!from) return;

      var fT = from.offsetTop + from.offsetHeight / 2;
      var tT = to.offsetTop + to.offsetHeight / 2;
      var fL = from.offsetLeft + from.offsetWidth / 2;
      var tL = to.offsetLeft + to.offsetWidth / 2;

      var CA = Math.abs(tT - fT);
      var CO = Math.abs(tL - fL);
      var H = Math.sqrt(CA * CA + CO * CO);
      var ANG = (180 / Math.PI) * Math.acos(CA / H);

      if (tT > fT) {
        var top = (tT - fT) / 2 + fT;
      } else {
        // eslint-disable-next-line no-redeclare
        var top = (fT - tT) / 2 + tT;
      }
      if (tL > fL) {
        var left = (tL - fL) / 2 + fL;
      } else {
        // eslint-disable-next-line no-redeclare
        var left = (fL - tL) / 2 + tL;
      }

      if (
        (fT < tT && fL < tL) ||
        (tT < fT && tL < fL) ||
        (fT > tT && fL > tL) ||
        (tT > fT && tL > fL)
      ) {
        ANG *= -1;
      }
      top -= H / 2;

      line.style['-webkit-transform'] = 'rotate(' + ANG + 'deg)';
      line.style['-moz-transform'] = 'rotate(' + ANG + 'deg)';
      line.style['-ms-transform'] = 'rotate(' + ANG + 'deg)';
      line.style['-o-transform'] = 'rotate(' + ANG + 'deg)';
      line.style['-transform'] = 'rotate(' + ANG + 'deg)';
      console.log(top);
      line.style.top = top - 10.5 + 'px';
      line.style.left = left - 10.5 + 'px';
      line.style.height = H + 'px';
    },

    onResizeFunc() {
      setTimeout(() => {
        var beforePrint = function() {
          this.onResizeFunc();
        };
        var afterPrint = function() {
          this.onResizeFunc();
        };

        if (window.matchMedia) {
          var mediaQueryList = window.matchMedia('print');
          mediaQueryList.addListener(function(mql) {
            if (mql.matches) {
              beforePrint();
            } else {
              afterPrint();
            }
          });
        }

        window.onbeforeprint = beforePrint;
        window.onafterprint = afterPrint;

        // Init lines again
        this.lines();
      }, 200);
    }
  }
};
</script>
<style lang="scss">
#report-16pf {
  .table-custom {
    width: 100%;

    th,
    td {
      text-align: center;
      padding: 10px;
      font-size: 12px;
      border: 1px solid #deeaf9;
    }

    th {
      background: #daeafb;
      font-weight: 500;
    }
  }

  .bg-none {
    background: none !important;
    border: none !important;
  }

  .bg-list-background {
    background-color: rgba(245, 250, 255, var(--bg-opacity)) !important;
  }

  .mydiv {
    border: 1px solid #fea516;
    background-color: #fea516;
    margin: auto;
    position: absolute;
  }

  .dot {
    position: relative !important;
    z-index: 1;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  .line {
    position: absolute !important;
    width: 2px !important;
    margin: 10px;
    background-color: #fea516 !important;
  }

  .bg-avarage {
    background-color: rgba(218, 234, 251, 0.5);
  }

  .bg-list-background {
    background-color: rgba(245, 250, 255, var(--bg-opacity)) !important;
  }
}
</style>
