<template>
  <div class="report-team-style">
    <BoxHeader
      :title="
        $t('label.report_arg', {
          attribute: ''
        })
      "
    >
      <div class="p-4">
        <div class="report-table overflow-hidden">
          <table class="w-full">
            <thead>
              <tr>
                <th>Line</th>
                <th>D</th>
                <th>I</th>
                <th>S</th>
                <th>C</th>
                <th>.</th>
                <th>tot</th>
              </tr>
            </thead>

            <tbody v-if="reports">
              <tr
                v-for="(discKey, index) in discKeys"
                :key="index"
                :class="[
                  ...(index % 2 == 0
                    ? []
                    : ['bg-shades-blue-lighter bg-opacity-50'])
                ]"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ reports[discKey].d }}</td>
                <td>{{ reports[discKey].i }}</td>
                <td>{{ reports[discKey].s }}</td>
                <td>{{ reports[discKey].c }}</td>
                <td
                  :class="[
                    ...(reports[discKey].x != undefined
                      ? []
                      : ['bg-shades-blue-lighter bg-opacity-50'])
                  ]"
                >
                  {{ reports[discKey].x }}
                </td>
                <td
                  :class="[
                    ...(reports[discKey].total != undefined
                      ? []
                      : ['bg-shades-blue-lighter bg-opacity-50'])
                  ]"
                >
                  {{ reports[discKey].total }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <hr />

        <div class="flex space-x-4 p-4">
          <div class="w-1/3">
            <div class="m-4">
              <h2
                class="font-montserrat text-sm text-shades-grey font-semibold"
              >
                GRAPH 1 MOST
              </h2>
              <span class="font-montserrat text-xs text-shades-grey">
                Mask, Public Self
              </span>
            </div>

            <div class="border border-shades-blue-light rounded pr-4">
              <apexchart
                type="line"
                :options="chartOptions"
                :series="seriesMost"
                :height="629"
              ></apexchart>
            </div>
          </div>

          <div class="w-1/3">
            <div class="m-4">
              <h2
                class="font-montserrat text-sm text-shades-grey font-semibold"
              >
                GRAPH 2 LEAST
              </h2>
              <span class="font-montserrat text-xs text-shades-grey">
                Mask, Private Self
              </span>
            </div>

            <div class="border border-shades-blue-light rounded pr-4">
              <apexchart
                type="line"
                :options="chartOptions"
                :series="seriesLeast"
                :height="629"
              ></apexchart>
            </div>
          </div>

          <div class="w-1/3">
            <div class="m-4">
              <h2
                class="font-montserrat text-sm text-shades-grey font-semibold"
              >
                GRAPH 3 CHANGE
              </h2>
              <span class="font-montserrat text-xs text-shades-grey">
                Mask, Private Self
              </span>
            </div>

            <div class="border border-shades-blue-light rounded pr-4">
              <apexchart
                type="line"
                :options="chartOptions"
                :series="seriesChange"
                :height="629"
              ></apexchart>
            </div>
          </div>
        </div>
      </div>
    </BoxHeader>

    <template v-if="$route.meta.layout != 'print'">
      <div class="print:hidden h-4"></div>

      <div class="print:hidden flex justify-end space-x-4">
        <vs-button
          class="text-xs px-8 font-medium w-full md:w-auto"
          color="secondary"
          type="border"
          @click="$router.go(-1)"
        >
          {{ $t('label.back') }}
        </vs-button>
      </div>
    </template>
  </div>
</template>

<script>
import { startCase } from 'lodash';
import BoxHeader from '@/components/base/BoxHeader';

export default {
  name: 'ReportTeamStyle',

  components: {
    BoxHeader
  },

  data: () => ({
    discKeys: ['most', 'least', 'change'],
    reports: null,
    chartOptions: {
      chart: {
        toolbar: {
          show: false
        }
      },
      stroke: {
        curve: 'straight',
        width: 2
      },
      markers: {
        size: 4
      },
      xaxis: {
        categories: ['D', 'I', 'S', 'C']
      },
      yaxis: {
        min: -8,
        max: 8,
        tickAmount: 16,
        forceNiceScale: false
      }
    },
    seriesMost: [],
    seriesLeast: [],
    seriesChange: []
  }),

  mounted() {
    this.fetchReportDisc(this.$route.params.proyekResultId);
  },

  methods: {
    fetchReportDisc(id) {
      this.$store
        .dispatch('project/fetchReportDisc', { id: id })
        .then((data) => {
          this.reports = data;

          this.seriesMost = [
            {
              name: 'GRAPH 1 MOST',
              data: [
                this.reports.mostGraph.d,
                this.reports.mostGraph.i,
                this.reports.mostGraph.s,
                this.reports.mostGraph.c
              ]
            }
          ];

          this.seriesLeast = [
            {
              name: 'GRAPH 2 LEAST',
              data: [
                this.reports.leastGraph.d,
                this.reports.leastGraph.i,
                this.reports.leastGraph.s,
                this.reports.leastGraph.c
              ]
            }
          ];

          this.seriesChange = [
            {
              name: 'GRAPH 3 CHANGE',
              data: [
                this.reports.changeGraph.d,
                this.reports.changeGraph.i,
                this.reports.changeGraph.s,
                this.reports.changeGraph.c
              ]
            }
          ];
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    humanize(text) {
      return startCase(text);
    }
  }
};
</script>

<style lang="scss" scoped>
.report-table {
  @apply m-4;
  @apply border;
  @apply rounded-lg;

  table {
    @apply w-full;
    @apply m-0;

    tr,
    thead tr th,
    tbody tr td {
      @apply border;
      @apply border-shades-blue-lighter;
    }

    tr th {
      @apply text-center;
      @apply bg-shades-blue-lighter;
      @apply text-xs;
      @apply text-shades-black;
      @apply font-montserrat;
      @apply font-semibold;
      @apply p-2;
    }

    tr td {
      @apply text-center;
      @apply text-xs;
      @apply text-shades-black;
      @apply font-montserrat;
      @apply p-4;
    }
  }
}
</style>
