<template>
  <div class="report-ist">
    <div v-if="!isLoading">
      <component :is="istComponent" />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import IstReport from '@/components/project/report/IstReport';
import IstSubtest from '@/components/project/report/IstSubtest';

export default {
  name: 'ReportIst',

  components: {
    IstReport,
    IstSubtest
  },

  data: () => ({
    isLoading: true,
    series: []
  }),

  computed: {
    ...mapGetters({
      istReport: 'project/istReport'
    }),

    istComponent() {
      return this.istReport ? 'IstReport' : 'IstSubtest';
    }
  },

  mounted() {
    this.fetchReportIstResult(this.$route.params.proyekResultId);
  },

  methods: {
    fetchReportIstResult(id) {
      this.$store
        .dispatch('project/fetchReportIstResult', { id: id })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
        });
    }
  }
};
</script>
