<template>
  <div class="report-ist-subtest">
    <BoxHeader
      :title="
        $t('label.report_arg', {
          attribute: ''
        })
      "
    >
      <div class="p-4">
        <div class="flex space-x-4">
          <div class="w-full lg:w-2/3">
            <div class="border-b py-8">
              <apexchart
                type="line"
                :options="chartOptions"
                :series="seriesSw"
                :height="331"
              ></apexchart>

              <div class="px-10">
                <h1 class="text-xs font-semibold font-montserrat">
                  {{ $t('content.graph_age_stand') }}
                </h1>
                <div class="flex space-x-4">
                  <span class="text-xs font-montserrat">
                    rata-rata = {{ this.report.avg }}
                  </span>
                  <span class="text-xs font-montserrat"
                    >rata-rata ideal = {{ this.report.avgPendidikan }}</span
                  >
                  <span class="text-xs font-montserrat">
                    SD = {{ this.report.sdPendidikan }}
                  </span>
                </div>
              </div>
            </div>

            <div class="py-8">
              <template v-if="$route.meta.layout != 'print'">
                <div class="w-1/2 mb-4">
                  <vs-select
                    autocomplete
                    v-model="norms"
                    color="primary"
                    class="w-full field-required"
                    :noData="$t('content.no_data_text')"
                    :label="$t('content.work_norms')"
                  >
                    <vs-select-item
                      v-for="norm in workNorms"
                      :key="norm"
                      :value="norm"
                      :text="humanize(norm)"
                    />
                  </vs-select>
                </div>
              </template>

              <div>
                <apexchart
                  type="line"
                  :options="chartOptions"
                  :series="seriesSw2"
                  :height="331"
                ></apexchart>
              </div>

              <div class="px-10">
                <h1 class="text-xs font-semibold font-montserrat">
                  {{ $t('content.graph_edu_stand') }}
                </h1>
                <div class="flex space-x-4">
                  <span class="text-xs font-montserrat">
                    rata-rata = {{ this.report.avg }}
                  </span>
                  <span class="text-xs font-montserrat">
                    rata-rata ideal = {{ this.report.avgPekerjaan }}
                  </span>
                  <span class="text-xs font-montserrat">
                    SD = {{ this.report.sdPekerjaan }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/3 p-4">
            <div class="report-table overflow-hidden">
              <table class="w-full">
                <thead>
                  <tr>
                    <th class="no-border"></th>
                    <th>RW</th>
                    <th>SW</th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    v-for="(key, index) in labels"
                    :key="index"
                    :class="[
                      ...(index % 2 == 0
                        ? []
                        : ['bg-shades-blue-lighter bg-opacity-50'])
                    ]"
                  >
                    <td class="uppercase no-border text-right">{{ key }}</td>
                    <td class="text-center">{{ report.rw[key] }}</td>
                    <td class="text-center">{{ report.sw[key] }}</td>
                  </tr>

                  <tr class="bg-shades-blue-lighter bg-opacity-50">
                    <td class="no-border text-right">
                      {{ $t('label.total_arg', { attribute: '' }) }}
                    </td>
                    <td class="text-center">{{ report.rw.jumlah }}</td>
                    <td class="text-center">{{ report.sw.jumlah }}</td>
                  </tr>

                  <tr>
                    <td class="no-border"></td>
                    <td class="text-center">IQ</td>
                    <td class="text-center">{{ report.iq }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="h-12"></div>
            <div class="rounded-lg shadow m-4 py-4 px-8">
              <div class="flex items-center space-x-4 my-4">
                <div class="w-1/3">
                  <span class="text-xs font-montserrat text-center"
                    >GE + RA</span
                  >
                </div>
                <div class="w-1/3 text-center">
                  <span class="text-xs font-montserrat">{{ notation }}</span>
                </div>
                <div class="w-1/3">
                  <span class="text-xs font-montserrat">AN + ZR</span>
                </div>
              </div>
              <div class="flex space-x-4  my-4">
                <div class="w-1/3">
                  <span class="text-xs font-montserrat">{{ gePlusRa }}</span>
                </div>
                <div class="w-1/3 text-center">
                  <span class="text-xs font-montserrat">{{ notation }}</span>
                </div>
                <div class="w-1/3">
                  <span class="text-xs font-montserrat">{{ anPlusZr }}</span>
                </div>
              </div>

              <div class="flex space-x-4  my-4">
                <div class="w-1/3">
                  <span class="text-xs font-montserrat">{{
                    $t('label.difference')
                  }}</span>
                </div>
                <div class="w-1/3 text-center">
                  <span class="text-xs font-montserrat">=</span>
                </div>
                <div class="w-1/3">
                  <span class="text-xs font-montserrat">{{ difference }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </BoxHeader>

    <template v-if="$route.meta.layout != 'print'">
      <div class="print:hidden h-4"></div>

      <div class="print:hidden flex justify-end space-x-4">
        <vs-button
          class="text-xs px-8 font-medium w-full md:w-auto"
          color="secondary"
          type="border"
          @click="$router.go(-1)"
        >
          {{ $t('label.back') }}
        </vs-button>
      </div>
    </template>
  </div>
</template>

<script>
import { startCase } from 'lodash';
import { mapGetters } from 'vuex';
import BoxHeader from '@/components/base/BoxHeader';

export default {
  name: 'IstSubtest',

  components: {
    BoxHeader
  },

  computed: {
    ...mapGetters({
      normaPekerjaan: 'project/normaPekerjaan'
    }),

    gePlusRa() {
      return this.report.sw.ge + this.report.sw.ra;
    },

    anPlusZr() {
      return this.report.sw.an + this.report.sw.zr;
    },

    notation() {
      return this.gePlusRa > this.anPlusZr ? '>' : '<';
    },

    difference() {
      return this.gePlusRa - this.anPlusZr;
    }
  },

  data: () => ({
    chartOptions: {
      chart: {
        toolbar: {
          show: false
        }
      },
      colors: ['#f1b102', '#44c4f1'],
      stroke: {
        curve: 'straight',
        width: 2
      },
      grid: {
        show: true,
        borderColor: '#92baf9',
        strokeDashArray: 0,
        position: 'back',
        xaxis: {
          lines: {
            show: true
          }
        },
        yaxis: {
          lines: {
            show: true
          }
        }
      },
      xaxis: {
        categories: ['SE', 'WA', 'AN', 'GE', 'RA', 'ZR', 'FA', 'WU', 'ME'],
        position: 'top'
      },
      yaxis: {
        min: 70,
        max: 130,
        tickAmount: 7,
        forceNiceScale: false
      }
    },
    labels: ['se', 'wa', 'an', 'ge', 'ra', 'zr', 'fa', 'wu', 'me'],
    seriesSw: [],
    seriesSw2: [],
    report: {
      iq: 0,
      avg: 0,
      avgPekerjaan: 0,
      sdPekerjaan: 0,
      avgPendidikan: 0,
      sdPendidikan: 0,
      rw: [],
      sw: []
    },
    norms: 'MAN_KUG',
    workNorms: [
      'MAN_KUG',
      'SALES',
      'SPV_SALES',
      'KASIR',
      'PJB_ADM',
      'STAF_ADM',
      'MEK',
      'ELK',
      'POS',
      'DRIVER'
    ]
  }),

  watch: {
    norms(val) {
      this.changeNorms(val);
      this.fetchReportIstResult(this.$route.params.proyekResultId);
    }
  },

  mounted() {
    this.fetchReportIstResult(this.$route.params.proyekResultId);
    if (this.normaPekerjaan) {
      this.norms = this.normaPekerjaan;
    }
  },

  methods: {
    fetchReportIstResult(id) {
      this.$store
        .dispatch('project/fetchReportIstResult', { id: id })
        .then((data) => {
          this.report.iq = data.iq;
          this.report.rw = data.rw;
          this.report.sw = data.sw;
          this.report.avg = data.avg;
          this.report.avgPekerjaan = data.avgPekerjaan;
          this.report.sdPekerjaan = data.sdPekerjaan;
          this.report.avgPendidikan = data.avgPendidikan;
          this.report.sdPendidikan = data.sdPendidikan;
          this.report.normaPekerjaan = data.normaPekerjaan;

          this.$root.$emit('SET_NORMA', data.normaUsia);
          this.$root.$emit('SET_PENDIDIKAN', data.normaPendidikan);

          let series1 = [];
          let series2 = [];
          this.labels.map((item) => {
            series1.push(this.report.sw[item]);
            series2.push(this.report.normaPekerjaan[item]);
          });

          this.seriesSw = [
            {
              name: this.$t('content.graph_age_stand'),
              data: series1
            }
          ];

          this.seriesSw2 = [
            {
              name: this.$t('content.graph_age_stand'),
              data: series1
            },
            {
              name: this.$t('content.work_norms'),
              data: series2
            }
          ];
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    changeNorms(val) {
      this.$store.commit('project/SET_NORMA_PEKERJAAN', val);
    },

    humanize(text) {
      return startCase(text);
    }
  }
};
</script>

<style lang="scss" scoped>
.report-table {
  @apply m-4;

  table {
    @apply w-full;
    @apply m-0;

    thead tr th,
    tbody tr td {
      @apply border;
      @apply border-shades-blue-lighter;
    }

    tr th {
      @apply text-center;
      @apply bg-shades-blue-lighter;
      @apply text-xs;
      @apply text-shades-black;
      @apply font-montserrat;
      @apply font-semibold;
      @apply p-2;
    }

    tr td {
      @apply text-xs;
      @apply text-shades-black;
      @apply font-montserrat;
      @apply p-4;
    }

    thead tr th.no-border,
    tbody tr td.no-border {
      @apply border-0;
      @apply bg-white;
    }
  }
}
</style>
