<template>
  <div class="report-ist-subtest">
    <BoxHeader
      :title="
        $t('label.report_arg', {
          attribute: ''
        })
      "
    >
      <div class="report-table overflow-hidden">
        <table class="w-full">
          <thead>
            <tr>
              <th>{{ $t('label.no') }}</th>
              <th>{{ $t('label.answer') }}</th>
              <th>{{ $t('label.value_arg', { attribute: '2' }) }}</th>
              <th>{{ $t('label.value_arg', { attribute: '1' }) }}</th>
              <th>{{ $t('label.value_arg', { attribute: '0' }) }}</th>
              <th>{{ $t('label.assessment') }}</th>
            </tr>
          </thead>

          <tbody>
            <tr
              v-for="(report, index) in reports"
              :key="index"
              :class="[
                ...(index % 2 == 0
                  ? []
                  : ['bg-shades-blue-lighter bg-opacity-50'])
              ]"
            >
              <td>{{ report.nomor }}</td>
              <td>{{ report.jawaban }}</td>
              <td>{{ report.nilai2 }}</td>
              <td>{{ report.nilai1 }}</td>
              <td>{{ report.nilai0 }}</td>
              <td>
                <div class="flex justify-center">
                  <div class="w-16">
                    <FormGroup
                      :name="$t('label.assessment')"
                      :validator="$v.form.jawaban.$each.$iter[index].point"
                    >
                      <vs-input
                        color="primary"
                        class="w-full field-required"
                        v-model="form.jawaban[index].point"
                        type="number"
                        :disabled="isLoading"
                        :danger="$v.form.jawaban.$each.$iter[index].point.error"
                        @keypress="keypressmonitor"
                        @paste="onPaste"
                      />
                    </FormGroup>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </BoxHeader>

    <div class="h-4"></div>

    <div class="flex justify-end space-x-4">
      <vs-button
        class="text-xs px-8 font-medium w-full md:w-auto"
        color="secondary"
        type="border"
        @click="$router.go(-1)"
      >
        {{ $t('label.back') }}
      </vs-button>
      <vs-button
        class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
        color="primary"
        type="filled"
        ref="loadingBtn"
        :disabled="isLoading"
        @click="fetchSaveReportIst"
      >
        {{ $t('label.save') }}
      </vs-button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import {
  required,
  minLength,
  maxValue,
  numeric
} from 'vuelidate/lib/validators';
import { inputNumberMixin } from '@/mixins/inputNumber';
import { loadingMixin } from '@/mixins/loading';

import BoxHeader from '@/components/base/BoxHeader';
import FormGroup from '@/components/base/FormGroup.vue';

export default {
  name: 'IstSubtest',

  mixins: [inputNumberMixin, loadingMixin],

  components: {
    BoxHeader,
    FormGroup
  },

  computed: {
    ...mapGetters({
      usia: 'project/usia',
      normaPendidikan: 'project/normaPendidikan'
    })
  },

  data: () => ({
    form: {
      jawaban: [],
      normaUsia: 0,
      normaPendidikan: ''
    },
    isLoading: false,
    roles: [],
    reports: {}
  }),

  validations: {
    form: {
      jawaban: {
        required,
        minLength: minLength(1),
        $each: {
          point: {
            required,
            maxValue: maxValue(2)
          }
        }
      },
      normaUsia: {
        numeric
      },
      normaPendidikan: {
        required
      }
    }
  },

  watch: {
    usia(newVal) {
      this.form.normaUsia = newVal;
    },

    normaPendidikan(newVal) {
      this.form.normaPendidikan = newVal;
    }
  },

  mounted() {
    this.fetchReportIst(this.$route.params.proyekResultId);
    this.$root.$emit('ENABLE_INPUT');
  },

  methods: {
    fetchReportIst(id) {
      this.$store
        .dispatch('project/fetchReportIst', { id: id })
        .then((data) => {
          this.reports = data;

          data.map((item) => {
            this.form.jawaban.push({
              nomor: item.nomor,
              point: null
            });
          });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    fetchSaveReportIst() {
      this.$v.$touch();
      this.$root.$emit('VALIDATE_INPUT');

      if (!this.$v.$invalid) {
        this.isLoading = true;
        this.loadingButton(this.$refs.loadingBtn.$el);
        this.$root.$emit('FORM_SAVING');

        this.$store
          .dispatch('project/fetchSaveReportIst', {
            id: this.$route.params.proyekResultId,
            payload: this.form
          })
          .then((data) => {
            this.$root.$emit('DISABLE_INPUT');
            this.$root.$emit('SET_NORMA', data.normaUsia);
            this.$root.$emit('SET_PENDIDIKAN', data.normaPendidikan);
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
            if (this.$refs.loadingBtn) {
              this.closeLoading(this.$refs.loadingBtn.$el);
            }
          })
          .finally(() => {
            this.isLoading = false;
          });
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.report-table {
  @apply m-4;
  @apply border;
  @apply rounded-lg;

  table {
    @apply w-full;
    @apply m-0;

    tr,
    thead tr th,
    tbody tr td {
      @apply border;
      @apply border-shades-blue-lighter;
    }

    tr th {
      @apply text-center;
      @apply bg-shades-blue-lighter;
      @apply text-xs;
      @apply text-shades-black;
      @apply font-montserrat;
      @apply font-semibold;
      @apply p-2;
    }

    tr td {
      @apply text-center;
      @apply text-xs;
      @apply text-shades-black;
      @apply font-montserrat;
      @apply p-4;
    }
  }
}
</style>
