<template>
  <div id="report-ls">
    <div class="w-full" v-if="isLoading">
      <BoxHeader
        :title="
          $t('label.report_arg', {
            attribute: ''
          })
        "
      >
        <div class="p-4">
          <div class="flex">
            <div class="w-1/5 m-2"></div>
            <div class="w-2/5 m-2">
              <div class="text-label-color text-sm w-full text-center">
                <p class="font-medium">LAJUR 1</p>
                <p>(Style Range)</p>
                <p>Alternative Action</p>
              </div>
            </div>
            <div class="w-2/5 m-2">
              <div class="text-label-color text-sm w-full text-center -ml-12">
                <p class="font-medium">LAJUR 2</p>
                <p>(Style Adaptability)</p>
                <p>Alternative Action</p>
              </div>
            </div>
          </div>

          <div class="flex">
            <div class="w-1/5 m-2">
              <!-- Answers -->
              <vs-table :data="report.jawaban">
                <template slot="thead">
                  <vs-th>
                    No
                  </vs-th>
                  <vs-th>
                    Jawaban
                  </vs-th>
                </template>

                <template slot-scope="{ data }">
                  <vs-tr
                    :key="indextr"
                    class="odd:bg-list-background"
                    v-for="(tr, indextr) in data"
                  >
                    <vs-td>
                      {{ tr.nomor }}
                    </vs-td>

                    <vs-td>
                      {{ tr.jawaban }}
                    </vs-td>
                  </vs-tr>
                </template>
              </vs-table>
            </div>

            <!-- Lane 1 - Style Range -->
            <div class="w-2/5 m-2">
              <vs-table :data="report.lajur1">
                <!-- Header -->
                <template slot="thead">
                  <vs-th>(1)</vs-th>
                  <vs-th>(2)</vs-th>
                  <vs-th>(3)</vs-th>
                  <vs-th>(4)</vs-th>
                </template>

                <!-- Body -->
                <template slot-scope="{ data }">
                  <vs-tr
                    :key="indextr"
                    class="odd:bg-list-background"
                    v-for="(tr, indextr) in data"
                  >
                    <vs-td>
                      {{ tr.one }}
                    </vs-td>
                    <vs-td>
                      {{ tr.two }}
                    </vs-td>
                    <vs-td>
                      {{ tr.three }}
                    </vs-td>
                    <vs-td>
                      {{ tr.four }}
                    </vs-td>
                  </vs-tr>

                  <!-- footer -->
                  <vs-tr class="font-semibold">
                    <vs-td>
                      (1)
                    </vs-td>
                    <vs-td>
                      (2)
                    </vs-td>
                    <vs-td>
                      (3)
                    </vs-td>
                    <vs-td>
                      (4)
                    </vs-td>
                  </vs-tr>

                  <!-- totalFooter -->
                  <vs-tr class="font-semibold bg-list-background">
                    <vs-td>
                      {{ report.totalLajur1.totalOne }}
                    </vs-td>
                    <vs-td>
                      {{ report.totalLajur1.totalTwo }}
                    </vs-td>
                    <vs-td>
                      {{ report.totalLajur1.totalThree }}
                    </vs-td>
                    <vs-td>
                      {{ report.totalLajur1.totalFour }}
                    </vs-td>
                  </vs-tr>
                </template>
              </vs-table>
            </div>

            <!-- Lane 2 - Style Range -->
            <div class="w-2/5 m-2">
              <vs-table :data="report.lajur2">
                <!-- Header -->
                <template slot="thead">
                  <vs-th>(A)</vs-th>
                  <vs-th>(B)</vs-th>
                  <vs-th>(C)</vs-th>
                  <vs-th>(D)</vs-th>
                </template>

                <!-- Body -->
                <template slot-scope="{ data }">
                  <vs-tr
                    :key="indextr"
                    class="odd:bg-list-background"
                    v-for="(tr, indextr) in data"
                  >
                    <vs-td>
                      {{ tr.a }}
                    </vs-td>
                    <vs-td>
                      {{ tr.b }}
                    </vs-td>
                    <vs-td>
                      {{ tr.c }}
                    </vs-td>
                    <vs-td>
                      {{ tr.d }}
                    </vs-td>
                  </vs-tr>

                  <!-- footer -->
                  <vs-tr class="font-semibold bg-list-background">
                    <vs-td> </vs-td>
                    <vs-td> </vs-td>
                    <vs-td> </vs-td>
                    <vs-td> </vs-td>
                    <vs-td> Total </vs-td>
                  </vs-tr>
                  <!-- totalFooter -->
                  <vs-tr class="font-semibold bg-list-background">
                    <vs-td>
                      {{ report.totalLajur2.totalA }}
                    </vs-td>
                    <vs-td>
                      {{ report.totalLajur2.totalB }}
                    </vs-td>
                    <vs-td>
                      {{ report.totalLajur2.totalC }}
                    </vs-td>
                    <vs-td>
                      {{ report.totalLajur2.totalD }}
                    </vs-td>
                    <vs-td>
                      {{ report.totalLajur2.total }}
                    </vs-td>
                  </vs-tr>
                </template>
              </vs-table>
            </div>
          </div>
        </div>
      </BoxHeader>

      <template v-if="$route.meta.layout != 'print'">
        <div class="print:hidden h-4"></div>

        <div class="print:hidden flex justify-end space-x-4">
          <vs-button
            class="text-xs px-8 font-medium w-full md:w-auto"
            color="secondary"
            type="border"
            @click="$router.go(-1)"
          >
            {{ $t('label.back') }}
          </vs-button>
        </div>
      </template>
    </div>
  </div>
</template>
<script>
// base
import BoxHeader from '@/components/base/BoxHeader.vue';

export default {
  name: 'ReportLS',
  components: {
    BoxHeader
  },

  data: () => ({
    report: {},
    isLoading: false
  }),

  created() {
    this.fetchReportLs(this.$route.params.proyekResultId);
  },

  methods: {
    fetchReportLs(id) {
      this.$store
        .dispatch('project/fetchReportLs', { id: id })
        .then((data) => {
          this.report = data;
          this.isLoading = true;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    }
  }
};
</script>
<style lang="scss">
#report-ls {
  th {
    text-align: center !important;
    padding: 10px !important;
  }

  .vs-table--tbody-table .tr-values td {
    text-align: center;
    border: 1px solid #e2e8f0;
  }

  th .vs-table-text {
    justify-content: center !important;
  }

  .vs-table--tbody-table {
    min-width: 100% !important;
    background: white;
  }

  .bg-list-background {
    background-color: rgba(245, 250, 255, var(--bg-opacity)) !important;
  }
}
</style>
