<template>
  <div class="report-team-style">
    <BoxHeader
      :title="
        $t('label.report_arg', {
          attribute: ''
        })
      "
    >
      <div class="p-4">
        <div class="flex items-center justify-center my-8">
          <canvas ref="can" width="720" height="720"></canvas>
        </div>

        <div class="flex items-center justify-center">
          <div class="w-full lg:w-1/2 border rounded-lg shadow-md">
            <div class="report-table">
              <table>
                <thead>
                  <tr>
                    <th v-for="item in topGroup" :key="item">
                      {{ item }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td v-for="item in topGroup" :key="item">
                      {{ reports[item] }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <hr class="my-4" />

            <div class="report-table">
              <table>
                <thead>
                  <tr>
                    <th v-for="item in bottomGroup" :key="item">
                      {{ item }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td v-for="item in bottomGroup" :key="item">
                      {{ reports[item] }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </BoxHeader>

    <template v-if="$route.meta.layout != 'print'">
      <div class="print:hidden h-4"></div>

      <div class="print:hidden flex justify-end space-x-4">
        <vs-button
          class="text-xs px-8 font-medium w-full md:w-auto"
          color="secondary"
          type="border"
          @click="$router.go(-1)"
        >
          {{ $t('label.back') }}
        </vs-button>
      </div>
    </template>
  </div>
</template>

<script>
import { fabric } from 'fabric-browseronly';
import BoxHeader from '@/components/base/BoxHeader';

export default {
  name: 'ReportPapikostik',

  components: {
    BoxHeader
  },

  data: () => ({
    reports: {},
    coordinates: {
      n: [
        // 0
        {
          x: 364,
          y: 329
        },
        // 1
        {
          x: 367,
          y: 313
        },
        // 2
        {
          x: 371,
          y: 298
        },
        // 3
        {
          x: 374,
          y: 282
        },
        // 4
        {
          x: 377,
          y: 269
        },
        // 5
        {
          x: 378,
          y: 255
        },
        // 6
        {
          x: 382,
          y: 239
        },
        // 7
        {
          x: 386,
          y: 223
        },
        // 8
        {
          x: 392,
          y: 206
        },
        // 9
        {
          x: 396,
          y: 192
        }
      ],
      g: [
        // 0
        {
          x: 375,
          y: 333
        },
        // 1
        {
          x: 384,
          y: 320
        },
        // 2
        {
          x: 390,
          y: 307
        },
        // 3
        {
          x: 399,
          y: 293
        },
        // 4
        {
          x: 405,
          y: 281
        },
        // 5
        {
          x: 413,
          y: 269
        },
        // 6
        {
          x: 419,
          y: 257
        },
        // 7
        {
          x: 428,
          y: 243
        },
        // 8
        {
          x: 436,
          y: 227
        },
        // 9
        {
          x: 445,
          y: 212
        }
      ],
      a: [
        // 0
        {
          x: 380,
          y: 340
        },
        // 1
        {
          x: 395,
          y: 331
        },
        // 2
        {
          x: 405,
          y: 321
        },
        // 3
        {
          x: 418,
          y: 312
        },
        // 4
        {
          x: 429,
          y: 303
        },
        // 5
        {
          x: 438,
          y: 392
        },
        // 6
        {
          x: 449,
          y: 285
        },
        // 7
        {
          x: 463,
          y: 272
        },
        // 8
        {
          x: 475,
          y: 260
        },
        // 9
        {
          x: 485,
          y: 246
        }
      ],
      l: [
        // 0
        {
          x: 385,
          y: 348
        },
        // 1
        {
          x: 403,
          y: 343
        },
        // 2
        {
          x: 415,
          y: 339
        },
        // 3
        {
          x: 430,
          y: 330
        },
        // 4
        {
          x: 442,
          y: 324
        },
        // 5
        {
          x: 454,
          y: 318
        },
        // 6
        {
          x: 466,
          y: 312
        },
        // 7
        {
          x: 482,
          y: 304
        },
        // 8
        {
          x: 497,
          y: 295
        },
        // 9
        {
          x: 487,
          y: 249
        }
      ],
      p: [
        // 0
        {
          x: 388,
          y: 359
        },
        // 1
        {
          x: 405,
          y: 356
        },
        // 2
        {
          x: 418,
          y: 355
        },
        // 3
        {
          x: 435,
          y: 349
        },
        // 4
        {
          x: 447,
          y: 344
        },
        // 5
        {
          x: 460,
          y: 340
        },
        // 6
        {
          x: 473,
          y: 336
        },
        // 7
        {
          x: 491,
          y: 333
        },
        // 8
        {
          x: 509,
          y: 329
        },
        // 9
        {
          x: 525,
          y: 328
        }
      ],
      i: [
        // 0
        {
          x: 388,
          y: 367
        },
        // 1
        {
          x: 404,
          y: 367
        },
        // 2
        {
          x: 419,
          y: 365
        },
        // 3
        {
          x: 435,
          y: 349
        },
        // 4
        {
          x: 449,
          y: 364
        },
        // 5
        {
          x: 463,
          y: 363
        },
        // 6
        {
          x: 477,
          y: 363
        },
        // 7
        {
          x: 493,
          y: 362
        },
        // 8
        {
          x: 512,
          y: 361
        },
        // 9
        {
          x: 528,
          y: 362
        }
      ],
      t: [
        // 0
        {
          x: 384,
          y: 374
        },
        // 1
        {
          x: 402,
          y: 377
        },
        // 2
        {
          x: 415,
          y: 379
        },
        // 3
        {
          x: 432,
          y: 383
        },
        // 4
        {
          x: 445,
          y: 386
        },
        // 5
        {
          x: 458,
          y: 392
        },
        // 6
        {
          x: 471,
          y: 393
        },
        // 7
        {
          x: 488,
          y: 397
        },
        // 8
        {
          x: 506,
          y: 400
        },
        // 9
        {
          x: 522,
          y: 404
        }
      ],
      v: [
        // 0
        {
          x: 384,
          y: 373
        },
        // 1
        {
          x: 398,
          y: 385
        },
        // 2
        {
          x: 410,
          y: 392
        },
        // 3
        {
          x: 423,
          y: 404
        },
        // 4
        {
          x: 433,
          y: 412
        },
        // 5
        {
          x: 444,
          y: 421
        },
        // 6
        {
          x: 456,
          y: 429
        },
        // 7
        {
          x: 469,
          y: 438
        },
        // 8
        {
          x: 484,
          y: 449
        },
        // 9
        {
          x: 496,
          y: 461
        }
      ],
      x: [
        // 0
        {
          x: 379,
          y: 379
        },
        // 1
        {
          x: 391,
          y: 394
        },
        // 2
        {
          x: 399,
          y: 404
        },
        // 3
        {
          x: 407,
          y: 419
        },
        // 4
        {
          x: 415,
          y: 432
        },
        // 5
        {
          x: 423,
          y: 442
        },
        // 6
        {
          x: 431,
          y: 453
        },
        // 7
        {
          x: 439,
          y: 468
        },
        // 8
        {
          x: 449,
          y: 484
        },
        // 9
        {
          x: 458,
          y: 498
        }
      ],
      s: [
        // 0
        {
          x: 373,
          y: 384
        },
        // 1
        {
          x: 380,
          y: 400
        },
        // 2
        {
          x: 384,
          y: 415
        },
        // 3
        {
          x: 390,
          y: 430
        },
        // 4
        {
          x: 394,
          y: 443
        },
        // 5
        {
          x: 399,
          y: 456
        },
        // 6
        {
          x: 404,
          y: 370
        },
        // 7
        {
          x: 409,
          y: 486
        },
        // 8
        {
          x: 415,
          y: 502
        },
        // 9
        {
          x: 418,
          y: 519
        }
      ],
      b: [
        // 0
        {
          x: 361,
          y: 388
        },
        // 1
        {
          x: 363,
          y: 407
        },
        // 2
        {
          x: 363,
          y: 421
        },
        // 3
        {
          x: 365,
          y: 438
        },
        // 4
        {
          x: 366,
          y: 451
        },
        // 5
        {
          x: 368,
          y: 465
        },
        // 6
        {
          x: 369,
          y: 480
        },
        // 7
        {
          x: 368,
          y: 495
        },
        // 8
        {
          x: 370,
          y: 513
        },
        // 9
        {
          x: 369,
          y: 531
        }
      ],
      o: [
        // 0
        {
          x: 348,
          y: 389
        },
        // 1
        {
          x: 344,
          y: 405
        },
        // 2
        {
          x: 340,
          y: 419
        },
        // 3
        {
          x: 335,
          y: 436
        },
        // 4
        {
          x: 332,
          y: 449
        },
        // 5
        {
          x: 328,
          y: 462
        },
        // 6
        {
          x: 325,
          y: 475
        },
        // 7
        {
          x: 323,
          y: 492
        },
        // 8
        {
          x: 320,
          y: 509
        },
        // 9
        {
          x: 315,
          y: 526
        }
      ],
      r: [
        // 0
        {
          x: 339,
          y: 384
        },
        // 1
        {
          x: 327,
          y: 397
        },
        // 2
        {
          x: 319,
          y: 408
        },
        // 3
        {
          x: 310,
          y: 424
        },
        // 4
        {
          x: 305,
          y: 437
        },
        // 5
        {
          x: 298,
          y: 449
        },
        // 6
        {
          x: 293,
          y: 463
        },
        // 7
        {
          x: 285,
          y: 477
        },
        // 8
        {
          x: 278,
          y: 493
        },
        // 9
        {
          x: 266,
          y: 507
        }
      ],
      d: [
        // 0
        {
          x: 330,
          y: 377
        },
        // 1
        {
          x: 318,
          y: 387
        },
        // 2
        {
          x: 308,
          y: 398
        },
        // 3
        {
          x: 294,
          y: 411
        },
        // 4
        {
          x: 286,
          y: 421
        },
        // 5
        {
          x: 278,
          y: 431
        },
        // 6
        {
          x: 268,
          y: 442
        },
        // 7
        {
          x: 253,
          y: 450
        },
        // 8
        {
          x: 241,
          y: 463
        },
        // 9
        {
          x: 228,
          y: 475
        }
      ],
      c: [
        // 0
        {
          x: 326,
          y: 368
        },
        // 1
        {
          x: 310,
          y: 372
        },
        // 2
        {
          x: 297,
          y: 379
        },
        // 3
        {
          x: 280,
          y: 386
        },
        // 4
        {
          x: 268,
          y: 391
        },
        // 5
        {
          x: 255,
          y: 398
        },
        // 6
        {
          x: 243,
          y: 404
        },
        // 7
        {
          x: 228,
          y: 410
        },
        // 8
        {
          x: 212,
          y: 417
        },
        // 9
        {
          x: 195,
          y: 422
        }
      ],
      z: [
        // 0
        {
          x: 183,
          y: 371
        },
        // 1
        {
          x: 202,
          y: 369
        },
        // 2
        {
          x: 217,
          y: 367
        },
        // 3
        {
          x: 235,
          y: 365
        },
        // 4
        {
          x: 250,
          y: 364
        },
        // 5
        {
          x: 263,
          y: 362
        },
        // 6
        {
          x: 276,
          y: 361
        },
        // 7
        {
          x: 293,
          y: 360
        },
        // 8
        {
          x: 307,
          y: 359
        },
        // 9
        {
          x: 324,
          y: 359
        }
      ],
      e: [
        // 0
        {
          x: 325,
          y: 350
        },
        // 1
        {
          x: 309,
          y: 349
        },
        // 2
        {
          x: 296,
          y: 345
        },
        // 3
        {
          x: 278,
          y: 341
        },
        // 4
        {
          x: 265,
          y: 339
        },
        // 5
        {
          x: 251,
          y: 337
        },
        // 6
        {
          x: 237,
          y: 333
        },
        // 7
        {
          x: 220,
          y: 329
        },
        // 8
        {
          x: 206,
          y: 324
        },
        // 9
        {
          x: 186,
          y: 317
        }
      ],
      k: [
        // 0
        {
          x: 208,
          y: 269
        },
        // 1
        {
          x: 226,
          y: 278
        },
        // 2
        {
          x: 239,
          y: 285
        },
        // 3
        {
          x: 255,
          y: 294
        },
        // 4
        {
          x: 267,
          y: 300
        },
        // 5
        {
          x: 279,
          y: 307
        },
        // 6
        {
          x: 290,
          y: 315
        },
        // 7
        {
          x: 303,
          y: 325
        },
        // 8
        {
          x: 316,
          y: 332
        },
        // 9
        {
          x: 329,
          y: 340
        }
      ],
      f: [
        // 0
        {
          x: 337,
          y: 333
        },
        // 1
        {
          x: 329,
          y: 319
        },
        // 2
        {
          x: 323,
          y: 307
        },
        // 3
        {
          x: 313,
          y: 293
        },
        // 4
        {
          x: 304,
          y: 283
        },
        // 5
        {
          x: 294,
          y: 272
        },
        // 6
        {
          x: 287,
          y: 263
        },
        // 7
        {
          x: 275,
          y: 249
        },
        // 8
        {
          x: 264,
          y: 238
        },
        // 9
        {
          x: 250,
          y: 226
        }
      ],
      w: [
        // 0
        {
          x: 350,
          y: 328
        },
        // 1
        {
          x: 345,
          y: 313
        },
        // 2
        {
          x: 343,
          y: 299
        },
        // 3
        {
          x: 342,
          y: 282
        },
        // 4
        {
          x: 342,
          y: 269
        },
        // 5
        {
          x: 339,
          y: 255
        },
        // 6
        {
          x: 335,
          y: 242
        },
        // 7
        {
          x: 333,
          y: 223
        },
        // 8
        {
          x: 330,
          y: 207
        },
        // 9
        {
          x: 325,
          y: 190
        }
      ]
    },
    points: [],
    polygons: [],
    orederedKeys: [
      'n',
      'g',
      'a',
      'l',
      'p',
      'i',
      't',
      'v',
      'x',
      's',
      'b',
      'o',
      'r',
      'd',
      'c',
      'z',
      'e',
      'k',
      'f',
      'w'
    ],
    bottomGroup: ['n', 'a', 'p', 'x', 'b', 'o', 'z', 'k', 'f', 'w'],
    topGroup: ['g', 'l', 'i', 't', 'v', 's', 'r', 'd', 'c', 'e']
  }),

  watch: {
    polygons() {
      this.drawCanvas();
    }
  },

  mounted() {
    this.fetchReportPapikostik(this.$route.params.proyekResultId);
  },

  methods: {
    drawCanvas() {
      const ref = this.$refs.can;
      const canvas = new fabric.Canvas(ref);

      let groups = [];

      let polygon = new fabric.Polygon(this.polygons, {
        fill: 'rgba(0,0,0,0)',
        stroke: '#ffa10b',
        strokeWidth: 2
      });

      // Add small circle as an indicative point

      fabric.Image.fromURL(
        require('@/assets/images/bpi-papikostik.png'),
        (objects) => {
          let obj = objects.set({ left: -15, top: -70 });
          obj.scale(0.8);

          groups.push(obj);
          groups.push(polygon);

          this.points.map((item) => {
            let circlePoints = new fabric.Circle(item);
            groups.push(circlePoints);
          });

          let group = new fabric.Group(groups, {
            left: -15,
            top: -70
          });

          canvas.add(group);
          canvas.item(0).lockMovementY = true;
          canvas.item(0).lockMovementX = true;
          canvas.item(0).hasControls = canvas.item(0).hasBorders = false;
        }
      );

      // canvas.on('mouse:move', function(options) {
      //   console.log(options.e.layerX, options.e.layerY);
      // });
    },

    fetchReportPapikostik(id) {
      this.$store
        .dispatch('project/fetchReportPapikostik', { id: id })
        .then((data) => {
          this.orederedKeys.map((item) => {
            this.polygons.push(this.coordinates[item][data[item]]);
            this.points.push({
              radius: 5,
              fill: '#ffa10b',
              left: this.coordinates[item][data[item]].x,
              top: this.coordinates[item][data[item]].y,
              selectable: false,
              originX: 'center',
              originY: 'center',
              hoverCursor: 'auto'
            });
          });

          this.reports = data;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.report-table {
  @apply m-4;

  table {
    @apply w-full;
    @apply m-0;

    tr th {
      @apply capitalize;
      @apply text-center;
      @apply text-xs;
      @apply text-shades-black;
      @apply font-montserrat;
      @apply font-semibold;
      @apply px-2;
    }

    tr td {
      @apply text-center;
      @apply text-xs;
      @apply text-shades-black;
      @apply font-montserrat;
      @apply px-2;
    }
  }
}
</style>
