<template>
  <div class="report-team-style">
    <BoxHeader
      :title="
        $t('label.report_arg', {
          attribute: ''
        })
      "
    >
      <div class="report-table overflow-hidden">
        <table class="w-full">
          <thead>
            <tr>
              <th rowspan="2">{{ $t('label.role_team') }}</th>
              <th colspan="2">{{ $t('label.assessment') }}</th>
            </tr>

            <tr>
              <th>{{ $t('label.myself') }}</th>
              <th>{{ $t('label.other_people') }}</th>
            </tr>
          </thead>

          <tbody>
            <tr
              v-for="(role, index) in roles"
              :key="index"
              :class="[
                ...(index % 2 == 0
                  ? []
                  : ['bg-shades-blue-lighter bg-opacity-50'])
              ]"
            >
              <td>{{ humanize(role) }}</td>
              <td>{{ reports[role].diriSendiri }}</td>
              <td>{{ reports[role].orangLain }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </BoxHeader>

    <template v-if="$route.meta.layout != 'print'">
      <div class="print:hidden h-4"></div>

      <div class="print:hidden flex justify-end space-x-4">
        <vs-button
          class="text-xs px-8 font-medium w-full md:w-auto"
          color="secondary"
          type="border"
          @click="$router.go(-1)"
        >
          {{ $t('label.back') }}
        </vs-button>
      </div>
    </template>
  </div>
</template>

<script>
import { keys, startCase } from 'lodash';
import BoxHeader from '@/components/base/BoxHeader';

export default {
  name: 'ReportTeamStyle',

  components: {
    BoxHeader
  },

  data: () => ({
    roles: [],
    reports: {}
  }),

  mounted() {
    this.fetchReportBelbin(this.$route.params.proyekResultId);
  },

  methods: {
    fetchReportBelbin(id) {
      this.$store
        .dispatch('project/fetchReportBelbin', { id: id })
        .then((data) => {
          this.roles = keys(data);
          this.reports = data;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    humanize(text) {
      return startCase(text);
    }
  }
};
</script>

<style lang="scss" scoped>
.report-table {
  @apply m-4;
  @apply border;
  @apply rounded-lg;

  table {
    @apply w-full;
    @apply m-0;

    tr,
    thead tr th,
    tbody tr td {
      @apply border;
      @apply border-shades-blue-lighter;
    }

    tr th {
      @apply text-center;
      @apply bg-shades-blue-lighter;
      @apply text-xs;
      @apply text-shades-black;
      @apply font-montserrat;
      @apply font-semibold;
      @apply p-2;
    }

    tr td {
      @apply text-center;
      @apply text-xs;
      @apply text-shades-black;
      @apply font-montserrat;
      @apply p-4;
    }
  }
}
</style>
