<template>
  <div id="report-value">
    <div class="w-full pt-4">
      <BoxHeader class="mb-8" title="Laporan">
        <div class="mt-4 mb-3">
          <div class="w-full mt-2 mb-3">
            <div class="font-medium text-sm w-full">
              Psikogram Value
            </div>
          </div>
          <div class="w-full">
            <table class="table-custom">
              <thead>
                <tr>
                  <th rowspan="2">Value</th>
                  <th rowspan="2">Skor</th>
                  <th colspan="18">Grafik</th>
                </tr>

                <tr>
                  <th v-for="i in 18" :key="i">{{ i }}</th>
                </tr>
              </thead>

              <!-- Value Here -->
              <!-- This divided by 4 row -->
              <tbody>
                <tr v-for="(data, index) in value.psikogramValue" :key="index">
                  <td>{{ data.value }}</td>
                  <td>{{ data.skor }}</td>
                  <td v-for="i in 18" :key="i">
                    <span v-if="i === data.skor">X</span>
                  </td>
                </tr>
              </tbody>

              <!-- Footer -->
              <tfoot>
                <tr>
                  <th class="bg-none"></th>
                  <th>{{ value.pskikogramTotal }}</th>
                  <th colspan="3">Lemah</th>
                  <th colspan="3">Cend Lemah</th>
                  <th colspan="3">Sedang</th>
                  <th colspan="3">Cukup</th>
                  <th colspan="3">Cend Kuat</th>
                  <th colspan="3">Kuat</th>
                </tr>
              </tfoot>
            </table>
          </div>

          <div class="w-full mt-2 mb-3">
            <div class="font-medium text-sm w-full">
              Second Order
            </div>
          </div>
          <div class="w-full">
            <table class="table-custom">
              <thead>
                <tr>
                  <th rowspan="2">Value</th>
                  <th rowspan="2">Skor</th>
                  <th rowspan="2">Second Order</th>
                  <th colspan="18">Grafik</th>
                </tr>

                <tr>
                  <th v-for="i in 18" :key="i">{{ i }}</th>
                </tr>
              </thead>

              <!-- Value Here -->
              <!-- This divided by 4 row -->
              <tbody v-for="(data, index) in value.secondOrder" :key="index">
                <!-- First -->
                <tr v-for="(sub, subIndex) in data.subValue" :key="subIndex">
                  <td>{{ sub.value.substr(0, 3) }}</td>
                  <td>{{ sub.skor }}</td>
                  <td class="font-medium" v-if="subIndex === 0" rowspan="4">
                    {{ sub.secondOrder }}
                  </td>
                </tr>

                <tr>
                  <td class="bg-list-background font-medium">Total</td>
                  <td class="bg-list-background font-medium">
                    {{ data.total }}
                  </td>
                  <td class="bg-list-background" v-for="i in 18" :key="i">
                    <span v-if="i === Math.round(data.total)">X</span>
                  </td>
                </tr>
                <!-- First End -->
                <!-- End Fourtd -->
              </tbody>

              <!-- Footer -->
              <tfoot>
                <tr>
                  <th class="bg-none"></th>
                  <th class="bg-none"></th>
                  <th class="bg-none"></th>
                  <th colspan="3">Lemah</th>
                  <th colspan="3">Cend Lemah</th>
                  <th colspan="3">Sedang</th>
                  <th colspan="3">Cukup</th>
                  <th colspan="3">Cend Kuat</th>
                  <th colspan="3">Kuat</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </BoxHeader>

      <template v-if="$route.meta.layout != 'print'">
        <div class="print:hidden h-4"></div>

        <div class="print:hidden flex justify-end space-x-4">
          <vs-button
            class="text-xs px-8 font-medium w-full md:w-auto"
            color="secondary"
            type="border"
            @click="$router.go(-1)"
          >
            {{ $t('label.back') }}
          </vs-button>
        </div>
      </template>
    </div>
  </div>
</template>
<script>
// base
import BoxHeader from '@/components/base/BoxHeader.vue';

export default {
  name: 'ReportLS',
  components: {
    BoxHeader
  },

  data: () => ({
    value: {}
  }),

  methods: {
    fetchReportLs(id) {
      this.$store
        .dispatch('project/fetchReportValue', { id: id })
        .then((data) => {
          this.value = data;
          this.setSecondOrder();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    setSecondOrder() {
      let subValue = [];
      this.value.psikogramValue.forEach((data) => {
        // self enhance
        if (
          data.value === 'Achievement' ||
          data.value === 'Power' ||
          data.value === 'Pleasure'
        ) {
          subValue.push({
            value: data.value,
            skor: data.skor,
            secondOrder: 'Self Enhance'
          });
        }

        // open to change
        if (
          data.value === 'Self Direction' ||
          data.value === 'Stumulation' ||
          data.value === 'Pleasure'
        ) {
          subValue.push({
            value: data.value,
            skor: data.skor,
            secondOrder: 'Open To Change'
          });
        }

        // Self Transcend
        if (data.value === 'Nurturance' || data.value === 'Equality') {
          subValue.push({
            value: data.value,
            skor: data.skor,
            secondOrder: 'Self Transcend'
          });
        }

        // Conversation
        if (
          data.value === 'Conformity' ||
          data.value === 'Tradition' ||
          data.value === 'Security'
        ) {
          subValue.push({
            value: data.value,
            skor: data.skor,
            secondOrder: 'Conservation'
          });
        }
      });

      this.value.secondOrder.forEach((data, index) => {
        this.value.secondOrder[index] = {
          total: data.total,
          value: data.value,
          subValue: []
        };

        subValue.forEach((sub) => {
          if (data.value === sub.secondOrder) {
            this.value.secondOrder[index].subValue.push(sub);
          }
        });
      });
    }
  },

  created() {
    this.fetchReportLs(this.$route.params.proyekResultId);
  }
};
</script>
<style lang="scss">
#report-value {
  .table-custom {
    width: 100%;

    th,
    td {
      text-align: center;
      padding: 10px;
      font-size: 12px;
      border: 1px solid #deeaf9;
    }

    th {
      background: #daeafb;
      font-weight: 500;
    }
  }

  .bg-none {
    background: none !important;
    border: none !important;
  }

  .bg-list-background {
    background-color: rgba(245, 250, 255, var(--bg-opacity)) !important;
  }
}
</style>
