.vuesax-app-is-ltr .vs-input--placeholder {
  left: 10px;
}

.vs-select--input::placeholder {
  font-family: Montserrat;
  font-size: 0.85rem;
}

.vs-input--placeholder,
.vs-select--input::placeholder {
  padding: 0.6rem;
  color: #a8a8a8 !important;
}

.vs-con-textarea {
  border: 0 !important;
}

.vs-con-textarea .vs-textarea {
  background-color: #ffffff !important;
  border: 2px solid #f4f4f4 !important;
  height: 100px;
}

.vs-input--label,
.vs-select--label,
.vs-con-textarea h4 {
  color: #57585a;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  padding: 6px 8px;
}

.vuesax-app-is-ltr .vs-input--input.hasIcon {
  color: #232323 !important;
  padding-left: 40px;
}

.vuesax-app-is-ltr .custom-form-icon .vs-input--icon {
  background: #f1b102;
  color: #ffffff;
  width: 40px;
  height: 40px;
  top: -1px;
  left: -5px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.vuesax-app-is-ltr
  .custom-form-icon
  .vs-input--input.hasIcon
  + .vs-input--placeholder {
  padding: 0.6rem 0.6rem 0.6rem 3rem;
}

.vuesax-app-is-ltr .custom-form-icon .vs-input--input.hasIcon {
  padding: 0.4rem 0.4rem 0.4rem 3rem;
  background: #f4f4f4;
  border: 2px solid #f4f4f4 !important;
  color: #f1b102;
}

.vs-input--input.normal,
.vs-select--input {
  background: #ffffff !important;
  border: 2px solid #ececec !important;
  color: #57585a;
  font-size: 14px;
}

.input-select-con .material-icons {
  color: #f1b102;
}

.vs-textarea {
  background: #f4f4f4;
  color: #57585a;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.vs-table--thead tr {
  box-shadow: 0 0 0 0 #c0d6df;
  background-color: #daeafb;
}

.vs-table--thead tr th {
  padding: 20px 10px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
}

.vs-con-table {
  background: #f5faff;
}

.vs-con-table table {
  border-radius: 4px !important;
  border: solid 2px #dce9f9 !important;
}

.v-collapse-content {
  max-height: 0;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  padding: 0;
}

.v-collapse-content-end {
  transition: max-height 0.3s ease-in;
  max-height: 100%;
}

/* --- base navbar --- */
#base-navbar {
  border-color: #f1b102;
}

/* --- vs-pagination custom --- */
.con-vs-pagination .vs-pagination--nav {
  background-color: #f6f6f6;
  border-radius: 15px;
}

.vs-pagination--nav .vs-pagination--ul {
  background-color: none !important;
  padding-left: 0;
  padding-right: 0;
}

.vs-pagination--nav .vs-pagination--ul .vs-pagination--li {
  background-color: #f6f6f6 !important;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
}

.vs-pagination--buttons.vs-pagination--button-prev,
.vs-pagination--buttons.vs-pagination--button-next {
  background-color: #f6f6f6 !important;
}

.vs-pagination--nav .vs-pagination--ul .vs-pagination--li.is-current {
  font-weight: normal;
}

.vs-pagination--nav .vs-pagination--ul .vs-pagination--li .effect {
  border-radius: 100% !important;
}

/* --- vs-button custom --- */
.vs-button-primary.vs-button-filled .vs-button--text {
  /* color: #232323 !important; */
}

.vs-button-secondary.vs-button-border,
.vs-button-secondary.vs-button-flat {
  /* color: #232323 !important; */
}

/* --- vs-popup custom --- */

.con-vs-popup {
  z-index: 50000 !important;
}

.vs-select--options,
.con-vs-dialog {
  z-index: 50002 !important;
}

.vs-popup .vs-popup--header {
  background-image: linear-gradient(to top, #44c4f1, #6593da, #6692d9);
  border-left: 6px solid #f1b102;
  border-radius: 5px;
  justify-content: center;
}

.vs-popup .vs-popup--header h3 {
  font-size: 18px;
  font-weight: 500;
  margin-left: 14px;
  padding: 12px;
}

.vs-popup--header .vs-popup--title {
  color: #ffffff;
}

/* --- vs-dialog custom --- */
.vs-dialog-primary .vs-dialog .vs-dialog-header {
  background-image: linear-gradient(to top, #44c4f1, #6593da, #6692d9);
  border-radius: 5px;
  justify-content: center;
}

.con-vs-dialog .vs-dialog header h3 {
  color: #ffffff !important;
}

.vs-dialog-primary .vs-dialog .after {
  border-left: 6px solid #f1b102;
}

.con-vs-dialog .vs-dialog footer {
  padding: 10px;
}

.con-vs-dialog .vs-dialog footer button {
  margin-left: 10px;
}

/* --- date-picker custom --- */
.vs-con-input-label .vs-con-input i {
  border-right: none !important;
  color: #f1b102;
  font-size: 22px;
  margin-left: 4px;
}

/* progress bar */
.vs-progress--background {
  background-color: #38a8f0 !important;
}

.field-required label:after,
.vs-con-textarea.field-required h4:after {
  content: ' *';
  color: red;
}

.tox-tinymce {
  z-index: 99999999999 !important;
}

.tox-tinymce-aux {
  z-index: 99999999999 !important;
}

.vs-checkbox--check .material-icons {
  font-size: 16px !important;
}

/* Input Number */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-input-placeholder {
  /* Edge */
  color: rgba(155, 155, 155, 0.5);
  font-family: Inter, Arial;
  font-size: 0.875rem;
  font-weight: 400;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(155, 155, 155, 0.5);
  font-family: Inter, Arial;
  font-size: 0.875rem;
  font-weight: 400;
}

::placeholder {
  color: rgba(155, 155, 155, 0.5);
  font-family: Inter, Arial;
  font-size: 0.875rem;
  font-weight: 400;
}

.html2pdf__page-break {
  page-break-after: auto;
}

.vs-tabs--li {
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
}

* {
-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.tox-tinymce {
  z-index: 998 !important;
}