$namespace: 'xmx-dm'; // change the 'mx' to 'xmx'. then <date-picker prefix-class="xmx" />

$default-color: #555;
$primary-color: #bb9457;

@import '~vue2-datepicker/scss/index.scss';

.xmx-dm-btn.xmx-dm-btn-text.xmx-dm-btn-current-year,
.xmx-dm-calendar.xmx-dm-calendar-panel-month
  .xmx-dm-calendar-header-label
  .xmx-dm-btn.xmx-dm-btn-text {
  display: none !important;
}

.xmx-dm-btn-icon-double-left,
.xmx-dm-btn-icon-double-right,
.xmx-dm-btn-icon-left,
.xmx-dm-btn-icon-right {
  display: none !important;
}

/* to set every popup date picker in the front */
.xmx-dm-datepicker-popup {
  z-index: 100000 !important;
}

/* size of date-picker form */
.xmx-dm-datepicker {
  width: 100% !important;
}
