$namespace: 'xmx'; // change the 'mx' to 'xmx'. then <date-picker prefix-class="xmx" />

$default-color: #555;
$primary-color: #bb9457;

@import '~vue2-datepicker/scss/index.scss';

/* to set every popup date picker in the front */
.xmx-datepicker-popup {
  z-index: 100000 !important;
}

/* size of date-picker form */
.xmx-datepicker {
  width: 100% !important;
}
