<script>
import BaseSidebar from '@/components/sidebar/Sidebar';
import BaseNavbar from '@/components/base/Navbar';
import BaseTitle from '@/components/base/Title';
import Notification from '@/components/base/Notification';
import sidebarItems from '@/components/sidebar/sidebarItems.js';
import VuePerfectScrollbar from 'vue-perfect-scrollbar';

export default {
  name: 'DefaultLayout',

  components: {
    BaseNavbar,
    BaseSidebar,
    BaseTitle,
    Notification,
    VuePerfectScrollbar
  },

  data: () => ({
    isShow: true,
    sidebarItems: sidebarItems,
    settings: {
      maxScrollbarLength: 60
    }
  }),

  computed: {
    title() {
      return this.$route.meta.breadCrumb;
    }
  }
};
</script>

<template>
  <div id="default-layout">
    <div class="bg-app-base font-montserrat">
      <div class="h-screen overflow-hidden flex bg-app-base">
        <BaseSidebar
          :logo="require('@/assets/images/bpi-logo.png')"
          :sidebarItems="sidebarItems"
        />
        <VuePerfectScrollbar
          class="scroll-area relative w-full h-screen m-0"
          :settings="settings"
        >
          <div class="app-content ml-auto lg:px-6">
            <BaseNavbar />
            <BaseTitle :icon="$t(title).icon" />
            <slot />
          </div>
          <div class="h-50"></div>
        </VuePerfectScrollbar>
      </div>
    </div>

    <Notification />
  </div>
</template>

<style lang="scss" scoped>
.app-content {
  width: 100%;
}

@media (min-width: 1024px) {
  .app-content {
    width: calc(100% - 260px);
  }
}
</style>
