<script>
import Notification from '@/components/base/Notification';
export default {
  name: 'NoSidebarLayout',

  components: {
    Notification
  }
};
</script>

<template>
  <div id="no-sidebar-layout">
    <div
      class="bg-app-alt font-montserrat h-screen flex justify-center items-center"
    >
      <slot />

      <Notification />
    </div>
  </div>
</template>
