<script>
import VueHtml2pdf from 'vue-html2pdf';

export default {
  name: 'NoSidebarLayout',

  components: {
    VueHtml2pdf
  },

  data: () => ({
    downloading: false,
    downloadPercentage: 0
  }),

  watch: {
    downloadPercentage(val) {
      if (val >= 100) {
        setTimeout(() => {
          this.downloading = false;
        }, 500);
      }
    }
  },

  methods: {
    /*
			Generate Report using refs and calling the
			refs function generatePdf()
		*/
    generateReport() {
      this.downloading = true;
      this.$refs.html2Pdf.generatePdf();
    },

    onProgress(val) {
      this.downloadPercentage = val;
    },

    hasStartedGeneration() {
      // this.downloading = true;
    },

    hasGenerated() {
      setTimeout(() => {
        this.downloadPercentage = 0;
      }, 500);
    }
  }
};
</script>

<template>
  <div id="print-layout" class="bg-gray-500">
    <div class="bg-blues-secondary fixed z-50 w-full flex flex-wrap p-4">
      <vs-button
        class="text-xs px-8 font-medium w-full md:w-auto"
        color="white"
        type="border"
        @click="$router.go(-1)"
      >
        {{ $t('label.back') }}
      </vs-button>
      <div class="ml-auto">
        <vs-button
          v-if="!downloading"
          color="primary"
          type="filled"
          class="text-xs px-8 font-medium w-full md:w-auto"
          @click="generateReport"
        >
          {{ $t('label.download') }}
        </vs-button>
        <div v-else>
          <span class="text-sm">
            Generating PDF <strong>{{ downloadPercentage }}%</strong>
          </span>
        </div>
      </div>
    </div>
    <div class="flex justify-center pt-12">
      <vue-html2pdf
        :show-layout="true"
        :float-layout="false"
        :enable-download="true"
        :preview-modal="false"
        filename="report"
        :pdf-quality="2"
        :manual-pagination="true"
        pdf-format="tabloid"
        pdf-orientation="portrait"
        pdf-content-width="65vw"
        @progress="onProgress($event)"
        @hasStartedGeneration="hasStartedGeneration()"
        @hasGenerated="hasGenerated($event)"
        ref="html2Pdf"
      >
        <section slot="pdf-content" class="bg-white">
          <div class="px-4">
            <slot />
          </div>
        </section>
      </vue-html2pdf>
    </div>
  </div>
</template>

<style lang="scss" scoped>
/deep/ .box-title {
  @apply h-12;
}
</style>
