<template>
  <div id="forgot-password">
    <AuthBox>
      <template v-slot:background>
        <div class="flex h-full justify-center items-center relative">
          <div class="absolute top-0 left-0 mx-4 bg-white p-2 px-4 rounded-md">
            <img
              src="@/assets/images/bpi-logo.png"
              class="h-12 mx-2"
              alt="BPI LOGO"
            />
          </div>

          <img src="@/assets/images/bpi-forgot-bg.svg" alt="BPI LOGO" />
        </div>
      </template>
      <template v-slot:content>
        <h2 class="text-2xl text-gray-800 font-bold">
          {{ $t('content.forgot_pass_title') }}
        </h2>
        <p class="text-gray-500 text-xs">
          {{ $t('content.forgot_pass_subtitle') }}
        </p>
        <div class="h-6"></div>

        <FormGroup
          class="custom-form-icon py-4"
          :name="$t('label.email')"
          :validator="$v.form.email"
        >
          <vs-input
            color="primary"
            icon="mail_outline"
            class="w-full"
            v-model.trim="form.email"
            type="email"
            :danger="$v.form.email.error"
            :icon-no-border="true"
            :placeholder="$t('label.email')"
          />
        </FormGroup>

        <div class="h-12"></div>

        <div class="flex -mx-2">
          <vs-button
            class="block w-full rounded-lg mx-1 text-black font-medium"
            color="secondary"
            type="border"
            :to="{ name: 'Login' }"
          >
            {{ $t('label.back') }}
          </vs-button>

          <vs-button
            class="block w-full rounded-lg vs-con-loading__container mx-1 text-black font-medium"
            color="primary"
            type="filled"
            ref="loadingBtn"
            :disabled="isLoading"
            @click="submit"
          >
            {{ $t('label.send') }}
          </vs-button>
        </div>
      </template>
    </AuthBox>
  </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators';
import { loadingMixin } from '@/mixins/loading';
import AuthBox from '@/components/base/AuthBox.vue';
import FormGroup from '@/components/base/FormGroup.vue';

export default {
  components: {
    AuthBox,
    FormGroup
  },

  mixins: [loadingMixin],

  data: () => ({
    form: {
      email: ''
    },
    isLoading: false
  }),

  validations: {
    form: {
      email: {
        required,
        email
      }
    }
  },

  methods: {
    submit() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.isLoading = true;
        this.loadingButton(this.$refs.loadingBtn.$el);
        this.$store
          .dispatch('auth/forgotPassword', this.form)
          .then(() => {
            this.$store.dispatch('general/showSuccessNotification', {
              message: this.$t('label.success'),
              textMessage: this.$t('content.reset_pass_success')
            });
            this.$router.push({ name: 'Login' });
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          })
          .finally(() => {
            this.isLoading = false;
            this.closeLoading(this.$refs.loadingBtn.$el);
          });
      }
    }
  }
};
</script>
