<template>
  <div id="login">
    <AuthBox>
      <template v-slot:content>
        <h2 class="text-2xl text-gray-800 font-bold">
          {{ $t('content.login_title') }}
        </h2>
        <p class="text-gray-500">{{ $t('content.login_subtitle') }}</p>
        <div class="h-6 lg:h-12"></div>
        <form @keyup.enter="submit">
          <FormGroup
            class="custom-form-icon py-4"
            :name="$t('label.email')"
            :validator="$v.form.email"
          >
            <vs-input
              color="white"
              icon="mail_outline"
              class="w-full"
              v-model.trim="form.email"
              type="email"
              :danger="$v.form.email.error"
              :icon-no-border="true"
              :placeholder="$t('label.email')"
            />
          </FormGroup>

          <FormGroup
            class="custom-form-icon py-4"
            :name="$t('label.password')"
            :validator="$v.form.password"
          >
            <vs-input
              color="white"
              icon="lock_outline"
              class="w-full"
              v-model.trim="form.password"
              :icon-no-border="true"
              :placeholder="$t('label.password')"
              :type="passwordType"
            />
            <div
              class="absolute top-0 right-0 mr-2 cursor-pointer bottom-0 flex items-center"
            >
              <span
                class="material-icons text-app-primary"
                @click="togglePassword"
              >
                {{ passwordVisibility ? 'visibility_off' : 'visibility' }}
              </span>
            </div>
          </FormGroup>

          <router-link :to="{ name: 'ForgotPassword' }">
            {{ $t('label.forgot_password') }}
          </router-link>

          <div class="h-12"></div>

          <vs-button
            class="block w-full rounded-lg vs-con-loading__container text-black font-medium"
            color="primary"
            type="filled"
            ref="loadingBtn"
            :disabled="isLoading"
            @click="submit"
          >
            {{ $t('label.login') }}
          </vs-button>
        </form>
      </template>
    </AuthBox>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { required, email } from 'vuelidate/lib/validators';
import { loadingMixin } from '@/mixins/loading';
import AuthBox from '@/components/base/AuthBox.vue';
import FormGroup from '@/components/base/FormGroup.vue';

export default {
  components: {
    AuthBox,
    FormGroup
  },

  mixins: [loadingMixin],

  data: () => ({
    form: {
      email: '',
      password: ''
    },
    isLoading: false,
    passwordVisibility: false
  }),

  computed: {
    ...mapGetters({
      stepOtp: 'auth/stepOtp',
      stepFirsTime: 'auth/stepFirsTime'
    }),

    passwordType() {
      return this.passwordVisibility ? 'text' : 'password';
    }
  },

  validations: {
    form: {
      email: {
        required,
        email
      },
      password: {
        required
      }
    }
  },

  methods: {
    submit() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.isLoading = true;
        this.loadingButton(this.$refs.loadingBtn.$el);
        this.$store
          .dispatch('auth/login', this.form)
          .then((data) => {
            if (this.stepOtp) {
              this.$router.push({ name: 'Otp' });
            } else if (this.stepFirsTime) {
              this.$router.push({
                name: 'ChangePassword',
                params: { ticket: data.ticket }
              });
            } else {
              this.$router.push('/');
            }
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          })
          .finally(() => {
            this.isLoading = false;
            this.closeLoading(this.$refs.loadingBtn.$el);
          });
      }
    },

    togglePassword() {
      this.passwordVisibility = !this.passwordVisibility;
    }
  }
};
</script>
