<template>
  <div id="forgot-password">
    <AuthBox>
      <template v-slot:background>
        <div class="flex h-full justify-center items-center relative">
          <div class="absolute top-0 left-0 mx-4 bg-white p-2 px-4 rounded-md">
            <img
              src="@/assets/images/bpi-logo.png"
              class="h-12 mx-2"
              alt="BPI LOGO"
            />
          </div>

          <img src="@/assets/images/bpi-otp-bg.svg" alt="BPI LOGO" />
        </div>
      </template>
      <template v-slot:content>
        <h2 class="text-2xl text-gray-800 font-bold">
          {{ $t('content.otp_title') }}
        </h2>
        <p class="text-gray-500 text-xs">
          {{ $t('content.otp_subtitle') }} <strong>{{ emailOtp }}</strong>
        </p>
        <div class="h-6"></div>

        <label class="text-xs text-gray-900">
          {{ $t('label.remaining_time') }}
        </label>
        <div class="text-lg text-app-primary font-bold">
          {{ countdown | timer }}
        </div>

        <FormGroup :name="$t('label.otp')" :validator="$v.form.otp">
          <otp-input
            v-model.trim="form.otp"
            :length="6"
            :ignorePattern="false"
            :size="20"
          />
        </FormGroup>

        <div class="h-12"></div>

        <div class="flex -mx-2">
          <vs-button
            class="block w-full rounded-lg mx-1 text-black font-medium"
            color="dark"
            type="border"
            @click="back"
          >
            {{ $t('label.back') }}
          </vs-button>

          <vs-button
            class="block w-full rounded-lg vs-con-loading__container mx-1 text-black font-medium"
            color="primary"
            type="filled"
            ref="loadingBtn"
            :disabled="isLoading"
            @click="submit"
          >
            {{ $t('label.continue') }}
          </vs-button>
        </div>
      </template>
    </AuthBox>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import { loadingMixin } from '@/mixins/loading';
import { filtersMixin } from '@/mixins/filter';
import AuthBox from '@/components/base/AuthBox.vue';
import FormGroup from '@/components/base/FormGroup.vue';

export default {
  components: {
    AuthBox,
    FormGroup
  },

  mixins: [filtersMixin, loadingMixin],

  mounted() {
    let startDate = new Date(this.otpTime);
    let endDate = new Date();
    let seconds = (endDate.getTime() - startDate.getTime()) / 1000;
    if (seconds <= this.otpDuration) {
      this.countdown = this.otpDuration - seconds;

      setInterval(() => {
        this.autoIncrementTimer();
      }, 1000);
    } else {
      this.back();
    }

    if (!this.stepOtp) {
      this.back();
    }
  },

  data: () => ({
    countdown: 0,
    form: {
      email: '',
      otp: ''
    },
    isLoading: false
  }),

  computed: {
    ...mapGetters({
      stepFirsTime: 'auth/stepFirsTime',
      stepOtp: 'auth/stepOtp',
      emailOtp: 'auth/emailOtp',
      otpTime: 'auth/otpTime',
      otpDuration: 'auth/otpDuration'
    })
  },

  validations: {
    form: {
      otp: {
        required
      }
    }
  },

  methods: {
    autoIncrementTimer() {
      if (this.countdown <= 0) {
        return;
      }
      this.countdown -= 1;
    },

    back() {
      this.$store.dispatch('auth/clearAppSession').then(() => {
        this.$router.push({ name: 'Login' });
      });
    },

    submit() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.isLoading = true;
        this.loadingButton(this.$refs.loadingBtn.$el);
        this.form.email = this.emailOtp;
        this.$store
          .dispatch('auth/otpVerification', this.form)
          .then((data) => {
            if (this.stepFirsTime) {
              this.$router.push({
                name: 'ChangePassword',
                params: { ticket: data.ticket }
              });
            } else {
              this.$router.push('/');
            }
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          })
          .finally(() => {
            this.isLoading = false;
            this.closeLoading(this.$refs.loadingBtn.$el);
          });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ .otp-input-8-field {
  font-family: Montserrat;
  font-weight: bold;
  border-radius: 4px;
  color: #57585a;
  input {
    font-weight: bold;
    background-color: #f4f4f4;
  }
  &:not(:last-child) {
    margin-right: 0.2rem;
  }
}

@media (min-width: 1024px) {
  /deep/ .otp-input-8-field {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}
</style>
