<template>
  <div id="forgot-password">
    <AuthBox>
      <template v-slot:background>
        <div class="flex h-full justify-center items-center relative">
          <div class="absolute top-0 left-0 mx-4 bg-white p-2 px-4 rounded-md">
            <img
              src="@/assets/images/bpi-logo.png"
              class="h-12 mx-2"
              alt="BPI LOGO"
            />
          </div>

          <img src="@/assets/images/bpi-forgot-bg.svg" alt="BPI LOGO" />
        </div>
      </template>
      <template v-slot:content>
        <h2 class="text-2xl text-gray-800 font-bold">
          {{ $t('content.reset_pass_title') }}
        </h2>
        <p class="text-gray-500 text-xs">
          {{ $t('content.reset_pass_subtitle') }}
        </p>
        <div class="h-6"></div>

        <FormGroup
          class="custom-form-icon py-4"
          :name="$t('label.password')"
          :validator="$v.form.password"
        >
          <vs-input
            color="white"
            class="w-full"
            v-model.trim="form.password"
            :placeholder="$t('label.password')"
            :type="passwordType"
          />
          <div
            class="absolute top-0 right-0 mr-2 cursor-pointer bottom-0 flex items-center"
          >
            <span
              class="material-icons text-app-primary"
              @click="togglePassword('password')"
            >
              {{ passwordVisibility ? 'visibility_off' : 'visibility' }}
            </span>
          </div>
        </FormGroup>

        <FormGroup
          class="custom-form-icon py-4"
          :name="$t('label.confirm_password')"
          :validator="$v.form.passwordConfirmation"
        >
          <vs-input
            color="white"
            class="w-full"
            v-model.trim="form.passwordConfirmation"
            :placeholder="$t('label.confirm_password')"
            :type="confirmPasswordType"
          />
          <div
            class="absolute top-0 right-0 mr-2 cursor-pointer bottom-0 flex items-center"
          >
            <span
              class="material-icons text-app-primary"
              @click="togglePassword('confirmPassword')"
            >
              {{ confirmPasswordVisibility ? 'visibility_off' : 'visibility' }}
            </span>
          </div>
        </FormGroup>

        <div class="h-12"></div>

        <vs-button
          class="block w-full rounded-lg vs-con-loading__container mx-1 text-black font-medium"
          color="primary"
          type="filled"
          ref="loadingBtn"
          :disabled="isLoading"
          @click="submit"
        >
          {{ $t('label.send') }}
        </vs-button>
      </template>
    </AuthBox>
  </div>
</template>

<script>
import { required, sameAs } from 'vuelidate/lib/validators';
import { loadingMixin } from '@/mixins/loading';
import AuthBox from '@/components/base/AuthBox.vue';
import FormGroup from '@/components/base/FormGroup.vue';

export default {
  components: {
    AuthBox,
    FormGroup
  },

  mixins: [loadingMixin],

  data: () => ({
    form: {
      password: '',
      passwordConfirmation: ''
    },
    isLoading: false,
    passwordVisibility: false,
    confirmPasswordVisibility: false
  }),

  validations: {
    form: {
      password: {
        required
      },
      passwordConfirmation: {
        required,
        sameAsPassword: sameAs('password')
      }
    }
  },

  computed: {
    passwordType() {
      return this.passwordVisibility ? 'text' : 'password';
    },
    confirmPasswordType() {
      return this.confirmPasswordVisibility ? 'text' : 'password';
    }
  },

  methods: {
    submit() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.isLoading = true;
        this.loadingButton(this.$refs.loadingBtn.$el);
        let payload = {
          newPassword: this.form.password,
          resetTicket: this.$route.params.ticket
        };

        this.$store
          .dispatch('auth/resetPassword', payload)
          .then(() => {
            this.$store.dispatch('general/showSuccessNotification', {
              message: this.$t('label.success'),
              textMessage: this.$t('content.pass_message')
            });
            this.$router.push('/');
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
            this.$store.dispatch('auth/clearAppSession').then(() => {
              this.$router.push({ name: 'Login' });
            });
          })
          .finally(() => {
            this.isLoading = false;
            this.closeLoading(this.$refs.loadingBtn.$el);
          });
      }
    },

    togglePassword(el) {
      if (el == 'password') {
        this.passwordVisibility = !this.passwordVisibility;
      } else {
        this.confirmPasswordVisibility = !this.confirmPasswordVisibility;
      }
    }
  }
};
</script>
