<template>
  <div id="entry-point" class="h-screen"></div>
</template>

<script>
import { mapGetters } from 'vuex';
import { loadingMixin } from '@/mixins/loading';

export default {
  name: 'EntryPoint',

  mixins: [loadingMixin],

  computed: {
    ...mapGetters({
      stepFirsTime: 'auth/stepFirsTime',
      ticket: 'auth/ticket'
    })
  },

  mounted() {
    this.loadingPage('#entry-point', 'login');

    setTimeout(
      function() {
        if (this.$store.getters['auth/isAuthenticated']) {
          if (this.stepFirsTime) {
            this.$router.push({
              name: 'ChangePassword',
              params: { ticket: this.ticket }
            });
          } else if (this.$acl.check('isAdmin')) {
            this.$router.push({ name: 'UserLogin' });
          } else if (this.$acl.check('isAsesor')) {
            this.$router.push({ name: 'MasterProject' });
          } else {
            this.$store.dispatch('auth/logout').then(() => {
              this.$store.dispatch('general/showErrorNotification', {
                message: this.$t('label.error'),
                textMessage: this.$t('content.unauthorize_message')
              });
              this.$router.push({ name: 'Login' });
            });
          }
        }
      }.bind(this),
      2000
    );
  }
};
</script>
