<template>
  <div id="user-login">
    <BaseBox>
      <div class="flex flex-wrap items-end -mx-2">
        <div class="w-full lg:w-1/4 px-2">
          <FormGroup :name="$t('label.role')">
            <vs-select
              autocomplete
              v-model="form.roleId"
              color="primary"
              class="w-full"
              :noData="$t('content.no_data_text')"
              :label="$t('label.role')"
              :placeholder="
                $t('placeholder.role', { attribute: $t('label.user') })
              "
            >
              <vs-select-item :key="-1" :value="null" :text="'All'" />
              <div :key="index" v-for="(item, index) in roleList">
                <vs-select-item
                  v-if="item.roleName !== 'peserta'"
                  :value="item.roleId"
                  :text="item.roleName"
                />
              </div>
            </vs-select>
          </FormGroup>
        </div>

        <!-- filter button @action -->
        <vs-button
          class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
          color="primary"
          type="filled"
          @click="getData"
        >
          {{ $t('label.filter') }}
        </vs-button>

        <!-- reset button @action (remove all filter) -->
        <vs-button
          class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
          color="primary"
          type="filled"
          @click="resetData"
        >
          {{ $t('label.reset') }}
        </vs-button>
      </div>
    </BaseBox>

    <div class="h-6"></div>

    <BaseBox>
      <div class="table-content-loading vs-con-loading__container">
        <vs-table
          stripe
          @sort="handleSort"
          :sst="true"
          :data="items"
          :noDataText="$t('content.no_data_text')"
        >
          <template slot="thead">
            <vs-th sort-key="email">
              {{ $t('label.email') }}
            </vs-th>
            <vs-th sort-key="lastLogin">
              {{ $t('label.login_time') }}
            </vs-th>
            <vs-th sort-key="email"></vs-th>
          </template>

          <template slot-scope="{ data }">
            <vs-tr :key="indextr" v-for="(tr, indextr) in data">
              <vs-td :data="data[indextr].email">
                {{ data[indextr].email }}
              </vs-td>

              <vs-td :data="data[indextr].lastLogin">
                {{ data[indextr].lastLogin }}
              </vs-td>

              <vs-td :data="data[indextr].email">
                <vs-button
                  class="text-xs px-4 mx-2 font-medium w-full md:w-auto"
                  color="primary"
                  type="filled"
                  size="normal"
                  v-if="data[indextr].email !== email"
                  @click="
                    openConfirm({
                      label: data[indextr].email,
                      id: data[indextr].userLoginId
                    })
                  "
                >
                  {{ $t('label.logout') }}
                </vs-button>
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </div>

      <TablePaging @fetch="getData" />
    </BaseBox>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { loadingMixin } from '@/mixins/loading';
import BaseBox from '@/components/base/Box';
import TablePaging from '@/components/table/TablePaging';
import FormGroup from '@/components/base/FormGroup.vue';

export default {
  name: 'MasterUserLogin',

  mixins: [loadingMixin],

  components: {
    BaseBox,
    TablePaging,
    FormGroup
  },

  data: () => ({
    form: {
      orderBy: '',
      roleId: '',
      perusahaanId: ''
    }
  }),

  computed: {
    ...mapGetters({
      items: 'userLogin/items',
      roleList: 'role/items',
      email: 'auth/currentEmail',
      perusahaanList: 'perusahaan/items'
    })
  },

  created() {
    this.$store.commit('table/RESET_PAGEABLE');
    this.fetchRole();
    this.fetchPerusahaan();
  },

  mounted() {
    this.getData();
  },

  methods: {
    fetchRole() {
      this.$store.dispatch('role/fetchSearchList').catch((e) => {
        this.$store.dispatch('general/showErrorReqNotification', e);
      });
    },

    fetchPerusahaan() {
      this.$store.dispatch('perusahaan/fetchList', []).catch((e) => {
        this.$store.dispatch('general/showErrorReqNotification', e);
      });
    },

    getData() {
      this.loadingContent('.table-content-loading');
      this.$store
        .dispatch('userLogin/fetchList', this.form)
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.closeLoading('.table-content-loading > .con-vs-loading');
        });
    },

    resetData() {
      this.form = {
        orderBy: '',
        roleId: ''
      };
      this.getData();
    },

    handleSort(key, active) {
      this.form.orderBy = `${key}|${active}`;
      this.getData();
    },

    acceptAlert(parameters) {
      this.logout(parameters[0]);
    },

    openConfirm(data) {
      this.$vs.dialog({
        type: 'confirm',
        color: 'primary',
        title: this.$t('label.confirm'),
        text: this.$t('content.confirm_logout', { data: data.label }),
        accept: this.acceptAlert,
        acceptText: this.$t('label.yes'),
        cancelText: this.$t('label.cancel'),
        parameters: [data.id]
      });
    },

    logout(id) {
      this.$store
        .dispatch('userLogin/fetchLogout', {
          id: id
        })
        .then(() => this.getData())
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    }
  }
};
</script>
