<template>
  <div id="create-edit-user-internal">
    <Review
      :statusCode="status"
      @fetchPrev="fetchDetail($route.params.id)"
      @fetchNew="fetchReview($route.params.id)"
    />

    <BoxHeader :title="$t($route.meta.breadCrumb).name">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="
              $t('label.name_arg', { attribute: $t('label.user_internal') })
            "
            :validator="$v.form.nama"
          >
            <vs-input
              color="primary"
              class="w-full field-required"
              v-model.trim="form.nama"
              :disabled="isLoading || isDetail"
              :danger="$v.form.nama.error"
              :label="
                $t('label.name_arg', { attribute: $t('label.user_internal') })
              "
              :placeholder="
                $t('placeholder.name', { attribute: $t('label.user_internal') })
              "
            />
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup :name="$t('label.nik')" :validator="$v.form.nik">
            <vs-input
              color="primary"
              class="w-full"
              v-model.trim="form.nik"
              maxLength="16"
              :disabled="isLoading || isDetail"
              :danger="$v.form.nik.error"
              :label="$t('label.nik')"
              :placeholder="
                $t('placeholder.nik', { attribute: $t('label.user') })
              "
            />
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup :name="$t('label.pob')" :validator="$v.form.tempatLahir">
            <vs-input
              color="primary"
              class="w-full"
              v-model.trim="form.tempatLahir"
              :disabled="isLoading || isDetail"
              :danger="$v.form.tempatLahir.error"
              :label="$t('label.pob')"
              :placeholder="
                $t('placeholder.pob', { attribute: $t('label.user') })
              "
            />
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup :name="$t('label.dob')" :validator="$v.form.tanggalLahir">
            <date-picker
              v-model="form.tanggalLahir"
              :clearable="false"
              :disabled="isLoading || isDetail"
              :append-to-body="false"
              prefix-class="xmx"
              valueType="DD/MM/YYYY"
              :disabled-date="(date) => date > currentDate"
            >
              <template v-slot:input>
                <vs-input
                  color="primary"
                  class="w-full"
                  icon="today"
                  :value="form.tanggalLahir"
                  :disabled="isLoading || isDetail"
                  :danger="$v.form.tanggalLahir.error"
                  :label="$t('label.dob')"
                  :readonly="true"
                  placeholder="DD/MM/YYYY"
                />
              </template>
              <template v-slot:icon-calendar>
                <span></span>
              </template>
            </date-picker>
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup :name="$t('label.email')" :validator="$v.form.email">
            <vs-input
              color="primary"
              class="w-full field-required"
              v-model.trim="form.email"
              type="email"
              :disabled="isLoading || isDetail"
              :danger="$v.form.email.error"
              :label="$t('label.email')"
              :placeholder="
                $t('placeholder.email', { attribute: $t('label.user') })
              "
            />
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup :name="$t('label.role')" :validator="$v.form.roleId">
            <vs-select
              autocomplete
              v-model="form.roleId"
              color="primary"
              class="w-full field-required"
              :noData="$t('content.no_data_text')"
              :disabled="isLoading || isDetail"
              :danger="$v.form.roleId.error"
              :label="$t('label.role')"
              :placeholder="
                $t('placeholder.role', { attribute: $t('label.user') })
              "
            >
              <vs-select-item
                :key="index"
                :value="item.roleId"
                :text="setRoles(item.roleName)"
                v-for="(item, index) in roleList"
              />
            </vs-select>
          </FormGroup>
        </div>
      </div>
    </BoxHeader>

    <div class="h-6"></div>

    <ButtonGroup
      :isLoading="isLoading"
      :isDetail="isDetail"
      :status="status"
      @save="openConfirm(form.email)"
      @edit="
        $router.push({
          name: 'UpdateUserInternal',
          params: {
            id: $route.params.id
          }
        })
      "
      @reject="reject"
      @approve="approve"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import {
  required,
  email,
  maxLength,
  minLength,
  numeric
} from 'vuelidate/lib/validators';
import { loadingMixin } from '@/mixins/loading';
import { alphabetic } from '@/mixins/validator';
import FormGroup from '@/components/base/FormGroup.vue';
import BoxHeader from '@/components/base/BoxHeader.vue';
import ButtonGroup from '@/components/base/ButtonGroup.vue';
import Review from '@/components/base/Review.vue';
import DatePicker from 'vue2-datepicker';
import '@/assets/css/datepicker.scss';

export default {
  name: 'CreateEditUserInternal',

  mixins: [loadingMixin],

  components: {
    BoxHeader,
    ButtonGroup,
    DatePicker,
    FormGroup,
    Review
  },

  data: () => ({
    activeItem: 0,
    edit: false,
    form: {
      nama: '',
      nik: '',
      roleId: '',
      email: '',
      tanggalLahir: '',
      tempatLahir: '',
      status: ''
    },
    isDetail: false,
    isLoading: false,
    status: '',
    currentDate: new Date()
  }),

  computed: {
    ...mapGetters({
      roleList: 'role/items',
      roles: 'auth/currentRoles'
    })
  },

  validations: {
    form: {
      email: {
        required,
        email,
        maxLength: maxLength(100)
      },
      nama: {
        alphabetic,
        required,
        maxLength: maxLength(100)
      },
      nik: {
        numeric,
        minLength: minLength(16),
        maxLength: maxLength(16)
      },
      tempatLahir: {
        alphabetic,
        maxLength: maxLength(50)
      },
      tanggalLahir: {},
      roleId: {
        requiredSelect: required
      }
    }
  },

  watch: {
    status(newVal) {
      if ([1].includes(newVal) && this.$acl.not.check('isSuperAdmin')) {
        this.fetchReview(this.$route.params.id);
      }
    }
  },

  created() {
    this.fetchRole('/role/user-internal');

    if (this.$route.params.id) {
      this.edit = true;
      this.fetchDetail(this.$route.params.id);
    }

    if (this.$route.meta.isDetail) {
      this.isDetail = true;
    }
  },

  methods: {
    setRoles(role) {
      let result;
      if (role === 'admin') {
        result = 'Admin';
      } else {
        result = 'Super Admin';
      }
      return result;
    },

    fetchRole(data) {
      this.$store.dispatch('role/fetchSearchList', data).catch((e) => {
        this.$store.dispatch('general/showErrorReqNotification', e);
      });
    },

    fetchDetail(id) {
      this.$store
        .dispatch('userInternal/fetchDetail', { id: id })
        .then((data) => {
          this.form = data;
          this.form.roleId = data.role.roleId;
          this.status = data.status;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    fetchReview(id) {
      this.$store
        .dispatch('userInternal/fetchReview', { id: id })
        .then((data) => {
          this.form = data.after;
          this.form.roleId = data.after.role.roleId;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    openConfirm(data) {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        if (this.edit) {
          this.$vs.dialog({
            type: 'confirm',
            color: 'primary',
            title: this.$t('label.confirm'),
            text: this.$t('content.confirm_update', { data: data }),
            acceptText: this.$t('label.yes'),
            cancelText: this.$t('label.cancel'),
            accept: this.submit
          });
        } else {
          this.submit();
        }
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });
      }
    },

    submit() {
      this.isLoading = true;
      // this.loadingButton(this.$refs.loadingBtn.$el);

      let storeAction = 'userInternal/fetchSave';
      let payload = {
        data: this.form
      };

      if (this.edit) {
        payload['id'] = this.$route.params.id;
        storeAction = 'userInternal/fetchUpdate';
      }

      this.$store
        .dispatch(storeAction, payload)
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.edit
              ? this.$t('content.update_message')
              : this.$t('content.create_message')
          });
          this.$router.push({ name: 'MasterUserInternal' });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
          // this.closeLoading(this.$refs.loadingBtn.$el);
        });
    },

    approve() {
      this.isLoading = true;
      // this.loadingButton(this.$refs.loadingBtn.$el);
      this.$store
        .dispatch('userInternal/fetchApprove', {
          id: this.$route.params.id,
          data: { status: true }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });

          this.$router.push({ name: 'MasterUserInternal' });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
          // this.closeLoading(this.$refs.loadingBtn.$el);
        });
    },

    reject() {
      this.isLoading = true;
      // this.loadingButton(this.$refs.loadingBtn2.$el);
      this.$store
        .dispatch('userInternal/fetchApprove', {
          id: this.$route.params.id,
          data: { status: false }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });

          this.$router.push({ name: 'MasterUserInternal' });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
          // this.closeLoading(this.$refs.loadingBtn2.$el);
        });
    }
  }
};
</script>
