<template>
  <div id="master-user-internal">
    <!-- <BaseBox>
      <div class="flex flex-wrap items-end -mx-2">
        <div class="w-full lg:w-1/4 px-2">
          <FormGroup :name="$t('label.role')">
            <vs-select
              autocomplete
              v-model="form.roleId"
              color="primary"
              class="w-full"
              :noData="$t('content.no_data_text')"
              :label="$t('label.role')"
              :placeholder="
                $t('placeholder.role', { attribute: $t('label.user') })
              "
            >
              <vs-select-item
                :key="index"
                :value="item.roleId"
                :text="item.roleName"
                v-for="(item, index) in roleList"
              />
            </vs-select>
          </FormGroup>
        </div>

        reset button @action (remove all filter)
        <vs-button
          class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
          color="secondary"
          type="border"
          @click="resetData"
        >
          {{ $t('label.reset') }}
        </vs-button>

        filter button @action
        <vs-button
          class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
          color="primary"
          type="filled"
          @click="getData"
        >
          {{ $t('label.filter') }}
        </vs-button>
      </div>
    </BaseBox> -->
    <BaseBox>
      <div class="table-content-loading vs-con-loading__container">
        <vs-table
          stripe
          @sort="handleSort"
          :sst="true"
          :data="items"
          :noDataText="$t('content.no_data_text')"
        >
          <template slot="header">
            <TableHeader @fetch="getData">
              <template v-slot:header-left>
                <vs-button
                  @click="
                    $router.push({
                      name: 'CreateUserInternal'
                    })
                  "
                  class="text-xs px-8 font-medium w-full md:w-auto"
                  color="primary"
                  type="filled"
                >
                  {{ $t('label.add') }}
                </vs-button>
              </template>
            </TableHeader>
          </template>
          <template slot="thead">
            <vs-th sort-key="nama">
              {{ $t('label.name') }}
            </vs-th>
            <vs-th sort-key="email">
              {{ $t('label.email') }}
            </vs-th>
            <vs-th sort-key="role">
              {{ $t('label.role') }}
            </vs-th>
            <vs-th sort-key="status">
              {{ $t('label.status') }}
            </vs-th>
            <vs-th sort-key="nama"></vs-th>
          </template>

          <template slot-scope="{ data }">
            <vs-tr :key="indextr" :data="tr" v-for="(tr, indextr) in data">
              <vs-td
                :data="data[indextr].nama"
                @click.native="
                  $router.push({
                    name: 'DetailUserInternal',
                    params: {
                      id: data[indextr].userInternalId
                    }
                  })
                "
              >
                {{ data[indextr].nama }}
              </vs-td>

              <vs-td
                :data="data[indextr].email"
                @click.native="
                  $router.push({
                    name: 'DetailUserInternal',
                    params: {
                      id: data[indextr].userInternalId
                    }
                  })
                "
              >
                {{ data[indextr].email }}
              </vs-td>

              <vs-td
                :data="data[indextr].role"
                @click.native="
                  $router.push({
                    name: 'DetailUserInternal',
                    params: {
                      id: data[indextr].userInternalId
                    }
                  })
                "
              >
                {{ setRoles(data[indextr].role) }}
              </vs-td>

              <vs-td
                :data="data[indextr].status"
                @click.native="
                  $router.push({
                    name: 'DetailUserInternal',
                    params: {
                      id: data[indextr].userInternalId
                    }
                  })
                "
              >
                <span :class="colorStatus(data[indextr].status)">
                  {{ status(data[indextr].status) }}
                </span>
              </vs-td>

              <vs-td :data="data[indextr].nama">
                <Approval
                  :id="data[indextr].userInternalId"
                  :label="data[indextr].email"
                  :status="data[indextr].status"
                  :routes="{ update: 'UpdateUserInternal' }"
                  @click="chooseAct"
                />
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </div>

      <TablePaging @fetch="getData" />
    </BaseBox>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { loadingMixin } from '@/mixins/loading';
import { statusMixin } from '@/mixins/status';
import Approval from '@/components/base/Approval.vue';
import BaseBox from '@/components/base/Box.vue';
// import FormGroup from '@/components/base/FormGroup.vue';
import TableHeader from '@/components/table/TableHeader';
import TablePaging from '@/components/table/TablePaging';

export default {
  name: 'MasterUserInternal',

  mixins: [loadingMixin, statusMixin],

  components: {
    Approval,
    BaseBox,
    // FormGroup,
    TableHeader,
    TablePaging
  },

  data: () => ({
    data: {},
    form: {
      orderBy: '',
      roleId: '',
      role: ''
    }
  }),

  computed: {
    ...mapGetters({
      items: 'userInternal/items',
      roleList: 'role/items',
      roles: 'auth/currentRoles'
    })
  },

  created() {
    this.fetchRole('/role/user-internal');
    this.$store.commit('table/RESET_PAGEABLE');
  },

  mounted() {
    this.getData();
  },

  methods: {
    setRoles(role) {
      let result;
      if (role === 'admin') {
        result = 'Admin';
      } else {
        result = 'Super Admin';
      }
      return result;
    },
    getData() {
      this.loadingContent('.table-content-loading');
      this.$store
        .dispatch('userInternal/fetchList', this.form)
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.closeLoading('.table-content-loading > .con-vs-loading');
        });
    },

    fetchRole(data) {
      this.$store.dispatch('role/fetchSearchList', data).catch((e) => {
        this.$store.dispatch('general/showErrorReqNotification', e);
      });
    },

    resetData() {
      this.form = {
        orderBy: '',
        roleId: '',
        role: ''
      };
      this.getData();
    },

    chooseAct(params) {
      this.openConfirm(params.key, params);
    },

    acceptAlert(parameters) {
      switch (parameters[0]) {
        case 'approve':
          this.approve(parameters[1]);
          break;
        case 'reject':
          this.reject(parameters[1]);
          break;
        case 'delete':
          this.delete(parameters[1]);
          break;
        default:
          break;
      }
    },

    openConfirm(key, data) {
      let message = '';
      switch (key) {
        case 'approve':
          message = this.$t('content.confirm_approve', { data: data.label });
          break;
        case 'reject':
          message = this.$t('content.confirm_reject', { data: data.label });
          break;
        case 'delete':
          message = this.$t('content.confirm_delete', { data: data.label });
          break;
        default:
          break;
      }

      this.$vs.dialog({
        type: 'confirm',
        color: 'primary',
        title: this.$t('label.confirm'),
        text: message,
        accept: this.acceptAlert,
        acceptText: this.$t('label.yes'),
        cancelText: this.$t('label.cancel'),
        parameters: [key, data.id]
      });
    },

    approve(id) {
      this.$store
        .dispatch('userInternal/fetchApprove', {
          id: id,
          data: { status: true }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    reject(id) {
      this.$store
        .dispatch('userInternal/fetchApprove', {
          id: id,
          data: { status: false }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    delete(id) {
      this.$store
        .dispatch('userInternal/fetchDelete', {
          id: id
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.delete_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    handleSort(key, active) {
      this.form.orderBy = `${key}|${active}`;
      this.getData();
    }
  }
};
</script>
