<template>
  <div>
    <vs-dropdown vs-trigger-click>
      <vs-icon>more_vert</vs-icon>

      <vs-dropdown-menu>
        <vs-dropdown-item
          v-if="$acl.check('isSuperAdmin') && [0, 1, 2].includes(status)"
          @click="actApprove"
        >
          Setujui
        </vs-dropdown-item>
        <vs-dropdown-item
          v-if="$acl.check('isSuperAdmin') && [0, 1, 2].includes(status)"
          @click="actReject"
        >
          Tolak
        </vs-dropdown-item>
        <!-- proyek -->
        <template v-if="routes.update === 'UpdateProject'">
          <!-- update proyek -->
          <vs-dropdown-item
            v-if="
              $acl.check('isAdmin') &&
                [3, 4].includes(status) &&
                statusProyek === 'Akan Berlangsung'
            "
            @click="actChange"
          >
            Ubah
          </vs-dropdown-item>
          <!-- delete proyek -->
          <vs-dropdown-item
            v-if="
              $acl.check('isAdmin') &&
                [3, 4].includes(status) &&
                statusProyek !== 'Sedang Berlangsung'
            "
            @click="actDelete"
          >
            Hapus
          </vs-dropdown-item>
        </template>
        <!-- excepet proyek -->
        <template v-else>
          <vs-dropdown-item
            v-if="$acl.check('isAdmin') && [3, 4].includes(status)"
            @click="actChange"
          >
            Ubah
          </vs-dropdown-item>
          <vs-dropdown-item
            v-if="$acl.check('isAdmin') && [3, 4].includes(status)"
            @click="actDelete"
          >
            Hapus
          </vs-dropdown-item>
        </template>
      </vs-dropdown-menu>
    </vs-dropdown>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { find } from 'lodash';

import questionItems from '@/views/Materi/PsychologicalAssessment/questionItems';
import menuItems from '@/components/materi/assessment_center/menuItems';

export default {
  name: 'Approval',

  props: {
    id: {
      type: [Number, String],
      default: null
    },
    label: {
      type: String,
      default: ''
    },
    data: {
      type: Object,
      default: () => ({})
    },
    type: {
      type: String,
      default: null
    },
    status: {
      type: Number,
      default: null
    },
    routes: {
      type: [Boolean, Object],
      default: false
    },
    statusProyek: {
      type: String,
      default: null
    }
  },

  computed: {
    ...mapGetters({
      role: 'auth/currentRoles'
    })
  },

  methods: {
    getItems() {
      let data;

      if (this.type === 'PSIKOTEST') {
        data = find(questionItems, {
          code: this.data.jenis
        });
      }

      if (this.type === 'SIMULATION') {
        data = find(menuItems, {
          type: this.data.tipe
        });
      }

      return data;
    },

    actApprove() {
      let data = {
        key: 'approve',
        id: this.id,
        label: this.label
      };

      if (this.type === 'PSIKOTEST' || this.type === 'SIMULATION') {
        if (!this.routes) {
          data.code = this.getItems().key.approve;
          data.version = this.data.version;
        }
      }

      this.$emit('click', data);
    },

    actReject() {
      let data = {
        key: 'reject',
        id: this.id,
        label: this.label
      };

      if (this.type === 'PSIKOTEST' || this.type === 'SIMULATION') {
        if (!this.routes) {
          data.code = this.getItems().key.approve;
          data.version = this.data.version;
        }
      }

      this.$emit('click', data);
    },

    actChange() {
      if (this.type === 'PSIKOTEST' || this.type === 'SIMULATION') {
        this.$router.push({
          name: this.getItems().toUpdate,
          params: {
            id: this.data.soalId,
            version: this.data.version
          }
        });
      } else {
        if (this.routes) {
          this.$router.push({
            name: this.routes.update,
            params: {
              id: this.id
            }
          });
        } else {
          let data = {
            key: 'update',
            id: this.id,
            label: this.label
          };
          this.$emit('click', data);
        }
      }
    },

    actDelete() {
      let data = {
        key: 'delete',
        id: this.id,
        label: this.label
      };

      if (this.type === 'PSIKOTEST' || this.type === 'SIMULATION') {
        if (!this.routes) {
          data.code = this.getItems().key.delete;
          data.version = this.data.version;
        }
      }

      this.$emit('click', data);
    }
  }
};
</script>
