<template>
  <div class="base-auth-box bg-white flex rounded-lg overflow-hidden">
    <div class="hidden lg:block left-content bg-blues p-6">
      <slot name="background">
        <div class="flex h-full justify-center items-center relative">
          <div class="absolute top-0 left-0 mx-4 flex items-center space-x-4">
            <div class="bg-white p-2 px-4 rounded-md">
              <img
                src="@/assets/images/bpi-logo.png"
                class="h-12 mx-2"
                alt="BPI LOGO"
              />
            </div>
            <div class="bg-white p-2 px-4 rounded-md">
              <img
                src="@/assets/images/oti-logo-full.png"
                class="h-12 mx-2"
                alt="BPI LOGO"
              />
            </div>
          </div>

          <img src="@/assets/images/bpi-login-bg.svg" alt="BPI LOGO" />
        </div>
      </slot>
    </div>
    <div class="w-full h-screen md:h-auto right-content py-20 px-10">
      <slot name="content" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'AuthBox'
};
</script>

<style lang="scss" scoped>
@media (min-width: 768px) {
  .base-auth-box {
    width: 610px;
    margin: auto 0;
  }
}

@media (min-width: 1024px) {
  .base-auth-box {
    width: 910px;
    height: 590px;
    margin: auto 0;
  }

  .left-content {
    width: 496px;
  }

  .right-content {
    width: 413px;
  }
}
</style>
