<template>
  <v-collapse-group>
    <v-collapse-wrapper :active="active">
      <div
        :class="[
          ...(shadow ? ['rounded-lg print:shadow-none shadow-md'] : []),
          ...($route.meta.layout != 'print' ? ['border'] : [])
        ]"
      >
        <div
          v-if="title || expand"
          class="box-title flex flex-wrap items-center h-16 text-base justify-between bg-blues-secondary font-medium px-4 rounded-tr-lg rounded-tl-lg text-white"
          :class="[...(!active ? ['rounded-lg'] : [])]"
        >
          <div class="title-section font-medium text-white">
            <span class="flex items-center">
              {{ title }}
              <vs-icon
                v-if="error"
                class="ml-2"
                icon="error_outline"
                color="danger"
                size="20px"
              />
            </span>
          </div>

          <div class="ml-auto flex items-center space-x-2">
            <slot name="action"></slot>

            <vs-icon
              v-if="expand"
              class="header cursor-pointer"
              color="white"
              @click="toogle"
            >
              {{ active ? 'expand_less' : 'expand_more' }}
            </vs-icon>
          </div>
        </div>
        <div
          v-collapse-content
          class="my-content"
          :class="[...(expand ? [] : ['overflow-visible'])]"
        >
          <div class="px-4 pb-3">
            <slot />
          </div>
        </div>
      </div>
    </v-collapse-wrapper>
  </v-collapse-group>
</template>

<script>
export default {
  name: 'BoxHeader',

  props: {
    title: {
      type: String,
      default: ''
    },

    expand: {
      type: Boolean,
      default: false
    },

    shadow: {
      type: Boolean,
      default: true
    },

    error: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    active: true
  }),

  methods: {
    toogle() {
      this.active = !this.active;
    }
  }
};
</script>

<style lang="scss" scoped>
.my-content.overflow-visible {
  overflow: visible !important;
}
</style>
