<template>
  <div class="">
    <div class="bg-blues-secondary font-medium rounded-lg text-white">
      <vs-tabs>
        <vs-tab
          :label="$t('label.before')"
          class="font-medium"
          @click="handleTag('before')"
        >
          <div class="px-5 pt-2 text-sm">
            Status <span class="px-4">:</span>
            <span class="text-red-600">Menunggu Persetujuan Perubahan</span>
          </div>

          <div class="con-tab-ejemplo">
            <slot />
          </div>
        </vs-tab>
        <vs-tab
          :label="$t('label.after')"
          class="font-medium"
          @click="handleTag('after')"
        >
          <div class="px-5 pt-2 text-sm">
            Status <span class="px-4">:</span>
            <span class="text-red-600">Menunggu Persetujuan Perubahan</span>
          </div>

          <div class="con-tab-ejemplo">
            <slot />
          </div>
        </vs-tab>
      </vs-tabs>

      <div class="flex justify-end">
        <slot name="action" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BoxSlide',

  methods: {
    handleTag(value) {
      this.$emit('click', value);
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ .con-ul-tabs {
  margin-left: 10px;
  padding: 7px 10px;
}

/deep/ .con-slot-tabs {
  background-color: white !important;
  color: #232323;
}

/deep/ .vs-tabs--content {
  border-left: 0.2px solid #e2e8f0 !important;
  border-right: 0.2px solid #e2e8f0 !important;
  border-bottom: 0.2px solid #e2e8f0 !important;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/deep/ .con-ul-tabs {
  .vs-tabs--btn {
    font-size: 15px;
    font-weight: 500;
    span {
      color: white !important;
    }
  }
}

/deep/ .vs-tabs-primary .con-ul-tabs .line-vs-tabs {
  background: linear-gradient(white, white) !important;
  background-color: white !important;
  margin-left: 10px;
}
</style>
