<template>
  <div id="box-tabs">
    <div class="flex flex-wrap">
      <div
        class="w-auto py-2 px-2 bg-gray-300 font-medium text-sm rounded-md text-center"
        style="color: #0094ff;"
      >
        <h4>{{ combineStr('Psychological Assessment', name) }}</h4>
      </div>

      <div
        class="w-10 py-2 px-2 bg-gray-300 font-medium text-sm rounded-md text-center ml-2"
        style="color: #0094ff;"
        v-if="form.subType !== undefined"
      >
        {{ form.subType }}
      </div>
    </div>

    <div class="flex flex-wrap justify-between">
      <div class="w-full lg:w-1/2 px-2">
        <FormGroup name="Nama">
          <vs-input
            color="primary"
            class="w-full"
            v-model.trim="form.soalName"
            label="Nama"
            placeholder="Masukkan Nama"
          />
        </FormGroup>
      </div>

      <slot name="action"></slot>
    </div>

    <hr />

    <Box v-if="$route.params.preview" class="my-4">
      <div v-html="items.petunjuk || petunjuk"></div>
    </Box>

    <vs-tabs :value="index">
      <vs-tab
        :key="itemIndex"
        label="Home"
        v-for="(item, itemIndex) in form.soal"
      >
        <BoxHeader
          :key="subIndex"
          :title="
            name == 'Team Style'
              ? combineStr('Bagian', item.nomor)
              : combineStr('Soal No.', item.nomor)
          "
          v-for="(item, subIndex) in form.soal[itemIndex]"
          class="my-4"
        >
          <!-- type `table` -->
          <template v-if="type == 'table'">
            <div class="flex my-6 mx-6">
              <div class="mt-6 w-1/3">
                <table class="table-auto w-64 text-xs">
                  <thead>
                    <tr>
                      <th class="border-bottom px-4 py-4 font-medium">
                        Pernyataan
                      </th>
                      <th class="border-bottom px-4 py-4 font-medium">P</th>
                      <th class="border-bottom px-4 py-4 font-medium">K</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr :key="index" v-for="(sub, index) in item.opsi">
                      <td class="border-bottom px-4 py-4">
                        {{ combineStr('Pernyataan', sub.pernyataan) }}
                      </td>
                      <td
                        class="border-bottom px-4 py-4"
                        v-html="!preview ? changeXstr(sub.paling) : ''"
                      ></td>
                      <td
                        class="border-bottom px-4 py-4"
                        v-html="!preview ? changeXstr(sub.kurang) : ''"
                      ></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="flex flex-wrap w-2/3">
                <div
                  class="w-full"
                  :key="indexOpsi"
                  v-for="(sub, indexOpsi) in item.opsi"
                >
                  <FormGroup :name="combineStr('Pernyataan', sub.pernyataan)">
                    <vs-input
                      color="primary"
                      class="w-full"
                      v-model.trim="
                        form.soal[itemIndex][subIndex].opsi[indexOpsi]
                          .description
                      "
                      :disabled="isLoading"
                      :label="combineStr('Pernyataan', sub.pernyataan)"
                    />
                  </FormGroup>
                </div>
              </div>
            </div>
          </template>

          <!-- type `ab` -->
          <template v-if="type == 'ab'">
            <div class="flex my-6 mx-6">
              <div class="flex flex-wrap w-full">
                <div
                  class="pt-4 w-auto bg-primary text-sm font-medium italic border-b border-black"
                  style="font-size: 14px;"
                  v-if="theme == 2"
                >
                  {{ item.judul }}
                </div>

                <div
                  class="w-full"
                  :key="opsiIndex"
                  v-for="(subItem, opsiIndex) in item.opsi"
                >
                  <div
                    class="py-2 px-2 w-full bg-primary font-medium text-sm rounded-md mt-6"
                    style="background-color: #40bbf1;color: #ffffff;font-size: 13px;"
                    v-if="theme == 2"
                  >
                    {{ combineStr('Pernyataan', subItem.pernyataan) }}
                  </div>

                  <div class="w-full">
                    <FormGroup
                      :name="combineStr('Pernyataan', subItem.pernyataan)"
                    >
                      <vs-input
                        color="primary"
                        class="w-full"
                        v-model.trim="
                          form.soal[itemIndex][subIndex].opsi[opsiIndex]
                            .description
                        "
                        :label="
                          name === 'Team Style'
                            ? ''
                            : combineStr('Pernyataan', subItem.pernyataan)
                        "
                      />
                    </FormGroup>
                  </div>

                  <div
                    class="flex flex-between"
                    v-if="name == 'Team Style'"
                    style="margin-top: -25px;"
                  >
                    <div class="w-1/2 mr-5">
                      <FormGroup name="Diri Sendiri">
                        <vs-input
                          color="primary"
                          class="w-full"
                          v-model.trim="
                            form.soal[itemIndex][subIndex].opsi[opsiIndex].key
                              .self
                          "
                          label="Diri Sendiri"
                          :disabled="true"
                        />
                      </FormGroup>
                    </div>
                    <div class="w-1/2">
                      <FormGroup name="Orang Lain">
                        <vs-input
                          color="primary"
                          class="w-full"
                          v-model.trim="
                            form.soal[itemIndex][subIndex].opsi[opsiIndex].key
                              .other
                          "
                          label="Orang Lain"
                          :disabled="true"
                        />
                      </FormGroup>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>

          <!-- type `pg` -->
          <template v-if="type == 'pg'">
            <!-- theme 1 -->
            <div class="flex my-2 mx-6" v-if="theme === 1">
              <div class="flex flex-wrap w-full">
                <div class="w-full">
                  <FormGroup :name="combineStr('Pernyataan No.', item.nomor)">
                    <vs-textarea
                      :label="combineStr('Pernyataan No.', item.nomor)"
                      v-model.trim="form.soal[itemIndex][subIndex].pernyataan"
                    />
                  </FormGroup>
                </div>
                <div
                  class="w-full"
                  :key="opsiIndex"
                  v-for="(sub, opsiIndex) in item.opsi"
                >
                  <FormGroup :name="combineStr('Jawaban', sub.notasi)">
                    <vs-input
                      color="primary"
                      class="w-full"
                      :label="
                        sub.key
                          ? combineStr('Jawaban', sub.notasi) +
                            ` (bobot jawaban = ${sub.key})`
                          : combineStr('Jawaban', sub.notasi)
                      "
                      v-model.trim="
                        form.soal[itemIndex][subIndex].opsi[opsiIndex]
                          .description
                      "
                    />
                  </FormGroup>
                </div>
              </div>
            </div>

            <!-- theme 2 -->
            <div class="flex my-2 mx-6" v-if="theme === 2">
              <div class="w-full flex flex-wrap">
                <div
                  class="w-full px-2"
                  v-if="form.soal[itemIndex][subIndex].pertanyaan !== undefined"
                >
                  <FormGroup :name="'Pertanyaan'">
                    <vs-textarea
                      :label="'Pertanyaan'"
                      v-model.trim="form.soal[itemIndex][subIndex].pertanyaan"
                    />
                  </FormGroup>
                </div>
                <div class="w-full flex flex-wrap">
                  <div
                    class="w-full lg:w-1/5 px-2"
                    :key="opsiIndex"
                    v-for="(sub, opsiIndex) in item.opsi"
                  >
                    <FormGroup :name="sub.notasi">
                      <vs-input
                        color="primary"
                        class="w-full"
                        :label="
                          sub.key
                            ? combineStr('Jawaban', ` ${sub.notasi}`) +
                              ` (${sub.key})`
                            : combineStr('Jawaban', ` ${sub.notasi}`)
                        "
                        v-model.trim="
                          form.soal[itemIndex][subIndex].opsi[opsiIndex]
                            .description
                        "
                      />
                    </FormGroup>
                  </div>
                </div>
              </div>
            </div>
          </template>

          <!-- type `essay` -->
          <template v-if="type == 'essay'">
            <div class="flex my-2 mx-6" v-if="theme === 1">
              <div class="w-full">
                <FormGroup :name="'Pertanyaan'">
                  <vs-textarea
                    :label="'Pertanyaan'"
                    v-model.trim="form.soal[itemIndex][subIndex].pertanyaan"
                  />
                </FormGroup>

                <FormGroup name="Jawaban">
                  <vs-input
                    color="primary"
                    class="w-full"
                    label="Jawaban"
                    v-model.trim="form.soal[itemIndex][subIndex].key"
                  />
                </FormGroup>
              </div>
            </div>

            <div class="flex my-2 mx-6" v-if="theme === 2">
              <div class="w-full">
                <div class="px-2">
                  <FormGroup :name="'Pertanyaan'">
                    <vs-textarea
                      :label="'Pertanyaan'"
                      v-model.trim="form.soal[itemIndex][subIndex].pertanyaan"
                    />
                  </FormGroup>
                </div>

                <div class="w-full flex flex-wrap">
                  <div class="w-full lg:w-1/3 px-2">
                    <FormGroup name="Nilai 2">
                      <vs-input
                        color="primary"
                        class="w-full"
                        label="Nilai 2"
                        v-model.trim="
                          form.soal[itemIndex][subIndex].key[0].value
                        "
                      />
                    </FormGroup>
                  </div>

                  <div class="w-full lg:w-1/3 px-2">
                    <FormGroup name="Nilai 1">
                      <vs-input
                        color="primary"
                        class="w-full"
                        label="Nilai 1"
                        v-model.trim="
                          form.soal[itemIndex][subIndex].key[1].value
                        "
                      />
                    </FormGroup>
                  </div>

                  <div class="w-full lg:w-1/3 px-2">
                    <FormGroup name="Nilai 0">
                      <vs-input
                        color="primary"
                        class="w-full"
                        label="Nilai 0"
                        v-model.trim="
                          form.soal[itemIndex][subIndex].key[2].value
                        "
                      />
                    </FormGroup>
                  </div>
                </div>
              </div>
            </div>
          </template>

          <!-- type `row` -->
          <template v-if="type == 'row'">
            <div class="w-full flex flex-wrap">
              <div
                class="w-full lg:w-1/12 px-2"
                :key="opsiIndex"
                v-for="(sub, opsiIndex) in item.opsi"
              >
                <FormGroup :name="combineStr('Deret ', sub.angka)">
                  <vs-input
                    color="primary"
                    class="w-full"
                    :label="combineStr('Deret ', sub.angka)"
                    v-model.trim="
                      form.soal[itemIndex][subIndex].opsi[opsiIndex].value
                    "
                  />
                </FormGroup>
              </div>

              <div class="w-5/12 px-2">
                <FormGroup name="Jawaban">
                  <vs-input
                    color="primary"
                    class=" w-full"
                    label="Jawaban"
                    v-model.trim="form.soal[itemIndex][subIndex].key"
                  />
                </FormGroup>
              </div>
            </div>
          </template>
        </BoxHeader>
      </vs-tab>
    </vs-tabs>

    <vs-progress
      :height="12"
      :percent="percent"
      color="primary"
      v-if="type !== 'image'"
    />

    <div class="flex flex-wrap justify-end my-4" v-if="type !== 'image'">
      <vs-button
        color="primary"
        type="filled"
        class="mr-2 rounded-full"
        icon="chevron_left"
        size="small"
        @click="moving('minus')"
      />
      <vs-button
        color="primary"
        type="filled"
        class="rounded-full"
        icon="chevron_right"
        size="small"
        @click="moving('plus')"
      />
    </div>

    <div class="flex flex-wrap justify-between items-center">
      <div class="flex flex-wrap">
        <!-- belbin description -->
        <small v-if="theme == 2 && type !== 'image' && !sub" class="font-medium"
          >Bagian {{ index + 1 }} of Bagian {{ items.soal.length }} materi
          {{ name }}</small
        >
        <small v-if="(theme == 1 && type !== 'image') || sub"
          >{{ getStart() }} - {{ getEnd() }} of {{ getTotal() }} materi
          {{ name }}</small
        >
      </div>
      <div class="flex flex-wrap justify-end">
        <vs-button
          color="secondary"
          type="border"
          class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
          @click="
            sub
              ? $route.params.id
                ? $route.params.preview
                  ? $router.push({
                      name: 'DetailQuestIst',
                      params: {
                        id: $route.params.id,
                        preview: true
                      }
                    })
                  : $router.push({
                      name: 'UpdateQuestIst',
                      params: {
                        id: $route.params.id
                      }
                    })
                : $router.push({ name: 'QuestIst' })
              : $router.push({ name: 'ManagePsychologicalAssessment' })
          "
        >
          Batal
        </vs-button>
        <vs-button
          color="primary"
          type="filled"
          class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
          v-if="!$route.params.preview"
          @click="submit"
        >
          {{ $t('label.save') }}
        </vs-button>
      </div>
    </div>
  </div>
</template>

<script>
//
import { map } from 'lodash';

// base
import BoxHeader from '@/components/base/BoxHeader';
import FormGroup from '@/components/base/FormGroup';

// eslint-disable-next-line no-unused-vars
import Box from '@/components/base/Box';

export default {
  name: 'BoxTabs',

  components: {
    Box,
    BoxHeader,
    FormGroup
  },

  props: {
    title: {
      type: String,
      default: ''
    },
    name: {
      // DISC, Papikostik, Value, LS, Belbin, IST & 16 PF
      type: String,
      default: ''
    },
    type: {
      // table, ab, pg, essay & row
      type: String,
      default: ''
    },
    // create & test
    status: {
      type: String,
      default: ''
    },
    items: {
      type: Object,
      default: () => ({})
    },
    // page is sub or main
    sub: {
      type: Boolean,
      default: false
    },
    petunjuk: {
      type: String,
      default: ''
    },
    /* --- theme (1, 2, 3) */
    theme: {
      type: Number,
      default: 1
    },
    /* --- _optional - next & prev status disable or enable --- */
    next: {
      type: Boolean,
      default: false
    },
    prev: {
      type: Boolean,
      default: false
    },
    /* --- _optional - time & setTime --- */
    time: {
      type: Boolean,
      default: false
    },
    setTime: {
      type: Number,
      default: 30000
    }
  },

  data: () => ({
    index: 0,
    percent: 0,
    preview: false,
    form: {}
  }),

  created() {
    this.initial();
  },

  methods: {
    combineStr(str, param) {
      return str.concat(' ', param);
    },

    // for disc psychological assessment type
    changeXstr(param) {
      let str = '';

      if (param === 'X') {
        str = '&#x2022;';
      } else {
        str = param;
      }

      return str;
    },

    // moving tabs / index value in tabs
    moving(param) {
      // set limit
      let limit = this.items.soal.length - 1;

      // plus
      if (param == 'plus') {
        if (this.index > limit - 1) {
          this.index = limit;
        } else {
          this.index++;
        }
      }

      // minus
      if (param == 'minus') {
        if (this.index <= 0) {
          this.index = 0;
        } else {
          this.index--;
        }
      }

      // change percent status
      this.progress(limit, this.index);

      // move to top
      window.scroll(0, 0);
    },

    // progress bar value
    progress(limit, index) {
      this.percent = ((index + 1) / (limit + 1)) * 100;
    },

    getStart() {
      let start = this.items.soal[this.index][0].nomor;
      return start;
    },

    getEnd() {
      let temp = this.items.soal[this.index];
      return this.items.soal[this.index][temp.length - 1].nomor;
    },

    getTotal() {
      let temp = [];

      map(this.items.soal, (item) => {
        map(item, (sub) => {
          temp.push(sub);
        });
      });

      return temp.length;
    },

    // initial
    initial() {
      // set limit
      let limit = this.items.soal.length - 1;
      this.progress(limit, this.index);

      // set items
      this.form = this.items;
    },

    submit() {
      this.$emit('save', this.form);
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ h4 {
  font-size: 14px;
}

/deep/ .vs-tabs--content {
  padding: 0 !important;
}

/deep/ .con-vs-tabs .con-ul-tabs,
.vs-tabs--ul {
  display: none !important;
}

/deep/ thead tr {
  background-color: #daeafb !important;
}

/deep/ tr:nth-child(even) {
  background-color: #f5faff;
}

/deep/ tbody td {
  color: #6f6f6f;
}

// /deep/ .base-form-group {
//   margin-top: 0 !important;
//   margin-bottom: 0 !important;
// }

/deep/ .vs-input--label {
  font-weight: 500;
}

/deep/ .vs-input--input.normal,
.vs-select--input {
  border: 1px solid #ececec !important;
}

/deep/ .con-input-upload .text-input {
  font-weight: 500 !important;
}

/deep/ .vs-con-textarea h4 {
  font-size: 13px;
  font-weight: 500 !important;
}

/deep/ .vs-textarea {
  border: 1px solid #ececec !important;
}
</style>
