<script>
import { uniqBy } from 'lodash';
import BreadCrumbItem from '@/components/base/BreadCrumbItem.vue';

export default {
  name: 'BaseBreadCrumb',

  components: {
    BreadCrumbItem
  },

  computed: {
    crumbs() {
      let list = [];
      this.$route.matched.map((e, i) => {
        if (e.meta.breadCrumb) {
          let paramsArray = e.path
            .split('/')
            .reduce((breadcrumbArray, path) => {
              if (path.includes(':')) breadcrumbArray.push(path);
              return breadcrumbArray;
            }, []);

          let convertUrl = e.path;
          paramsArray.map((param) => {
            let id = this.$route.params[param.replace(':', '')];
            convertUrl = convertUrl.replace(param, id);
          });

          let baseUrl =
            process.env.VUE_APP_ENVIRONMENT === 'production' ? '/cms' : '';

          list.push({
            title: this.$t(e.meta.breadCrumb).name,
            url: baseUrl + convertUrl,
            disabled: i == 0,
            active: false
          });
        }
      });

      // Remove duplicate key
      list = uniqBy(list, 'title');

      // Set last value as current page
      if (list.length > 0) {
        list[list.length - 1].active = true;
      }
      return list;
    }
  }
};
</script>

<template>
  <div class="base-breadcrumb">
    <BreadCrumbItem
      :items="crumbs"
      separator="chevron_right"
      class="font-medium ml-0"
      color="black"
    />
  </div>
</template>

<style lang="scss" scoped>
/deep/ .vs-breadcrumb--ol {
  padding: 0;
  opacity: 1;
}

/deep/ .vs-breadcrumb--ol {
  font-size: 15px;
  .material-icons {
    font-size: 16px;
  }
}

/deep/ .vs-breadcrumb .disabled-link {
  opacity: 1;
}
</style>
