<template>
  <div class="flex justify-end space-x-4">
    <vs-button
      class="text-xs px-8 font-medium w-full md:w-auto"
      color="secondary"
      type="border"
      @click="back"
    >
      {{ $t('label.back') }}
    </vs-button>
    <vs-button
      v-if="!isDetail"
      class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
      color="primary"
      type="filled"
      ref="loadingBtn"
      :disabled="isLoading"
      @click="$emit('save')"
    >
      {{ $t('label.save') }}
    </vs-button>

    <template
      v-if="
        $acl.check('isSuperAdmin') && isDetail && [0, 1, 2].includes(status)
      "
    >
      <vs-button
        class="text-xs px-8 mx-2 font-medium w-full md:w-auto vs-con-loading__container"
        color="danger"
        type="filled"
        ref="loadingBtn2"
        :disabled="isLoading"
        @click="$emit('reject')"
      >
        {{ $t('label.reject') }}
      </vs-button>
      <vs-button
        class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
        color="primary"
        type="filled"
        ref="loadingBtn"
        :disabled="isLoading"
        @click="$emit('approve')"
      >
        {{ $t('label.approve') }}
      </vs-button>
    </template>

    <template
      v-if="$acl.check('isAdmin') && isDetail && [3, 5, 6].includes(status)"
    >
      <vs-button
        class="text-xs px-8 font-medium w-full md:w-auto"
        color="secondary"
        @click="$emit('edit')"
      >
        {{ $t('label.edit') }}
      </vs-button>
    </template>
  </div>
</template>

<script>
import { loadingMixin } from '@/mixins/loading';

export default {
  name: 'ButtonGroup',

  mixins: [loadingMixin],

  props: {
    isLoading: {
      type: Boolean,
      default: false
    },

    isDetail: {
      type: Boolean,
      default: false
    },

    status: {
      type: [Number, String]
    },

    back: {
      type: Function,
      default: () => {
        window.history.back();
      }
    }
  }
};
</script>
