<template>
  <div class="w-full">
    <label class="w-full vs-input--label" v-if="name !== ''">
      {{ name }}
    </label>
    <div
      class="w-full mt-2"
      :class="[...(disabled ? ['border rounded px-2 py-4'] : [])]"
      v-if="tinyMCEInit"
    >
      <editor
        v-model="content"
        :api-key="token"
        :init="tinyMCEInit"
        :disabled="disabled"
        :inline="disabled"
      />
    </div>
  </div>
</template>

<script>
import Editor from '@tinymce/tinymce-vue';

let vuexStore;

export default {
  name: 'Editor',

  components: {
    editor: Editor
  },

  props: {
    name: {
      type: String,
      default: ''
    },

    disabled: {
      type: Boolean,
      default: false
    },

    value: {
      type: String,
      default: ''
    }
  },

  data: () => ({
    init: {
      selector: 'textarea#local-upload',
      branding: false,
      height: 300,
      menubar: false,
      relative_urls: false,
      remove_script_host: false,
      plugins: [
        'advlist autolink lists link image charmap emoticons print preview anchor ',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table paste code help wordcount'
      ],
      toolbar:
        'undo redo | formatselect | forecolor | backcolor | ' +
        'alignleft aligncenter alignright alignjustify | ' +
        '| bold italic | fontselect | fontsizeselect | sizeselect' +
        'bullist numlist outdent indent | removeformat | image table charmap | fullscreen  preview',

      toolbar_mode: 'wrap',
      /* without images_upload_url set, Upload tab won't show up*/
      // images_upload_url: 'postAcceptor.php',

      /* we override default upload handler to simulate successful upload*/
      // images_upload_handler: this.getImage
      fontsize_formats: '11px 12px 14px 16px 18px 24px 36px 48px'
    },
    tinyMCEInit: null,
    content: ''
  }),

  computed: {
    token() {
      return process.env.VUE_APP_TINY_MCE_API_KEY;
    }
  },

  watch: {
    content(newVal) {
      this.$emit('input', newVal);
    },

    value(newVal) {
      this.content = newVal;
    }
  },

  mounted() {
    vuexStore = this.$store;
    this.content = this.value;

    this.tinyMCEInit = this.init;
    this.tinyMCEInit['images_upload_handler'] = this.getImage;
  },

  methods: {
    // eslint-disable-next-line no-unused-vars
    getImage: (blobInfo, success, failure) => {
      let payload = {
        file: blobInfo.blob()
      };

      vuexStore
        .dispatch('image/saveImage', payload)
        .then((data) => {
          success(`${data}`);
        })
        .catch((e) => {
          failure('HTTP Error: ' + e);
          vuexStore.dispatch('general/showErrorReqNotification', e);
        });
    }
  }
};
</script>
