<template>
  <div class="base-form-group my-4">
    <div class="relative">
      <slot />
    </div>

    <div v-if="hasErrors" class="mt-2 overflow-hidden">
      <div
        v-for="(error, errorIndex) in activeErrorMessages"
        :key="errorIndex"
        class="error italic text-red-700 text-xs"
      >
        {{ error }}
      </div>
    </div>
  </div>
</template>

<script>
import { singleErrorExtractorMixin } from 'vuelidate-error-extractor';

export default {
  name: 'FormGroup',

  mixins: [singleErrorExtractorMixin]
};
</script>
