<template>
  <div
    id="base-navbar"
    class="h-16 bg-white flex items-center justify-between rounded-lg px-3 lg:my-6 lg:border-l-8"
  >
    <div class="flex items-center space-x-4">
      <img src="@/assets/images/oti-logo.png" class="h-12" alt="BPI LOGO" />
      <h1 class="text-sm lg:text-xl font-medium my-4">
        {{ $t('content.project_title') }}
      </h1>
    </div>

    <div class="flex items-center">
      <notif-center :key="$route.fullPath" />
      <vs-dropdown>
        <div class="flex items-center">
          <vs-avatar class="mx-4" />
          <div class="hidden lg:block ml-auto flex flex-col">
            <h4 class="font-normal text-sm">{{ email }}</h4>
            <span
              v-if="roles"
              class="block text-left text-xs font-thin text-gray-600"
            >
              {{ roles[0] }}
            </span>
          </div>
        </div>

        <vs-dropdown-menu :vs-collapse="true">
          <vs-dropdown-item @click="logout">
            <span class="w-24 flex items-center">
              <vs-icon icon="exit_to_app" class="mr-4" />
              {{ $t('label.logout') }}
            </span>
          </vs-dropdown-item>
        </vs-dropdown-menu>
      </vs-dropdown>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import NotifCenter from '@/components/base/NotifCenter';

export default {
  name: 'BaseNavbar',

  components: {
    NotifCenter
  },

  data: () => ({
    badge: 20,
    dataMessage: []
  }),

  computed: {
    ...mapGetters({
      email: 'auth/currentEmail',
      roles: 'auth/currentRoles'
    })
  },

  methods: {
    logout() {
      this.$store
        .dispatch('auth/logout')
        .then(() => {
          this.$router.push({ name: 'Login' });
        })
        .catch(() => {
          this.$store.dispatch('auth/clearAppSession');
          this.$router.push({ name: 'Login' });
        });
    }
  }
};
</script>

<style lang="scss" scoped>
@media (min-width: 1024px) {
  #base-navbar {
    box-shadow: 0px 0px 7px 2px #ececec;
    width: calc(100% - 309px);
    position: fixed;
    z-index: 999;
  }
}
</style>
