<template>
  <div class="my-4 flex flex-col justify-center items-center">
    <slot name="icon">
      <img src="@/assets/images/ic-empty.svg" class="m-4" alt="BPI LOGO" />
    </slot>
    <h2 class="font-medium text-normal text-center">{{ title }}</h2>
    <p class="text-gray-500 text-xs text-center mb-4">{{ subtitle }}</p>
    <slot name="action"></slot>
  </div>
</template>

<script>
export default {
  name: 'BaseNoData',

  props: {
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    }
  }
};
</script>
