<template>
  <div></div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'BaseNotification',

  computed: {
    ...mapGetters({
      message: 'general/message',
      textMessage: 'general/textMessage',
      type: 'general/typeNotification',
      showNotification: 'general/showNotification'
    })
  },

  watch: {
    showNotification(val) {
      if (val) {
        this.show();
      }
    }
  },

  methods: {
    show() {
      this.$vs.notify({
        title: this.message,
        text: this.textMessage,
        color: this.type,
        position: 'top-right'
      });
    }
  }
};
</script>
