<template>
  <vs-dropdown vs-custom-content vs-trigger-click>
    <vs-avatar
      :badge="notifications.length"
      color="#f1b102"
      icon="notifications"
    />

    <vs-dropdown-menu class="notifications">
      <div class="notif-content w-64 p-2 overflow-auto">
        <vs-list>
          <vs-list-item
            v-for="(notif, index) in notifications"
            :key="index"
            :title="notif.message"
            :subtitle="notif.createdAt | moment('calendar')"
            class="text-xs cursor-pointer"
            @click.native="readNotification(notif)"
          >
          </vs-list-item>
          <vs-list-item
            v-if="notifications.length <= 0"
            :title="
              $t('content.no_data_title', {
                attribute: $t('label.notification')
              })
            "
            class="text-xs"
          ></vs-list-item>
        </vs-list>
      </div>
    </vs-dropdown-menu>
  </vs-dropdown>
</template>

<script>
import { mapGetters } from 'vuex';
let msgServer;

export default {
  name: 'NotifCenter',

  computed: {
    ...mapGetters({
      roles: 'auth/currentRoles'
    })
  },

  data: () => ({
    notifications: []
  }),

  mounted() {
    this.$sse(
      `${
        process.env.VUE_APP_SOCKET_URL
      }/stream-notification?role=${this.roles[0].toLowerCase()}`,
      {
        format: 'json'
      }
    )
      .then((sse) => {
        msgServer = sse;

        // Catch any errors (ie. lost connections, etc.)
        sse.onError((e) => {
          console.error('lost connection; giving up!', e);

          // This is purely for example; EventSource will automatically
          // attempt to reconnect indefinitely, with no action needed
          // on your part to resubscribe to events once (if) reconnected
          sse.close();
        });

        // Listen for messages without a specified event
        sse.subscribe('', (message) => {
          this.notifications = message;
        });
      })
      .catch((err) => {
        // When this error is caught, it means the initial connection to the
        // events server failed.  No automatic attempts to reconnect will be made.
        console.error('Failed to connect to server', err);
      });
  },

  beforeDestroy() {
    // Make sure to close the connection with the events server
    // when the component is destroyed, or we'll have ghost connections!
    if (msgServer) {
      msgServer.close();
    }
  },

  methods: {
    readNotification(notif) {
      this.$store
        .dispatch('notification/readNotification', { id: notif._id })
        .then(() => {
          return this.navigateTo(notif);
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    navigateTo(notif) {
      switch (notif.data.moduleName) {
        case 'USER_INTERNAL':
          this.$router.push({
            name: 'DetailUserInternal',
            params: {
              id: notif.data.moduleId
            }
          });
          break;

        case 'ASSESSOR':
          this.$router.push({
            name: 'DetailAssessor',
            params: {
              id: notif.data.moduleId
            }
          });
          break;

        case 'ASESI':
          this.$router.push({
            name: 'DetailAsesi',
            params: {
              id: notif.data.moduleId
            }
          });
          break;

        case 'PESERTA':
          this.$router.push({
            name: 'DetailPeserta',
            params: {
              id: notif.data.moduleId
            }
          });
          break;

        case 'PERUSAHAAN':
          this.$router.push({
            name: 'DetailPerusahaan',
            params: {
              id: notif.data.moduleId
            }
          });
          break;

        case 'PROYEK':
          this.$router.push({
            name: 'DetailProject',
            params: {
              idProyek: notif.data.moduleId
            }
          });
          break;

        default:
          this.$router.push(notif.targetUrl);
          break;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.notif-content {
  max-height: 320px;
}
</style>
