<template>
  <div
    v-if="
      $acl.check('isSuperAdmin') &&
        $route.meta.isDetail &&
        [0, 1, 2].includes(statusCode)
    "
    class="my-8"
  >
    <div v-if="[1].includes(this.statusCode)" class="flex space-x-4 mb-4">
      <span :class="btnType(0)" @click="activeItem = 0">
        Data Sebelumnya
      </span>
      <span :class="btnType(1)" @click="activeItem = 1">
        Data Baru
      </span>
    </div>

    <div class="flex space-x-4 text-sm">
      <span>Status :</span>
      <span class="text-semibold" :class="colorStatus(statusCode)">
        {{ status(statusCode) }}
      </span>
    </div>
  </div>
</template>

<script>
import { statusMixin } from '@/mixins/status';

export default {
  name: 'Review',

  mixins: [statusMixin],

  props: {
    statusCode: {
      type: [String, Number]
    }
  },

  data: () => ({
    activeItem: 0
  }),

  watch: {
    activeItem(newVal) {
      if (newVal == 0) {
        this.$emit('fetchPrev');
      } else {
        this.$emit('fetchNew');
      }
    }
  },

  methods: {
    btnType(key) {
      return this.activeItem == key
        ? 'border-b-2 border-shades-blue cursor-pointer text-sm text-shades-blue font-medium'
        : 'cursor-pointer text-sm text-shades-black font-medium';
    }
  }
};
</script>
