<template>
  <div class="base-title flex items-center space-x-2 pb-4">
    <div class="hidden lg:flex items-center space-x-2">
      <vs-icon :icon="icon" size="23px" color="primary" />
      <vs-icon
        icon="chevron_right"
        size="16px"
        class="font-semibold"
        color="primary"
      />
    </div>

    <BaseBreadCrumb />
  </div>
</template>

<script>
import BaseBreadCrumb from '@/components/base/BreadCrumb';
export default {
  name: 'BaseTitle',

  props: {
    icon: {
      type: String,
      default: ''
    }
  },

  components: {
    BaseBreadCrumb
  }
};
</script>
<style lang="scss" scoped>
.base-title {
  padding-top: 7.5rem;
}
</style>
