<template>
  <div class="flex flex-wrap items-center px-4 py-2 my-4 rounded-lg">
    <div class="title-section font-medium text-black">
      {{ title }}
    </div>
    <slot name="action"></slot>
  </div>
</template>

<script>
export default {
  name: 'BaseTitleSection',

  props: {
    title: {
      type: String,
      default: ''
    }
  }
};
</script>

<style lang="scss" scoped>
.title-section {
  min-width: 100%;
}

@media (min-width: 1024px) {
  .title-section {
    min-width: 250px;
  }
}
</style>
