<template>
  <div id="create-edit-peserta">
    <Review
      :statusCode="status"
      @fetchPrev="fetchDetail($route.params.id)"
      @fetchNew="fetchReview($route.params.id)"
    />

    <BoxHeader :title="$t($route.meta.breadCrumb).name">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="$t('label.name_arg', { attribute: $t('label.participant') })"
            :validator="$v.form.namaLengkap"
          >
            <vs-input
              color="primary"
              class="w-full field-required"
              v-model.trim="form.namaLengkap"
              :disabled="isLoading || isDetail"
              :danger="$v.form.namaLengkap.error"
              :label="
                $t('label.name_arg', { attribute: $t('label.participant') })
              "
              :placeholder="
                $t('placeholder.name', { attribute: $t('label.participant') })
              "
            />
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup :name="$t('label.gender')" :validator="$v.form.gender">
            <vs-select
              autocomplete
              v-model="form.gender"
              color="primary"
              class="w-full field-required"
              :noData="$t('content.no_data_text')"
              :disabled="isLoading || isDetail"
              :danger="$v.form.gender.error"
              :label="$t('label.gender')"
              :placeholder="
                $t('placeholder.select_general', {
                  attribute: $t('label.gender')
                })
              "
            >
              <vs-select-item
                :key="index"
                :value="item.name"
                :text="item.name"
                v-for="(item, index) in genderList"
              />
            </vs-select>
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup :name="$t('label.nik')" :validator="$v.form.nik">
            <vs-input
              color="primary"
              class="w-full"
              v-model.trim="form.nik"
              maxLength="16"
              :disabled="isLoading || isDetail"
              :danger="$v.form.nik.error"
              :label="$t('label.nik')"
              :placeholder="
                $t('placeholder.nik', { attribute: $t('label.participant') })
              "
            />
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="$t('label.department')"
            :validator="$v.form.jabatan"
          >
            <vs-input
              color="primary"
              class="w-full field-required"
              v-model.trim="form.jabatan"
              :disabled="isLoading || isDetail"
              :danger="$v.form.jabatan.error"
              label="Jabatan Saat Ini"
              :placeholder="
                $t('placeholder.department', {
                  attribute: $t('label.participant')
                })
              "
            />
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="$t('label.education')"
            :validator="$v.form.pendidikan"
          >
            <vs-input
              color="primary"
              class="w-full"
              v-model.trim="form.pendidikan"
              :disabled="isLoading || isDetail"
              :danger="$v.form.pendidikan.error"
              :label="$t('label.education')"
              :placeholder="
                $t('placeholder.education', {
                  attribute: $t('label.participant')
                })
              "
            />
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup :name="$t('label.email')" :validator="$v.form.email">
            <vs-input
              color="primary"
              class="w-full field-required"
              v-model.trim="form.email"
              type="email"
              :disabled="isLoading || isDetail"
              :danger="$v.form.email.error"
              :label="$t('label.email')"
              :placeholder="
                $t('placeholder.email', { attribute: $t('label.user') })
              "
            />
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="$t('label.company')"
            :validator="$v.form.perusahaanId"
          >
            <vs-select
              autocomplete
              v-model="form.perusahaanId"
              color="primary"
              class="w-full field-required"
              :noData="$t('content.no_data_text')"
              :disabled="isLoading || isDetail"
              :danger="$v.form.perusahaanId.error"
              :label="$t('label.company')"
              :placeholder="
                $t('placeholder.company', {
                  attribute: $t('label.company')
                })
              "
            >
              <vs-select-item
                :key="index"
                :value="item.perusahaanId"
                :text="item.namaPerusahaan"
                v-for="(item, index) in perusahaanList"
              />
            </vs-select>
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="$t('label.target_job')"
            :validator="$v.form.targetJobId"
          >
            <vs-select
              autocomplete
              v-model="form.targetJobId"
              color="primary"
              class="w-full field-required"
              :noData="$t('content.no_data_text')"
              :disabled="isLoading || isDetail || targetJobList <= 0"
              :danger="$v.form.targetJobId.error"
              :label="$t('label.target_job')"
              :placeholder="
                $t('placeholder.target_job', {
                  attribute: $t('label.target_job')
                })
              "
            >
              <vs-select-item
                :key="index"
                :value="item.targetJobId"
                :text="item.namaTargetJob"
                v-for="(item, index) in targetJobList"
              />
            </vs-select>
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup :name="$t('label.pob')" :validator="$v.form.tempatLahir">
            <vs-input
              color="primary"
              class="w-full"
              v-model.trim="form.tempatLahir"
              :disabled="isLoading || isDetail"
              :danger="$v.form.tempatLahir.error"
              :label="$t('label.pob')"
              :placeholder="
                $t('placeholder.pob', { attribute: $t('label.user') })
              "
            />
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup :name="$t('label.dob')" :validator="$v.form.tanggalLahir">
            <date-picker
              v-model="form.tanggalLahir"
              :clearable="false"
              :disabled="isLoading || isDetail"
              prefix-class="xmx"
              valueType="DD/MM/YYYY"
              :disabled-date="(date) => date > currentDate"
            >
              <template v-slot:input>
                <vs-input
                  color="primary"
                  class="w-full"
                  icon="today"
                  :value="form.tanggalLahir"
                  :disabled="isLoading || isDetail"
                  :danger="$v.form.tanggalLahir.error"
                  :label="$t('label.dob')"
                  :readonly="true"
                  placeholder="DD/MM/YYYY"
                />
              </template>
              <template v-slot:icon-calendar>
                <span></span>
              </template>
            </date-picker>
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="$t('label.assessment_date')"
            :validator="$v.form.tanggalAssessment"
          >
            <date-picker
              v-model="form.tanggalAssessment"
              :clearable="false"
              :disabled="isLoading || isDetail"
              prefix-class="xmx"
              valueType="DD/MM/YYYY"
              :disabled-date="(date) => date < yesterdayDate"
            >
              <template v-slot:input>
                <vs-input
                  color="primary"
                  class="w-full field-required"
                  icon="today"
                  :value="form.tanggalAssessment"
                  :disabled="isLoading || isDetail"
                  :danger="$v.form.tanggalAssessment.error"
                  :label="$t('label.assessment_date')"
                  :readonly="true"
                  placeholder="DD/MM/YYYY"
                />
              </template>
              <template v-slot:icon-calendar>
                <span></span>
              </template>
            </date-picker>
          </FormGroup>
        </div>
      </div>
    </BoxHeader>
    <div class="h-6"></div>

    <ButtonGroup
      :isLoading="isLoading"
      :isDetail="isDetail"
      :status="status"
      @save="openConfirm(form.email)"
      @edit="
        $router.push({
          name: 'UpdatePeserta',
          params: {
            id: $route.params.id
          }
        })
      "
      @reject="reject"
      @approve="approve"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { includes } from 'lodash';

// mixins
import { loadingMixin } from '@/mixins/loading';
import {
  required,
  email,
  numeric,
  maxLength,
  minLength
} from 'vuelidate/lib/validators';
import { alphabetic } from '@/mixins/validator';

// date picker
import DatePicker from 'vue2-datepicker';
import '@/assets/css/datepicker.scss';

// base
import BoxHeader from '@/components/base/BoxHeader.vue';
import ButtonGroup from '@/components/base/ButtonGroup.vue';
import FormGroup from '@/components/base/FormGroup.vue';
import Review from '@/components/base/Review.vue';

export default {
  name: 'CreateEditUserInternal',

  mixins: [loadingMixin],

  components: {
    BoxHeader,
    ButtonGroup,
    DatePicker,
    FormGroup,
    Review
  },

  data: () => ({
    edit: false,
    form: {
      email: '',
      jabatan: '',
      namaLengkap: '',
      nik: '',
      pendidikan: '',
      perusahaanId: '',
      tanggalAssessment: '',
      tanggalLahir: '',
      targetJobId: '',
      tempatLahir: '',
      gender: ''
    },
    isLoading: false,
    isDetail: false,
    currentDate: new Date(),
    yesterdayDate: new Date(new Date().setDate(new Date().getDate() - 1)),
    status: ''
  }),

  watch: {
    'form.perusahaanId'() {
      this.form.targetJobId = '';
      this.fetchTargetJobs(this.form.perusahaanId);
    },

    form() {
      this.form.targetJobId = this.form.targetJob.targetJobId;
      this.fetchTargetJobs(this.form.perusahaanId);
    },

    status(newVal) {
      if ([1].includes(newVal) && this.$acl.not.check('isSuperAdmin')) {
        this.fetchReview(this.$route.params.id);
      }
    }
  },

  computed: {
    ...mapGetters({
      roleList: 'role/items',
      perusahaanList: 'perusahaan/items',
      genderList: 'gender/items',
      roles: 'auth/currentRoles',
      targetJobList: 'targetJob/itemsApproved'
    })
  },

  validations: {
    form: {
      email: {
        required,
        email,
        maxLength: maxLength(100)
      },
      jabatan: {
        requiredSelect: required
      },
      namaLengkap: {
        required,
        alphabetic,
        maxLength: maxLength(100)
      },
      nik: {
        numeric,
        minLength: minLength(16),
        maxLength: maxLength(16)
      },
      pendidikan: {
        maxLength: maxLength(50)
      },
      perusahaanId: {
        requiredSelect: required
      },
      targetJobId: {
        requiredSelect: required
      },
      tanggalAssessment: {
        required
      },
      tanggalLahir: {},
      tempatLahir: {
        alphabetic,
        maxLength: maxLength(50)
      },
      gender: {
        requiredSelect: required
      }
    }
  },

  created() {
    this.fetchGender();

    // Add pageable for search company, index is 1
    this.$store.commit('table/ADD_PAGEABLE', {
      search: ''
    });
    this.fetchPerusahaan();

    if (this.$route.params.id) {
      this.edit = true;

      this.fetchDetail(this.$route.params.id);
    }

    if (this.$route.meta.isDetail) {
      this.isDetail = true;
    }
  },

  methods: {
    fetchGender() {
      this.$store.dispatch('gender/fetchList').catch((e) => {
        this.$store.dispatch('general/showErrorReqNotification', e);
      });
    },

    fetchPerusahaan() {
      this.$store.dispatch('perusahaan/fetchSearch', { id: 1 }).catch((e) => {
        this.$store.dispatch('general/showErrorReqNotification', e);
      });
    },

    fetchTargetJobs(perusahaanId) {
      return this.$store
        .dispatch('targetJob/fetchListCompany', { perusahaanId: perusahaanId })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    fetchDetail(id) {
      this.$store
        .dispatch('peserta/fetchDetail', { id: id })
        .then((data) => {
          // send respond detail data
          data.perusahaanId = data.perusahaan.perusahaanId;
          data.targetJobId = data.targetJob.targetJobId;

          this.form = data;
          this.status = data.status;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    fetchReview(id) {
      this.$store
        .dispatch('peserta/fetchReview', { id: id })
        .then((data) => {
          this.form = data.after;
          this.form.perusahaanId = data.after.perusahaan.perusahaanId;
          this.form.targetJobId = data.after.targetJob.targetJobId;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    openConfirm(data) {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        if (this.edit) {
          this.$vs.dialog({
            type: 'confirm',
            color: 'primary',
            title: this.$t('label.confirm'),
            text: this.$t('content.confirm_update', { data: data }),
            acceptText: this.$t('label.yes'),
            cancelText: this.$t('label.cancel'),
            accept: this.submit
          });
        } else {
          this.submit();
        }
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });
      }
    },

    submit() {
      this.isLoading = true;
      // this.loadingButton(this.$refs.loadingBtn.$el);

      let storeAction = 'peserta/fetchSave';
      let payload = {
        data: this.form
      };

      if (includes(this.roles, 'SUPER_ADMIN')) {
        payload.data.status = true;
      }

      if (this.edit) {
        payload['id'] = this.$route.params.id;
        storeAction = 'peserta/fetchUpdate';
      }

      this.$store
        .dispatch(storeAction, payload)
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.edit
              ? this.$t('content.update_message')
              : this.$t('content.create_message')
          });

          this.$router.push({ name: 'MasterPeserta' });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
          // this.closeLoading(this.$refs.loadingBtn.$el);
        });
    },

    approve() {
      this.isLoading = true;
      // this.loadingButton(this.$refs.loadingBtn.$el);
      this.$store
        .dispatch('peserta/fetchApprove', {
          id: this.$route.params.id,
          data: { status: true }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });

          this.$router.push({ name: 'MasterPeserta' });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
          // this.closeLoading(this.$refs.loadingBtn.$el);
        });
    },

    reject() {
      this.isLoading = true;
      // this.loadingButton(this.$refs.loadingBtn2.$el);
      this.$store
        .dispatch('peserta/fetchApprove', {
          id: this.$route.params.id,
          data: { status: false }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });

          this.$router.push({ name: 'MasterPeserta' });
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
          // this.closeLoading(this.$refs.loadingBtn2.$el);
        });
    }
  }
};
</script>
