<template>
  <div id="master-peserta">
    <BaseBox>
      <div class="flex flex-wrap items-end -mx-2">
        <div class="w-full lg:w-1/4 px-2">
          <FormGroup :name="$t('label.company')">
            <vs-select
              autocomplete
              v-model="form.perusahaanId"
              color="primary"
              class="w-full"
              @input-change="searchCompany"
              :noData="$t('content.no_data_text')"
              :label="$t('label.company')"
              :placeholder="
                $t('placeholder.company', {
                  attribute: $t('label.company')
                })
              "
            >
              <vs-select-item
                :key="index"
                :value="item.perusahaanId"
                :text="item.namaPerusahaan"
                v-for="(item, index) in perusahaanList"
              />
            </vs-select>
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/4 px-2">
          <FormGroup :name="$t('label.target_job')">
            <vs-select
              autocomplete
              v-model="form.targetJobId"
              color="primary"
              class="w-full"
              :disabled="targetJobList <= 0"
              :noData="$t('content.no_data_text')"
              :label="$t('label.target_job')"
              :placeholder="
                $t('placeholder.target_job', {
                  attribute: $t('label.target_job')
                })
              "
            >
              <vs-select-item
                :key="index"
                :value="item.targetJobId"
                :text="item.namaTargetJob"
                v-for="(item, index) in targetJobList"
              />
            </vs-select>
          </FormGroup>
        </div>

        <div class="w-full lg:w-1/4 px-2">
          <FormGroup :name="$t('label.assessment_date')">
            <date-picker
              v-model="form.tanggalAssessment"
              :clearable="false"
              prefix-class="xmx"
              valueType="DD/MM/YYYY"
            >
              <template v-slot:input>
                <vs-input
                  color="primary"
                  class="w-full"
                  icon="today"
                  :value="form.tanggalAssessment"
                  :label="$t('label.assessment_date')"
                  :readonly="true"
                  placeholder="DD/MM/YYYY"
                />
              </template>
              <template v-slot:icon-calendar>
                <span></span>
              </template>
            </date-picker>
          </FormGroup>
        </div>

        <!-- reset button @action (remove all filter) -->
        <vs-button
          class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
          color="secondary"
          type="border"
          @click="resetData"
        >
          {{ $t('label.reset') }}
        </vs-button>

        <!-- filter button @action -->
        <vs-button
          class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
          color="primary"
          type="filled"
          @click="getData"
        >
          {{ $t('label.filter') }}
        </vs-button>
      </div>
    </BaseBox>
    <div class="h-6"></div>
    <BaseBox>
      <div class="table-content-loading vs-con-loading__container">
        <vs-table stripe @sort="handleSort" :data="items">
          <template slot="header">
            <TableHeader @fetch="getData">
              <template v-slot:header-left>
                <vs-button
                  @click="$router.push({ name: 'CreatePeserta' })"
                  class="text-xs px-8 font-medium w-full md:w-auto"
                  color="primary"
                  type="filled"
                >
                  {{ $t('label.add') }}
                </vs-button>
              </template>
            </TableHeader>
          </template>
          <template slot="thead">
            <vs-th sort-key="namaLengkap">
              Nama Asesi
            </vs-th>
            <vs-th sort-key="jabatan">
              {{ $t('label.department') }}
            </vs-th>
            <vs-th sort-key="targetJob">
              {{ $t('label.target_job') }}
            </vs-th>
            <vs-th sort-key="perusahaan">
              Perusahaan
            </vs-th>
            <vs-th sort-key="tanggalAssessment">
              {{ $t('label.assessment_date') }}
            </vs-th>
            <vs-th sort-key="status">
              {{ $t('label.status') }}
            </vs-th>
            <vs-th sort-key="namaLengkap"></vs-th>
          </template>

          <template slot-scope="{ data }">
            <vs-tr :key="indextr" :data="tr" v-for="(tr, indextr) in data">
              <vs-td
                :data="data[indextr].namaLengkap"
                @click.native="
                  $router.push({
                    name: 'DetailPeserta',
                    params: {
                      id: data[indextr].pesertaId
                    }
                  })
                "
              >
                {{ data[indextr].namaLengkap }}
              </vs-td>

              <vs-td
                :data="data[indextr].jabatan"
                @click.native="
                  $router.push({
                    name: 'DetailPeserta',
                    params: {
                      id: data[indextr].pesertaId
                    }
                  })
                "
              >
                {{ data[indextr].jabatan }}
              </vs-td>

              <vs-td
                :data="data[indextr].targetJob"
                @click.native="
                  $router.push({
                    name: 'DetailPeserta',
                    params: {
                      id: data[indextr].pesertaId
                    }
                  })
                "
              >
                {{ data[indextr].targetJob }}
              </vs-td>

              <vs-td
                :data="data[indextr].perusahaan"
                @click.native="
                  $router.push({
                    name: 'DetailPeserta',
                    params: {
                      id: data[indextr].pesertaId
                    }
                  })
                "
              >
                {{ data[indextr].perusahaan }}
              </vs-td>

              <vs-td
                :data="data[indextr].tanggalAssessment"
                @click.native="
                  $router.push({
                    name: 'DetailPeserta',
                    params: {
                      id: data[indextr].pesertaId
                    }
                  })
                "
              >
                {{ data[indextr].tanggalAssessment }}
              </vs-td>

              <vs-td
                :data="data[indextr].status"
                @click.native="
                  $router.push({
                    name: 'DetailPeserta',
                    params: {
                      id: data[indextr].pesertaId
                    }
                  })
                "
              >
                <span :class="colorStatus(data[indextr].status)">
                  {{ status(data[indextr].status) }}
                </span>
              </vs-td>

              <vs-td :data="data[indextr].namaLengkap">
                <Approval
                  :id="data[indextr].pesertaId"
                  :label="data[indextr].namaLengkap"
                  :status="data[indextr].status"
                  :routes="{ update: 'UpdatePeserta' }"
                  @click="chooseAct"
                />
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </div>

      <TablePaging @fetch="getData" />
    </BaseBox>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

// mixins
import { loadingMixin } from '@/mixins/loading';
import { statusMixin } from '@/mixins/status';
import { navigateMixin } from '@/mixins/navigate';

// date picker
import DatePicker from 'vue2-datepicker';
import '@/assets/css/datepicker.scss';

// base
import Approval from '@/components/base/Approval.vue';
import BaseBox from '@/components/base/Box';
import TableHeader from '@/components/table/TableHeader';
import TablePaging from '@/components/table/TablePaging';
import FormGroup from '@/components/base/FormGroup.vue';

export default {
  name: 'MasterPeserta',

  mixins: [loadingMixin, statusMixin, navigateMixin],

  components: {
    Approval,
    BaseBox,
    DatePicker,
    FormGroup,
    TableHeader,
    TablePaging
  },

  data: () => ({
    data: {},
    form: {
      targetJobId: '',
      perusahaanId: '',
      namaPerusahaan: '',
      tanggalAssessment: '',
      orderBy: '',
      role: ''
    }
  }),

  watch: {
    'form.perusahaanId'() {
      this.form.targetJobId = '';
      if (this.form.perusahaanId) {
        this.fetchTargetJobs(this.form.perusahaanId);
      }
    }
  },

  computed: {
    ...mapGetters({
      items: 'peserta/items',
      perusahaanList: 'perusahaan/items',
      roles: 'auth/currentRoles',
      targetJobList: 'targetJob/itemsApproved'
    })
  },

  created() {
    this.$store.commit('table/RESET_PAGEABLE');
    this.$store.commit('table/RESET_CUSTOM_PAGEABLE');

    // Add pageable for search company, index is 1
    this.$store.commit('table/ADD_PAGEABLE', {
      search: ''
    });
    this.fetchPerusahaan();
  },

  mounted() {
    this.getData();
  },

  methods: {
    fetchPerusahaan() {
      this.$store.dispatch('perusahaan/fetchSearch', { id: 1 }).catch((e) => {
        this.$store.dispatch('general/showErrorReqNotification', e);
      });
    },

    searchCompany(val) {
      this.$store.commit('table/SET_SEARCH', {
        index: 1,
        data: val.srcElement.value
      });
      this.fetchPerusahaan();
    },

    fetchTargetJobs(perusahaanId) {
      return this.$store
        .dispatch('targetJob/fetchListCompany', { perusahaanId: perusahaanId })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    getData() {
      this.loadingContent('.table-content-loading');
      this.$store
        .dispatch('peserta/fetchList', this.form)
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.closeLoading('.table-content-loading > .con-vs-loading');
        });
    },

    resetData() {
      this.form = {
        targetJobId: '',
        perusahaanId: '',
        namaPerusahaan: '',
        tanggalAssessment: '',
        orderBy: '',
        role: ''
      };
      this.getData();
    },

    acceptAlert(parameters) {
      switch (parameters[0]) {
        case 'approve':
          this.approve(parameters[1]);
          break;
        case 'reject':
          this.reject(parameters[1]);
          break;
        case 'delete':
          this.delete(parameters[1]);
          break;
        default:
          break;
      }
    },

    handleSort(key, active) {
      this.form.orderBy = `${key}|${active}`;
      this.getData();
    },

    chooseAct(params) {
      this.openConfirm(params.key, params);
    },

    openConfirm(key, data) {
      let message = '';
      switch (key) {
        case 'approve':
          message = this.$t('content.confirm_approve', { data: data.label });
          break;
        case 'reject':
          message = this.$t('content.confirm_reject', { data: data.label });
          break;
        case 'delete':
          message = this.$t('content.confirm_delete', { data: data.label });
          break;
        default:
          break;
      }

      this.$vs.dialog({
        type: 'confirm',
        color: 'primary',
        title: this.$t('label.confirm'),
        text: message,
        accept: this.acceptAlert,
        acceptText: this.$t('label.yes'),
        cancelText: this.$t('label.cancel'),
        parameters: [key, data.id]
      });
    },

    approve(id) {
      this.$store
        .dispatch('peserta/fetchApprove', {
          id: id,
          data: { status: true }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    reject(id) {
      this.$store
        .dispatch('peserta/fetchApprove', {
          id: id,
          data: { status: false }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    delete(id) {
      this.$store
        .dispatch('peserta/fetchDelete', {
          id: id
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.delete_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.xmx-datepicker {
  width: 100%;
}
</style>
