<template>
  <div>
    <BoxHeader :title="$t('label.flp')">
      <div class="w-full flex flex-wrap">
        <div class="w-full lg:w-1/4 px-4">
          <FormGroup :name="$t('label.duration')">
            <vs-input
              :disabled="$route.meta.disabled"
              icon="schedule"
              color="primary"
              class="w-full field-required"
              :label="$t('label.duration')"
              v-model="form.durasi"
            />
          </FormGroup>
        </div>
      </div>

      <hr class="mx-4" />

      <div class="p-4" v-if="form">
        <div
          class="rounded-md"
          :key="index"
          v-for="(item, index) in form.isiPertanyaan"
        >
          <div
            class="w-full bg-gray-200 rounded-md mb-2 flex flex-wrap justify-between"
          >
            <div class="flex items-center text-sm px-4">
              {{
                $t('label.question') +
                  ` No. ${(form.isiPertanyaan[index].nomor = index + 1)}`
              }}
            </div>

            <div class="flex items-center rounded-lg px-4">
              <vs-button
                v-if="!$route.meta.proyek"
                :disabled="form.isiPertanyaan.length <= 1"
                @click="removeFlp(index)"
                class="mx-2"
                color="danger"
                type="flat"
                icon="clear"
              />
            </div>
          </div>

          <div class="w-full">
            <FormGroup :name="$t('label.question')">
              <vs-input
                :disabled="$route.meta.disabled"
                color="primary"
                class="w-full"
                v-model.trim="form.isiPertanyaan[index].pertanyaan"
              />
            </FormGroup>
          </div>
        </div>

        <div class="w-full flex flex-wrap">
          <vs-button
            v-if="!$route.meta.proyek"
            @click="addFlp"
            class="w-full md:w-24 text-xs block mt-4 font-medium"
            color="primary"
            type="filled"
            >{{ $t('label.add') }}</vs-button
          >
        </div>
      </div>
    </BoxHeader>

    <div class="w-full flex flex-wrap justify-end" v-if="!$route.meta.approve">
      <vs-button
        @click="navigateBack"
        class="w-full md:w-24 text-xs block px-6 my-4 font-medium"
        color="secondary"
        type="border"
      >
        {{ $route.meta.disabled ? $t('label.back') : $t('label.cancel') }}
      </vs-button>
      <vs-button
        v-if="!$route.meta.disabled && !$route.meta.proyek"
        @click="submit"
        class="w-full md:w-24 text-xs block px-6 ml-4 my-4 font-medium"
        color="primary"
        type="filled"
      >
        {{ $t('label.save') }}
      </vs-button>
    </div>

    <div class="w-full flex flex-wrap justify-end" v-if="$route.meta.approve">
      <vs-button
        class="w-full md:w-24 text-xs block px-6 my-4 font-medium"
        color="secondary"
        type="border"
      >
        {{ $t('label.reject') }}
      </vs-button>
      <vs-button
        class="w-full md:w-24 text-xs block px-6 ml-4 my-4 font-medium"
        color="primary"
        type="filled"
      >
        {{ $t('label.approve') }}
      </vs-button>
    </div>
  </div>
</template>

<script>
import BoxHeader from '@/components/base/BoxHeader';
import FormGroup from '@/components/base/FormGroup';
import { find } from 'lodash';
import menuItems from '@/components/materi/assessment_center/menuItems';

export default {
  name: 'Flp',

  components: {
    BoxHeader,
    FormGroup
  },

  created() {
    this.form.soalType = find(menuItems, {
      code: this.$route.meta.type
    }).type;

    if (this.$route.params.id) {
      this.form = false;

      this.fetchDetail();
      this.edit = true;
    }
  },

  data: () => ({
    form: {
      durasi: '',
      soalType: '',
      isiPertanyaan: [
        {
          nomor: 1,
          pertanyaan: ''
        }
      ]
    },
    edit: false
  }),

  methods: {
    addFlp() {
      this.form.isiPertanyaan.push({
        nomor: null,
        pertanyaan: ''
      });
    },

    removeFlp(index) {
      this.form.isiPertanyaan.splice(index, 1);
    },

    navigateBack() {
      this.$router.go(-1);
      // let url = find(menuItems, { code: this.$route.meta.type }).toManage;
      // this.$router.push({ name: url });
    },

    fetchDetail() {
      this.$store
        .dispatch('flp/fetchDetail', {
          id: this.$route.params.id,
          version: this.$route.params.version
        })
        .then((response) => {
          this.form = response;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    submit() {
      // initial to submit process
      let payload = {};
      let storeAction = 'flp/fetchSave';

      payload.data = this.form;

      if (this.edit) {
        payload['id'] = this.$route.params.id;
        payload['version'] = this.$route.params.version;
        storeAction = 'flp/fetchUpdate';
      }

      this.$store
        .dispatch(storeAction, payload)
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.edit
              ? this.$t('content.update_message')
              : this.$t('content.create_message')
          });

          this.navigateBack();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {});
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ .title-section {
  @apply px-4;
}
</style>
