<template>
  <div id="manage-assessment-center">
    <!-- filter -->
    <BaseBox>
      <div class="flex flex-wrap items-end">
        <div class="w-full lg:w-1/4 px-2">
          <FormGroup :name="$t('label.target_job')">
            <vs-select
              autocomplete
              v-model="form.targetJobName"
              color="primary"
              class="w-full"
              :label="$t('label.target_job')"
              :placeholder="
                $t('placeholder.select_general', {
                  attribute: $t('label.target_job')
                })
              "
            >
              <vs-select-item
                :key="index"
                :value="item.namaTargetJob"
                :text="item.namaTargetJob"
                v-for="(item, index) in targetJobs"
              />
            </vs-select>
          </FormGroup>
        </div>

        <!-- reset button @action (remove all filter) -->
        <vs-button
          class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
          color="secondary"
          type="border"
          @click="reset"
        >
          {{ $t('label.reset') }}
        </vs-button>

        <!-- filter button @action -->
        <vs-button
          class="w-full md:w-auto text-xs block px-6 mx-2 my-4 font-medium"
          color="primary"
          type="filled"
          @click="getData"
        >
          {{ $t('label.filter') }}
        </vs-button>
      </div>
    </BaseBox>

    <div class="h-6"></div>

    <!-- table -->
    <BaseBox>
      <div class="table-content-loading vs-con-loading__container">
        <vs-table
          stripe
          @sort="handleSort"
          :sst="true"
          :data="items"
          :noDataText="$t('content.no_data_text')"
        >
          <template slot="header">
            <TableHeader @fetch="getData">
              <template v-slot:header-left>
                <vs-button
                  @click="navigate('create')"
                  class="text-xs px-8 font-medium w-full md:w-auto"
                  color="primary"
                  type="filled"
                >
                  {{ $t('label.add') }}
                </vs-button>
                <vs-button
                  v-if="
                    $route.meta.type === 'PI' ||
                      $route.meta.type === 'INB' ||
                      $route.meta.type === 'LGD'
                  "
                  @click="navigate('flp')"
                  class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
                  color="primary"
                  type="filled"
                >
                  {{ $t('label.flp') }}
                </vs-button>
              </template>
            </TableHeader>
          </template>
          <template slot="thead">
            <vs-th sort-key="namaAssessment">
              {{ $t('label.name') }}
            </vs-th>
            <vs-th sort-key="tipe">
              {{ $t('label.question_type') }}
            </vs-th>
            <vs-th sort-key="tipeGroup">
              {{ $t('label.target_job') }}
            </vs-th>
            <vs-th sort-key="dateCreated">
              {{ $t('label.created_date') }}
            </vs-th>
            <vs-th sort-key="durasi">
              {{ $t('label.duration') }}
            </vs-th>
            <vs-th sort-key="status">
              {{ $t('label.status') }}
            </vs-th>
            <vs-th></vs-th>
          </template>

          <template slot-scope="{ data }">
            <vs-tr :key="indextr" :data="tr" v-for="(tr, indextr) in data">
              <vs-td
                :data="data[indextr].namaAssessment"
                @click.native="
                  navigateSelectedByVersion(
                    data[indextr].tipe,
                    tr,
                    'SIMULATION'
                  )
                "
                >{{ data[indextr].namaAssessment }}</vs-td
              >

              <vs-td
                :data="data[indextr].tipe"
                @click.native="
                  navigateSelectedByVersion(
                    data[indextr].tipe,
                    tr,
                    'SIMULATION'
                  )
                "
                >{{ data[indextr].tipe }}</vs-td
              >

              <vs-td
                :data="data[indextr].targetJobName"
                @click.native="
                  navigateSelectedByVersion(
                    data[indextr].tipe,
                    tr,
                    'SIMULATION'
                  )
                "
                >{{ data[indextr].targetJobName }}</vs-td
              >
              <vs-td
                :data="data[indextr].dateCreated"
                @click.native="
                  navigateSelectedByVersion(
                    data[indextr].tipe,
                    tr,
                    'SIMULATION'
                  )
                "
                >{{ data[indextr].dateCreated }}</vs-td
              >
              <vs-td
                :data="data[indextr].durasi"
                @click.native="
                  navigateSelectedByVersion(
                    data[indextr].tipe,
                    tr,
                    'SIMULATION'
                  )
                "
                >{{ data[indextr].durasi }}</vs-td
              >
              <vs-td
                :data="data[indextr].approved"
                @click.native="
                  navigateSelectedByVersion(
                    data[indextr].tipe,
                    tr,
                    'SIMULATION'
                  )
                "
              >
                <span>{{ status(data[indextr].approved) }}</span>
              </vs-td>

              <vs-td>
                <Approval
                  :id="data[indextr].soalId"
                  :label="data[indextr].name"
                  :status="data[indextr].approved"
                  :data="data[indextr]"
                  type="SIMULATION"
                  @click="chooseAct"
                />
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </div>

      <TablePaging @fetch="getData" />
    </BaseBox>
  </div>
</template>

<script>
// base
import BaseBox from '@/components/base/Box';
import FormGroup from '@/components/base/FormGroup.vue';
import Approval from '@/components/base/Approval.vue';
import { mapGetters } from 'vuex';

// table
import TableHeader from '@/components/table/TableHeader';
import TablePaging from '@/components/table/TablePaging';

// mixin
import { loadingMixin } from '@/mixins/loading';
import { statusMixin } from '@/mixins/status';
import { navigateMixin } from '@/mixins/navigate';

import { find } from 'lodash';
import menuItems from '@/components/materi/assessment_center/menuItems';

export default {
  name: 'ManageAssessmentCenter',

  mixins: [loadingMixin, statusMixin, navigateMixin],

  components: {
    Approval,
    BaseBox,
    FormGroup,
    TableHeader,
    TablePaging
  },

  data: () => ({
    form: {
      targetJobName: ''
    },
    targetJobs: []
  }),

  computed: {
    ...mapGetters({
      items: 'assessmentCenter/items',
      flp: 'flp/item'
    })
  },

  created() {
    this.getFLP();
    this.getTargetJobs();
    this.$store.commit('table/RESET_PAGEABLE');
  },

  watch: {
    '$route.meta.type': function() {
      this.getData();
    }
  },

  mounted() {
    this.getData();
  },

  methods: {
    navigate(process) {
      let type = this.$route.meta.type,
        url = '';

      if (process === 'create') {
        url = find(menuItems, { code: type }).toCreate;
        this.$router.push({ name: url });
      }

      if (process === 'flp') {
        if (this.flp) {
          url = find(menuItems, { code: type }).toFLP.update;

          this.$router.push({
            name: url,
            params: {
              id: this.flp.flpId,
              version: this.flp.version
            }
          });
        } else {
          url = find(menuItems, { code: type }).toFLP.create;
          this.$router.push({ name: url });
        }
      }
    },

    getFLP() {
      this.$store
        .dispatch('flp/fetchList', {
          soalType: find(menuItems, {
            code: this.$route.meta.type
          }).type
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    getTargetJobs() {
      this.$store
        .dispatch('targetJob/fetchListApproved')
        .then((res) => {
          this.targetJobs = res;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    reset() {
      this.form.targetJobName = '';
      this.getData();
    },

    getData() {
      this.loadingContent('.table-content-loading');
      this.$store
        .dispatch('assessmentCenter/fetchList', {
          targetJobName: this.form.targetJobName,
          soalType: find(menuItems, { code: this.$route.meta.type }).type
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.closeLoading('.table-content-loading > .con-vs-loading');
        });
    },

    chooseAct(params) {
      this.openConfirm(params.key, params);
    },

    acceptAlert(parameters) {
      switch (parameters[0]) {
        case 'approve':
          this.approve(parameters[1], parameters[2], parameters[3]);
          break;
        case 'reject':
          this.reject(parameters[1], parameters[2], parameters[3]);
          break;
        case 'delete':
          this.delete(parameters[1], parameters[2], parameters[3]);
          break;
        default:
          break;
      }
    },

    openConfirm(key, data) {
      let message = '';
      switch (key) {
        case 'approve':
          message = this.$t('content.confirm_approve', { data: data.label });
          break;
        case 'reject':
          message = this.$t('content.confirm_reject', { data: data.label });
          break;
        case 'delete':
          message = this.$t('content.confirm_delete', { data: data.label });
          break;
        default:
          break;
      }

      this.$vs.dialog({
        type: 'confirm',
        color: 'primary',
        title: this.$t('label.confirm'),
        text: message,
        accept: this.acceptAlert,
        acceptText: this.$t('label.yes'),
        cancelText: this.$t('label.cancel'),
        parameters: [key, data.id, data.code, data.version]
      });
    },

    approve(id, key, version) {
      this.$store
        .dispatch(key, {
          id: id,
          version: version,
          data: { status: true }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    reject(id, key, version) {
      this.$store
        .dispatch(key, {
          id: id,
          version: version,
          data: { status: false }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    delete(id, key, version) {
      this.$store
        .dispatch(key, {
          id: id,
          version: version
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.delete_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    handleSort(key, active) {
      this.form.orderBy = `${key}|${active}`;
      this.getData();
    }
  }
};
</script>
