<template>
  <div id="create-edit-ist-subtest9">
    <question
      :name="$t('menu.subtest9.name')"
      type="pg"
      :items="subItems"
      :theme="2"
      :sub="true"
      @save="save"
    >
      <!-- ================ memory sheet button ================= -->
      <template v-slot:action>
        <vs-button
          color="primary"
          type="filled"
          class="w-auto text-xs px-8 font-medium vs-con-loading__container"
          @click="showPopUp = true"
        >
          {{ $t('label.sheet_arg', { attribute: $t('label.memory') }) }}
        </vs-button>
      </template>
      <!-- ================ memory sheet button ================= -->

      <!-- ================ instruction & example question ================ -->
      <template v-slot:instruction>
        <div v-html="items.petunjuk[8].petunjuk" v-if="disabled"></div>
      </template>
      <template v-slot:example v-if="disabled">
        <example
          :items="['Bunga', 'Perkakas', 'Burung', 'Kesenian', 'Binatang']"
          answer="Bunga"
        >
          <template v-slot:soal>
            <div class="pb-2">
              <table class="table-fixed text-sm">
                <tbody>
                  <tr>
                    <td class="border px-4 py-2">Bunga</td>
                    <td class="border px-4 py-2">:</td>
                    <td class="border px-4 py-2">
                      Soka – Larat – Flamboyan – Yasmin – Dahlia
                    </td>
                  </tr>
                  <tr>
                    <td class="border px-4 py-2">Perkakas</td>
                    <td class="border px-4 py-2">:</td>
                    <td class="border px-4 py-2">
                      Wajan – Jarum – Kikir – Cangkul – Palu
                    </td>
                  </tr>
                  <tr>
                    <td class="border px-4 py-2">Burung</td>
                    <td class="border px-4 py-2">:</td>
                    <td class="border px-4 py-2">
                      Itik – Elang – Walet – Tekukur – Nuri
                    </td>
                  </tr>
                  <tr>
                    <td class="border px-4 py-2">Kesenian</td>
                    <td class="border px-4 py-2">:</td>
                    <td class="border px-4 py-2">
                      Quintet – Arca – Opera – Gamelan – Ukiran
                    </td>
                  </tr>
                  <tr>
                    <td class="border px-4 py-2">Binatang</td>
                    <td class="border px-4 py-2">:</td>
                    <td class="border px-4 py-2">
                      Musang – Rusa – Beruang – Zebra – Harimau
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <p>
              Kata yang mempunyai huruf L adalah suatu ?
            </p>
          </template>
          <template v-slot:description>
            "Jawaban yang benar adalah A. Bunga karena kata dengan permulaan
            huruf L yang dihafalkan tadi adalah Larat yang termasuk kelompok
            Bunga"
          </template>
        </example>
      </template>
      <!-- ================ instruction & example question ================ -->
    </question>

    <!-- ================ memory sheet pop up =============== -->
    <MemorySheetPopUp
      :showPopUp="showPopUp"
      :data="subItems.keterangan"
      @closed="reset"
    />
    <!-- ================ memory sheet pop up =============== -->
  </div>
</template>

<script>
// vuex
import { mapGetters } from 'vuex';
import { cloneDeep, isEmpty } from 'lodash';

// constants
import { subtest9 } from '@/views/Materi/PsychologicalAssessment/Question/Ist/subtestLookupItems';

// components
import Question from '@/components/materi/psychological_assessment/Question';
import Example from '@/components/materi/psychological_assessment/Example';
import MemorySheetPopUp from '@/components/materi/psychological_assessment/ist/subtest9/MemorySheetPopUp';

export default {
  name: 'CreateEditSubtest9',

  components: {
    MemorySheetPopUp,
    Example,
    Question
  },

  computed: {
    ...mapGetters({
      items: 'ist/items',
      isInitialized: 'ist/isInitialized'
    })
  },

  data: () => ({
    id: null,
    version: null,
    disabled: false,
    subItems: null,
    keterangan: null,
    showPopUp: false
  }),

  created() {
    this.id = this.$route.params.id;
    this.version = this.$route.params.version;
    this.disabled = this.$route.meta.disabled;

    // update, detail & approve
    if (this.id) {
      this.subItems = cloneDeep(this.items.soal.subtest9);

      if (isEmpty(this.items.soal.subtest9)) {
        this.subItems = cloneDeep(subtest9);
        this.subItems.soalName = this.items.soalName;
      } else {
        /* --------------------------------------------------- */
        this.subItems.soalName = this.items.soalName;
        this.keterangan = this.items.keterangan;
        /* --------------------------------------------------- */
      }
    } else {
      if (isEmpty(this.items.soal.subtest9)) {
        this.subItems = cloneDeep(subtest9);
        this.subItems.soalName = this.items.soalName;
      } else {
        if (isEmpty(this.items.soal.subtest9)) {
          this.subItems = cloneDeep(subtest9);
          this.subItems.soalName = this.items.soalName;
        } else {
          this.subItems = this.items.soal.subtest9;
          this.subItems.soalName = this.items.soalName;
        }
      }
    }
  },

  methods: {
    reset(value, params) {
      this.showPopUp = value;
      this.keterangan = params;
    },

    /* submit subtest items process */
    save(value) {
      /* update ist name */
      this.$store.commit('ist/UPDATE_NAME', {
        soalName: value.soalName
      });

      /* update ist subtest items */
      let subtestItems = cloneDeep(value);
      subtestItems.keterangan = this.keterangan;
      delete subtestItems.soalName;

      this.$store.commit('ist/UPDATE_SUBTEST', {
        id: 'subtest9',
        data: subtestItems
      });

      if (this.id) {
        if (this.disabled) {
          this.$router.push({
            name: 'DetailIst',
            params: {
              id: this.id,
              version: this.version
            }
          });
        }

        this.$router.push({
          name: 'UpdateIst',
          params: {
            id: this.id,
            version: this.version
          }
        });
      } else {
        this.$router.push({ name: 'CreateIst' });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ .vs-popup {
  width: 1000px !important;
}
</style>
