<template>
  <div id="create-edit-ist-subtest8">
    <div class="flex flex-wrap">
      <!-- ====== question type header ======= -->
      <div class="w-full py-2 px-4 flex flex-wrap bg-gray-200 rounded-t-lg">
        <div class="w-full lg:w-1/2">
          <span class="w-full text-base font-medium block">
            {{ `${$t('menu.manage_psychological_assessment.name')}` }}
          </span>
          <span class="w-full text-sm italic font-medium block">
            {{ $t('menu.subtest8.name') }}
          </span>
        </div>
      </div>
      <!-- ====== question type header ======= -->

      <div
        class="w-full flex flex-wrap bg-gray-200 border-t-2 rounded-b-lg border-white justify-between"
      >
        <div class="w-full lg:w-1/2 px-2">
          <FormGroup :name="$t('label.name')" :validator="$v.sub.soalName">
            <vs-input
              color="primary"
              class="w-full"
              :label="$t('label.name')"
              :placeholder="
                $t('placeholder.input_general', { attribute: $t('label.name') })
              "
              v-model="sub.soalName"
              :danger="$v.sub.soalName.error"
            />
          </FormGroup>
        </div>

        <!-- question duration subtest -->
        <div class="w-full lg:w-1/2 px-2">
          <FormGroup
            :name="$t('label.duration')"
            :validator="$v.sub.contents.durasi"
          >
            <vs-input
              color="primary"
              icon="schedule"
              class="w-full"
              :label="$t('label.duration')"
              :placeholder="
                $t('placeholder.input_general', {
                  attribute: $t('label.duration')
                })
              "
              v-model="sub.contents.durasi"
              :disabled="$route.meta.disabled"
              :danger="$v.sub.contents.durasi.error"
            />
          </FormGroup>
        </div>
      </div>
    </div>

    <!-- ======= instruction ======== -->
    <div class="shadow-md mt-4 p-4 border" v-if="$route.meta.disabled">
      <h1 class="font-medium text-base border-b">
        {{ $t('label.instruction') }}
      </h1>

      <div class="text-sm mt-2">
        <div v-html="items.petunjuk[7].petunjuk"></div>
      </div>

      <div class="text-sm mt-2">
        <example>
          <template v-slot:soal>
            <div class="con-img-example mb-3">
              <img src="@/assets/images/example/subtest8.png" alt="subtest8" />
            </div>
            <p
              v-for="(example, index) in dataExample"
              class="pb-2"
              :key="index"
            >
              <span class="font-medium" v-html="example.desc"></span>
            </p>
          </template>
        </example>
      </div>
    </div>
    <!-- ======= instruction ======== -->

    <!-- Ilustrasi -->
    <BoxHeader :title="'Jawaban No. 137 - 156'" class="my-4" v-if="index === 0">
      <div class="flex flex-wrap">
        <div
          class="w-full lg:w-1/2 px-3"
          v-for="(data, dataIndex) in sub.contents.ilustrasi"
          :key="dataIndex"
        >
          <Box class="my-4" :class="data.required ? 'box-error-required' : ''">
            <div class="box-class flex flex-wrap justify-center content-center">
              <div
                class="close-button"
                v-if="data.ilustrasiId !== 0 && !$route.meta.disabled"
              >
                <vs-button
                  radius
                  color="danger"
                  type="filled"
                  icon="highlight_off"
                  @click="gantiIlustrasi(dataIndex)"
                ></vs-button>
              </div>
              <div class="text-base font-medium uppercase notasi">
                {{ data.notasi }}
              </div>
              <div class="centerx">
                <div class="con-example-images">
                  <!-- image preview -->
                  <div class="con-image-upload" v-if="data.ilustrasiId !== 0">
                    <img :src="data.src" />
                  </div>
                  <!-- upload image -->
                  <div v-if="data.ilustrasiId === 0">
                    <div
                      class="pt-3 pb-6 text-indigo-600 text-base font-medium text-center"
                    >
                      Upload
                    </div>
                    <vs-upload
                      text="Drag a file here or browse a file to upload"
                      fileName="file"
                      :headers="{
                        Authorization: `Bearer ${$store.state.auth.token}`
                      }"
                      :action="action"
                      @on-success="successUploadIlustrasi(dataIndex)"
                    />
                  </div>
                </div>
              </div>
            </div>
          </Box>
        </div>
      </div>
    </BoxHeader>
    <!-- End Ilustrasi -->

    <!-- soal -->
    <vs-tabs :value="index">
      <vs-tab
        label=""
        v-for="(item, itemIndex) in sub.contents.soal"
        :key="itemIndex"
      >
        <div v-if="renderComponent">
          <BoxHeader
            :title="'Soal No. ' + data.nomor"
            class="my-4"
            v-for="(data, subIndex) in sub.contents.soal[itemIndex]"
            :key="subIndex"
          >
            <Box
              class="my-4"
              :class="data.required ? 'box-error-required' : ''"
            >
              <div
                class="box-class flex flex-wrap justify-center content-center"
              >
                <div
                  class="close-button"
                  v-if="data.gambarId !== 0 && !$route.meta.disabled"
                >
                  <vs-button
                    radius
                    color="danger"
                    type="filled"
                    icon="highlight_off"
                    @click="gantiSoal(data.nomor, itemIndex, subIndex)"
                  ></vs-button>
                </div>
                <div class="centerx">
                  <div class="con-example-images">
                    <!-- image preview -->
                    <div class="con-image-upload" v-if="data.gambarId !== 0">
                      <img :src="data.src" />
                    </div>
                    <!-- upload image -->
                    <div v-if="data.gambarId === 0">
                      <div
                        class="pt-3 pb-6 text-indigo-600 text-base font-medium text-center"
                      >
                        Upload
                      </div>
                      <vs-upload
                        text="Drag a file here or browse a file to upload"
                        fileName="file"
                        :headers="{
                          Authorization: `Bearer ${$store.state.auth.token}`
                        }"
                        :action="action"
                        @on-success="
                          successUploadSoal(data.nomor, itemIndex, subIndex)
                        "
                      />
                    </div>
                  </div>
                </div>
              </div>
            </Box>
          </BoxHeader>
        </div>
      </vs-tab>
    </vs-tabs>
    <!-- End soal -->

    <vs-progress :height="12" :percent="percent" color="primary" />

    <div class="flex flex-wrap justify-between my-2">
      <div>
        <vs-button
          color="primary"
          type="filled"
          class="mr-2 rounded-full"
          icon="list"
          size="small"
          @click="showPopUp = true"
        />
      </div>
      <div>
        <vs-button
          color="primary"
          type="filled"
          class="mr-2 rounded-full"
          icon="chevron_left"
          size="small"
          @click="moving('minus')"
        />
        <vs-button
          color="primary"
          type="filled"
          class="rounded-full"
          icon="chevron_right"
          size="small"
          @click="moving('plus')"
        />
      </div>
    </div>

    <div class="w-full">
      <small>
        {{
          $t('pagination.question_theme_1', {
            start: getStart(),
            end: getEnd(),
            total: getTotal(),
            name: 'Subtest 8'
          })
        }}
      </small>
    </div>

    <div class="flex flex-wrap justify-end">
      <vs-button
        color="secondary"
        type="border"
        class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
        @click="
          $route.params.id
            ? $route.meta.disabled
              ? $router.push({
                  name: 'DetailIst',
                  params: {
                    id: this.$route.params.id,
                    version: this.$route.params.version
                  }
                })
              : $router.push({
                  name: 'UpdateIst',
                  params: {
                    id: this.$route.params.id,
                    version: this.$route.params.version
                  }
                })
            : $router.push({ name: 'CreateIst' })
        "
      >
        {{ $t('label.cancel') }}
      </vs-button>
      <vs-button
        color="primary"
        type="filled"
        class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
        @click="store"
        v-if="!$route.meta.disabled"
      >
        {{ $t('label.save') }}
      </vs-button>
    </div>

    <question-pop-up-tabs
      :showPopUp="showPopUp"
      typeSubtest="image"
      :data="sub.contents.soal"
      :title="$t('menu.subtest8.name')"
      @closed="reset"
      @move="movingDirectly"
    />
  </div>
</template>

<script>
// lodash
import { map, isEmpty, forEach } from 'lodash';

// vuex
import { mapGetters } from 'vuex';

// validations
import { required, numeric } from 'vuelidate/lib/validators';

// component
import Example from '@/components/materi/psychological_assessment/Example';

// constants
import { subtest8 } from '@/views/Materi/PsychologicalAssessment/Question/Ist/subtestLookupItems';

// base
import BoxHeader from '@/components/base/BoxHeader';
import FormGroup from '@/components/base/FormGroup';
import Box from '@/components/base/Box';
import QuestionPopUpTabs from '@/components/materi/psychological_assessment/QuestionPopUpTabs';

export default {
  name: 'CreateEditSubtest8',

  components: {
    Example,
    BoxHeader,
    FormGroup,
    Box,
    QuestionPopUpTabs
  },

  computed: {
    ...mapGetters({
      items: 'ist/items'
    })
  },

  data: () => ({
    showPopUp: false,
    isDisabled: false,
    index: 0,
    percent: 0,
    dataImages: {},
    headers: {},
    action: '',
    sub: {
      soalName: '',
      contents: {}
    },
    ilustrasiSrc: '',
    renderComponent: true,
    dataExample: [
      {
        desc:
          'A. Jika kubus pada contoh pertama digulingkan ke kiri 1 kali dan diputar ke kiri 1 kali, maka akan jadi sama dengan <b>kubus a</b>. Oleh karena itu pilihlah <b>a</b> sebagai jawaban Saudara.'
      },
      {
        desc:
          'B. Jika kubus pada contoh kedua digulingkan ke kiri 1 kali dan diputar ke kiri 1 kali, maka akan jadi sama dengan <b>kubus e</b>. Oleh karena itu pilihlah <b>e</b> sebagai jawaban Saudara.'
      },
      {
        desc:
          'C. Jika kubus pada contoh ketiga digulingkan ke kiri 1 kali, maka akan jadi sama dengan <b>kubus b</b>. Oleh karena itu pilihlah <b>b</b> sebagai jawaban Saudara.'
      },
      {
        desc: 'D. Kubus keempat akan sama dengan <b>kubus c</b>.'
      },
      {
        desc: 'E. Kubus kelima akan sama dengan <b>kubus d</b>.'
      }
    ]
  }),

  validations: {
    sub: {
      contents: {
        durasi: {
          required,
          numeric
        }
      },
      soalName: {
        required
      }
    }
  },

  created() {
    this.action = this.$axios.defaults.baseURL + '/image-store';

    // update
    if (this.$route.params.id) {
      if (isEmpty(this.items.soal.subtest8)) {
        this.sub.contents = subtest8;
      } else {
        this.sub.contents = this.items.soal.subtest8;
      }
    } else {
      // create
      if (isEmpty(this.items.soal.subtest8)) {
        this.sub.contents = subtest8;
      } else {
        this.sub.contents = this.items.soal.subtest8;
      }
    }

    forEach(this.sub.contents.ilustrasi, (item, itemIndex) => {
      if (item.ilustrasiId !== 0) {
        this.fetchImage('ilustrasi', itemIndex);
      }
    });

    forEach(this.sub.contents.soal, (item, itemIndex) => {
      forEach(this.sub.contents.soal[itemIndex], (subItem, subIndex) => {
        if (subItem.gambarId !== 0) {
          this.fetchImage('soal', itemIndex, subIndex);
        }
      });
    });

    this.percent = 100 / this.sub.contents.soal.length;
    this.sub.soalName = this.items.soalName;
  },

  methods: {
    reset(val) {
      this.showPopUp = val;
    },

    requiredValidation() {
      let next = false;

      // ilustrasi
      forEach(this.sub.contents.ilustrasi, (item) => {
        if (item.ilustrasiId === 0) {
          item.required = true;
          next = true;
        }
      });

      // soal
      forEach(this.sub.contents.soal, (item, itemIndex) => {
        forEach(this.sub.contents.soal[itemIndex], (subItem) => {
          if (subItem.gambarId === 0) {
            subItem.required = true;
            next = true;
          }
        });
      });

      if (next) {
        this.forceRerender();
      }

      return next;
    },

    gantiIlustrasi(index) {
      this.sub.contents.ilustrasi[index].ilustrasiId = 0;
      this.sub.contents.ilustrasi[index].src = '';
      // commit to store
      this.$store.commit('ist/UPDATE_SUBTEST', {
        id: 'subtest8',
        data: this.sub.contents
      });
    },

    gantiSoal(nomor, itemIndex, subIndex) {
      this.sub.contents.soal[itemIndex][subIndex] = {
        nomor,
        gambarId: 0,
        tipeGambar: '',
        src: ''
      };
      this.forceRerender();
      // commit to store
      this.$store.commit('ist/UPDATE_SUBTEST', {
        id: 'subtest8',
        data: this.sub.contents
      });
    },

    forceRerender() {
      // remove the my-component component from the DOM
      this.renderComponent = false;

      this.$nextTick(() => {
        // add my-component component in DOM
        this.renderComponent = true;
      });
    },

    // moving directly
    movingDirectly(index) {
      let limit = this.sub.contents.soal.length - 1;

      this.index = index;
      this.progress(limit, index);

      this.showPopUp = false;

      // move to top
      document.getElementById('create-edit-ist-subtest8').scrollIntoView();
    },

    moving(param) {
      // set limit
      let limit = this.sub.contents.soal.length - 1;

      // plus
      if (param == 'plus') {
        if (this.index > limit - 1) {
          this.index = limit;
        } else {
          this.index++;
        }
      }

      // minus
      if (param == 'minus') {
        if (this.index <= 0) {
          this.index = 0;
        } else {
          this.index--;
        }
      }

      // change percent status
      this.progress(limit, this.index);

      // move to top
      document.getElementById('create-edit-ist-subtest8').scrollIntoView();
    },

    // progress bar value
    progress(limit, index) {
      this.percent = ((index + 1) / (limit + 1)) * 100;
    },

    getStart() {
      return this.sub.contents.soal[this.index][0].nomor;
    },

    getEnd() {
      let temp = this.sub.contents.soal[this.index];
      return this.sub.contents.soal[this.index][temp.length - 1].nomor;
    },

    getTotal() {
      let temp = [];

      map(this.sub.contents.soal, (item) => {
        map(item, (sub) => {
          temp.push(sub);
        });
      });

      return temp.length;
    },

    successUploadIlustrasi(index) {
      // data respone
      let data = JSON.parse(event.target.response).data;

      // set ilustrasiId
      const dataIlustrasi = this.sub.contents.ilustrasi[index];
      dataIlustrasi.ilustrasiId = data.imageId;

      // delete required
      delete dataIlustrasi['required'];

      // set image src
      this.fetchImage('ilustrasi', index);

      // update state
      this.$store.commit('ist/UPDATE_SUBTEST', {
        id: 'subtest8',
        data: this.sub.contents
      });
    },

    successUploadSoal(nomor, itemIndex, subIndex) {
      // data respone
      let data = JSON.parse(event.target.response).data;

      // set data soal
      this.sub.contents.soal[itemIndex][subIndex] = {
        nomor,
        gambarId: data.imageId,
        tipeGambar: data.imageType
      };

      // delete required
      let datasoal = this.sub.contents.soal[itemIndex][subIndex];
      delete datasoal['required'];

      // set image src
      this.fetchImage('soal', itemIndex, subIndex);

      // update state
      this.$store.commit('ist/UPDATE_SUBTEST', {
        id: 'subtest8',
        data: this.sub.contents
      });
    },

    fetchImage(type, itemIndex, subIndex) {
      let gambarId;
      if (type === 'soal') {
        gambarId = this.sub.contents.soal[itemIndex][subIndex].gambarId;
      } else {
        gambarId = this.sub.contents.ilustrasi[itemIndex].ilustrasiId;
      }

      this.$store
        .dispatch('ist/fetchImage', { id: gambarId })
        .then((res) => {
          if (type === 'soal') {
            this.sub.contents.soal[itemIndex][subIndex].src = res;
          } else {
            // type illustration
            this.sub.contents.ilustrasi[itemIndex].src = res;
          }
          this.forceRerender();
          return res;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    // store
    store() {
      this.$v.$touch();

      if (!this.requiredValidation()) {
        // update name
        this.$store.commit('ist/UPDATE_NAME', {
          soalName: this.sub.soalName
        });

        this.$store.commit('ist/UPDATE_SUBTEST', {
          id: 'subtest8',
          data: this.sub.contents
        });

        // if upadate
        if (this.$route.params.id) {
          if (this.$route.params.preview) {
            this.$router.push({
              name: 'DetailIst',
              params: {
                id: this.$route.params.id,
                preview: true
              }
            });
          }

          this.$router.push({
            name: 'UpdateIst',
            params: {
              id: this.$route.params.id
            }
          });
        } else {
          this.$router.push({ name: 'CreateIst' });
        }
      } else {
        this.showPopUp = true;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ .vs-upload--button-upload {
  background-color: #3179f5 !important;
  .material-icons {
    color: #ffffff !important;
  }
}

.box-error-required {
  border-color: #e53e3e;
  box-shadow: 0 0 4px #e53e3e;
}

/deep/ .box-class {
  position: relative;
  height: 331px;

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
    transition: 0.5s;
  }

  &:hover .close-button {
    opacity: 1;
  }
}

/deep/ .notasi {
  position: absolute;
  left: 0;
}

.con-image-upload {
  max-width: 100%;
  height: 200px;
  margin: auto;
  padding: 0;
  position: relative;
  overflow: hidden;
  display: flex;

  img {
    max-width: none;
    max-height: 100%;
    margin: auto;
  }
}

/deep/ .con-input-upload {
  margin: auto;
  float: none;
}

/deep/ .con-input-upload .text-input {
  font-size: 12px;
  font-weight: normal;
  padding: 8px !important;
}

/deep/ .vs-input--label {
  font-weight: 500;
}

/deep/ .vs-input--input.normal,
.vs-select--input {
  border: 1px solid #ececec !important;
}

/deep/ .con-vs-tabs .con-ul-tabs,
.vs-tabs--ul {
  display: none !important;
}
</style>
