<template>
  <div id="create-edit-ist-subtest3">
    <question
      :name="$t('menu.subtest3.name')"
      type="pg"
      :items="subItems"
      :theme="2"
      :sub="true"
      @save="save"
    >
      <!-- TODO SHOW INSTRUCTION -->
      <template v-slot:instruction v-if="disabled">
        <div v-html="items.petunjuk[2].petunjuk"></div>
      </template>

      <!-- TODO SHOW EXAMPLE -->
      <template v-slot:example v-if="disabled">
        <example
          :items="['batu bata', 'rumah', 'semen', 'putih', 'dinding']"
          answer="batu bata"
        >
          <template v-slot:soal>
            <p>
              Hutan : pohon = tembok : ... ?
            </p>
          </template>
          <template v-slot:description>
            "Hubungan antara hutan dan pohon ialah hutan terdiri atas
            pohon-pohon, maka hubungan antara tembok dan salah satu kata pilihan
            jawaban ialah bahwa tembok terdiri atas batu bata. Oleh karena itu
            pilihlah huruf a sebagai jawaban Saudara. "
          </template>
        </example>
      </template>
    </question>
  </div>
</template>

<script>
// vuex
import { mapGetters } from 'vuex';
import { cloneDeep, isEmpty } from 'lodash';

// constants
import { subtest3 } from '@/views/Materi/PsychologicalAssessment/Question/Ist/subtestLookupItems';

// components
import Question from '@/components/materi/psychological_assessment/Question';
import Example from '@/components/materi/psychological_assessment/Example';

export default {
  name: 'CreateEditsubtest3',

  components: {
    Example,
    Question
  },

  computed: {
    ...mapGetters({
      items: 'ist/items',
      isInitialized: 'ist/isInitialized'
    })
  },

  data: () => ({
    id: null,
    version: null,
    disabled: false,
    subItems: null
  }),

  created() {
    this.id = this.$route.params.id;
    this.version = this.$route.params.version;
    this.disabled = this.$route.meta.disabled;

    if (this.id) {
      this.subItems = cloneDeep(this.items.soal.subtest3);

      if (isEmpty(this.items.soal.subtest3)) {
        this.subItems = cloneDeep(subtest3);
        this.subItems.soalName = this.items.soalName;
      } else {
        /* --------------------------------------------------- */
        this.subItems.soalName = this.items.soalName;
        /* --------------------------------------------------- */
      }
    } else {
      if (isEmpty(this.items.soal.subtest3)) {
        this.subItems = cloneDeep(subtest3);
        this.subItems.soalName = this.items.soalName;
      } else {
        if (isEmpty(this.items.soal.subtest3)) {
          this.subItems = cloneDeep(subtest3);
          this.subItems.soalName = this.items.soalName;
        } else {
          this.subItems = this.items.soal.subtest3;
          this.subItems.soalName = this.items.soalName;
        }
      }
    }
  },

  methods: {
    /* submit subtest items process */
    save(value) {
      /* update ist name */
      this.$store.commit('ist/UPDATE_NAME', {
        soalName: value.soalName
      });

      /* update ist subtest items */
      let subtestItems = cloneDeep(value);
      delete subtestItems.soalName;

      this.$store.commit('ist/UPDATE_SUBTEST', {
        id: 'subtest3',
        data: subtestItems
      });

      if (this.id) {
        if (this.disabled) {
          this.$router.push({
            name: 'DetailIst',
            params: {
              id: this.id,
              version: this.version
            }
          });
        }

        this.$router.push({
          name: 'UpdateIst',
          params: {
            id: this.id,
            version: this.version
          }
        });
      } else {
        this.$router.push({ name: 'CreateIst' });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ .vs-input--label {
  font-weight: 500;
}

/deep/ .vs-input--input.normal,
.vs-select--input {
  border: 1px solid #ececec !important;
}
</style>
