<template>
  <vs-popup
    :title="$t('label.sheet_arg', { attribute: $t('label.memory') })"
    :active.sync="show"
  >
    <div class="w-full">
      <box-header
        class="mx-6 mb-6"
        :title="$t('label.group_words_arg', { attribute: index + 1 })"
        :key="index"
        v-for="(item, index) in form.keterangan"
      >
        <div class="flex flex-wrap">
          <div class="w-full px-2">
            <form-group
              :name="$t('label.group_words_arg', { attribute: index + 1 })"
              :validator="$v.form.keterangan.$each.$iter[index].nama"
            >
              <vs-input
                color="primary"
                class="w-full"
                v-model.trim="item.nama"
                :label="
                  $t('label.name_arg', { attribute: $t('label.group_words') })
                "
                :danger="$v.form.keterangan.$each.$iter[index].nama.error"
              />
            </form-group>
          </div>

          <div class="flex flex-wrap">
            <div
              class="w-full lg:w-1/5 px-2"
              :key="subIndex"
              v-for="(subItem, subIndex) in item.opsi"
            >
              <form-group
                :name="$t('label.word_arg', { attribute: subIndex + 1 })"
                :validator="
                  $v.form.keterangan.$each.$iter[index].opsi.$each.$iter[
                    subIndex
                  ].value
                "
              >
                <vs-input
                  color="primary"
                  class="w-full"
                  v-model.trim="subItem.value"
                  :label="$t('label.word_arg', { attribute: subIndex + 1 })"
                  :danger="
                    $v.form.keterangan.$each.$iter[index].opsi.$each.$iter[
                      subIndex
                    ].value.error
                  "
                />
              </form-group>
            </div>
          </div>
        </div>
      </box-header>

      <div class="h-4"></div>

      <div class="flex justify-end mx-6 pb-2">
        <vs-button
          class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
          color="secondary"
          type="border"
          @click="reset"
        >
          {{ $t('label.cancel') }}
        </vs-button>
        <vs-button
          class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
          color="primary"
          type="filled"
          ref="loadingBtn"
          @click="save"
        >
          {{ edit ? $t('label.update') : $t('label.save') }}
        </vs-button>
      </div>
    </div>
  </vs-popup>
</template>

<script>
// json
import { cloneDeep } from 'lodash';
import { required, minLength } from 'vuelidate/lib/validators';

// base component
import BoxHeader from '@/components/base/BoxHeader';
import FormGroup from '@/components/base/FormGroup';

export default {
  name: 'MemorySheetPopUp',

  components: {
    BoxHeader,
    FormGroup
  },

  props: {
    showPopUp: {
      type: Boolean,
      default: false
    },

    data: {
      type: Array,
      default: () => []
    }
  },

  watch: {
    showPopUp(val) {
      this.show = val;

      if (this.$route.params.id) {
        this.edit = true;
      }
    },

    show(val) {
      this.$emit('closed', val, this.form.keterangan);
    }
  },

  created() {
    this.form.keterangan = cloneDeep(this.data);
  },

  data: () => ({
    show: false,
    edit: false,
    form: {
      keterangan: []
    }
  }),

  validations: {
    form: {
      keterangan: {
        required,
        minLength: minLength(1),
        $each: {
          nama: {
            required
          },
          opsi: {
            required,
            minLength: minLength(1),
            $each: {
              value: {
                required
              }
            }
          }
        }
      }
    }
  },

  methods: {
    reset() {
      this.form.keterangan = cloneDeep(this.data);
      this.$emit('closed', false, this.form.keterangan);
    },

    save() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.show = false;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ .vs-input--label {
  font-weight: 500;
}

/deep/ .vs-input--input.normal,
.vs-select--input {
  border: 1px solid #ececec !important;
}
</style>
