<template>
  <div id="base-sidebar" v-click-outside="hide">
    <div
      class="bg-app-primary flex items-center justify-center fixed inset-x-0 top-0 mt-12 z-10 w-8 h-8 rounded-r-lg"
      @click="toggle"
    >
      <vs-icon icon="menu" />
    </div>
    <div v-show="isOpen" class="z-10 lg:block">
      <vs-sidebar
        default-index="-1"
        color="primary"
        class="sidebarx h-full"
        spacer
        :parent="parent"
        :hidden-background="true"
        v-model="isSidebarActive"
      >
        <div>
          <div class="header-sidebar w-full px-3 py-0" slot="header">
            <div class="flex my-1 bg-white p-2 mx-2 rounded-md">
              <img :src="logo" alt="LOGO" v-if="logo" class="mx-2 h-16" />
            </div>
          </div>

          <div class="p-4">
            <!-- informasi proyek -->
            <div
              class="wrap-informasi-proyek pb-3"
              v-if="$acl.check('isAsesorOnly') && informasiProyek !== null"
            >
              <div
                class="text-base text-white font-medium pb-3 border-b-2 border-white border-solid"
              >
                Informasi Proyek
              </div>
              <div class="py-3 border-b-2 border-white border-solid">
                <div class="text-sm text-white pb-1">
                  Nama Proyek
                </div>
                <div class="text-sm text-white font-medium">
                  {{ informasiProyek.namaProyek }}
                </div>
              </div>
              <div class="py-3 border-b-2 border-white border-solid">
                <div class="text-sm text-white pb-1">
                  Target Job
                </div>
                <div class="text-sm text-white font-medium">
                  {{ informasiProyek.targetJob.targetJobName }}
                </div>
              </div>
              <div class="py-3 border-b-2 border-white border-solid">
                <div class="text-sm text-white pb-1">
                  Tanggal Pelaksanaan
                </div>
                <div class="text-sm text-white font-medium">
                  {{
                    informasiProyek.tanggalBreafing
                      | converDatetime
                      | moment('DD MMM YYYY')
                  }}
                  -
                  {{
                    informasiProyek.tanggalPenyerahanLaporan
                      | converDatetime
                      | moment('DD MMM YYYY')
                  }}
                </div>
              </div>
            </div>
            <template v-for="(sidebarItem, index) in sidebarItems">
              <!-- GROUP ITEM HEADER -->
              <vs-sidebar-item
                v-if="!sidebarItem.subMenu && $acl.check(sidebarItem.rule)"
                :to="{ name: sidebarItem.url }"
                :index="index"
                :key="`sidebarItem-${index}`"
                :icon="sidebarItem.icon"
              >
                {{ $t(sidebarItem.i18n).name }}
              </vs-sidebar-item>

              <sidebar-group
                v-if="sidebarItem.subMenu && $acl.check(sidebarItem.rule)"
                :index="index"
                :key="`sidebarGroupItem-${index}`"
                :title="$t(sidebarItem.i18n).name"
                :icon="sidebarItem.icon"
              >
                <template v-for="(sub, subIndex) in sidebarItem.subMenu">
                  <vs-sidebar-item
                    v-if="!sub.subMenu && $acl.check(sub.rule)"
                    :key="`sidebarGroupItem-${index}-${subIndex}`"
                    :to="{ name: sub.url }"
                    :index="`${index}.${subIndex}`"
                    :icon="sub.icon"
                  >
                    {{ $t(sub.i18n).name }}
                  </vs-sidebar-item>

                  <sidebar-group
                    v-if="sub.subMenu && $acl.check(sub.rule)"
                    :index="subIndex"
                    :key="`sidebarGroupItem-${subIndex}`"
                    :title="$t(sub.i18n).name"
                    :icon="sub.icon"
                  >
                    <template v-for="(thirdSub, thirdSubIndex) in sub.subMenu">
                      <vs-sidebar-item
                        v-if="$acl.check(thirdSub.rule)"
                        :key="
                          `sidebarGroupItem-${index}-${subIndex}-${thirdSubIndex}`
                        "
                        :to="{ name: thirdSub.url }"
                        :index="`${index}.${subIndex}.${thirdSubIndex}`"
                        :icon="thirdSub.icon"
                      >
                        {{ $t(thirdSub.i18n).name }}
                      </vs-sidebar-item>
                    </template>
                  </sidebar-group>
                </template>
              </sidebar-group>
            </template>
          </div>
        </div>
      </vs-sidebar>
    </div>
  </div>
</template>

<script>
// vuex
import { mapGetters } from 'vuex';
import { filtersMixin } from '@/mixins/filter';

import ClickOutside from 'vue-click-outside';
import SidebarGroup from '@/components/sidebar/SidebarGroup';

export default {
  name: 'BaseSidebar',

  props: {
    sidebarItems: {
      type: Array,
      required: true
    },
    title: {
      type: String
    },
    logo: {
      type: String
    },
    parent: {
      type: String
    },
    openGroupHover: {
      type: Boolean,
      default: false
    },
    reduceNotRebound: {
      type: Boolean,
      default: true
    }
  },

  directives: {
    ClickOutside
  },

  mixins: [filtersMixin],

  components: {
    SidebarGroup
    // VuePerfectScrollbar
  },

  data: () => ({
    isSidebarActive: true,
    settings: {
      // perfectscrollbar settings
      maxScrollbarLength: 60,
      wheelSpeed: 1,
      swipeEasing: true
    },
    isMobile: false,
    isOpen: true
  }),

  computed: {
    ...mapGetters({
      informasiProyek: 'project/detailProyek',
      roles: 'auth/currentRoles'
    })
  },

  beforeDestroy() {
    if (typeof window !== 'undefined') {
      window.removeEventListener('resize', this.onResize, { passive: true });
    }
  },

  mounted() {
    this.onResize();
    window.addEventListener('resize', this.onResize, { passive: true });
  },

  methods: {
    toggle() {
      this.isOpen = !this.isOpen;
    },

    hide() {
      if (!this.isMobile) return;
      this.isOpen = false;
    },

    open() {
      this.isOpen = true;
    },

    onResize() {
      this.isOpen = window.innerWidth >= 1024;
      this.isMobile = window.innerWidth < 1024;
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ .vs-sidebar {
  background: linear-gradient(0deg, #44c4f1 0%, #2071ee 100%);
  .material-icons {
    font-size: 24px;
  }
}

/deep/ .vs-sidebar--items {
  height: 100%;
}

/deep/ .vs-sidebar--item {
  a {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    justify-content: start;
    align-items: center;
    color: #ffffff !important;
    opacity: 1;
  }
}

/deep/ .vs-sidebar--item {
  margin-bottom: 6px;
}

/deep/
  .vs-sidebar-group.vs-sidebar-group-open
  > ul
  .vs-sidebar--item:last-child {
  border-bottom: 0;
}

/deep/ .vs-sidebar--group-items .vs-sidebar--item a {
  padding: 10px 0;
}

/deep/ .vs-sidebar-primary .vs-sidebar-item-active {
  border-radius: 4px;
  box-shadow: 1px -1px 8px 0 rgba(187, 148, 87, 0.56);
  background-color: #f1b102;
  border-right: none !important;

  a {
    color: #000000 !important;
  }
}

/deep/ .vs-sidebar--items .vs-sidebar-group .vs-sidebar--item .material-icons {
  font-size: 15px;
  padding-left: 4px;
  padding-right: 4px;
}
</style>
