<template>
  <div
    :class="{ 'vs-sidebar-group-open': openItems }"
    class="vs-sidebar-group"
    @mouseover="mouseover"
    @mouseout="mouseout"
  >
    <h4 @click="clickGroup">
      <vs-icon
        :icon-pack="iconPack"
        :icon="icon"
        class="w-8 group-icon"
      ></vs-icon>
      {{ title }}
      <vs-icon>keyboard_arrow_down</vs-icon>
    </h4>
    <span class="vs-sidebar--tooltip">{{ title }}</span>
    <ul ref="items" :style="styleItems" class="vs-sidebar--group-items">
      <slot></slot>
    </ul>
  </div>
</template>
<script>
export default {
  name: 'SidebarGroup',
  props: {
    collapsed: {
      default: false,
      type: Boolean
    },
    icon: {
      default: null,
      type: String
    },
    iconPack: {
      default: 'material-icons',
      type: String
    },
    title: {
      default: null,
      type: String
    },
    openHover: {
      default: false,
      type: Boolean
    },
    open: {
      default: false,
      type: Boolean
    }
  },
  data: () => ({
    maxHeight: '0px',
    openItems: false
  }),
  computed: {
    styleItems() {
      return {
        maxHeight: this.maxHeight
      };
    }
  },
  watch: {
    maxHeight() {
      this.openItems = this.maxHeight != '0px';
    }
  },
  mounted() {
    this.openItems = this.open;
    if (this.open) {
      this.maxHeight = 'none';
    }
  },
  methods: {
    getActive() {
      return this.$parent.getActive();
    },
    setIndexActive(index) {
      this.$parent.setIndexActive(index);
    },
    clickGroup() {
      if (!this.openHover) {
        let scrollHeight = this.$refs.items.scrollHeight;
        if (this.maxHeight == '0px') {
          this.maxHeight = `${scrollHeight}px`;
          setTimeout(() => {
            this.maxHeight = 'none';
          }, 300);
        } else {
          this.maxHeight = `${scrollHeight}px`;
          setTimeout(() => {
            this.maxHeight = `${0}px`;
          }, 50);
        }
      }
    },
    mouseover() {
      if (this.openHover) {
        let scrollHeight = this.$refs.items.scrollHeight;
        this.maxHeight = `${scrollHeight}px`;
      }
    },
    mouseout() {
      if (this.openHover) {
        let scrollHeight = 0;
        this.maxHeight = `${scrollHeight}px`;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.vs-sidebar-group h4 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  justify-content: start;
  align-items: center;
  color: #ffffff;
}

.vs-sidebar-group h4 .group-icon {
  position: static;
  text-align: left;
}

.vs-sidebar-group.vs-sidebar-group-open > h4 > .vs-icon.group-icon {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  transform: none !important;
}

.vs-sidebar-group.vs-sidebar-group-open > h4 {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.11);
  border-radius: 4px;
  margin-bottom: 6px;
}

.vuesax-app-is-ltr .vs-sidebar-group.vs-sidebar-group-open > ul {
  padding-left: 0;
}

.vs-sidebar-primary .vs-sidebar-item-active {
  border-radius: 4px;
  box-shadow: 1px -1px 8px 0 rgba(187, 148, 87, 0.56);
  background-color: #f1b102;
  border-right: none !important;
}

.vs-sidebar--group-items .vs-sidebar--item {
  padding-left: 10px;
}
</style>
