<template>
  <div>
    <TitleSection
      class="bg-shades-blue-light"
      :title="$t('label.competency')"
    />
    <div class="flex flex-wrap lg:flex-no-wrap -mx-2">
      <div
        class="w-full mx-2 mb-4"
        :class="[...(isDisabled ? [] : ['lg:w-3/4'])]"
      >
        <BoxHeader class="h-full">
          <template v-if="competencies && competencies.length > 0">
            <div :key="competencies.length">
              <div class="flex w-full justify-end py-4">
                <vs-button
                  v-if="!isDisabled"
                  @click="showCompetency = true"
                  class="text-xs px-8 font-medium"
                  color="primary"
                  type="filled"
                >
                  {{ $t('label.add') }}
                  {{ $t('label.competency') }}
                </vs-button>
              </div>
              <vs-tabs>
                <template v-for="(kompetensi, index) in competencies">
                  <vs-tab
                    :key="'kompetensi-' + index"
                    :label="
                      kompetensi.namaKompetensi
                        ? kompetensi.namaKompetensi
                        : 'Untitled'
                    "
                  >
                    <div class="flex flex-wrap ">
                      <div class="w-full flex flex-wrap">
                        <div class="w-full md:w-1/3 px-2">
                          <FormGroup
                            :name="$t('label.category')"
                            :validator="
                              $v.competencies.$each.$iter[index].namaKompetensi
                            "
                          >
                            <vs-input
                              color="primary"
                              class="w-full field-required"
                              v-model.trim="competencies[index].namaKompetensi"
                              :disabled="isLoading || isDisabled"
                              :danger="
                                $v.competencies.$each.$iter[index]
                                  .namaKompetensi.error
                              "
                              :label="
                                $t('label.name_arg', {
                                  attribute: $t('label.competency')
                                })
                              "
                              :placeholder="
                                $t('placeholder.input_general', {
                                  attribute: $t('label.name_arg', {
                                    attribute: $t('label.competency')
                                  })
                                })
                              "
                            />
                          </FormGroup>
                        </div>

                        <vs-button
                          v-if="!isDisabled"
                          @click="
                            removeCompetency(index, kompetensi.kompetensiId)
                          "
                          class="text-xs px-8 font-medium ml-auto mr-2 md:my-8"
                          color="danger"
                          type="filled"
                        >
                          {{ $t('label.delete') }}
                        </vs-button>
                      </div>

                      <div class="w-full lg:w-1/2 px-2">
                        <FormGroup
                          :name="$t('label.definition')"
                          :validator="
                            $v.competencies.$each.$iter[index].definisi
                          "
                        >
                          <vs-textarea
                            class="field-required"
                            :label="$t('label.definition')"
                            :danger="
                              $v.competencies.$each.$iter[index].definisi.error
                            "
                            :placeholder="
                              $t('placeholder.input_general', {
                                attribute: $t('label.definition')
                              })
                            "
                            :disabled="isLoading || isDisabled"
                            v-model.trim="competencies[index].definisi"
                          />
                        </FormGroup>
                      </div>

                      <div class="w-full lg:w-1/2 px-2">
                        <FormGroup
                          :name="$t('label.keyword')"
                          :validator="
                            $v.competencies.$each.$iter[index].keyword
                          "
                        >
                          <vs-textarea
                            :label="$t('label.keyword')"
                            :placeholder="
                              $t('placeholder.input_general', {
                                attribute: $t('label.keyword')
                              })
                            "
                            :disabled="isLoading || isDisabled"
                            :danger="
                              $v.competencies.$each.$iter[index].keyword.error
                            "
                            v-model.trim="competencies[index].keyword"
                          />
                        </FormGroup>
                      </div>

                      <div class="w-full lg:w-1/2 px-2 field-required">
                        <label for="" class="vs-input--label">
                          {{ $t('label.key_behavior') }}
                        </label>
                      </div>
                      <div
                        v-for="(behavior, behaviorIndex) in competencies[index]
                          .keyBehaviours"
                        :key="'behavior-' + index + '-' + behaviorIndex"
                        class="w-full flex items-center px-2 mb-2"
                      >
                        <FormGroup
                          class="w-4/5"
                          :name="$t('label.key_behavior')"
                          :validator="
                            $v.competencies.$each.$iter[index].keyBehaviours
                              .$each.$iter[behaviorIndex].value
                          "
                        >
                          <vs-input
                            color="primary"
                            class="w-full"
                            v-model.trim="
                              competencies[index].keyBehaviours[behaviorIndex]
                                .value
                            "
                            :danger="
                              $v.competencies.$each.$iter[index].keyBehaviours
                                .$each.$iter[behaviorIndex].value.error
                            "
                            :disabled="isLoading || isDisabled"
                          />
                        </FormGroup>

                        <vs-button
                          v-if="
                            !isDisabled &&
                              competencies[index].keyBehaviours.length > 1
                          "
                          @click="removeKeyBehavior(index, behaviorIndex)"
                          class="ml-2"
                          color="danger"
                          type="flat"
                          icon="clear"
                          v-tooltip="$t('label.delete')"
                        ></vs-button>
                        <vs-button
                          v-if="
                            !isDisabled &&
                              behaviorIndex ==
                                competencies[index].keyBehaviours.length - 1
                          "
                          @click="addKeyBehavior(index)"
                          color="primary"
                          type="flat"
                          icon="add_circle_outline"
                          v-tooltip="$t('label.add')"
                        ></vs-button>
                      </div>
                    </div>
                  </vs-tab>
                </template>
              </vs-tabs>
            </div>
          </template>

          <template v-else>
            <NoData
              :title="
                $t('content.no_data_title', {
                  attribute: $t('label.competency')
                })
              "
              :subtitle="
                $t('content.no_data_subtitle', {
                  attribute: $t('label.competency')
                })
              "
            >
              <template v-slot:action>
                <vs-button
                  v-if="!isDisabled"
                  @click="showCompetency = true"
                  class="text-xs px-8 font-medium"
                  color="primary"
                  type="filled"
                >
                  {{ $t('label.add') }}
                  {{ $t('label.competency') }}
                </vs-button>
              </template>
            </NoData>
          </template>
        </BoxHeader>
      </div>

      <div v-if="!isDisabled" class="w-full lg:w-1/4 mx-2 mb-4">
        <BoxHeader class="h-full">
          <div class="my-4 flex flex-col justify-center items-center">
            <p class="text-gray-500 text-xs text-center mb-4">
              {{ $t('content.import_target_job') }}
            </p>

            <vs-button
              class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
              color="secondary"
              type="border"
              @click="showTargetJob = true"
            >
              {{ $t('label.import_competency') }}
            </vs-button>

            <hr class="my-4 w-full" />
            <vue-xlsx-table @on-select-file="handleSelectedFile">
              <vs-icon class="cursor-pointer" color="white">
                backup
              </vs-icon>
              {{ $t('content.import_excel') }}
            </vue-xlsx-table>
          </div>
        </BoxHeader>
      </div>
    </div>

    <div
      v-if="!isDisabled && competencies && competencies.length > 0"
      class="flex justify-end my-8"
    >
      <vs-button
        class="text-xs px-8 ml-2 font-medium w-full md:w-auto vs-con-loading__container"
        color="primary"
        type="filled"
        ref="loadingBtn"
        :disabled="isLoading"
        @click="save"
      >
        {{ $t('label.save') }}
      </vs-button>
    </div>

    <div class="border-4 border-gray-200 my-8 w-full" />

    <Competency
      :showPopup="showCompetency"
      @saved="addCompetency"
      @closed="showCompetency = false"
    />

    <TargetJobCopy
      :showPopup="showTargetJob"
      @saved="addCopyCompetency"
      @closed="showTargetJob = false"
    />
  </div>
</template>

<script>
import { required, maxLength, minLength } from 'vuelidate/lib/validators';
import { alphabetic } from '@/mixins/validator';
import { loadingMixin } from '@/mixins/loading';
import BoxHeader from '@/components/base/BoxHeader.vue';
import Competency from '@/components/master/perusahaan/Competency.vue';
import TargetJobCopy from '@/components/master/perusahaan/TargetJobCopy.vue';
import FormGroup from '@/components/base/FormGroup.vue';
import NoData from '@/components/base/NoData.vue';
import TitleSection from '@/components/base/TitleSection.vue';

export default {
  name: 'Kompetensi',

  props: {
    kamusKompetensiId: {
      type: [String, Number],
      default: ''
    },
    items: {
      type: Array,
      default: () => {
        return [];
      }
    },
    isDisabled: {
      type: Boolean,
      default: false
    }
  },

  mixins: [loadingMixin],

  components: {
    BoxHeader,
    Competency,
    FormGroup,
    NoData,
    TitleSection,
    TargetJobCopy
  },

  data: () => ({
    action: '',
    competencies: [],
    isLoading: false,
    images: {
      filename: '',
      value: ''
    },
    show: false,
    showCompetency: false,
    showTargetJob: false
  }),

  watch: {
    items(newVal) {
      this.competencies = newVal;
    }
  },

  validations: {
    competencies: {
      required,
      minLength: minLength(1),
      $each: {
        namaKompetensi: {
          required,
          alphabetic,
          maxLength: maxLength(100)
        },
        definisi: {
          required,
          maxLength: maxLength(1000)
        },
        keyword: {
          maxLength: maxLength(1000)
        },
        keyBehaviours: {
          required,
          minLength: minLength(1),
          $each: {
            value: {
              required,
              maxLength: maxLength(300)
            }
          }
        }
      }
    }
  },

  mounted() {
    if (this.items) {
      this.competencies = this.items;
    }
  },

  methods: {
    addCompetency(params) {
      if (!this.competencies) {
        this.competencies = [];
      }

      this.competencies.push(params);
      this.showCompetency = false;
    },

    addCopyCompetency(params) {
      if (!this.competencies) {
        this.competencies = [];
      }

      params.kompetensi.map((item) => {
        this.competencies.push(item);
      });
      this.showTargetJob = false;
    },

    removeCompetency(index, id) {
      let temp = JSON.parse(JSON.stringify(this.competencies));
      temp.splice(index, 1);
      this.competencies = temp;

      if (id) {
        let payload = {
          kamusKompetensiId: id
        };
        this.$store
          .dispatch('kamusKompetensi/fetchDeleteKompetensi', payload)
          .then(() => {
            this.$store.dispatch('general/showSuccessNotification', {
              message: this.$t('label.success'),
              textMessage: this.$t('content.delete_message')
            });
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          });
      }
    },

    addKeyBehavior(parentIndex) {
      if (!this.competencies[parentIndex].keyBehaviours) {
        this.competencies[parentIndex].keyBehaviours = [];
      }

      this.competencies[parentIndex].keyBehaviours.push({ value: '' });
    },

    removeKeyBehavior(parentIndex, index) {
      let temp = JSON.parse(
        JSON.stringify(this.competencies[parentIndex].keyBehaviours)
      );
      temp.splice(index, 1);
      this.competencies[parentIndex].keyBehaviours = temp;
    },

    save() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.isLoading = true;
        this.loadingButton(this.$refs.loadingBtn.$el);
        let storeAction = 'kamusKompetensi/fetchSaveKompetensi';
        let payload = {
          targetJobId: this.$route.params.jobId,
          kamusKompetensiId: this.kamusKompetensiId,
          data: this.competencies
        };

        // if (this.isEdit) {
        //   storeAction = 'targetJob/fetchUpdate';
        //   payload['id'] = this.form.targetJobId;
        // }

        this.$store
          .dispatch(storeAction, payload)
          .then(() => {
            this.$emit('save');
            this.$store.dispatch('general/showSuccessNotification', {
              message: this.$t('label.success'),
              textMessage: this.$t('content.update_message')
            });
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          })
          .finally(() => {
            this.isLoading = false;
            this.closeLoading(this.$refs.loadingBtn.$el);
          });
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });
      }
    },

    handleSelectedFile(convertedData) {
      convertedData.body.map((item) => {
        let payload = {
          kompetensiId: '',
          namaKompetensi: item['NAMA KOMPETENSI'],
          definisi: item['DEFINISI'],
          keyword: item['KEYWORD'],
          keyBehaviours: []
        };

        let behaviours = item['KEY BEHAVIOR'].split(';');
        if (behaviours.length > 0) {
          behaviours.map((behavior) => {
            if (!behavior) return;

            payload['keyBehaviours'].push({
              value: behavior
            });
          });
        } else {
          payload['keyBehaviours'].push({
            value: ''
          });
        }

        this.addCompetency(payload);
      });
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ .vue-xlsx-container {
  @apply bg-gray-200;
  @apply h-40;
  @apply w-full;
  @apply relative;
  @apply rounded-lg;

  /deep/ .xlsx-button {
    @apply absolute;
    @apply inset-0;
    @apply w-full;
    @apply h-full;
    @apply bg-gray-200;
    @apply text-xs;
    @apply font-semibold;
    @apply font-montserrat;
    @apply text-black;
    @apply border-0;
    @apply rounded-lg;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply flex-col;

    /deep/ .vs-icon {
      margin-bottom: 4px;
      font-size: 5em;
    }
  }
}

/deep/ .con-input-upload .text-input {
  @apply font-montserrat;
  @apply text-xs;
}

/deep/ .wrap-button-kb .material-icons {
  @apply text-3xl;
}

/deep/ .v-collapse-group.h-full > .vc-collapse,
/deep/ .v-collapse-group.h-full > .vc-collapse > div {
  @apply h-full;
}
</style>
