<template>
  <div>
    <TitleSection
      class="bg-shades-blue-light"
      :title="$t('label.recomendation_criteria')"
    />

    <BoxHeader :shadow="recomendations && recomendations.length <= 0">
      <template v-if="recomendations && recomendations.length > 0">
        <div class="flex w-full justify-end py-4">
          <vs-button
            v-if="!isDisabled"
            @click="showRecomendation = true"
            class="text-xs px-8 font-medium"
            color="primary"
            type="filled"
          >
            {{ $t('label.add') }} {{ $t('label.recomendation_criteria') }}
          </vs-button>
        </div>

        <vs-tabs>
          <template v-for="(rekomendasi, indexRekomendasi) in recomendations">
            <vs-tab
              :key="'kriteria-rekomendasi-' + indexRekomendasi"
              :label="
                rekomendasi.namaKriteria ? rekomendasi.namaKriteria : 'Untitled'
              "
            >
              <div>
                <div class="w-full flex flex-wrap">
                  <div class="w-full md:w-1/3 px-2">
                    <FormGroup
                      :name="$t('label.recomendation_criteria')"
                      :validator="
                        $v.recomendations.$each.$iter[indexRekomendasi]
                          .namaKriteria
                      "
                    >
                      <vs-input
                        color="primary"
                        class="w-full field-required"
                        v-model.trim="
                          recomendations[indexRekomendasi].namaKriteria
                        "
                        :disabled="isLoading || isDisabled"
                        :label="$t('label.recomendation_criteria')"
                        :placeholder="
                          $t('placeholder.input_general', {
                            attribute: $t('label.recomendation_criteria')
                          })
                        "
                        :danger="
                          $v.recomendations.$each.$iter[indexRekomendasi]
                            .namaKriteria.error
                        "
                      />
                    </FormGroup>
                  </div>

                  <vs-button
                    v-if="!isDisabled"
                    @click="
                      removeRecomendation(
                        indexRekomendasi,
                        rekomendasi.kriteriaRekomendasiId
                      )
                    "
                    class="text-xs px-8 font-medium ml-auto mr-2 md:my-8"
                    color="danger"
                    type="filled"
                  >
                    {{ $t('label.delete') }}
                  </vs-button>
                </div>

                <hr class="my-4" />

                <div class="w-full lg:w-1/2 px-2 mt-8 mb-4">
                  <label
                    class="text-lg text-gray-700 font-medium font-montserrat"
                  >
                    {{ $t('label.clasification') }}
                  </label>
                </div>

                <v-collapse-group>
                  <template
                    v-for="(kriteriaRekomendasi,
                    index) in rekomendasi.klasifikasi"
                  >
                    <v-collapse-wrapper
                      :key="'kriteria-penilaian-' + index"
                      :active="true"
                      class="my-4 p-4 border rounded-lg shadow-md"
                    >
                      <div class="flex items-center">
                        <div class="w-full flex items-center p-2 rounded">
                          <span
                            class="block w-full text-xs font-semibold text-grey-700 px-1 capitalize"
                          >
                            {{
                              kriteriaRekomendasi.kategori
                                ? kriteriaRekomendasi.kategori
                                : 'Untitled'
                            }}
                          </span>

                          <vs-button
                            v-if="!isDisabled"
                            @click="
                              removeClasification(indexRekomendasi, index)
                            "
                            :disabled="rekomendasi.klasifikasi.length <= 1"
                            class="mx-2"
                            color="danger"
                            type="flat"
                            icon="clear"
                            v-tooltip="$t('label.delete')"
                          ></vs-button>

                          <vs-icon
                            class="header cursor-pointer"
                            v-collapse-toggle
                            color="primary"
                          >
                            expand_more
                          </vs-icon>
                        </div>
                      </div>
                      <div class="my-content" v-collapse-content>
                        <div class="flex flex-wrap ">
                          <div class="w-full flex flex-wrap">
                            <div class="w-full md:w-1/2 px-2">
                              <FormGroup
                                :name="$t('label.category')"
                                :validator="
                                  $v.recomendations.$each.$iter[
                                    indexRekomendasi
                                  ].klasifikasi.$each.$iter[index].kategori
                                "
                              >
                                <!-- change here -->
                                <vs-input
                                  color="primary"
                                  class="w-full field-required"
                                  v-model.trim="
                                    recomendations[indexRekomendasi]
                                      .klasifikasi[index].kategori
                                  "
                                  :disabled="isLoading || isDisabled"
                                  :label="
                                    $t('label.category_recommendation_criteria')
                                  "
                                  :placeholder="
                                    $t('placeholder.input_general', {
                                      attribute: $t(
                                        'label.category_recommendation_criteria'
                                      )
                                    })
                                  "
                                  :danger="
                                    $v.recomendations.$each.$iter[
                                      indexRekomendasi
                                    ].klasifikasi.$each.$iter[index].kategori
                                      .error
                                  "
                                />
                              </FormGroup>
                            </div>
                          </div>

                          <div class="w-full px-2">
                            <FormGroup
                              :name="
                                $t('label.information', {
                                  attribute: $t(
                                    'label.category_recommendation_criteria'
                                  )
                                })
                              "
                              :validator="
                                $v.recomendations.$each.$iter[indexRekomendasi]
                                  .klasifikasi.$each.$iter[index]
                                  .keteranganKriteriaRekomendasi
                              "
                            >
                              <!--  change here !  -->
                              <vs-textarea
                                class="field-required"
                                :label="
                                  $t('label.information', {
                                    attribute: $t(
                                      'label.category_recommendation_criteria'
                                    )
                                  })
                                "
                                :placeholder="
                                  $t('placeholder.input_general', {
                                    attribute: $t('label.information', {
                                      attribute: $t(
                                        'label.category_recommendation_criteria'
                                      )
                                    })
                                  })
                                "
                                :disabled="isLoading || isDisabled"
                                :danger="
                                  $v.recomendations.$each.$iter[
                                    indexRekomendasi
                                  ].klasifikasi.$each.$iter[index]
                                    .keteranganKriteriaRekomendasi.error
                                "
                                v-model.trim="
                                  recomendations[indexRekomendasi].klasifikasi[
                                    index
                                  ].keteranganKriteriaRekomendasi
                                "
                              />
                            </FormGroup>
                          </div>
                        </div>
                      </div>
                    </v-collapse-wrapper>
                  </template>
                </v-collapse-group>

                <div class="flex w-full py-4">
                  <vs-button
                    v-if="!isDisabled"
                    @click="
                      showClasification = true;
                      currentActiveRecomendation = indexRekomendasi;
                    "
                    class="text-xs px-8 font-medium"
                    color="primary"
                    type="filled"
                  >
                    {{ $t('label.add') }}
                    {{ $t('label.clasification') }}
                  </vs-button>
                </div>
              </div>
            </vs-tab>
          </template>
        </vs-tabs>
      </template>

      <template v-else>
        <NoData
          :title="
            $t('content.no_data_title', {
              attribute: $t('label.recomendation_criteria')
            })
          "
          :subtitle="
            $t('content.no_data_subtitle', {
              attribute: $t('label.recomendation_criteria')
            })
          "
        >
          <template v-slot:action>
            <vs-button
              v-if="!isDisabled"
              @click="showRecomendation = true"
              class="text-xs px-8 font-medium"
              color="primary"
              type="filled"
            >
              {{ $t('label.add') }} {{ $t('label.recomendation_criteria') }}
            </vs-button>
          </template>
        </NoData>
      </template>
    </BoxHeader>

    <div
      v-if="!isDisabled && recomendations && recomendations.length > 0"
      class="flex justify-end my-4"
    >
      <vs-button
        class="text-xs px-8 ml-2 font-medium w-full md:w-auto vs-con-loading__container"
        color="primary"
        type="filled"
        ref="loadingBtn"
        :disabled="isLoading"
        @click="save"
      >
        {{ $t('label.save') }}
      </vs-button>
    </div>

    <RecomendationCriteria
      :showPopup="showRecomendation"
      @saved="addRecomendation"
      @closed="
        showRecomendation = false;
        currentActiveCompetency = '';
      "
    />

    <RecomendationClasification
      :showPopup="showClasification"
      @saved="addClasification"
      @closed="
        showClasification = false;
        currentActiveCompetency = '';
      "
    />
  </div>
</template>

<script>
import { required, maxLength, minLength } from 'vuelidate/lib/validators';
import { alphabetic } from '@/mixins/validator';
import { loadingMixin } from '@/mixins/loading';
import BoxHeader from '@/components/base/BoxHeader.vue';
import FormGroup from '@/components/base/FormGroup.vue';
import NoData from '@/components/base/NoData.vue';
import RecomendationCriteria from '@/components/master/perusahaan/RecomendationCriteria.vue';
import RecomendationClasification from '@/components/master/perusahaan/RecomendationClasification.vue';
import TitleSection from '@/components/base/TitleSection.vue';

export default {
  name: 'KriteriaRekomendasi',

  props: {
    kamusKompetensiId: {
      type: [String, Number],
      default: ''
    },
    items: {
      type: Array,
      default: () => {
        return [];
      }
    },
    isDisabled: {
      type: Boolean,
      default: false
    }
  },

  components: {
    BoxHeader,
    FormGroup,
    RecomendationCriteria,
    RecomendationClasification,
    TitleSection,
    NoData
  },

  mixins: [loadingMixin],

  data: () => ({
    currentActiveRecomendation: '',
    isLoading: false,
    recomendations: [],
    showRecomendation: false,
    showClasification: false
  }),

  validations: {
    recomendations: {
      required,
      minLength: minLength(1),
      $each: {
        namaKriteria: {
          required
        },
        klasifikasi: {
          required,
          minLength: minLength(1),
          $each: {
            kategori: {
              required,
              alphabetic,
              maxLength: maxLength(100)
            },
            keteranganKriteriaRekomendasi: {
              required,
              maxLength: maxLength(1000)
            }
          }
        }
      }
    }
  },

  watch: {
    items(newVal) {
      this.recomendations = newVal;
    }
  },

  mounted() {
    if (this.items) {
      this.recomendations = this.items;
    }
  },

  methods: {
    addRecomendation(params) {
      if (!this.recomendations) {
        this.recomendations = [];
      }

      this.recomendations.push(params);
      this.showRecomendation = false;
    },

    removeRecomendation(index, id) {
      let temp = JSON.parse(JSON.stringify(this.recomendations));
      temp.splice(index, 1);
      this.recomendations = temp;

      if (id) {
        let payload = {
          kamusKompetensiId: id
        };
        this.$store
          .dispatch('kamusKompetensi/fetchDeleteKriteriaRekomendasi', payload)
          .then(() => {
            this.$store.dispatch('general/showSuccessNotification', {
              message: this.$t('label.success'),
              textMessage: this.$t('content.delete_message')
            });
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          });
      }
    },

    addClasification(params) {
      this.recomendations[this.currentActiveRecomendation].klasifikasi.push(
        params
      );
      this.showClasification = false;
    },

    removeClasification(parentIndex, index) {
      let temp = JSON.parse(
        JSON.stringify(this.recomendations[parentIndex].klasifikasi)
      );
      temp.splice(index, 1);
      this.recomendations[parentIndex].klasifikasi = temp;
    },

    save() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.isLoading = true;
        this.loadingButton(this.$refs.loadingBtn.$el);
        let storeAction = 'kamusKompetensi/fetchSaveKriteriaRekomendasi';
        let payload = {
          targetJobId: this.$route.params.jobId,
          kamusKompetensiId: this.kamusKompetensiId,
          data: this.recomendations
        };

        this.$store
          .dispatch(storeAction, payload)
          .then(() => {
            this.$emit('save');
            this.$store.dispatch('general/showSuccessNotification', {
              message: this.$t('label.success'),
              textMessage: this.$t('content.update_message')
            });
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          })
          .finally(() => {
            this.isLoading = false;
            this.closeLoading(this.$refs.loadingBtn.$el);
          });
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });
      }
    }
  }
};
</script>
