<template>
  <div>
    <!-- Kriteria Penilaian -->
    <TitleSection
      class="bg-shades-blue-light"
      :title="$t('label.assessment_criteria')"
    />

    <BoxHeader :shadow="assessments && assessments.length <= 0">
      <template v-if="assessments && assessments.length > 0">
        <div :key="assessments.length">
          <v-collapse-group>
            <template v-for="(kriteriaPenilaian, index) in assessments">
              <v-collapse-wrapper
                :key="'kriteria-penilaian-' + index"
                :active="true"
                class="my-4 p-4 border rounded-lg shadow-md"
              >
                <div class="flex items-center">
                  <div class="w-full flex items-center p-2 rounded">
                    <span
                      class="block w-full text-xs font-semibold text-grey-700 px-1 capitalize"
                    >
                      {{
                        kriteriaPenilaian.kategori
                          ? kriteriaPenilaian.kategori
                          : 'Untitled'
                      }}
                    </span>

                    <vs-button
                      v-if="!isDisabled"
                      @click="
                        removeAssessment(
                          index,
                          kriteriaPenilaian.kriteriaPenilaianId
                        )
                      "
                      class="mx-2"
                      color="danger"
                      type="flat"
                      icon="clear"
                      v-tooltip="$t('label.delete')"
                    ></vs-button>

                    <vs-icon
                      class="header cursor-pointer"
                      v-collapse-toggle
                      color="primary"
                    >
                      expand_more
                    </vs-icon>
                  </div>
                </div>
                <div class="my-content" v-collapse-content>
                  <div class="flex flex-wrap ">
                    <div class="w-full md:w-1/2 px-2">
                      <FormGroup
                        :name="$t('label.category')"
                        :validator="$v.assessments.$each.$iter[index].kategori"
                      >
                        <!--  change here !  -->
                        <vs-input
                          color="primary"
                          class="w-full field-required"
                          v-model.trim="assessments[index].kategori"
                          :disabled="isLoading || isDisabled"
                          :label="$t('label.category_assessment_criteria')"
                          :placeholder="
                            $t('placeholder.input_general', {
                              attribute: $t(
                                'label.category_assessment_criteria'
                              )
                            })
                          "
                          :danger="
                            $v.assessments.$each.$iter[index].kategori.error
                          "
                        />
                      </FormGroup>
                    </div>

                    <div class="w-full px-2">
                      <FormGroup
                        :name="$t('label.definition')"
                        :validator="
                          $v.assessments.$each.$iter[index]
                            .keteranganKriteriaPenilaian
                        "
                      >
                        <!--  change here !  -->
                        <vs-textarea
                          class="field-required"
                          :label="
                            $t('label.information', {
                              attribute: $t(
                                'label.category_assessment_criteria'
                              )
                            })
                          "
                          :placeholder="
                            $t('placeholder.input_general', {
                              attribute: $t('label.information', {
                                attribute: $t(
                                  'label.category_assessment_criteria'
                                )
                              })
                            })
                          "
                          :disabled="isLoading || isDisabled"
                          :danger="
                            $v.assessments.$each.$iter[index]
                              .keteranganKriteriaPenilaian.error
                          "
                          v-model.trim="
                            assessments[index].keteranganKriteriaPenilaian
                          "
                        />
                      </FormGroup>
                    </div>
                  </div>
                </div>
              </v-collapse-wrapper>
            </template>
          </v-collapse-group>
        </div>
        <div class="flex w-full justify-start py-4">
          <vs-button
            v-if="!isDisabled"
            @click="showAssessment = true"
            class="text-xs px-8 font-medium"
            color="primary"
            type="filled"
          >
            {{ $t('label.add') }} {{ $t('label.assessment_criteria') }}
          </vs-button>
        </div>
      </template>

      <template v-else>
        <NoData
          :title="
            $t('content.no_data_title', {
              attribute: $t('label.assessment_criteria')
            })
          "
          :subtitle="
            $t('content.no_data_subtitle', {
              attribute: $t('label.assessment_criteria')
            })
          "
        >
          <template v-slot:action>
            <vs-button
              v-if="!isDisabled"
              @click="showAssessment = true"
              class="text-xs px-8 font-medium"
              color="primary"
              type="filled"
            >
              {{ $t('label.add') }} {{ $t('label.assessment_criteria') }}
            </vs-button>
          </template>
        </NoData>
      </template>
    </BoxHeader>

    <div
      v-if="!isDisabled && assessments && assessments.length > 0"
      class="flex justify-end my-4 px-4"
    >
      <vs-button
        class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
        color="primary"
        type="filled"
        ref="loadingBtn"
        :disabled="isLoading"
        @click="save"
      >
        {{ $t('label.save') }}
      </vs-button>
    </div>

    <div class="border-4 border-gray-200 my-8 w-full" />
    <!-- End of Kriteria Penilaian -->

    <AssessmentCriteria
      :showPopup="showAssessment"
      @saved="addAssessment"
      @closed="
        showAssessment = false;
        currentActiveCompetency = '';
      "
    />
  </div>
</template>

<script>
import { required, maxLength, minLength } from 'vuelidate/lib/validators';
import { loadingMixin } from '@/mixins/loading';
import AssessmentCriteria from '@/components/master/perusahaan/AssessmentCriteria.vue';
import BoxHeader from '@/components/base/BoxHeader.vue';
import FormGroup from '@/components/base/FormGroup.vue';
import NoData from '@/components/base/NoData.vue';
import TitleSection from '@/components/base/TitleSection.vue';

export default {
  name: 'KriteriaPenilaian',

  props: {
    kamusKompetensiId: {
      type: [String, Number],
      default: ''
    },
    items: {
      type: Array,
      default: () => {
        return [];
      }
    },
    isDisabled: {
      type: Boolean,
      default: false
    }
  },

  components: {
    BoxHeader,
    AssessmentCriteria,
    FormGroup,
    TitleSection,
    NoData
  },

  mixins: [loadingMixin],

  data: () => ({
    assessments: [],
    isLoading: false,
    showAssessment: false
  }),

  watch: {
    items(newVal) {
      this.assessments = newVal;
    }
  },

  validations: {
    assessments: {
      required,
      minLength: minLength(1),
      $each: {
        kategori: {
          required,
          maxLength: maxLength(100)
        },
        keteranganKriteriaPenilaian: {
          required,
          maxLength: maxLength(1000)
        }
      }
    }
  },

  mounted() {
    if (this.items) {
      this.assessments = this.items;
    }
  },

  methods: {
    addAssessment(params) {
      if (!this.assessments) {
        this.assessments = [];
      }

      this.assessments.push(params);
      this.showAssessment = false;
    },

    removeAssessment(index, id) {
      let temp = JSON.parse(JSON.stringify(this.assessments));
      temp.splice(index, 1);
      this.assessments = temp;

      if (id) {
        let payload = {
          kamusKompetensiId: id
        };
        this.$store
          .dispatch('kamusKompetensi/fetchDeleteKriteriaPenilaian', payload)
          .then(() => {
            this.$store.dispatch('general/showSuccessNotification', {
              message: this.$t('label.success'),
              textMessage: this.$t('content.delete_message')
            });
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          });
      }
    },

    save() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.isLoading = true;
        this.loadingButton(this.$refs.loadingBtn.$el);
        let storeAction = 'kamusKompetensi/fetchSaveKriteriaPenilaian';
        let payload = {
          targetJobId: this.$route.params.jobId,
          kamusKompetensiId: this.kamusKompetensiId,
          data: this.assessments
        };

        this.$store
          .dispatch(storeAction, payload)
          .then(() => {
            this.$emit('save');
            this.$store.dispatch('general/showSuccessNotification', {
              message: this.$t('label.success'),
              textMessage: this.$t('content.update_message')
            });
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          })
          .finally(() => {
            this.isLoading = false;
            this.closeLoading(this.$refs.loadingBtn.$el);
          });
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });
      }
    }
  }
};
</script>
