<template>
  <div>
    <h3 class="font-medium underline">{{ $t('label.example') }}</h3>
    <div class="py-2">
      <slot name="soal"></slot>

      <ul class="w-full flex flex-wrap" v-if="type === 'pg'">
        <li
          :key="index"
          v-for="(item, index) in items"
          class="w-auto pr-4 py-4"
        >
          <vs-radio
            v-model="choose"
            vs-name="answer"
            :vs-value="items[index]"
            @change="check"
          >
            {{ items[index] }}
          </vs-radio>
        </li>
      </ul>

      <div class="flex flex-wrap" v-if="type === 'essay'">
        <div class="w-1/4">
          <FormGroup>
            <vs-input
              color="primary"
              class="w-full"
              v-model="choose"
              @keyup="check"
            />
          </FormGroup>
        </div>

        <div class="w-auto m-2">
          <FormGroup>
            <vs-checkbox color="secondary" v-model="status" class="w-auto">
              <span class="text-xs">
                {{ $t('label.answer') }}
              </span>
            </vs-checkbox>
          </FormGroup>
        </div>
      </div>

      <div class="font-medium italic">
        <slot name="description" v-if="status"></slot>
      </div>
    </div>
  </div>
</template>

<script>
import FormGroup from '@/components/base/FormGroup';
export default {
  name: 'Example',
  components: { FormGroup },
  props: {
    items: {
      type: Array,
      default: () => []
    },
    answer: {
      type: String,
      default: null
    },
    type: {
      type: String,
      default: 'pg'
    }
  },

  data: () => ({
    choose: '',
    status: false
  }),

  methods: {
    check() {
      this.status = this.answer === this.choose;
    }
  }
};
</script>
