<template>
  <vs-popup
    :title="$t('menu.manage_psychological_assessment.name')"
    :active.sync="show"
  >
    <div class="w-full">
      <FormGroup :name="$t('label.question_type')">
        <vs-select
          autocomplete
          v-model="form.selected"
          color="primary"
          class="w-full"
          :label="$t('label.question_type')"
        >
          <vs-select-item
            :key="index"
            :value="item.code"
            :text="item.name"
            v-for="(item, index) in data"
          />
        </vs-select>
      </FormGroup>

      <div class="flex justify-end">
        <vs-button
          class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
          color="secondary"
          type="border"
          @click="show = false"
        >
          {{ $t('label.cancel') }}
        </vs-button>
        <vs-button
          class="text-xs px-8 font-medium w-full md:w-auto vs-con-loading__container"
          color="primary"
          type="filled"
          ref="loadingBtn"
          @click="navigate"
        >
          {{ $t('label.select') }}
        </vs-button>
      </div>
    </div>
  </vs-popup>
</template>

<script>
import FormGroup from '@/components/base/FormGroup.vue';

export default {
  name: 'QuestionPopUp',

  components: {
    FormGroup
  },

  props: {
    showPopUp: {
      type: Boolean,
      default: false
    },

    data: {
      type: Array,
      default: () => []
    },

    jenis: {
      type: String,
      default: ''
    }
  },

  watch: {
    showPopUp(val) {
      this.show = val;
    },

    jenis(newVal) {
      this.form.jenis = newVal;
    },

    show(val) {
      if (!val) {
        this.form = {
          selected: '',
          jenis: ''
        };
        this.$emit('closed', val);
      }
    }
  },

  data: () => ({
    show: false,
    form: {
      selected: '',
      jenis: ''
    }
  }),

  methods: {
    navigate() {
      let payload = JSON.parse(JSON.stringify(this.form));
      this.show = false;

      setTimeout(() => {
        this.$emit('submit', payload);
      }, 500);
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ .vs-popup {
  width: 350px !important;
}
</style>
