<template>
  <vs-popup
    :title="$t('label.list_arg', { attribute: title })"
    :active.sync="show"
  >
    <div
      id="question-popup-tabs"
      class="w-full flex flex-wrap justify-center items-center"
    >
      <!-- type image -->
      <div class="w-full flex flex-wrap" v-if="typeSubtest === 'image'">
        <div
          class="w-full flex flex-wrap lg:w-1/4 py-2 items-center justify-center"
          :key="index"
          v-for="(item, index) in data"
        >
          <div
            class="px-6 py-8 rounded-lg border text-center cursor-pointer"
            @click="move(index)"
          >
            <div v-if="checkImageNull(item)">
              <vs-icon icon="cancel" color="red" />
            </div>
            <div v-else>
              <vs-icon icon="check_circle" color="#6cc070" />
            </div>
            <div>{{ title }}</div>
            <div>
              {{ `${$t('pagination.page', { attribute: index + 1 })}` }}
            </div>
          </div>
        </div>
      </div>
      <!-- else -->
      <div class="w-full flex flex-wrap" v-else>
        <div
          class="w-full flex flex-wrap lg:w-1/4 py-2 items-center justify-center"
          :key="index"
          v-for="(item, index) in data"
        >
          <div
            class="px-6 py-8 rounded-lg border text-center cursor-pointer"
            @click="move(index)"
          >
            <div v-if="check.form.soal.$each[index].$error">
              <vs-icon icon="cancel" color="red" />
            </div>
            <div v-if="!check.form.soal.$each[index].$error">
              <vs-icon icon="check_circle" color="#6cc070" />
            </div>
            <div>{{ title }}</div>
            <div>
              {{ `${$t('pagination.page', { attribute: index + 1 })}` }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </vs-popup>
</template>

<script>
// import lodash
import { forEach } from 'lodash';

export default {
  name: 'QuestionPopUpTabs',

  components: {},

  props: {
    showPopUp: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    },
    data: {
      type: Array,
      default: () => []
    },
    validations: {
      type: Object,
      default: () => ({})
    },
    typeSubtest: {
      type: String,
      default: ''
    }
  },

  created() {
    this.check = this.validations;
    this.items = this.data;
  },

  watch: {
    showPopUp(val) {
      this.show = val;
    },

    show(val) {
      this.$emit('closed', val);
    },

    data(val) {
      this.form = val;
    },

    validations(val) {
      this.check = val;
    }
  },

  data: () => ({
    show: false,
    items: null,
    check: null
  }),

  methods: {
    move(index) {
      this.$emit('move', index);
    },

    checkImageNull(data) {
      let result = false;
      forEach(data, (item) => {
        if (item.gambarId === 0) {
          result = true;
        }
      });

      return result;
    }
  }
};
</script>
