<template>
  <div id="question">
    <slot name="approve" v-if="$route.meta.approve"></slot>

    <div class="flex flex-wrap">
      <!-- ====== question type header ======= -->
      <div class="w-full py-2 px-4 flex flex-wrap bg-gray-200 rounded-t-lg">
        <div class="w-full lg:w-1/2">
          <span class="w-full text-base font-medium block">
            {{ `${$t('menu.manage_psychological_assessment.name')}` }}
          </span>
          <span class="w-full text-sm italic font-medium block">
            {{
              name === $t('menu.manage_disc.name')
                ? `${name} (${$t('menu.manage_disc.description')})`
                : name
            }}
          </span>
        </div>

        <div class="w-full lg:w-1/2 flex flex-wrap justify-end">
          <slot name="action"></slot>
        </div>
      </div>
      <!-- ====== question type header ======= -->

      <div
        class="w-full flex flex-wrap px-2 bg-gray-200 border-t-2 rounded-b-lg border-white justify-between"
      >
        <!-- question name -->
        <div class="w-full lg:w-1/2 px-2">
          <FormGroup :name="$t('label.name')" :validator="$v.form.soalName">
            <vs-input
              color="primary"
              class="w-full"
              :label="$t('label.name')"
              :placeholder="
                $t('placeholder.input_general', { attribute: $t('label.name') })
              "
              v-model="form.soalName"
              :disabled="disabled"
              :danger="$v.form.soalName.error"
            />
          </FormGroup>
        </div>

        <!-- question duration process -->
        <div class="w-full lg:w-1/2 px-2" v-if="!sub">
          <FormGroup
            :name="$t('label.duration_process')"
            :validator="$v.form.durasiPengerjaan"
          >
            <vs-input
              color="primary"
              icon="schedule"
              class="w-full"
              :label="$t('label.duration_process')"
              :placeholder="
                $t('placeholder.input_general', {
                  attribute: $t('label.duration_process')
                })
              "
              v-model="form.durasiPengerjaan"
              :disabled="disabled"
              :danger="$v.form.durasiPengerjaan.error"
            />
          </FormGroup>
        </div>

        <!-- question duration subtest -->
        <div class="w-full lg:w-1/2 px-2" v-if="sub">
          <FormGroup :name="$t('label.duration')" :validator="$v.form.durasi">
            <vs-input
              color="primary"
              icon="schedule"
              class="w-full"
              :label="$t('label.duration')"
              :placeholder="
                $t('placeholder.input_general', {
                  attribute: $t('label.duration')
                })
              "
              v-model="form.durasi"
              :disabled="disabled"
              :danger="$v.form.durasi.error"
            />
          </FormGroup>
        </div>
      </div>
    </div>

    <!-- ======= instruction ======== -->
    <div class="shadow-md mt-4 p-4 border" v-if="$route.meta.disabled">
      <h1 class="font-medium text-base border-b">
        {{ $t('label.instruction') }}
      </h1>

      <div class="text-sm mt-2">
        <slot name="instruction"></slot>
      </div>

      <div class="text-sm mt-2">
        <slot name="example"></slot>
      </div>
    </div>
    <!-- ======= instruction ======== -->
    <vs-tabs :value="index">
      <vs-tab
        :key="itemIndex"
        label="$t('label.home')"
        v-for="(item, itemIndex) in form.soal"
      >
        <BoxHeader
          :key="subIndex"
          :title="
            name === $t('menu.manage_belbin.name')
              ? $t('label.section_arg', { attribute: item.nomor })
              : $t('label.question_number_arg', { attribute: item.nomor })
          "
          v-for="(item, subIndex) in form.soal[itemIndex]"
          class="my-4"
        >
          <!-- ===================== type `table` ======================== -->
          <template v-if="type === 'table'">
            <div class="flex my-6 mx-6">
              <div class="mt-6 w-1/3">
                <table class="table-auto w-64 text-xs">
                  <thead>
                    <tr>
                      <th class="border-bottom px-4 py-4 font-medium">
                        {{ $t('label.statement') }}
                      </th>
                      <th class="border-bottom px-4 py-4 font-medium">P</th>
                      <th class="border-bottom px-4 py-4 font-medium">K</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr :key="index" v-for="(sub, index) in item.opsi">
                      <td class="border-bottom px-4 py-4">
                        {{
                          $t('label.statement_arg', {
                            attribute: sub.pernyataan
                          })
                        }}
                      </td>
                      <td
                        class="border-bottom px-4 py-4"
                        v-html="!disabled ? changeXstr(sub.paling) : ''"
                      ></td>
                      <td
                        class="border-bottom px-4 py-4"
                        v-html="!disabled ? changeXstr(sub.kurang) : ''"
                      ></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="flex flex-wrap w-2/3">
                <div
                  class="w-full"
                  :key="indexOpsi"
                  v-for="(sub, indexOpsi) in item.opsi"
                >
                  <FormGroup
                    :name="
                      $t('label.statement_arg', {
                        attribute: sub.pernyataan
                      })
                    "
                    :validator="
                      $v.form.soal.$each.$iter[itemIndex].$each.$iter[subIndex]
                        .opsi.$each.$iter[indexOpsi].description
                    "
                  >
                    <vs-input
                      color="primary"
                      class="w-full"
                      :label="
                        $t('label.statement_arg', {
                          attribute: sub.pernyataan
                        })
                      "
                      v-model.trim="
                        form.soal[itemIndex][subIndex].opsi[indexOpsi]
                          .description
                      "
                      :disabled="disabled"
                      :danger="
                        $v.form.soal.$each.$iter[itemIndex].$each.$iter[
                          subIndex
                        ].opsi.$each.$iter[indexOpsi].description.error
                      "
                    />
                  </FormGroup>
                </div>
              </div>
            </div>
          </template>
          <!-- ===================== type `table` ======================== -->

          <!-- ===================== type `ab` =======================  -->
          <template v-if="type === 'ab'">
            <div class="flex my-6 mx-6">
              <div class="flex flex-wrap w-full">
                <div
                  class="pt-4 w-auto bg-primary text-sm font-medium italic border-b border-black"
                  v-if="theme === 2"
                >
                  {{ item.judul }}
                </div>

                <div
                  class="w-full"
                  :key="opsiIndex"
                  v-for="(subItem, opsiIndex) in item.opsi"
                >
                  <div
                    class="p-4 w-full bg-blue-500 text-white font-medium text-sm rounded-t-md mt-6"
                    v-if="theme === 2"
                  >
                    {{
                      $t('label.statement_arg', {
                        attribute: subItem.pernyataan
                      })
                    }}
                  </div>

                  <div class="w-full">
                    <FormGroup
                      :name="
                        $t('label.statement_arg', {
                          attribute: subItem.pernyataan
                        })
                      "
                      :validator="
                        $v.form.soal.$each.$iter[itemIndex].$each.$iter[
                          subIndex
                        ].opsi.$each.$iter[opsiIndex].description
                      "
                    >
                      <vs-input
                        color="primary"
                        class="w-full"
                        :label="
                          theme !== 2 &&
                            $t('label.statement_arg', {
                              attribute: subItem.pernyataan
                            })
                        "
                        v-model.trim="
                          form.soal[itemIndex][subIndex].opsi[opsiIndex]
                            .description
                        "
                        :disabled="disabled"
                        :danger="
                          $v.form.soal.$each.$iter[itemIndex].$each.$iter[
                            subIndex
                          ].opsi.$each.$iter[opsiIndex].description.error
                        "
                      />
                    </FormGroup>
                  </div>

                  <div
                    class="flex flex-between"
                    v-if="name === $t('menu.manage_belbin.name')"
                  >
                    <div class="w-1/2 mr-5">
                      <FormGroup :name="$t('label.myself')">
                        <vs-input
                          color="primary"
                          class="w-full"
                          :label="$t('label.myself')"
                          v-model.trim="
                            form.soal[itemIndex][subIndex].opsi[opsiIndex].key
                              .self
                          "
                          :disabled="true"
                        />
                      </FormGroup>
                    </div>
                    <div class="w-1/2">
                      <FormGroup :name="$t('label.other_people')">
                        <vs-input
                          color="primary"
                          class="w-full"
                          :label="$t('label.other_people')"
                          v-model.trim="
                            form.soal[itemIndex][subIndex].opsi[opsiIndex].key
                              .other
                          "
                          :disabled="true"
                        />
                      </FormGroup>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>
          <!-- ===================== type `ab` =======================  -->

          <!-- ===================== type `pg` ======================= -->
          <template v-if="type === 'pg'">
            <!-- ===================== theme 1 ======================= -->
            <div class="flex my-2 mx-4" v-if="theme === 1">
              <div class="flex flex-wrap w-full">
                <div class="w-full">
                  <FormGroup
                    :name="$t('label.description_question')"
                    :validator="
                      $v.form.soal.$each.$iter[itemIndex].$each.$iter[subIndex]
                        .pernyataan
                    "
                  >
                    <vs-textarea
                      :label="$t('label.description_question')"
                      v-model.trim="form.soal[itemIndex][subIndex].pernyataan"
                      :disabled="disabled"
                      :danger="
                        $v.form.soal.$each.$iter[itemIndex].$each.$iter[
                          subIndex
                        ].pernyataan.error
                      "
                    />
                  </FormGroup>
                </div>
                <div
                  class="w-full lg:w-1/2 px-2 "
                  :key="opsiIndex"
                  v-for="(sub, opsiIndex) in item.opsi"
                >
                  <FormGroup
                    :name="$t('label.answer_arg', { attribute: sub.notasi })"
                    :validator="
                      $v.form.soal.$each.$iter[itemIndex].$each.$iter[subIndex]
                        .opsi.$each.$iter[opsiIndex].description
                    "
                  >
                    <vs-input
                      color="primary"
                      class="w-full"
                      :label="
                        sub.key
                          ? `${$t('label.answer_arg', {
                              attribute: sub.notasi
                            })} (${$t('label.answer_value_arg', {
                              attribute: sub.key
                            })})`
                          : $t('label.answer_arg', { attribute: sub.notasi })
                      "
                      v-model.trim="
                        form.soal[itemIndex][subIndex].opsi[opsiIndex]
                          .description
                      "
                      :disabled="disabled"
                      :danger="
                        $v.form.soal.$each.$iter[itemIndex].$each.$iter[
                          subIndex
                        ].opsi.$each.$iter[opsiIndex].description.error
                      "
                    />
                  </FormGroup>
                </div>
              </div>
            </div>
            <!-- ===================== theme 1 ======================= -->

            <!-- ===================== theme 2 ======================= -->
            <div class="flex my-2 mx-6" v-if="theme === 2">
              <div class="w-full flex flex-wrap">
                <div
                  class="w-full px-2"
                  v-if="form.soal[itemIndex][subIndex].pertanyaan !== undefined"
                >
                  <FormGroup
                    :name="$t('label.description_question')"
                    :validator="
                      $v.form.soal.$each.$iter[itemIndex].$each.$iter[subIndex]
                        .pertanyaan
                    "
                  >
                    <vs-textarea
                      :label="$t('label.description_question')"
                      v-model.trim="form.soal[itemIndex][subIndex].pertanyaan"
                      :disabled="disabled"
                      :danger="
                        $v.form.soal.$each.$iter[itemIndex].$each.$iter[
                          subIndex
                        ].pertanyaan.error
                      "
                    />
                  </FormGroup>
                </div>
                <div class="w-full flex flex-wrap">
                  <div
                    class="w-full lg:w-1/5 px-2"
                    :key="opsiIndex"
                    v-for="(sub, opsiIndex) in item.opsi"
                  >
                    <FormGroup
                      :name="sub.notasi"
                      :validator="
                        $v.form.soal.$each.$iter[itemIndex].$each.$iter[
                          subIndex
                        ].opsi.$each.$iter[opsiIndex].description
                      "
                    >
                      <vs-input
                        color="primary"
                        class="w-full"
                        :label="
                          sub.key
                            ? `${$t('label.answer_arg', {
                                attribute: sub.notasi
                              })} (${$t('label.answer_value_arg', {
                                attribute: sub.key
                              })})`
                            : $t('label.answer_arg', { attribute: sub.notasi })
                        "
                        v-model.trim="
                          form.soal[itemIndex][subIndex].opsi[opsiIndex]
                            .description
                        "
                        :disabled="disabled"
                        :danger="
                          $v.form.soal.$each.$iter[itemIndex].$each.$iter[
                            subIndex
                          ].opsi.$each.$iter[opsiIndex].description.error
                        "
                      />
                    </FormGroup>
                  </div>
                </div>
              </div>
            </div>
            <!-- ===================== theme 2 ======================= -->
          </template>
          <!-- ===================== type `pg` ======================= -->

          <!-- type `essay` -->
          <template v-if="type === 'essay'">
            <!-- ===================== theme 1 ======================= -->
            <div class="flex my-2 mx-6" v-if="theme === 1">
              <div class="w-full">
                <FormGroup
                  :name="$t('label.description_question')"
                  :validator="
                    $v.form.soal.$each.$iter[itemIndex].$each.$iter[subIndex]
                      .pertanyaan
                  "
                >
                  <vs-textarea
                    :label="$t('label.description_question')"
                    v-model.trim="form.soal[itemIndex][subIndex].pertanyaan"
                    :disabled="disabled"
                    :danger="
                      $v.form.soal.$each.$iter[itemIndex].$each.$iter[subIndex]
                        .pertanyaan.error
                    "
                  />
                </FormGroup>

                <FormGroup :name="$t('label.answer')">
                  <vs-input
                    color="primary"
                    class="w-full"
                    :label="$t('label.answer')"
                    v-model.trim="form.soal[itemIndex][subIndex].key"
                    :disabled="disabled"
                  />
                </FormGroup>
              </div>
            </div>
            <!-- ===================== theme 1 ======================= -->

            <!-- ===================== theme 2 ======================= -->
            <div class="flex my-2 mx-6" v-if="theme === 2">
              <div class="w-full">
                <div class="px-2">
                  <FormGroup
                    :name="$t('label.description_question')"
                    :validator="
                      $v.form.soal.$each.$iter[itemIndex].$each.$iter[subIndex]
                        .pertanyaan
                    "
                  >
                    <vs-textarea
                      :label="$t('label.description_question')"
                      v-model.trim="form.soal[itemIndex][subIndex].pertanyaan"
                      :disabled="disabled"
                      :danger="
                        $v.form.soal.$each.$iter[itemIndex].$each.$iter[
                          subIndex
                        ].pertanyaan.error
                      "
                    />
                  </FormGroup>
                </div>

                <div class="w-full flex flex-wrap">
                  <div class="w-full lg:w-1/3 px-2">
                    <FormGroup
                      :name="$t('label.value_arg', { attribute: 2 })"
                      :validator="
                        $v.form.soal.$each.$iter[itemIndex].$each.$iter[
                          subIndex
                        ].key.$each.$iter[0]
                      "
                    >
                      <vs-input
                        color="primary"
                        class="w-full"
                        :label="$t('label.value_arg', { attribute: 2 })"
                        v-model.trim="
                          form.soal[itemIndex][subIndex].key[0].value
                        "
                        :disabled="disabled"
                        :danger="
                          $v.form.soal.$each.$iter[itemIndex].$each.$iter[
                            subIndex
                          ].key.$each.$iter[0].error
                        "
                      />
                    </FormGroup>
                  </div>

                  <div class="w-full lg:w-1/3 px-2">
                    <FormGroup
                      :name="$t('label.value_arg', { attribute: 1 })"
                      :validator="
                        $v.form.soal.$each.$iter[itemIndex].$each.$iter[
                          subIndex
                        ].key.$each.$iter[1]
                      "
                    >
                      <vs-input
                        color="primary"
                        class="w-full"
                        :label="$t('label.value_arg', { attribute: 1 })"
                        v-model.trim="
                          form.soal[itemIndex][subIndex].key[1].value
                        "
                        :disabled="disabled"
                        :danger="
                          $v.form.soal.$each.$iter[itemIndex].$each.$iter[
                            subIndex
                          ].key.$each.$iter[1].error
                        "
                      />
                    </FormGroup>
                  </div>

                  <div class="w-full lg:w-1/3 px-2">
                    <FormGroup
                      :name="$t('label.value_arg', { attribute: 0 })"
                      :validator="
                        $v.form.soal.$each.$iter[itemIndex].$each.$iter[
                          subIndex
                        ].key.$each.$iter[2]
                      "
                    >
                      <vs-input
                        color="primary"
                        class="w-full"
                        :label="$t('label.value_arg', { attribute: 0 })"
                        v-model.trim="
                          form.soal[itemIndex][subIndex].key[2].value
                        "
                        :disabled="disabled"
                        :danger="
                          $v.form.soal.$each.$iter[itemIndex].$each.$iter[
                            subIndex
                          ].key.$each.$iter[2].error
                        "
                      />
                    </FormGroup>
                  </div>
                </div>
              </div>
            </div>
            <!-- ===================== theme 2 ======================= -->
          </template>

          <!-- ======================= type `row` ======================== -->
          <template v-if="type === 'row'">
            <div class="w-full flex flex-wrap">
              <div
                class="w-full lg:w-1/12 px-2"
                :key="opsiIndex"
                v-for="(sub, opsiIndex) in item.opsi"
              >
                <FormGroup
                  :name="$t('label.row_arg', { attribute: sub.angka })"
                  :validator="
                    $v.form.soal.$each.$iter[itemIndex].$each.$iter[subIndex]
                      .opsi.$each.$iter[opsiIndex].value
                  "
                >
                  <vs-input
                    color="primary"
                    class="w-full"
                    :label="$t('label.row_arg', { attribute: sub.angka })"
                    v-model.trim="
                      form.soal[itemIndex][subIndex].opsi[opsiIndex].value
                    "
                    :disabled="disabled"
                    :danger="
                      $v.form.soal.$each.$iter[itemIndex].$each.$iter[subIndex]
                        .opsi.$each.$iter[opsiIndex].value.error
                    "
                  />
                </FormGroup>
              </div>

              <div class="w-5/12 px-2">
                <FormGroup
                  :name="$t('label.answer')"
                  :validator="
                    $v.form.soal.$each.$iter[itemIndex].$each.$iter[subIndex]
                      .key
                  "
                >
                  <vs-input
                    color="primary"
                    class=" w-full"
                    :label="$t('label.answer')"
                    v-model.trim="form.soal[itemIndex][subIndex].key"
                    :disabled="disabled"
                    :danger="
                      $v.form.soal.$each.$iter[itemIndex].$each.$iter[subIndex]
                        .key.error
                    "
                  />
                </FormGroup>
              </div>
            </div>
          </template>
          <!-- ======================= type `row` ======================== -->
        </BoxHeader>
      </vs-tab>
    </vs-tabs>

    <vs-progress
      :height="12"
      :percent="percent"
      color="primary"
      v-if="type !== 'image'"
    />

    <div class="flex flex-wrap justify-between my-4" v-if="type !== 'image'">
      <div>
        <vs-button
          color="primary"
          type="filled"
          class="mr-2 rounded-full"
          icon="list"
          size="small"
          @click="showPopUp = true"
        />
      </div>
      <div>
        <vs-button
          color="primary"
          type="filled"
          class="mr-2 rounded-full"
          icon="chevron_left"
          size="small"
          @click="moving('minus')"
        />
        <vs-button
          color="primary"
          type="filled"
          class="rounded-full"
          icon="chevron_right"
          size="small"
          @click="moving('plus')"
        />
      </div>
    </div>

    <div class="flex flex-wrap justify-between items-center">
      <div class="flex flex-wrap">
        <!-- ============ team style(belbin) pagination status ============ -->
        <small
          v-if="theme === 2 && type !== 'image' && !sub"
          class="font-medium"
        >
          {{
            $t('pagination.question_theme_2', {
              current: index + 1,
              total: form.soal.length,
              name: name
            })
          }}
        </small>
        <!-- ============ team style(belbin) pagination status ============ -->

        <small v-if="(theme === 1 && type !== 'image') || sub">
          {{
            $t('pagination.question_theme_1', {
              start: getStart(),
              end: getEnd(),
              total: getTotal(),
              name: name
            })
          }}
        </small>
      </div>
      <div class="flex flex-wrap justify-end">
        <vs-button
          color="primary"
          type="filled"
          class="w-32 text-xs px-8 mx-2 font-medium vs-con-loading__container"
          v-if="!$route.meta.disabled"
          @click="submit"
        >
          {{ $t('label.save') }}
        </vs-button>
        <vs-button
          color="secondary"
          type="border"
          class="w-32 text-xs px-8 font-medium"
          @click="navigate"
        >
          {{ $t('label.cancel') }}
        </vs-button>
      </div>
    </div>

    <question-pop-up-tabs
      :showPopUp="showPopUp"
      :data="form.soal"
      :validations="$v"
      :title="name"
      @closed="reset"
      @move="movingDirectly"
    />
  </div>
</template>

<script>
//
import { mapGetters } from 'vuex';
import { map } from 'lodash';

// base
import BoxHeader from '@/components/base/BoxHeader';
import FormGroup from '@/components/base/FormGroup';
import QuestionPopUpTabs from '@/components/materi/psychological_assessment/QuestionPopUpTabs';

// validations
import { required, requiredIf, numeric } from 'vuelidate/lib/validators';

export default {
  name: 'Question',

  components: {
    QuestionPopUpTabs,
    BoxHeader,
    FormGroup
  },

  props: {
    title: {
      type: String,
      default: ''
    },
    name: {
      // DISC, Papikostik, Value, LS, Belbin, IST & 16 PF
      type: String,
      default: ''
    },
    type: {
      // table, ab, pg, essay & row
      type: String,
      default: ''
    },
    // create & test
    status: {
      type: String,
      default: ''
    },
    items: {
      type: Object,
      default: () => ({})
    },
    // page is sub or main
    sub: {
      type: Boolean,
      default: false
    },
    /* --- theme (1, 2, 3) */
    theme: {
      type: Number,
      default: 1
    }
  },

  data: () => ({
    index: 0,
    percent: 0,
    disabled: false,
    showPopUp: false,
    form: {}
  }),

  computed: {
    ...mapGetters({
      roles: 'auth/currentRoles'
    })
  },

  validations: {
    form: {
      soalName: {
        required
      },
      durasiPengerjaan: {
        required: requiredIf(function() {
          return !this.sub;
        }),
        numeric
      },
      durasi: {
        required: requiredIf(function() {
          return this.sub;
        }),
        numeric
      },
      soal: {
        $each: {
          $each: {
            opsi: {
              $each: {
                description: {
                  required: requiredIf(function() {
                    return this.type !== 'row';
                  })
                },
                value: {
                  required: requiredIf(function() {
                    return this.type === 'row';
                  })
                }
              }
            },
            pernyataan: {
              required: requiredIf(function() {
                return this.type === 'pg' && this.theme === 1;
              })
            },
            pertanyaan: {
              required: requiredIf(function() {
                return (
                  this.type === 'essay' ||
                  (this.type === 'pg' && this.theme === 2 && !this.sub)
                );
              })
            },
            key: {
              $each: {
                required: requiredIf(function() {
                  return this.type === 'essay' || this.theme === 2;
                })
              },
              required: requiredIf(function() {
                return this.type === 'row';
              })
            }
          }
        }
      }
    }
  },

  created() {
    this.disabled = this.$route.meta.disabled;

    this.initial();
  },

  methods: {
    reset(val) {
      this.showPopUp = val;
    },

    navigate() {
      if (this.sub) {
        // condition for page ist
        if (this.$route.params.id && this.disabled) {
          this.$router.push({
            name: 'DetailIst',
            params: {
              id: this.$route.params.id,
              version: this.$route.params.version
            }
          });
        } else if (this.$route.params.id) {
          this.$router.push({
            name: 'UpdateIst',
            params: {
              id: this.$route.params.id,
              version: this.$route.params.version
            }
          });
        } else {
          this.$router.push({ name: 'CreateIst' });
        }
      } else {
        // condition for page except ist
        this.$router.go(-1);
        // this.$router.push({ name: 'ManagePsychologicalAssessment' });
      }
    },

    // for disc psychological assessment type
    changeXstr(param) {
      let str = '';

      if (param === 'X') {
        str = '&#x2022;';
      } else {
        str = param;
      }

      return str;
    },

    // moving directly
    movingDirectly(index) {
      let limit = this.form.soal.length - 1;

      this.index = index;
      this.progress(limit, index);

      this.showPopUp = false;

      // move to top
      document.getElementById('question').scrollIntoView();
    },

    // moving tabs / index value in tabs
    moving(param) {
      // set limit
      let limit = this.form.soal.length - 1;

      // plus
      if (param === 'plus') {
        if (this.index > limit - 1) {
          this.index = limit;
        } else {
          this.index++;
        }
      }

      // minus
      if (param === 'minus') {
        if (this.index <= 0) {
          this.index = 0;
        } else {
          this.index--;
        }
      }

      // change percent status
      this.progress(limit, this.index);

      // move to top
      document.getElementById('question').scrollIntoView();
    },

    // progress bar value
    progress(limit, index) {
      this.percent = ((index + 1) / (limit + 1)) * 100;
    },

    getStart() {
      return this.form.soal[this.index][0].nomor;
    },

    getEnd() {
      let temp = this.form.soal[this.index];
      return this.form.soal[this.index][temp.length - 1].nomor;
    },

    getTotal() {
      let temp = [];

      map(this.form.soal, (item) => {
        map(item, (sub) => {
          temp.push(sub);
        });
      });

      return temp.length;
    },

    // initial
    initial() {
      // set items
      this.form = this.items;

      // set limit
      let limit = this.form.soal.length - 1;
      this.progress(limit, this.index);
    },

    submit() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.$emit('save', this.form);
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });

        if (this.$v.form.soal.$error) {
          this.showPopUp = true;
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ h4 {
  font-size: 14px;
}

/deep/ .vs-tabs--content {
  padding: 0 !important;
}

/deep/ .con-vs-tabs .con-ul-tabs,
.vs-tabs--ul {
  display: none !important;
}

/deep/ thead tr {
  background-color: #daeafb !important;
}

/deep/ tr:nth-child(even) {
  background-color: #f5faff;
}

/deep/ tbody td {
  color: #6f6f6f;
}

/deep/ .vs-input--label {
  font-weight: 500;
}

/deep/ .vs-input--input.normal,
.vs-select--input {
  border: 1px solid #ececec !important;
}

/deep/ .con-input-upload .text-input {
  font-weight: 500 !important;
}

/deep/ .vs-con-textarea h4 {
  font-size: 13px;
  font-weight: 500 !important;
}

/deep/ .vs-textarea {
  border: 1px solid #ececec !important;
}

/deep/ .title-section {
  @apply px-4;
  font-size: 14px;
}
</style>
