<template>
  <div class="flex flex-col md:flex-row w-full bg-white">
    <div class="w-full md:w-1/3 flex justify-center md:justify-start mb-4">
      <slot name="header-left" />
    </div>
    <div class="w-full md:w-1/3 flex justify-center items-center mb-4">
      <span class="text-xs">{{ $t('label.show') }}</span>
      <vs-select autocomplete v-model="table.option" width="70px" class="mx-4">
        <vs-select-item
          :key="index"
          :value="item.value"
          :text="item.text"
          v-for="(item, index) in optionList"
        />
      </vs-select>
      <span class="text-xs">{{ $t('label.entries') }}</span>
    </div>
    <div class="w-full md:w-1/3 flex justify-end items-center mb-4">
      <span class="text-xs mr-2">{{ $t('label.search') }}:</span>
      <vs-input class="w-full md:w-auto" v-model="table.search" />
    </div>
  </div>
</template>

<script>
import { debounce } from 'lodash';
import { mapGetters } from 'vuex';

export default {
  name: 'TableHeader',

  props: {
    viewOption: {
      type: Boolean,
      default: true
    },

    searchOption: {
      type: Boolean,
      default: true
    },

    pageableId: {
      type: Number,
      default: 0
    }
  },

  data: () => ({
    table: {
      option: 10,
      search: ''
    }
  }),

  computed: {
    ...mapGetters({
      optionList: 'table/optionList'
    })
  },

  watch: {
    'table.search'(val) {
      this.$store.commit('table/SET_DEFAULT_SEARCH', val);
      this.searchData();
    },

    'table.option'(val) {
      this.$store.commit('table/SET_DEFAULT_LIMIT', val);
      this.changeLimitPage();
    }
  },

  methods: {
    changeLimitPage: debounce(function() {
      this.$emit('fetch');
    }, 500),

    searchData: debounce(function() {
      this.$emit('fetch');
    }, 500)
  }
};
</script>

<style lang="scss" scoped>
/deep/ .vs-input--input.normal {
  border: 1px solid #a6a6a6 !important;
  height: 30px;
}

/deep/ .vs-select--input {
  border: 1px solid #a6a6a6 !important;
  height: 30px;
}

/deep/ .input-select-con .material-icons {
  color: #a6a6a6;
  font-size: 16px;
}
</style>
