<template>
  <div
    v-if="pageable.totalPages"
    class="flex flex-col md:flex-row flex-end items-center"
  >
    <div class="w-full md:w-1/2 text-xs my-6">
      Menampilkan {{ table.minRows }} - {{ table.maxRows }} dari
      {{ pageable.totalElements }} data
    </div>
    <div class="w-full md:w-1/2 flex md:flex-end my-6 bpi-pagination">
      <vs-pagination
        :max="7"
        :total="pageable.totalPages"
        v-model="table.currentPage"
        class="font-normal"
      ></vs-pagination>
    </div>
  </div>
</template>

<script>
import { debounce } from 'lodash';

export default {
  name: 'TablePaging',

  props: {
    pagingTable: {
      type: Number,
      default: 0
    }
  },

  data: () => ({
    table: {
      currentPage: 1,
      maxRows: 0,
      minRows: 0
    }
  }),

  computed: {
    pageable() {
      return this.$store.getters['table/pageableById'](this.pagingTable);
    }
  },

  watch: {
    'table.currentPage'(val) {
      if (val !== this.pageable.currentPage) {
        this.$store.commit('table/SET_DEFAULT_CURRENT_PAGE', val);
        this.movePage();
      }
    },

    pageable: {
      // This will let Vue know to look inside the array
      deep: true,

      // We have to move our method to a handler field
      handler() {
        this.table.currentPage = this.pageable.currentPage;
        this.calculateMinMax(this.table.currentPage);
      }
    }
  },

  methods: {
    movePage: debounce(function() {
      this.$emit('fetch');
    }, 500),

    calculateMinMax(val) {
      this.table.maxRows =
        val * this.pageable.limit <= this.pageable.totalElements
          ? val * this.pageable.limit
          : this.pageable.totalElements;
      this.table.minRows =
        val * this.pageable.limit <= this.pageable.totalElements
          ? this.table.maxRows - this.pageable.limit + 1
          : (this.pageable.currentPage - 1) * this.pageable.limit + 1;
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ .bpi-pagination > .vs-row {
  justify-content: flex-end !important;
}
</style>
