<template>
  <div>
    <vs-popup
      :title="$t('label.add') + ' ' + $t('label.grade')"
      :active.sync="show"
    >
      <div
        v-for="(grade, index) in form"
        :key="'grade-' + index"
        class="w-full flex items-center px-2"
      >
        <FormGroup
          class="w-4/5"
          :name="$t('label.grade')"
          :validator="$v.form.$each.$iter[index].gradeName"
        >
          <vs-input
            color="primary"
            class="w-full"
            v-model.trim="form[index].gradeName"
            :danger="$v.form.$each.$iter[index].gradeName.error"
            :disabled="isLoading"
          />
        </FormGroup>

        <vs-button
          v-if="form.length > 1"
          @click="remove(index)"
          class="ml-2"
          color="danger"
          type="flat"
          icon="clear"
        ></vs-button>
        <vs-button
          v-if="index == form.length - 1"
          @click="add(index)"
          color="primary"
          type="flat"
          icon="add_circle_outline"
        ></vs-button>
      </div>

      <div class="h-12"></div>

      <div class="flex justify-end">
        <vs-button
          class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
          color="primary"
          type="border"
          @click="show = false"
        >
          {{ $t('label.back') }}
        </vs-button>
        <vs-button
          class="text-xs px-8 mx-2 font-medium w-full md:w-auto vs-con-loading__container"
          color="primary"
          type="filled"
          ref="loadingBtn"
          @click="save"
        >
          {{ $t('label.save') }}
        </vs-button>
      </div>
    </vs-popup>
  </div>
</template>

<script>
import { required, maxLength, minLength } from 'vuelidate/lib/validators';
import { alphabetic } from '@/mixins/validator';
import { loadingMixin } from '@/mixins/loading';
import { mapGetters } from 'vuex';

import FormGroup from '@/components/base/FormGroup.vue';

export default {
  name: 'GradeList',

  props: {
    showPopup: {
      type: Boolean,
      default: false
    }
  },

  mixins: [loadingMixin],

  components: {
    FormGroup
  },

  computed: {
    ...mapGetters({
      items: 'grade/items'
    })
  },

  data: () => ({
    show: false,
    isLoading: false,
    form: [
      {
        gradeName: ''
      }
    ]
  }),

  watch: {
    showPopup(val) {
      this.show = val;
      this.form = [
        {
          gradeName: ''
        }
      ];
      this.$nextTick(() => {
        this.$v.$reset();
      });
    },

    show(val) {
      if (!val) {
        this.$emit('closed');
      }
    }
  },

  validations: {
    form: {
      required,
      minLength: minLength(1),
      $each: {
        gradeName: {
          required,
          maxLength: maxLength(100),
          alphabetic,
          isUnique(value) {
            if (value === '') return true;

            let collections = this.form.filter((item) => {
              return item.gradeName === value;
            });

            if (collections.length >= 2) return false;

            let listCollection = this.items.filter((item) => {
              return item.gradeName === value;
            });

            if (listCollection.length >= 2) return false;

            return true;
          }
        }
      }
    }
  },

  methods: {
    add() {
      this.form.push({ gradeName: '' });
    },

    remove(id) {
      let temp = JSON.parse(JSON.stringify(this.form));
      temp.splice(id, 1);
      this.form = temp;
    },

    save() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.isLoading = true;
        this.loadingButton(this.$refs.loadingBtn.$el);

        this.$store
          .dispatch('grade/fetchSave', { data: this.form })
          .then(() => {
            this.$store.dispatch('general/showSuccessNotification', {
              message: this.$t('label.success'),
              textMessage: this.$t('content.create_message')
            });

            this.show = false;
          })
          .catch((e) => {
            this.$store.dispatch('general/showErrorReqNotification', e);
          })
          .finally(() => {
            this.isLoading = false;
            this.closeLoading(this.$refs.loadingBtn.$el);
          });
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });
      }
    }
  }
};
</script>
