<template>
  <div>
    <vs-popup
      :title="$t('label.update') + ' ' + $t('label.grade')"
      :active.sync="show"
    >
      <div
        v-for="(grade, index) in form"
        :key="'grade-' + index"
        class="w-full mb-8"
      >
        <label>
          Status : <span>{{ status(grade.approved) }}</span>
        </label>
        <FormGroup
          class="w-full"
          :name="$t('label.grade')"
          :validator="$v.form.$each.$iter[index].gradeName"
        >
          <vs-input
            color="primary"
            class="w-full"
            v-model.trim="form[index].gradeName"
            :danger="$v.form.$each.$iter[index].gradeName.error"
            :disabled="isLoading || form[index].approved != 3"
          />
        </FormGroup>
      </div>

      <div class="h-12"></div>

      <div class="flex justify-end">
        <vs-button
          class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
          color="primary"
          type="border"
          @click="show = false"
        >
          {{ $t('label.cancel') }}
        </vs-button>
        <vs-button
          class="text-xs px-8 mx-2 font-medium w-full md:w-auto vs-con-loading__container"
          color="primary"
          type="filled"
          ref="loadingBtn"
          @click="openConfirm($t('label.grade'))"
        >
          {{ $t('label.save') }}
        </vs-button>
      </div>
    </vs-popup>
  </div>
</template>

<script>
import { required, maxLength, minLength } from 'vuelidate/lib/validators';
import { alphabetic } from '@/mixins/validator';
import { mapGetters } from 'vuex';
import { loadingMixin } from '@/mixins/loading';
import { statusMixin } from '@/mixins/status';

import FormGroup from '@/components/base/FormGroup.vue';

export default {
  name: 'GradeList',

  props: {
    showPopup: {
      type: Boolean,
      default: false
    }
  },

  mixins: [loadingMixin, statusMixin],

  components: {
    FormGroup
  },

  data: () => ({
    show: false,
    isLoading: false,
    form: []
  }),

  computed: {
    ...mapGetters({
      items: 'grade/items'
    })
  },

  watch: {
    showPopup(val) {
      this.show = val;
      this.form = JSON.parse(JSON.stringify(this.items));
      this.$nextTick(() => {
        this.$v.$reset();
      });
    },

    show(val) {
      if (!val) {
        this.$emit('closed');
      }
    }
  },

  validations: {
    form: {
      required,
      minLength: minLength(1),
      $each: {
        gradeName: {
          required,
          maxLength: maxLength(100),
          alphabetic,
          isUnique(value) {
            if (value === '') return true;

            let collections = this.form.filter((item) => {
              return item.gradeName === value;
            });

            if (collections.length >= 2) return false;

            let listCollection = this.items.filter((item) => {
              return item.gradeName === value;
            });

            if (listCollection.length >= 2) return false;

            return true;
          }
        }
      }
    }
  },

  methods: {
    openConfirm(data) {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.$vs.dialog({
          type: 'confirm',
          color: 'primary',
          title: this.$t('label.confirm'),
          text: this.$t('content.confirm_update', { data: data }),
          acceptText: this.$t('label.yes'),
          cancelText: this.$t('label.cancel'),
          accept: this.save
        });
      } else {
        this.$store.dispatch('general/showErrorNotification', {
          message: this.$t('label.error'),
          textMessage: this.$t('content.validation_message')
        });
      }
    },

    save() {
      this.isLoading = true;
      this.loadingButton(this.$refs.loadingBtn.$el);

      this.$store
        .dispatch('grade/fetchUpdate', {
          data: this.form.filter((item, index) => {
            return (
              item.approved == 3 &&
              this.items[index].gradeName != item.gradeName
            );
          })
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.create_message')
          });

          this.show = false;
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.isLoading = false;
          this.closeLoading(this.$refs.loadingBtn.$el);
        });
    }
  }
};
</script>
