<template>
  <div>
    <vs-popup :title="$t('label.grade')" :active.sync="show">
      <div class="table-content-loading vs-con-loading__container">
        <vs-table stripe :data="items" :noDataText="$t('content.no_data_text')">
          <template slot="thead">
            <vs-th sort-key="gradeName">
              {{ $t('label.grade') }}
            </vs-th>

            <vs-th sort-key="status">
              {{ $t('label.status') }}
            </vs-th>

            <vs-th v-if="$acl.check('isSuperAdmin')">
              {{ $t('label.action') }}
              {{ $t('label.status') }}
            </vs-th>

            <vs-th>{{ $t('label.action') }}</vs-th>
          </template>

          <template slot-scope="{ data }">
            <vs-tr :key="indextr" :data="tr" v-for="(tr, indextr) in data">
              <vs-td :data="data[indextr].gradeName">
                {{ data[indextr].gradeName }}
              </vs-td>

              <vs-td :data="data[indextr].approved">
                <span>{{ status(data[indextr].approved) }}</span>
              </vs-td>

              <vs-td v-if="$acl.check('isSuperAdmin')">
                <div class="flex justify-start -mx-2">
                  <vs-button
                    class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
                    color="primary"
                    type="border"
                    :disabled="![0, 1, 2].includes(data[indextr].approved)"
                    @click="
                      chooseAct({
                        key: 'reject',
                        id: data[indextr].gradeId,
                        label: data[indextr].gradeName
                      })
                    "
                  >
                    {{ $t('label.reject') }}
                  </vs-button>
                  <vs-button
                    class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
                    color="primary"
                    type="filled"
                    :disabled="![0, 1, 2].includes(data[indextr].approved)"
                    @click="
                      chooseAct({
                        key: 'approve',
                        id: data[indextr].gradeId,
                        label: data[indextr].gradeName
                      })
                    "
                  >
                    {{ $t('label.approve') }}
                  </vs-button>
                </div>
              </vs-td>

              <vs-td>
                <vs-button
                  v-if="[3, 4].includes(data[indextr].approved)"
                  color="danger"
                  type="flat"
                  icon="clear"
                  @click="
                    chooseAct({
                      key: 'delete',
                      id: data[indextr].gradeId,
                      label: data[indextr].gradeName
                    })
                  "
                ></vs-button>
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </div>

      <div class="h-12"></div>

      <div class="flex justify-end">
        <vs-button
          v-if="items.length > 0"
          class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
          color="secondary"
          type="border"
          @click="$emit('edit')"
        >
          {{ $t('label.update') }}
        </vs-button>

        <vs-button
          class="text-xs px-8 mx-2 font-medium w-full md:w-auto"
          color="primary"
          type="filled"
          @click="$emit('add')"
        >
          {{ $t('label.add') }}
        </vs-button>
      </div>
    </vs-popup>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { loadingMixin } from '@/mixins/loading';
import { statusMixin } from '@/mixins/status';

export default {
  name: 'GradeList',

  props: {
    showPopup: {
      type: Boolean,
      default: false
    }
  },

  mixins: [loadingMixin, statusMixin],

  data: () => ({
    show: false
  }),

  computed: {
    ...mapGetters({
      items: 'grade/items'
    })
  },

  watch: {
    showPopup(val) {
      this.show = val;

      if (val) {
        this.getData();
      }
    },

    show(val) {
      if (!val) {
        this.$emit('closed');
      }
    }
  },

  methods: {
    getData() {
      this.loadingContent('.table-content-loading');

      this.$store
        .dispatch('grade/fetchList', this.form)
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        })
        .finally(() => {
          this.closeLoading('.table-content-loading > .con-vs-loading');
        });
    },

    acceptAlert(parameters) {
      switch (parameters[0]) {
        case 'approve':
          this.approve(parameters[1]);
          break;
        case 'reject':
          this.reject(parameters[1]);
          break;
        case 'delete':
          this.delete(parameters[1]);
          break;
        default:
          break;
      }
    },

    chooseAct(params) {
      this.openConfirm(params.key, params);
    },

    openConfirm(key, data) {
      let message = '';
      switch (key) {
        case 'approve':
          message = this.$t('content.confirm_approve', { data: data.label });
          break;
        case 'reject':
          message = this.$t('content.confirm_reject', { data: data.label });
          break;
        case 'delete':
          message = this.$t('content.confirm_delete', { data: data.label });
          break;
        default:
          break;
      }

      this.$vs.dialog({
        type: 'confirm',
        color: 'primary',
        title: this.$t('label.confirm'),
        text: message,
        accept: this.acceptAlert,
        acceptText: this.$t('label.yes'),
        cancelText: this.$t('label.cancel'),
        parameters: [key, data.id]
      });
    },

    approve(id) {
      this.$store
        .dispatch('grade/fetchApprove', {
          id: id,
          data: { status: true }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    reject(id) {
      this.$store
        .dispatch('grade/fetchApprove', {
          id: id,
          data: { status: false }
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.update_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    },

    delete(id) {
      this.$store
        .dispatch('grade/fetchDelete', {
          id: id
        })
        .then(() => {
          this.$store.dispatch('general/showSuccessNotification', {
            message: this.$t('label.success'),
            textMessage: this.$t('content.delete_message')
          });
          this.getData();
        })
        .catch((e) => {
          this.$store.dispatch('general/showErrorReqNotification', e);
        });
    }
  }
};
</script>
